<meta charset="utf-8">
                 <table border="1" class="dataframe">
                             <thead>
                                 <tr style="text-align: right;">
<th style='background-color: #00B0F0'>Agent</th>
<th style='background-color: #00B0F0'>Number</th>
<th style='background-color: #00B0F0'>Jan</th>
<th style='background-color: #00B0F0'>Jan Paid</th>
<th style='background-color: #00B0F0'>Feb</th>
<th style='background-color: #00B0F0'>Feb Paid</th>
<th style='background-color: #00B0F0'>Mar</th>
<th style='background-color: #00B0F0'>Mar Paid</th>
<th style='background-color: #00B0F0'>Apr</th>
<th style='background-color: #00B0F0'>Apr Paid</th>
<th style='background-color: #00B0F0'>May</th>
<th style='background-color: #00B0F0'>May Paid</th>
<th style='background-color: #00B0F0'>Jun</th>
<th style='background-color: #00B0F0'>Jun Paid</th>
<th style='background-color: #00B0F0'>Jul</th>
<th style='background-color: #00B0F0'>Jul Paid</th>
<th style='background-color: #00B0F0'>Aug</th>
<th style='background-color: #00B0F0'>Aug Paid</th>
<th style='background-color: #00B0F0'>Sep</th>
<th style='background-color: #00B0F0'>Sep Paid</th>
<th style='background-color: #00B0F0'>Oct</th>
<th style='background-color: #00B0F0'>Oct Paid</th>
<th style='background-color: #00B0F0'>Nov</th>
<th style='background-color: #00B0F0'>Nov Paid</th>
<th style='background-color: #00B0F0'>Dec</th>
<th style='background-color: #00B0F0'>Dec Paid</th>
<th style='background-color: #00B0F0'>Additional</th>
<th style='background-color: #00B0F0'>Total</th>
<th style='background-color: #00B0F0'>Total Paid</th>
</tr>
</thead>
                  <tbody><tr>
<td style='background-color: #FFFFFF'>Alaia Carmela</td>
<td style='background-color: #FFFFFF'>V000161</td>
<td style='background-color: #FFFFFF'>863.7</td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'>1188.9</td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>2052.6000000000004</td>
<td style='background-color: #FFFFFF'>0</td>
</tr>
<tr>
<td style='background-color: #FFFFFF'>Alberto Davi</td>
<td style='background-color: #FFFFFF'>V000158</td>
<td style='background-color: #FFFFFF'>398.1</td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'>15.2</td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>413.3</td>
<td style='background-color: #FFFFFF'>0</td>
</tr>
<tr>
<td style='background-color: #FFFFFF'>Alberto Estevez  Vasquez</td>
<td style='background-color: #FFFFFF'>V000183</td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #92D050'>0</td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #92D050'>0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'>0</td>
</tr>
<tr>
<td style='background-color: #FFFFFF'>Andrea Biaggi</td>
<td style='background-color: #FFFFFF'>V000155</td>
<td style='background-color: #FFFFFF'>1286.9</td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'>680</td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>1966.9</td>
<td style='background-color: #FFFFFF'>0</td>
</tr>
<tr>
<td style='background-color: #FFFFFF'>Carlo Marinelli</td>
<td style='background-color: #FFFFFF'>V000143</td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #92D050'>0</td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #92D050'>0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'>0</td>
</tr>
<tr>
<td style='background-color: #FFFFFF'>Carmen Irene Koidl</td>
<td style='background-color: #FFFFFF'>V000118</td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #92D050'>0</td>
<td style='background-color: #FFFFFF'>768.6</td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>768.6</td>
<td style='background-color: #FFFFFF'>0</td>
</tr>
<tr>
<td style='background-color: #FFFFFF'>CODIPE INC </td>
<td style='background-color: #FFFFFF'>K004750</td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #92D050'>0</td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #92D050'>0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'>0</td>
</tr>
<tr>
<td style='background-color: #FFFFFF'>Fernando</td>
<td style='background-color: #FFFFFF'>V000178</td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #92D050'>0</td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #92D050'>0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'>0</td>
</tr>
<tr>
<td style='background-color: #FFFFFF'>Giovanni Pontone </td>
<td style='background-color: #FFFFFF'>V000122</td>
<td style='background-color: #FFFFFF'>773.7</td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'>-714</td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>59.700000000000045</td>
<td style='background-color: #FFFFFF'>0</td>
</tr>
<tr>
<td style='background-color: #FFFFFF'>Guillermo Medina Lopez</td>
<td style='background-color: #FFFFFF'>V000093</td>
<td style='background-color: #FFFFFF'>766.5</td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'>747.6</td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>1514.1</td>
<td style='background-color: #FFFFFF'>0</td>
</tr>
<tr>
<td style='background-color: #FFFFFF'>Ilona Wagner</td>
<td style='background-color: #FFFFFF'>V000031</td>
<td style='background-color: #FFFFFF'>187.2</td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>187.2</td>
<td style='background-color: #FFFFFF'>0</td>
</tr>
<tr>
<td style='background-color: #FFFFFF'>ITALCAT</td>
<td style='background-color: #FFFFFF'>V000179</td>
<td style='background-color: #FFFFFF'>3906.3</td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'>2548.6</td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>6454.9</td>
<td style='background-color: #FFFFFF'>0</td>
</tr>
<tr>
<td style='background-color: #FFFFFF'>Javier Moreno Cabrera</td>
<td style='background-color: #FFFFFF'>V000180</td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #92D050'>0</td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #92D050'>0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'>0</td>
</tr>
<tr>
<td style='background-color: #FFFFFF'>Jose Luis Rodriguez Ramos</td>
<td style='background-color: #FFFFFF'>V000172</td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #92D050'>0</td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #92D050'>0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'>0</td>
</tr>
<tr>
<td style='background-color: #FFFFFF'>Juan Manas Perez</td>
<td style='background-color: #FFFFFF'>V000133</td>
<td style='background-color: #FFFFFF'>914.4</td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'>450</td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>1364.4</td>
<td style='background-color: #FFFFFF'>0</td>
</tr>
<tr>
<td style='background-color: #FFFFFF'>Manuel Fernandez Diaz</td>
<td style='background-color: #FFFFFF'>V000134</td>
<td style='background-color: #FFFFFF'>2715</td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'>2390.8</td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>5105.8</td>
<td style='background-color: #FFFFFF'>0</td>
</tr>
<tr>
<td style='background-color: #FFFFFF'>Marinelli Davide</td>
<td style='background-color: #FFFFFF'>V000148</td>
<td style='background-color: #FFFFFF'>542.6</td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'>465.1</td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>1007.7</td>
<td style='background-color: #FFFFFF'>0</td>
</tr>
<tr>
<td style='background-color: #FFFFFF'>Marinelly Acuna</td>
<td style='background-color: #FFFFFF'>V000182</td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #92D050'>0</td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #92D050'>0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'>0</td>
</tr>
<tr>
<td style='background-color: #FFFFFF'>Nikolay Pavlov</td>
<td style='background-color: #FFFFFF'>V000057</td>
<td style='background-color: #FFFFFF'>1483.7</td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'>2646.8</td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>4130.5</td>
<td style='background-color: #FFFFFF'>0</td>
</tr>
<tr>
<td style='background-color: #FFFFFF'>Oliver France</td>
<td style='background-color: #FFFFFF'>V000120</td>
<td style='background-color: #FFFFFF'>616.1</td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'>218.6</td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>834.7</td>
<td style='background-color: #FFFFFF'>0</td>
</tr>
<tr>
<td style='background-color: #FFFFFF'>Ramon Alcazar</td>
<td style='background-color: #FFFFFF'>V000181</td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #92D050'>0</td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #92D050'>0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'>0</td>
</tr>
<tr>
<td style='background-color: #FFFFFF'>TASK</td>
<td style='background-color: #FFFFFF'>V000104</td>
<td style='background-color: #FFFFFF'>2159.6</td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'>3273.6</td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>5433.2</td>
<td style='background-color: #FFFFFF'>0</td>
</tr>
<tr>
<td style='background-color: #FFFFFF'>Ricci Girolamo</td>
<td style='background-color: #FFFFFF'>V000157</td>
<td style='background-color: #FFFFFF'>788.1</td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #92D050'>0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>788.1</td>
<td style='background-color: #FFFFFF'>0</td>
</tr>
<tr>
<td style='background-color: #FFFFFF'>Sandor Jaro</td>
<td style='background-color: #FFFFFF'>V000049</td>
<td style='background-color: #FFFFFF'>631.75</td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'>-89.1</td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>542.65</td>
<td style='background-color: #FFFFFF'>0</td>
</tr>
<tr>
<td style='background-color: #FFFFFF'>Rosa Tropea </td>
<td style='background-color: #FFFFFF'>V000030</td>
<td style='background-color: #FFFFFF'>1608.3</td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'>1127.5</td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>2735.8</td>
<td style='background-color: #FFFFFF'>0</td>
</tr>
<tr>
<td style='background-color: #FFFFFF'>Stefano Cuccu</td>
<td style='background-color: #FFFFFF'>V000096</td>
<td style='background-color: #FFFFFF'>1628.3</td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'>134.4</td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>1762.7</td>
<td style='background-color: #FFFFFF'>0</td>
</tr>
<tr>
<td style='background-color: #FFFFFF'>Tamburini Gianni </td>
<td style='background-color: #FFFFFF'>V000017</td>
<td style='background-color: #FFFFFF'>132</td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'>390.6</td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>522.6</td>
<td style='background-color: #FFFFFF'>0</td>
</tr>
<tr>
<td style='background-color: #FFFFFF'>Tamburini Mario</td>
<td style='background-color: #FFFFFF'>V000016</td>
<td style='background-color: #FFFFFF'>760.4</td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'>511.1</td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>1271.5</td>
<td style='background-color: #FFFFFF'>0</td>
</tr>
<tr>
<td style='background-color: #FFFFFF'>Vito Trillo</td>
<td style='background-color: #FFFFFF'>V000136</td>
<td style='background-color: #FFFFFF'>289.3</td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'>244.5</td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>533.8</td>
<td style='background-color: #FFFFFF'>0</td>
</tr>
<tr>
<td style='background-color: #FFFFFF'>Zambon Massimo</td>
<td style='background-color: #FFFFFF'>V000147</td>
<td style='background-color: #FFFFFF'>1898.3</td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'>135.5</td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>2033.8</td>
<td style='background-color: #FFFFFF'>0</td>
</tr>
<tr>
<td style='background-color: #00B050'>Total</td>
<td style='background-color: #00B050'>Global</td>
<td style='background-color: #00B050'>24350.25</td>
<td style='background-color: #92D050'>0</td>
<td style='background-color: #00B050'>17134.3</td>
<td style='background-color: #92D050'>0</td>
<td style='background-color: #00B050'>0</td>
<td style='background-color: #92D050'>0</td>
<td style='background-color: #00B050'>0</td>
<td style='background-color: #92D050'>0</td>
<td style='background-color: #00B050'>0</td>
<td style='background-color: #92D050'>0</td>
<td style='background-color: #00B050'>0</td>
<td style='background-color: #92D050'>0</td>
<td style='background-color: #00B050'>0</td>
<td style='background-color: #92D050'>0</td>
<td style='background-color: #00B050'>0</td>
<td style='background-color: #92D050'>0</td>
<td style='background-color: #00B050'>0</td>
<td style='background-color: #92D050'>0</td>
<td style='background-color: #00B050'>0</td>
<td style='background-color: #92D050'>0</td>
<td style='background-color: #00B050'>0</td>
<td style='background-color: #92D050'>0</td>
<td style='background-color: #00B050'>0</td>
<td style='background-color: #92D050'>0</td>
<td style='background-color: #00B050'>0</td>
<td style='background-color: #00B050'>41484.55</td>
<td style='background-color: #00B050'>0</td>
</tr>
 </tbody>
                </table>