{% extends 'base.html' %}


{% block content %}
<head>
	<meta charset="utf-8" />
	<title>Excel to html table</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!--    <link rel="stylesheet" type="text/css"  href="">-->
    <script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>

</head>
    <style>
    /* Dropdown Button */
.dropbtn2023, .dropbtn2022 {
 background-color: #04AA6D;
  color: white;
  width: 7%;
    height: 115.5px;
  font-size: 20px;
  border: none;
}
    i{
        color: #eaeaea;
    }
    span{
        flex:1;
        {#border: black;#}
    }
.dropbtn2023:hover,.dropbtn2022:hover,.dropbtn2023:focus, .dropbtn2022:focus {
  background-color: #2980B9;
}

     .aaa {
  display: flex;
         font-size: 17px;
        text-decoration: none;
         justify-content: center;align-items: center;
        padding: 10px;
         height: 90px;
        background-color: #e0e0e0;
        transition: background-color 0.3s ease;
        color: black;
        flex: 1;
         {#align-items: center;#}
    }
     .download{
         color: #ffffff;
         background-color: #04a96d;
          font-size: 17px;
         border-right: black;
          display: inline-block;
         width: 100%;
  {#padding: 2px 36px;#}
  {#margin-left: 5px;#}
  {#       margin-right: 5px;#}
  {#border-radius:5px;#}
  {#background-color: #7db9e8;#}
  text-align: center;
         transition: background-color 0.3s ease;
text-decoration: none;
     }
     .download:hover{
         color: #fff3cd;
         text-decoration: none;
         background-color: #049b65;
     }
    .aaa:hover {
        background-color: #f0f0f0;
        color: black;
        text-decoration: none;
    }
    </style>
<body>
<div style="display: flex; width: 100%; height: 90px">
     <button class="dropbtn2023" >2023</button>


{% if user.username == "V000161" or user.username == "V000158" or user.username == "V000155" or user.username == "V000147" or user.username == "V000142" or user.username == "V000122" or user.username == "V000157" or user.username == "V000030" or user.username == "V000096" or user.username == "V000136" or user.username == "V000184" %}
            <span><a href="{% if language == '' or language == 'en'  %} {% url 'year_en' %}?name=2023_Total {% elif language == 'es' %} {% url 'year_es' %}?name=2023_Total {% elif language == 'it' %} {% url 'year_it' %}?name=2023_Total {% elif language == 'de' %} {% url 'year_de' %}?name=2023_Total {% elif language == 'fr' %} {% url 'year_fr' %}?name=2023_Total {% endif %}" class="aaa">{% if language == '' or language == 'en'  %} Total {% elif language == 'es' %} Total {% elif language == 'it' %} Totale {% elif language == 'de' %} Gesamt {% elif language == 'fr' %} Total {% endif %}</a>
        <a href="{% url 'download' %}?name=2023_Total" class="download"><i class="fa fa-download"></i></a>
        </span>
        <span><a href="{% if language == '' or language == 'en'  %} {% url 'year_en' %}?name=2023_First {% elif language == 'es' %} {% url 'year_es' %}?name=2023_First {% elif language == 'it' %} {% url 'year_it' %}?name=2023_First {% elif language == 'de' %} {% url 'year_de' %}?name=2023_First {% elif language == 'fr' %} {% url 'year_fr' %}?name=2023_First{% endif %}" class="aaa">{% if language == '' or language == 'en' %} First quarter
{% elif language == 'es' %}Primer trimestre
{% elif language == 'it' %}Primo trimestre
{% elif language == 'de' %}Erstes Quartal
{% elif language == 'fr' %}Premier trimestre
{% endif %}</a>
    <a href="{% url 'download' %}?name=2023_First" class="download"><i class="fa fa-download"></i></a>
        </span>
    <span><a href="{% if language == '' or language == 'en'  %} {% url 'year_en' %}?name=2023_Second {% elif language == 'es' %} {% url 'year_es' %}?name=2023_Second {% elif language == 'it' %} {% url 'year_it' %}?name=2023_Second {% elif language == 'de' %} {% url 'year_de' %}?name=2023_Second {% elif language == 'fr' %} {% url 'year_fr' %}?name=2023_Second {% endif %}" class="aaa">{% if language == '' or language == 'en' %}
Second quarter
{% elif language == 'es' %}
Segundo trimestre
{% elif language == 'it' %}
Secondo trimestre
{% elif language == 'de' %}
Zweites Quartal
{% elif language == 'fr' %}
Deuxième trimestre
{% endif %}</a>
    <a href="{% url 'download' %}?name=2023_Second" class="download"><i class="fa fa-download"></i></a>
        </span>
            <span>
    <a href="{% if language == '' or language == 'en'  %} {% url 'year_en' %}?name=2023_Third {% elif language == 'es' %} {% url 'year_es' %}?name=2023_Third {% elif language == 'it' %} {% url 'year_it' %}?name=2023_March {% elif language == 'de' %} {% url 'year_de' %}?name=2023_Third {% elif language == 'fr' %} {% url 'year_fr' %}?name=2023_Third{% endif %}" class="aaa">{% if language == '' or language == 'en' %}
Third quarter
{% elif language == 'es' %}
Tercer trimestre
{% elif language == 'it' %}
Terzo trimestre
{% elif language == 'de' %}
Drittes Quartal
{% elif language == 'fr' %}
Troisième trimestre
{% endif %}</a>
            <a href="{% url 'download' %}?name=2023_Third" class="download"><i class="fa fa-download"></i></a>
        </span>
    <span>
    <a href="{% if language == '' or language == 'en'  %} {% url 'year_en' %}?name=2023_Fourth {% elif language == 'es' %} {% url 'year_es' %}?name=2023_Fourth {% elif language == 'it' %} {% url 'year_it' %}?name=2023_Fourth {% elif language == 'de' %} {% url 'year_de' %}?name=2023_Fourth {% elif language == 'fr' %} {% url 'year_fr' %}?name=2023_Fourth {% endif %}" class="aaa">{% if language == '' or language == 'en' %}
Fourth quarter
{% elif language == 'es' %}
Cuarto trimestre
{% elif language == 'it' %}
Quarto trimestre
{% elif language == 'de' %}
Viertes Quartal
{% elif language == 'fr' %}
Quatrième trimestre
{% endif %}</a>
            <a href="{% url 'download' %}?name=2023_Fourth" class="download"><i class="fa fa-download"></i></a>
        </span>


        {% else %}


        <span><a href="{% if language == '' or language == 'en'  %} {% url 'year_en' %}?name=2023_Total {% elif language == 'es' %} {% url 'year_es' %}?name=2023_Total {% elif language == 'it' %} {% url 'year_it' %}?name=2023_Total {% elif language == 'de' %} {% url 'year_de' %}?name=2023_Total {% elif language == 'fr' %} {% url 'year_fr' %}?name=2023_Total {% endif %}" class="aaa">{% if language == '' or language == 'en'  %} Total {% elif language == 'es' %} Total {% elif language == 'it' %} Totale {% elif language == 'de' %} Gesamt {% elif language == 'fr' %} Total {% endif %}</a>
        <a href="{% url 'download' %}?name=2023_Total" class="download"><i class="fa fa-download"></i></a>
        </span>
            <span><a href="{% if language == '' or language == 'en'  %} {% url 'year_en' %}?name=2023_January {% elif language == 'es' %} {% url 'year_es' %}?name=2023_January {% elif language == 'it' %} {% url 'year_it' %}?name=2023_January {% elif language == 'de' %} {% url 'year_de' %}?name=2023_January {% elif language == 'fr' %} {% url 'year_fr' %}?name=2023_January{% endif %}" class="aaa">{% if language == '' or language == 'en' %}January
{% elif language == 'es' %}Enero
{% elif language == 'it' %}Gennaio
{% elif language == 'de' %}Januar
{% elif language == 'fr' %}Janvier
{% endif %}</a>
            <a href="{% url 'download' %}?name=2023_January" class="download"><i class="fa fa-download"></i></a>
        </span>
    <span><a href="{% if language == '' or language == 'en'  %} {% url 'year_en' %}?name=2023_February {% elif language == 'es' %} {% url 'year_es' %}?name=2023_February {% elif language == 'it' %} {% url 'year_it' %}?name=2023_February {% elif language == 'de' %} {% url 'year_de' %}?name=2023_February {% elif language == 'fr' %} {% url 'year_fr' %}?name=2023_February{% endif %}" class="aaa">{% if language == '' or language == 'en' %}
February
{% elif language == 'es' %}
Febrero
{% elif language == 'it' %}
Febbraio
{% elif language == 'de' %}
Februar
{% elif language == 'fr' %}
Février
{% endif %}</a>
    <a href="{% url 'download' %}?name=2023_February" class="download"><i class="fa fa-download"></i></a>
        </span>
            <span>
    <a href="{% if language == '' or language == 'en'  %} {% url 'year_en' %}?name=2023_March {% elif language == 'es' %} {% url 'year_es' %}?name=2023_March {% elif language == 'it' %} {% url 'year_it' %}?name=2023_March {% elif language == 'de' %} {% url 'year_de' %}?name=2023_March {% elif language == 'fr' %} {% url 'year_fr' %}?name=2023_March{% endif %}" class="aaa">{% if language == '' or language == 'en' %}
March
{% elif language == 'es' %}
Marzo
{% elif language == 'it' %}
Marzo
{% elif language == 'de' %}
März
{% elif language == 'fr' %}
Mars
{% endif %}</a>
            <a href="{% url 'download' %}?name=2023_March" class="download"><i class="fa fa-download"></i></a>
        </span>
            <span>
    <a href="{% if language == '' or language == 'en'  %} {% url 'year_en' %}?name=2023_April {% elif language == 'es' %} {% url 'year_es' %}?name=2023_April {% elif language == 'it' %} {% url 'year_it' %}?name=2023_April {% elif language == 'de' %} {% url 'year_de' %}?name=2023_April {% elif language == 'fr' %} {% url 'year_fr' %}?name=2023_April{% endif %}" class="aaa">{% if language == '' or language == 'en' %}
April
{% elif language == 'es' %}
Abril
{% elif language == 'it' %}
Aprile
{% elif language == 'de' %}
April
{% elif language == 'fr' %}
Avril
{% endif %}
</a>
            <a href="{% url 'download' %}?name=2023_April" class="download"><i class="fa fa-download"></i></a>
        </span>
            <span>
    <a href="{% if language == '' or language == 'en'  %} {% url 'year_en' %}?name=2023_May {% elif language == 'es' %} {% url 'year_es' %}?name=2023_May {% elif language == 'it' %} {% url 'year_it' %}?name=2023_May {% elif language == 'de' %} {% url 'year_de' %}?name=2023_May {% elif language == 'fr' %} {% url 'year_fr' %}?name=2023_May{% endif %}" class="aaa">{% if language == '' or language == 'en' %}
May
{% elif language == 'es' %}
Mayo
{% elif language == 'it' %}
Maggio
{% elif language == 'de' %}
Mai
{% elif language == 'fr' %}
Mai
{% endif %}</a>
            <a href="{% url 'download' %}?name=2023_May" class="download"><i class="fa fa-download"></i></a>
        </span>
            <span>
    <a href="{% if language == '' or language == 'en'  %} {% url 'year_en' %}?name=2023_June {% elif language == 'es' %} {% url 'year_es' %}?name=2023_June {% elif language == 'it' %} {% url 'year_it' %}?name=2023_June {% elif language == 'de' %} {% url 'year_de' %}?name=2023_June {% elif language == 'fr' %} {% url 'year_fr' %}?name=2023_June{% endif %}" class="aaa">{% if language == '' or language == 'en' %}
June
{% elif language == 'es' %}
Junio
{% elif language == 'it' %}
Giugno
{% elif language == 'de' %}
Juni
{% elif language == 'fr' %}
Juin
{% endif %}</a>
            <a href="{% url 'download' %}?name=2023_June" class="download"><i class="fa fa-download"></i></a>
        </span>
            <span>
    <a href="{% if language == '' or language == 'en'  %} {% url 'year_en' %}?name=2023_July {% elif language == 'es' %} {% url 'year_es' %}?name=2023_July {% elif language == 'it' %} {% url 'year_it' %}?name=2023_July {% elif language == 'de' %} {% url 'year_de' %}?name=2023_July {% elif language == 'fr' %} {% url 'year_fr' %}?name=2023_July{% endif %}" class="aaa">{% if language == '' or language == 'en' %}
July
{% elif language == 'es' %}
Julio
{% elif language == 'it' %}
Luglio
{% elif language == 'de' %}
Juli
{% elif language == 'fr' %}
Juillet
{% endif %}</a>
            <a href="{% url 'download' %}?name=2023_July" class="download"><i class="fa fa-download"></i></a>
        </span>
            <span>
    <a href="{% if language == '' or language == 'en'  %} {% url 'year_en' %}?name=2023_August {% elif language == 'es' %} {% url 'year_es' %}?name=2023_August {% elif language == 'it' %} {% url 'year_it' %}?name=2023_August {% elif language == 'de' %} {% url 'year_de' %}?name=2023_August {% elif language == 'fr' %} {% url 'year_fr' %}?name=2023_August{% endif %}" class="aaa">{% if language == '' or language == 'en' %}
August
{% elif language == 'es' %}
Agosto
{% elif language == 'it' %}
Agosto
{% elif language == 'de' %}
August
{% elif language == 'fr' %}
Août
{% endif %}</a>
            <a href="{% url 'download' %}?name=2023_August" class="download"><i class="fa fa-download"></i></a>
        </span>
            <span>
    <a href="{% if language == '' or language == 'en'  %} {% url 'year_en' %}?name=2023_September {% elif language == 'es' %} {% url 'year_es' %}?name=2023_September {% elif language == 'it' %} {% url 'year_it' %}?name=2023_September {% elif language == 'de' %} {% url 'year_de' %}?name=2023_September {% elif language == 'fr' %} {% url 'year_fr' %}?name=2023_September{% endif %}" class="aaa">{% if language == '' or language == 'en' %}
September
{% elif language == 'es' %}
Septiembre
{% elif language == 'it' %}
Settembre
{% elif language == 'de' %}
September
{% elif language == 'fr' %}
Septembre
{% endif %}</a>
            <a href="{% url 'download' %}?name=2023_September" class="download"><i class="fa fa-download"></i></a>
        </span>
            <span>
    <a href="{% if language == '' or language == 'en'  %} {% url 'year_en' %}?name=2023_October {% elif language == 'es' %} {% url 'year_es' %}?name=2023_October {% elif language == 'it' %} {% url 'year_it' %}?name=2023_October {% elif language == 'de' %} {% url 'year_de' %}?name=2023_October {% elif language == 'fr' %} {% url 'year_fr' %}?name=2023_October{% endif %}" class="aaa">{% if language == '' or language == 'en' %}
October
{% elif language == 'es' %}
Octubre
{% elif language == 'it' %}
Ottobre
{% elif language == 'de' %}
Oktober
{% elif language == 'fr' %}
Octobre
{% endif %}</a>
            <a href="{% url 'download' %}?name=2023_October" class="download"><i class="fa fa-download"></i></a>
        </span>
            <span>
    <a href="{% if language == '' or language == 'en'  %} {% url 'year_en' %}?name=2023_November {% elif language == 'es' %} {% url 'year_es' %}?name=2023_November {% elif language == 'it' %} {% url 'year_it' %}?name=2023_November {% elif language == 'de' %} {% url 'year_de' %}?name=2023_November {% elif language == 'fr' %} {% url 'year_fr' %}?name=2023_November{% endif %}" class="aaa">{% if language == '' or language == 'en' %}
November
{% elif language == 'es' %}
Noviembre
{% elif language == 'it' %}
Novembre
{% elif language == 'de' %}
November
{% elif language == 'fr' %}
Novembre
{% endif %}</a>
            <a href="{% url 'download' %}?name=2023_November" class="download"><i class="fa fa-download"></i></a>
        </span>
            <span>
    <a href="{% if language == '' or language == 'en'  %} {% url 'year_en' %}?name=2023_December {% elif language == 'es' %} {% url 'year_es' %}?name=2023_December {% elif language == 'it' %} {% url 'year_it' %}?name=2023_December {% elif language == 'de' %} {% url 'year_de' %}?name=2023_December {% elif language == 'fr' %} {% url 'year_fr' %}?name=2023_December{% endif %}" class="aaa">{% if language == '' or language == 'en' %}
December
{% elif language == 'es' %}
Diciembre
{% elif language == 'it' %}
Dicembre
{% elif language == 'de' %}
Dezember
{%elif language == 'fr' %}
Décembre
{% endif %}</a>
            <a href="{% url 'download' %}?name=2023_December" class="download"><i class="fa fa-download"></i></a>
        </span>
{% endif %}


</div>
<br>
<br>
	

<div style="display: flex; width: 100%; height: 90px">
     <button class="dropbtn2023" >2024</button>


{% if user.username == "V000161" or user.username == "V000158" or user.username == "V000155" or user.username == "V000147" or user.username == "V000142" or user.username == "V000122" or user.username == "V000157" or user.username == "V000030" or user.username == "V000096" or user.username == "V000136" or user.username == "V000184" %}
            <span><a href="{% if language == '' or language == 'en'  %} {% url 'year_en' %}?name=2024_Total {% elif language == 'es' %} {% url 'year_es' %}?name=2024_Total {% elif language == 'it' %} {% url 'year_it' %}?name=2024_Total {% elif language == 'de' %} {% url 'year_de' %}?name=2024_Total {% elif language == 'fr' %} {% url 'year_fr' %}?name=2024_Total {% endif %}" class="aaa">{% if language == '' or language == 'en'  %} Total {% elif language == 'es' %} Total {% elif language == 'it' %} Totale {% elif language == 'de' %} Gesamt {% elif language == 'fr' %} Total {% endif %}</a>
        <a href="{% url 'download' %}?name=2024_Total" class="download"><i class="fa fa-download"></i></a>
        </span>
        <span><a href="{% if language == '' or language == 'en'  %} {% url 'year_en' %}?name=2024_First {% elif language == 'es' %} {% url 'year_es' %}?name=2024_First {% elif language == 'it' %} {% url 'year_it' %}?name=2024_First {% elif language == 'de' %} {% url 'year_de' %}?name=2024_First {% elif language == 'fr' %} {% url 'year_fr' %}?name=2024_First{% endif %}" class="aaa">{% if language == '' or language == 'en' %} First quarter
{% elif language == 'es' %}Primer trimestre
{% elif language == 'it' %}Primo trimestre
{% elif language == 'de' %}Erstes Quartal
{% elif language == 'fr' %}Premier trimestre
{% endif %}</a>
    <a href="{% url 'download' %}?name=2024_First" class="download"><i class="fa fa-download"></i></a>
        </span>
    <span><a href="{% if language == '' or language == 'en'  %} {% url 'year_en' %}?name=2024_Second {% elif language == 'es' %} {% url 'year_es' %}?name=2024_Second {% elif language == 'it' %} {% url 'year_it' %}?name=2024_Second {% elif language == 'de' %} {% url 'year_de' %}?name=2024_Second {% elif language == 'fr' %} {% url 'year_fr' %}?name=2024_Second {% endif %}" class="aaa">{% if language == '' or language == 'en' %}
Second quarter
{% elif language == 'es' %}
Segundo trimestre
{% elif language == 'it' %}
Secondo trimestre
{% elif language == 'de' %}
Zweites Quartal
{% elif language == 'fr' %}
Deuxième trimestre
{% endif %}</a>
    <a href="{% url 'download' %}?name=2024_Second" class="download"><i class="fa fa-download"></i></a>
        </span>
            <span>
    <a href="{% if language == '' or language == 'en'  %} {% url 'year_en' %}?name=2024_Third {% elif language == 'es' %} {% url 'year_es' %}?name=2024_Third {% elif language == 'it' %} {% url 'year_it' %}?name=2024_Third {% elif language == 'de' %} {% url 'year_de' %}?name=2024_Third {% elif language == 'fr' %} {% url 'year_fr' %}?name=2024_Third{% endif %}" class="aaa">{% if language == '' or language == 'en' %}
Third quarter
{% elif language == 'es' %}
Tercer trimestre
{% elif language == 'it' %}
Terzo trimestre
{% elif language == 'de' %}
Drittes Quartal
{% elif language == 'fr' %}
Troisième trimestre
{% endif %}</a>
            <a href="{% url 'download' %}?name=2024_Third" class="download"><i class="fa fa-download"></i></a>
        </span>
    <span>
    <a href="{% if language == '' or language == 'en'  %} {% url 'year_en' %}?name=2024_Fourth {% elif language == 'es' %} {% url 'year_es' %}?name=2024_Fourth {% elif language == 'it' %} {% url 'year_it' %}?name=2024_Fourth {% elif language == 'de' %} {% url 'year_de' %}?name=2024_Fourth {% elif language == 'fr' %} {% url 'year_fr' %}?name=2024_Fourth {% endif %}" class="aaa">{% if language == '' or language == 'en' %}
Fourth quarter
{% elif language == 'es' %}
Cuarto trimestre
{% elif language == 'it' %}
Quarto trimestre
{% elif language == 'de' %}
Viertes Quartal
{% elif language == 'fr' %}
Quatrième trimestre
{% endif %}</a>
            <a href="{% url 'download' %}?name=2024_Fourth" class="download"><i class="fa fa-download"></i></a>
        </span>


        {% else %}


        <span><a href="{% if language == '' or language == 'en'  %} {% url 'year_en' %}?name=2024_Total {% elif language == 'es' %} {% url 'year_es' %}?name=2024_Total {% elif language == 'it' %} {% url 'year_it' %}?name=2024_Total {% elif language == 'de' %} {% url 'year_de' %}?name=2024_Total {% elif language == 'fr' %} {% url 'year_fr' %}?name=2024_Total {% endif %}" class="aaa">{% if language == '' or language == 'en'  %} Total {% elif language == 'es' %} Total {% elif language == 'it' %} Totale {% elif language == 'de' %} Gesamt {% elif language == 'fr' %} Total {% endif %}</a>
        <a href="{% url 'download' %}?name=2024_Total" class="download"><i class="fa fa-download"></i></a>
        </span>
            <span><a href="{% if language == '' or language == 'en'  %} {% url 'year_en' %}?name=2024_January {% elif language == 'es' %} {% url 'year_es' %}?name=2024_January {% elif language == 'it' %} {% url 'year_it' %}?name=2024_January {% elif language == 'de' %} {% url 'year_de' %}?name=2024_January {% elif language == 'fr' %} {% url 'year_fr' %}?name=2024_January{% endif %}" class="aaa">{% if language == '' or language == 'en' %}January
{% elif language == 'es' %}Enero
{% elif language == 'it' %}Gennaio
{% elif language == 'de' %}Januar
{% elif language == 'fr' %}Janvier
{% endif %}</a>
            <a href="{% url 'download' %}?name=2024_January" class="download"><i class="fa fa-download"></i></a>
        </span>
    <span><a href="{% if language == '' or language == 'en'  %} {% url 'year_en' %}?name=2024_February {% elif language == 'es' %} {% url 'year_es' %}?name=2024_February {% elif language == 'it' %} {% url 'year_it' %}?name=2024_February {% elif language == 'de' %} {% url 'year_de' %}?name=2024_February {% elif language == 'fr' %} {% url 'year_fr' %}?name=2024_February{% endif %}" class="aaa">{% if language == '' or language == 'en' %}
February
{% elif language == 'es' %}
Febrero
{% elif language == 'it' %}
Febbraio
{% elif language == 'de' %}
Februar
{% elif language == 'fr' %}
Février
{% endif %}</a>
    <a href="{% url 'download' %}?name=2024_February" class="download"><i class="fa fa-download"></i></a>
        </span>
            <span>
    <a href="{% if language == '' or language == 'en'  %} {% url 'year_en' %}?name=2024_March {% elif language == 'es' %} {% url 'year_es' %}?name=2024_March {% elif language == 'it' %} {% url 'year_it' %}?name=2024_March {% elif language == 'de' %} {% url 'year_de' %}?name=2024_March {% elif language == 'fr' %} {% url 'year_fr' %}?name=2024_March{% endif %}" class="aaa">{% if language == '' or language == 'en' %}
March
{% elif language == 'es' %}
Marzo
{% elif language == 'it' %}
Marzo
{% elif language == 'de' %}
März
{% elif language == 'fr' %}
Mars
{% endif %}</a>
            <a href="{% url 'download' %}?name=2024_March" class="download"><i class="fa fa-download"></i></a>
        </span>
            <span>
    <a href="{% if language == '' or language == 'en'  %} {% url 'year_en' %}?name=2024_April {% elif language == 'es' %} {% url 'year_es' %}?name=2024_April {% elif language == 'it' %} {% url 'year_it' %}?name=2024_April {% elif language == 'de' %} {% url 'year_de' %}?name=2024_April {% elif language == 'fr' %} {% url 'year_fr' %}?name=2024_April{% endif %}" class="aaa">{% if language == '' or language == 'en' %}
April
{% elif language == 'es' %}
Abril
{% elif language == 'it' %}
Aprile
{% elif language == 'de' %}
April
{% elif language == 'fr' %}
Avril
{% endif %}
</a>
            <a href="{% url 'download' %}?name=2024_April" class="download"><i class="fa fa-download"></i></a>
        </span>
            <span>
    <a href="{% if language == '' or language == 'en'  %} {% url 'year_en' %}?name=2024_May {% elif language == 'es' %} {% url 'year_es' %}?name=2024_May {% elif language == 'it' %} {% url 'year_it' %}?name=2024_May {% elif language == 'de' %} {% url 'year_de' %}?name=2024_May {% elif language == 'fr' %} {% url 'year_fr' %}?name=2024_May{% endif %}" class="aaa">{% if language == '' or language == 'en' %}
May
{% elif language == 'es' %}
Mayo
{% elif language == 'it' %}
Maggio
{% elif language == 'de' %}
Mai
{% elif language == 'fr' %}
Mai
{% endif %}</a>
            <a href="{% url 'download' %}?name=2024_May" class="download"><i class="fa fa-download"></i></a>
        </span>
            <span>
    <a href="{% if language == '' or language == 'en'  %} {% url 'year_en' %}?name=2024_June {% elif language == 'es' %} {% url 'year_es' %}?name=2024_June {% elif language == 'it' %} {% url 'year_it' %}?name=2024_June {% elif language == 'de' %} {% url 'year_de' %}?name=2024_June {% elif language == 'fr' %} {% url 'year_fr' %}?name=2024_June{% endif %}" class="aaa">{% if language == '' or language == 'en' %}
June
{% elif language == 'es' %}
Junio
{% elif language == 'it' %}
Giugno
{% elif language == 'de' %}
Juni
{% elif language == 'fr' %}
Juin
{% endif %}</a>
            <a href="{% url 'download' %}?name=2024_June" class="download"><i class="fa fa-download"></i></a>
        </span>
            <span>
    <a href="{% if language == '' or language == 'en'  %} {% url 'year_en' %}?name=2024_July {% elif language == 'es' %} {% url 'year_es' %}?name=2024_July {% elif language == 'it' %} {% url 'year_it' %}?name=2024_July {% elif language == 'de' %} {% url 'year_de' %}?name=2024_July {% elif language == 'fr' %} {% url 'year_fr' %}?name=2024_July{% endif %}" class="aaa">{% if language == '' or language == 'en' %}
July
{% elif language == 'es' %}
Julio
{% elif language == 'it' %}
Luglio
{% elif language == 'de' %}
Juli
{% elif language == 'fr' %}
Juillet
{% endif %}</a>
            <a href="{% url 'download' %}?name=2024_July" class="download"><i class="fa fa-download"></i></a>
        </span>
            <span>
    <a href="{% if language == '' or language == 'en'  %} {% url 'year_en' %}?name=2024_August {% elif language == 'es' %} {% url 'year_es' %}?name=2024_August {% elif language == 'it' %} {% url 'year_it' %}?name=2024_August {% elif language == 'de' %} {% url 'year_de' %}?name=2024_August {% elif language == 'fr' %} {% url 'year_fr' %}?name=2024_August{% endif %}" class="aaa">{% if language == '' or language == 'en' %}
August
{% elif language == 'es' %}
Agosto
{% elif language == 'it' %}
Agosto
{% elif language == 'de' %}
August
{% elif language == 'fr' %}
Août
{% endif %}</a>
            <a href="{% url 'download' %}?name=2024_August" class="download"><i class="fa fa-download"></i></a>
        </span>
            <span>
    <a href="{% if language == '' or language == 'en'  %} {% url 'year_en' %}?name=2024_September {% elif language == 'es' %} {% url 'year_es' %}?name=2024_September {% elif language == 'it' %} {% url 'year_it' %}?name=2024_September {% elif language == 'de' %} {% url 'year_de' %}?name=2024_September {% elif language == 'fr' %} {% url 'year_fr' %}?name=2024_September{% endif %}" class="aaa">{% if language == '' or language == 'en' %}
September
{% elif language == 'es' %}
Septiembre
{% elif language == 'it' %}
Settembre
{% elif language == 'de' %}
September
{% elif language == 'fr' %}
Septembre
{% endif %}</a>
            <a href="{% url 'download' %}?name=2024_September" class="download"><i class="fa fa-download"></i></a>
        </span>
            <span>
    <a href="{% if language == '' or language == 'en'  %} {% url 'year_en' %}?name=2024_October {% elif language == 'es' %} {% url 'year_es' %}?name=2024_October {% elif language == 'it' %} {% url 'year_it' %}?name=2024_October {% elif language == 'de' %} {% url 'year_de' %}?name=2024_October {% elif language == 'fr' %} {% url 'year_fr' %}?name=2024_October{% endif %}" class="aaa">{% if language == '' or language == 'en' %}
October
{% elif language == 'es' %}
Octubre
{% elif language == 'it' %}
Ottobre
{% elif language == 'de' %}
Oktober
{% elif language == 'fr' %}
Octobre
{% endif %}</a>
            <a href="{% url 'download' %}?name=2024_October" class="download"><i class="fa fa-download"></i></a>
        </span>
            <span>
    <a href="{% if language == '' or language == 'en'  %} {% url 'year_en' %}?name=2024_November {% elif language == 'es' %} {% url 'year_es' %}?name=2024_November {% elif language == 'it' %} {% url 'year_it' %}?name=2024_November {% elif language == 'de' %} {% url 'year_de' %}?name=2024_November {% elif language == 'fr' %} {% url 'year_fr' %}?name=2024_November{% endif %}" class="aaa">{% if language == '' or language == 'en' %}
November
{% elif language == 'es' %}
Noviembre
{% elif language == 'it' %}
Novembre
{% elif language == 'de' %}
November
{% elif language == 'fr' %}
Novembre
{% endif %}</a>
            <a href="{% url 'download' %}?name=2024_November" class="download"><i class="fa fa-download"></i></a>
        </span>
            <span>
    <a href="{% if language == '' or language == 'en'  %} {% url 'year_en' %}?name=2024_December {% elif language == 'es' %} {% url 'year_es' %}?name=2024_December {% elif language == 'it' %} {% url 'year_it' %}?name=2024_December {% elif language == 'de' %} {% url 'year_de' %}?name=2024_December {% elif language == 'fr' %} {% url 'year_fr' %}?name=2024_December{% endif %}" class="aaa">{% if language == '' or language == 'en' %}
December
{% elif language == 'es' %}
Diciembre
{% elif language == 'it' %}
Dicembre
{% elif language == 'de' %}
Dezember
{%elif language == 'fr' %}
Décembre
{% endif %}</a>
            <a href="{% url 'download' %}?name=2024_December" class="download"><i class="fa fa-download"></i></a>
        </span>
{% endif %}


</div>

</body>
<script>
function myFunction(name) {
  document.getElementById('myDropdown202'+name[name.length-1]).classList.toggle("show");
//+name[name.length-1].toString
}
var dropdownContainer = document.getElementById("myDropdown2023");

// add an event listener to the dropdown container
dropdownContainer.addEventListener("mouseenter", function(event) {
  event.stopPropagation(); // prevent the event from propagating up to the button
  this.classList.add("show"); // display the dropdown content
});

// remove the "show" class when the mouse leaves the dropdown container
dropdownContainer.addEventListener("mouseleave", function() {
  this.classList.remove("show");
});

// hide all dropdowns when the user clicks anywhere outside them
window.addEventListener("click", function(event) {
  if (!event.target.matches('.dropbtn2023')) {
    var dropdowns2023 = document.getElementsByClassName("dropdown-content2023");
    for (var i = 0; i < dropdowns2023.length; i++) {
      var openDropdown2023 = dropdowns2023[i];
      if (openDropdown2023.classList.contains('show')) {
        openDropdown2023.classList.remove('show');
      }
    }
  }
});

// Close the dropdown menu if the user clicks outside of it
window.onclick = function(event) {
    if (!event.target.matches('.dropbtn2022')) {
        var dropdowns2022 = document.getElementsByClassName("dropdown-content2022");
        var i;
        for (i = 0; i < dropdowns2022.length; i++) {
            var openDropdown2022 = dropdowns2022[i];
            if (openDropdown2022.classList.contains('show')) {
                openDropdown2022.classList.remove('show');
            }
        }
    }
      if (!event.target.matches('.dropbtn2023')) {
        var dropdowns2023 = document.getElementsByClassName("dropdown-content2023");
        var i_;
        for (i_ = 0; i_ < dropdowns2023.length; i_++) {
            var openDropdown2023 = dropdowns2023[i];
            if (openDropdown2023.classList.contains('show')) {
                openDropdown2023.classList.remove('show');
            }
        }
    }

}
</script>
{% endblock %}
