{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

    <style>
    .content{

    }
        .information{
            float: left;
            margin-left: 200px ;
            margin-top: 100px ;
            margin-right: 10px ;
        }
        .text{
            margin: 100px 100px;
            text-align: right;
        }
        h2 {
            text-align: center;
        }
    </style>
    <body>
    <div class="content">
    <br>
<div class="information">
    <img class = "imag" src="{% static "Agent_Portal_Authorization/media/oliverweber.png" %}" alt="home"  height="300"/>


    </div>
    <div class="text">
        {% if language == "" %}

            <h1>Welcome to Agent Portal Service!</h1>
            Welcome to the portal, here you can track current payment status of your orders.
            On this service you can check the status of payments in previous months individually and, if you are an authorized user, you can check the status of all payments together.
    <br>
    {% elif language == "de" %}
 <h1>Willkommen beim Agentenportal-Dienst!</h1>
            Willkommen im Portal, hier können Sie den aktuellen Zahlungsstatus Ihrer Bestellungen verfolgen. In diesem Service können Sie den Status der Zahlungen in den vergangenen Monaten einzeln überprüfen und als autorisierter Benutzer den Status aller Zahlungen zusammen überprüfen.
    <br>
            {% elif language == "fr" %}
           <h1>Bienvenue dans le Portail d'agent!</h1>
            Bienvenue sur le portail, ici vous pouvez suivre l'état actuel de paiement de vos commandes. Dans ce service, vous pouvez vérifier individuellement l'état des paiements des mois précédents et, en tant qu'utilisateur autorisé, vérifier l'état de tous les paiements en même temps.
            <br>
            {% elif language == "it" %}
           <h1>Benvenuto in Portale di Agente!</h1>
            Benvenuto al portale, qui puoi seguire lo stato attuale di pagamento dei tuoi ordini. In questo servizio è possibile verificare lo stato dei pagamenti dei mesi precedenti singolarmente e, come utente autorizzato, verificare lo stato di tutti i pagamenti insieme.
                        <br>
            {% elif language == "es" %}
            <h1>Bienvenido al Servicio de Portal de Agentes</h1>
            Bienvenido al portal, aquí puedes hacer seguimiento del estado actual de pago de tus pedidos. En este servicio puedes verificar individualmente el estado de los pagos de meses anteriores y, como usuario autorizado, verificar el estado de todos los pagos juntos.                   <br>
        {% endif %}



    <br>
    <br><br>
    <br><br>
    </div>
        </div>
    </body>


{% endblock %}