{% extends 'base.html' %}
{% block content %}
<head>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<h1>{{ user }}</h1>
<hr>
Role: User <br>
{% if language == '' or language == 'en'  %} Here will be placed information about Your account, global payment status, etc. {% elif language == 'es' %} Aquí se colocarán información sobre tu cuenta, el estado global de pagos, etc. {% elif language == 'it' %} Qui saranno inserite informazioni sul tuo account, lo stato globale dei pagamenti, ecc {% elif language == 'de' %} Hier werden Informationen zu Ihrem Konto, zum globalen Zahlungsstatus usw. platziert. {% elif language == 'fr' %}  Ici seront placées des informations sur votre compte, l'état global des paiements, etc.{% endif %}<br>

<hr>

</body>
{% endblock %}