{%extends 'base.html'%}
                            {% block content %}     
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--<link rel="stylesheet" type="text/css" href="normas.css">-->
    <style>
        body{
            background-color: #d6e1f8;

        }
        th, td {
            border: 1px solid #ccc;

            text-align: center;
        }

        table {

            border-collapse: collapse !important; /* optional: collapse the table borders */
        }

        table tr {
            background-color: #8BC34A !important; /* Set background color of all rows */
        }

        table tr:hover td {
            background-color: #2196F3 !important; /* Set background color of cells when hovered */
        }

    </style>
                     <table border="1" class="dataframe" style="width:100%;">
                                 <thead>
                                     <tr style="text-align: right;">
<th style='background-color: #899EF0'>RK</th>
<th style='background-color: #899EF0'>GF-Nr</th>
<th style='background-color: #899EF0'>Datum</th>
<th style='background-color: #899EF0'>Vertreter</th>
<th style='background-color: #899EF0'>ProvProz</th>
<th style='background-color: #899EF0'>Provision</th>
<th style='background-color: #899EF0'>Summe</th>
<th style='background-color: #899EF0'>Lieferant</th>
<th style='background-color: #899EF0'>Lieferantenname</th>
<th style='background-color: #899EF0'>Name2</th>
<th style='background-color: #899EF0'>IntKz</th>
<th style='background-color: #899EF0'>PLZ Neu</th>
<th style='background-color: #899EF0'>Ort</th>
<th style='background-color: #899EF0'>s</th>
<th style='background-color: #899EF0'>Paid amount</th>
<th style='background-color: #899EF0'>Payment status</th>
<th style='background-color: #899EF0'>Payment commission</th>
<th style='background-color: #899EF0'>Payments with Rest</th>
<th style='background-color: #899EF0'>Payments Dates</th>
</tr>
</thead>
                          <tbody><tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4300030</td>
<td style='background-color: #FFF300'>2023-01-11</td>
<td style='background-color: #FFF300'>V000122</td>
<td style='background-color: #FFF300'>14</td>
<td style='background-color: #FFF300'>-4.732</td>
<td style='background-color: #FFF300'>-33.8</td>
<td style='background-color: #FFF300'>K005890</td>
<td style='background-color: #FFF300'>SYRTIS SRL</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>IT</td>
<td style='background-color: #FFF300'>00071</td>
<td style='background-color: #FFF300'>Pomezia, Roma</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4300109</td>
<td style='background-color: #FFF300'>2023-01-26</td>
<td style='background-color: #FFF300'>V000122</td>
<td style='background-color: #FFF300'>14</td>
<td style='background-color: #FFF300'>-4.718</td>
<td style='background-color: #FFF300'>-33.7</td>
<td style='background-color: #FFF300'>K005890</td>
<td style='background-color: #FFF300'>SYRTIS SRL</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>IT</td>
<td style='background-color: #FFF300'>00071</td>
<td style='background-color: #FFF300'>Pomezia, Roma</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4300167</td>
<td style='background-color: #FFF300'>2023-02-07</td>
<td style='background-color: #FFF300'>V000122</td>
<td style='background-color: #FFF300'>14</td>
<td style='background-color: #FFF300'>-1078.945</td>
<td style='background-color: #FFF300'>-7706.75</td>
<td style='background-color: #FFF300'>K004960</td>
<td style='background-color: #FFF300'>MACRO CONSULTING SRL</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>IT</td>
<td style='background-color: #FFF300'>03014</td>
<td style='background-color: #FFF300'>Fiuggi (FR)</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4300189</td>
<td style='background-color: #FFF300'>2023-02-10</td>
<td style='background-color: #FFF300'>V000122</td>
<td style='background-color: #FFF300'>14</td>
<td style='background-color: #FFF300'>-2.562</td>
<td style='background-color: #FFF300'>-18.3</td>
<td style='background-color: #FFF300'>K005890</td>
<td style='background-color: #FFF300'>SYRTIS SRL</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>IT</td>
<td style='background-color: #FFF300'>00071</td>
<td style='background-color: #FFF300'>Pomezia, Roma</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4300275</td>
<td style='background-color: #FFF300'>2023-02-27</td>
<td style='background-color: #FFF300'>V000122</td>
<td style='background-color: #FFF300'>14</td>
<td style='background-color: #FFF300'>-3.5</td>
<td style='background-color: #FFF300'>-25</td>
<td style='background-color: #FFF300'>K005890</td>
<td style='background-color: #FFF300'>SYRTIS SRL</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>IT</td>
<td style='background-color: #FFF300'>00071</td>
<td style='background-color: #FFF300'>Pomezia, Roma</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4300328</td>
<td style='background-color: #FFF300'>2023-03-06</td>
<td style='background-color: #FFF300'>V000122</td>
<td style='background-color: #FFF300'>14</td>
<td style='background-color: #FFF300'>-12.992</td>
<td style='background-color: #FFF300'>-92.8</td>
<td style='background-color: #FFF300'>K005890</td>
<td style='background-color: #FFF300'>SYRTIS SRL</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>IT</td>
<td style='background-color: #FFF300'>00071</td>
<td style='background-color: #FFF300'>Pomezia, Roma</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4300530</td>
<td style='background-color: #FFF300'>2023-04-11</td>
<td style='background-color: #FFF300'>V000122</td>
<td style='background-color: #FFF300'>14</td>
<td style='background-color: #FFF300'>-32.872</td>
<td style='background-color: #FFF300'>-234.8</td>
<td style='background-color: #FFF300'>K005890</td>
<td style='background-color: #FFF300'>SYRTIS SRL</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>IT</td>
<td style='background-color: #FFF300'>00071</td>
<td style='background-color: #FFF300'>Pomezia, Roma</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4300632</td>
<td style='background-color: #FFF300'>2023-04-25</td>
<td style='background-color: #FFF300'>V000122</td>
<td style='background-color: #FFF300'>14</td>
<td style='background-color: #FFF300'>-220.1668</td>
<td style='background-color: #FFF300'>-1572.62</td>
<td style='background-color: #FFF300'>K005890</td>
<td style='background-color: #FFF300'>SYRTIS SRL</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>IT</td>
<td style='background-color: #FFF300'>00071</td>
<td style='background-color: #FFF300'>Pomezia, Roma</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4300914</td>
<td style='background-color: #FFF300'>2023-05-31</td>
<td style='background-color: #FFF300'>V000122</td>
<td style='background-color: #FFF300'>14</td>
<td style='background-color: #FFF300'>-7.42</td>
<td style='background-color: #FFF300'>-53</td>
<td style='background-color: #FFF300'>K005890</td>
<td style='background-color: #FFF300'>SYRTIS SRL</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>IT</td>
<td style='background-color: #FFF300'>00071</td>
<td style='background-color: #FFF300'>Pomezia, Roma</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4301146</td>
<td style='background-color: #FFF300'>2023-06-30</td>
<td style='background-color: #FFF300'>V000122</td>
<td style='background-color: #FFF300'>14</td>
<td style='background-color: #FFF300'>-12.712</td>
<td style='background-color: #FFF300'>-90.8</td>
<td style='background-color: #FFF300'>K005890</td>
<td style='background-color: #FFF300'>SYRTIS SRL</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>IT</td>
<td style='background-color: #FFF300'>00071</td>
<td style='background-color: #FFF300'>Pomezia, Roma</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4301516</td>
<td style='background-color: #FFF300'>2023-09-07</td>
<td style='background-color: #FFF300'>V000122</td>
<td style='background-color: #FFF300'>14</td>
<td style='background-color: #FFF300'>-1189.3112</td>
<td style='background-color: #FFF300'>-8495.08</td>
<td style='background-color: #FFF300'>K005886</td>
<td style='background-color: #FFF300'>Sea s.r.l.s.</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>IT</td>
<td style='background-color: #FFF300'>00053</td>
<td style='background-color: #FFF300'>Civitavecchia (RM)</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4301987</td>
<td style='background-color: #FFF300'>2023-11-20</td>
<td style='background-color: #FFF300'>V000122</td>
<td style='background-color: #FFF300'>14</td>
<td style='background-color: #FFF300'>-998.2238</td>
<td style='background-color: #FFF300'>-7130.17</td>
<td style='background-color: #FFF300'>K005886</td>
<td style='background-color: #FFF300'>Sea s.r.l.s.</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>IT</td>
<td style='background-color: #FFF300'>00053</td>
<td style='background-color: #FFF300'>Civitavecchia (RM)</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4302097</td>
<td style='background-color: #FFF300'>2023-12-05</td>
<td style='background-color: #FFF300'>V000122</td>
<td style='background-color: #FFF300'>12</td>
<td style='background-color: #FFF300'>-2.9988</td>
<td style='background-color: #FFF300'>-24.99</td>
<td style='background-color: #FFF300'>K004054</td>
<td style='background-color: #FFF300'>DODO SRL</td>
<td style='background-color: #FFF300'>DOMAR</td>
<td style='background-color: #FFF300'>IT</td>
<td style='background-color: #FFF300'>00174</td>
<td style='background-color: #FFF300'>Roma</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4302148</td>
<td style='background-color: #FFF300'>2023-12-12</td>
<td style='background-color: #FFF300'>V000122</td>
<td style='background-color: #FFF300'>14</td>
<td style='background-color: #FFF300'>-22.078</td>
<td style='background-color: #FFF300'>-157.7</td>
<td style='background-color: #FFF300'>K005890</td>
<td style='background-color: #FFF300'>SYRTIS SRL</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>IT</td>
<td style='background-color: #FFF300'>00071</td>
<td style='background-color: #FFF300'>Pomezia, Roma</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4302171</td>
<td style='background-color: #00FF00'>2023-12-14</td>
<td style='background-color: #00FF00'>V000122</td>
<td style='background-color: #00FF00'>14</td>
<td style='background-color: #00FF00'>214.704</td>
<td style='background-color: #00FF00'>1533.6</td>
<td style='background-color: #00FF00'>K005890</td>
<td style='background-color: #00FF00'>SYRTIS SRL</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>00071</td>
<td style='background-color: #00FF00'>Pomezia, Roma</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>766.8</td>
<td style='background-color: #00FF00'>PARTIALLY PAID</td>
<td style='background-color: #FFFFFF'>107.4</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>09.04.2024,  766.8</td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4302210</td>
<td style='background-color: #FFF300'>2023-12-27</td>
<td style='background-color: #FFF300'>V000122</td>
<td style='background-color: #FFF300'>14</td>
<td style='background-color: #FFF300'>-9.744</td>
<td style='background-color: #FFF300'>-69.6</td>
<td style='background-color: #FFF300'>K005890</td>
<td style='background-color: #FFF300'>SYRTIS SRL</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>IT</td>
<td style='background-color: #FFF300'>00071</td>
<td style='background-color: #FFF300'>Pomezia, Roma</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4400025</td>
<td style='background-color: #FFF300'>2024-01-10</td>
<td style='background-color: #FFF300'>V000122</td>
<td style='background-color: #FFF300'>14</td>
<td style='background-color: #FFF300'>-23.408</td>
<td style='background-color: #FFF300'>-167.2</td>
<td style='background-color: #FFF300'>K005890</td>
<td style='background-color: #FFF300'>SYRTIS SRL</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>IT</td>
<td style='background-color: #FFF300'>00071</td>
<td style='background-color: #FFF300'>Pomezia, Roma</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4400035</td>
<td style='background-color: #00FF00'>2024-01-11</td>
<td style='background-color: #00FF00'>V000122</td>
<td style='background-color: #00FF00'>14</td>
<td style='background-color: #00FF00'>28.056</td>
<td style='background-color: #00FF00'>200.4</td>
<td style='background-color: #00FF00'>K005890</td>
<td style='background-color: #00FF00'>SYRTIS SRL</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>00071</td>
<td style='background-color: #00FF00'>Pomezia, Roma</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>200.4</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>28.1</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>09.04.2024,  200.4</td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4400184</td>
<td style='background-color: #FFF300'>2024-01-31</td>
<td style='background-color: #FFF300'>V000122</td>
<td style='background-color: #FFF300'>14</td>
<td style='background-color: #FFF300'>-46.7544</td>
<td style='background-color: #FFF300'>-333.96</td>
<td style='background-color: #FFF300'>K005886</td>
<td style='background-color: #FFF300'>Sea s.r.l.s.</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>IT</td>
<td style='background-color: #FFF300'>00053</td>
<td style='background-color: #FFF300'>Civitavecchia (RM)</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4400186</td>
<td style='background-color: #FFF300'>2024-01-31</td>
<td style='background-color: #FFF300'>V000122</td>
<td style='background-color: #FFF300'>14</td>
<td style='background-color: #FFF300'>-33.754</td>
<td style='background-color: #FFF300'>-241.1</td>
<td style='background-color: #FFF300'>K006233</td>
<td style='background-color: #FFF300'>Bigi S.N.C di Celani Alessandra e</td>
<td style='background-color: #FFF300'>Silvia</td>
<td style='background-color: #FFF300'>IT</td>
<td style='background-color: #FFF300'>03014</td>
<td style='background-color: #FFF300'>Fiuggi (Fr)</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4400270</td>
<td style='background-color: #00FF00'>2024-02-19</td>
<td style='background-color: #00FF00'>V000122</td>
<td style='background-color: #00FF00'>14</td>
<td style='background-color: #00FF00'>24.178</td>
<td style='background-color: #00FF00'>172.7</td>
<td style='background-color: #00FF00'>K005890</td>
<td style='background-color: #00FF00'>SYRTIS SRL</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>00071</td>
<td style='background-color: #00FF00'>Pomezia, Roma</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>86.3</td>
<td style='background-color: #00FF00'>PARTIALLY PAID</td>
<td style='background-color: #FFFFFF'>12.1</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>09.04.2024,  86.3</td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4400497</td>
<td style='background-color: #FFF300'>2024-03-27</td>
<td style='background-color: #FFF300'>V000122</td>
<td style='background-color: #FFF300'>14</td>
<td style='background-color: #FFF300'>-6.8348</td>
<td style='background-color: #FFF300'>-48.82</td>
<td style='background-color: #FFF300'>K005829</td>
<td style='background-color: #FFF300'>Il Fiocco di Susanna Renzetti</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>IT</td>
<td style='background-color: #FFF300'>00028</td>
<td style='background-color: #FFF300'>Subiaco (RM)</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4400531</td>
<td style='background-color: #FFF300'>2024-04-02</td>
<td style='background-color: #FFF300'>V000122</td>
<td style='background-color: #FFF300'>14</td>
<td style='background-color: #FFF300'>-1166.312</td>
<td style='background-color: #FFF300'>-8330.8</td>
<td style='background-color: #FFF300'>K005890</td>
<td style='background-color: #FFF300'>SYRTIS SRL</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>IT</td>
<td style='background-color: #FFF300'>00071</td>
<td style='background-color: #FFF300'>Pomezia, Roma</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4400638</td>
<td style='background-color: #FFF300'>2024-04-22</td>
<td style='background-color: #FFF300'>V000122</td>
<td style='background-color: #FFF300'>14</td>
<td style='background-color: #FFF300'>-65.828</td>
<td style='background-color: #FFF300'>-470.2</td>
<td style='background-color: #FFF300'>K005890</td>
<td style='background-color: #FFF300'>SYRTIS SRL</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>IT</td>
<td style='background-color: #FFF300'>00071</td>
<td style='background-color: #FFF300'>Pomezia, Roma</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>All paid amount</td>
<td style='background-color: #90EE90'>1053.5</td>
<td style='background-color: #FFFFFF'>All comissions</td>
<td style='background-color: #90EE90'>147.49</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
 </tbody>
                    </table>
                    {% endblock %}