{%extends 'base.html'%}
                        {% block content %}
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!--<link rel="stylesheet" type="text/css" href="normas.css">-->
<style>
    body{
        background-color: #d6e1f8;
         
    }
    th, td {
        border: 1px solid #ccc;
        
        text-align: center;
    }

    table {
   
        border-collapse: collapse !important; /* optional: collapse the table borders */
    }

    table tr {
        background-color: #8BC34A !important; /* Set background color of all rows */
    }

    table tr:hover td {
        background-color: #2196F3 !important; /* Set background color of cells when hovered */
    }

</style>
                 <table border="1" class="dataframe" style="width:100%;">
                             <thead>
                                 <tr style="text-align: right;">
<th style='background-color: #B0CBF0'>RK</th>
<th style='background-color: #B0CBF0'>GF-Nr</th>
<th style='background-color: #B0CBF0'>Datum</th>
<th style='background-color: #B0CBF0'>Vertreter</th>
<th style='background-color: #B0CBF0'>ProvProz</th>
<th style='background-color: #B0CBF0'>Provision</th>
<th style='background-color: #B0CBF0'>Summe</th>
<th style='background-color: #B0CBF0'>Lieferant</th>
<th style='background-color: #B0CBF0'>Lieferantenname</th>
<th style='background-color: #B0CBF0'>Name2</th>
<th style='background-color: #B0CBF0'>IntKz</th>
<th style='background-color: #B0CBF0'>PLZ Neu</th>
<th style='background-color: #B0CBF0'>Ort</th>
<th style='background-color: #FFFFFF'> </th>
<th style='background-color: #899EF0'>Paid amount</th>
<th style='background-color: #899EF0'>Payment status</th>
<th style='background-color: #899EF0'>Payment commission</th>
<th style='background-color: #899EF0'>Payments with Rest</th>
<th style='background-color: #899EF0'>Payments Dates</th>
<th style='background-color: #FFFFFF'> </th>
</tr>
</thead>
                      <tbody><tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202459</td>
<td style='background-color: #00FF00'>2022-11-30 00:00:00</td>
<td style='background-color: #00FF00'>V000134</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>3182.2856</td>
<td style='background-color: #00FF00'>24479.12</td>
<td style='background-color: #00FF00'>K004678</td>
<td style='background-color: #00FF00'>PUERTA PALACIO MESONES SL</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>45001</td>
<td style='background-color: #00FF00'>Toledo</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>13173.42</td>
<td style='background-color: #00FF00'>PARTIALLY PAID</td>
<td style='background-color: #00FF00'>1712.5</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>28.02.2023,  4000.0</td>
<td style='background-color: #FFFFFF'>28.02.2023,  9173.4</td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202515</td>
<td style='background-color: #00FF00'>2022-12-07 00:00:00</td>
<td style='background-color: #00FF00'>V000134</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>360.269</td>
<td style='background-color: #00FF00'>2771.3</td>
<td style='background-color: #00FF00'>K003622</td>
<td style='background-color: #00FF00'>Juan Carlos Diaz Gonzalez</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>45001</td>
<td style='background-color: #00FF00'>Toledo</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>1847.54</td>
<td style='background-color: #00FF00'>PARTIALLY PAID</td>
<td style='background-color: #00FF00'>240.2</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>14.02.2023,  923.8</td>
<td style='background-color: #FFFFFF'>28.02.2023,  923.8</td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202516</td>
<td style='background-color: #00FF00'>2022-12-07 00:00:00</td>
<td style='background-color: #00FF00'>V000134</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>295.178</td>
<td style='background-color: #00FF00'>2270.6</td>
<td style='background-color: #00FF00'>K003622</td>
<td style='background-color: #00FF00'>Juan Carlos Diaz Gonzalez</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>45001</td>
<td style='background-color: #00FF00'>Toledo</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>1513.74</td>
<td style='background-color: #00FF00'>PARTIALLY PAID</td>
<td style='background-color: #00FF00'>196.8</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>14.02.2023,  756.9</td>
<td style='background-color: #FFFFFF'>28.02.2023,  756.9</td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202517</td>
<td style='background-color: #00FF00'>2022-12-07 00:00:00</td>
<td style='background-color: #00FF00'>V000134</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>105.573</td>
<td style='background-color: #00FF00'>812.1</td>
<td style='background-color: #00FF00'>K003622</td>
<td style='background-color: #00FF00'>Juan Carlos Diaz Gonzalez</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>45001</td>
<td style='background-color: #00FF00'>Toledo</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>541.4</td>
<td style='background-color: #00FF00'>PARTIALLY PAID</td>
<td style='background-color: #00FF00'>70.4</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>14.02.2023,  270.7</td>
<td style='background-color: #FFFFFF'>28.02.2023,  270.7</td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202518</td>
<td style='background-color: #00FF00'>2022-12-07 00:00:00</td>
<td style='background-color: #00FF00'>V000134</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>256.308</td>
<td style='background-color: #00FF00'>1971.6</td>
<td style='background-color: #00FF00'>K003622</td>
<td style='background-color: #00FF00'>Juan Carlos Diaz Gonzalez</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>45001</td>
<td style='background-color: #00FF00'>Toledo</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>1314.4</td>
<td style='background-color: #00FF00'>PARTIALLY PAID</td>
<td style='background-color: #00FF00'>170.9</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>14.02.2023,  657.2</td>
<td style='background-color: #FFFFFF'>28.02.2023,  657.2</td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #68BF9D'>18390.5</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #68BF9D'>2390.8</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
 </tbody>
                </table>
                {% endblock %}