<meta charset="utf-8">
                 <table border="1" class="dataframe">
                             <thead>
                                 <tr style="text-align: right;">
<th style='background-color: #B0CBF0'>RK</th>
<th style='background-color: #B0CBF0'>GF-Nr</th>
<th style='background-color: #B0CBF0'>Datum</th>
<th style='background-color: #B0CBF0'>Vertreter</th>
<th style='background-color: #B0CBF0'>ProvProz</th>
<th style='background-color: #B0CBF0'>Provision</th>
<th style='background-color: #B0CBF0'>Summe</th>
<th style='background-color: #B0CBF0'>Lieferant</th>
<th style='background-color: #B0CBF0'>Lieferantenname</th>
<th style='background-color: #B0CBF0'>Name2</th>
<th style='background-color: #B0CBF0'>IntKz</th>
<th style='background-color: #B0CBF0'>PLZ Neu</th>
<th style='background-color: #B0CBF0'>Ort</th>
<th style='background-color: #FFFFFF'> </th>
<th style='background-color: #899EF0'>Paid amount</th>
<th style='background-color: #899EF0'>Payment status</th>
<th style='background-color: #899EF0'>Payment commission</th>
<th style='background-color: #899EF0'>Payments with Rest</th>
<th style='background-color: #899EF0'>Payments Dates</th>
</tr>
</thead>
                  <tbody><tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4200069</td>
<td style='background-color: #FFFFFF'>2022-01-14 00:00:00</td>
<td style='background-color: #FFFFFF'>V000136</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>183.876</td>
<td style='background-color: #FFFFFF'>1313.4</td>
<td style='background-color: #FFFFFF'>K003557</td>
<td style='background-color: #FFFFFF'>Crystal 25 SRL</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>70033</td>
<td style='background-color: #FFFFFF'> Corato (BA)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4200078</td>
<td style='background-color: #FFFFFF'>2022-01-17 00:00:00</td>
<td style='background-color: #FFFFFF'>V000136</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>76.132</td>
<td style='background-color: #FFFFFF'>543.8</td>
<td style='background-color: #FFFFFF'>K003557</td>
<td style='background-color: #FFFFFF'>Crystal 25 SRL</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>70033</td>
<td style='background-color: #FFFFFF'> Corato (BA)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4200212</td>
<td style='background-color: #FFFFFF'>2022-01-31 00:00:00</td>
<td style='background-color: #FFFFFF'>V000136</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>70.112</td>
<td style='background-color: #FFFFFF'>500.8</td>
<td style='background-color: #FFFFFF'>K006002</td>
<td style='background-color: #FFFFFF'>Nuovo Privilegi di</td>
<td style='background-color: #FFFFFF'>Giusy Masilla</td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>72020</td>
<td style='background-color: #FFFFFF'>Erchie (BR)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4200213</td>
<td style='background-color: #FFFFFF'>2022-01-31 00:00:00</td>
<td style='background-color: #FFFFFF'>V000136</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>10.99</td>
<td style='background-color: #FFFFFF'>78.5</td>
<td style='background-color: #FFFFFF'>K003557</td>
<td style='background-color: #FFFFFF'>Crystal 25 SRL</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>70033</td>
<td style='background-color: #FFFFFF'> Corato (BA)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4200281</td>
<td style='background-color: #FFFFFF'>2022-02-08 00:00:00</td>
<td style='background-color: #FFFFFF'>V000136</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>29.638</td>
<td style='background-color: #FFFFFF'>211.7</td>
<td style='background-color: #FFFFFF'>K006002</td>
<td style='background-color: #FFFFFF'>Nuovo Privilegi di</td>
<td style='background-color: #FFFFFF'>Giusy Masilla</td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>72020</td>
<td style='background-color: #FFFFFF'>Erchie (BR)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4200446</td>
<td style='background-color: #FFFFFF'>2022-03-01 00:00:00</td>
<td style='background-color: #FFFFFF'>V000136</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>66.192</td>
<td style='background-color: #FFFFFF'>472.8</td>
<td style='background-color: #FFFFFF'>K003208</td>
<td style='background-color: #FFFFFF'>Cloé di de Scisciolo Claudia</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>70038</td>
<td style='background-color: #FFFFFF'>Terlizzi (BA)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4200539</td>
<td style='background-color: #FFFFFF'>2022-03-18 00:00:00</td>
<td style='background-color: #FFFFFF'>V000136</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>158.606</td>
<td style='background-color: #FFFFFF'>1132.9</td>
<td style='background-color: #FFFFFF'>K003557</td>
<td style='background-color: #FFFFFF'>Crystal 25 SRL</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>70033</td>
<td style='background-color: #FFFFFF'> Corato (BA)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4200564</td>
<td style='background-color: #FFFFFF'>2022-03-21 00:00:00</td>
<td style='background-color: #FFFFFF'>V000136</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>101.654</td>
<td style='background-color: #FFFFFF'>726.1</td>
<td style='background-color: #FFFFFF'>K004611</td>
<td style='background-color: #FFFFFF'>Essenze e Cosmesi</td>
<td style='background-color: #FFFFFF'>di Scolamacchia Maria</td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>70032</td>
<td style='background-color: #FFFFFF'>Bitonto  (BA)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4200621</td>
<td style='background-color: #FFFFFF'>2022-03-29 00:00:00</td>
<td style='background-color: #FFFFFF'>V000136</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>26.488</td>
<td style='background-color: #FFFFFF'>189.2</td>
<td style='background-color: #FFFFFF'>K005062</td>
<td style='background-color: #FFFFFF'>Prestige</td>
<td style='background-color: #FFFFFF'>di Siciliano Teresa</td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>75019</td>
<td style='background-color: #FFFFFF'>Tricarico (MT)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4200748</td>
<td style='background-color: #FFFFFF'>2022-04-12 00:00:00</td>
<td style='background-color: #FFFFFF'>V000136</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>101.227</td>
<td style='background-color: #FFFFFF'>723.05</td>
<td style='background-color: #FFFFFF'>K003208</td>
<td style='background-color: #FFFFFF'>Cloé di de Scisciolo Claudia</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>70038</td>
<td style='background-color: #FFFFFF'>Terlizzi (BA)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4200806</td>
<td style='background-color: #FFFFFF'>2022-04-19 00:00:00</td>
<td style='background-color: #FFFFFF'>V000136</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>68.04</td>
<td style='background-color: #FFFFFF'>486</td>
<td style='background-color: #FFFFFF'>K005292</td>
<td style='background-color: #FFFFFF'>Marsicovetere Gift</td>
<td style='background-color: #FFFFFF'>di Giuseppe Marsicovetere</td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>85047</td>
<td style='background-color: #FFFFFF'>Moliterno (PZ)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4200904</td>
<td style='background-color: #FFFFFF'>2022-05-02 00:00:00</td>
<td style='background-color: #FFFFFF'>V000136</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>242.494</td>
<td style='background-color: #FFFFFF'>1732.1</td>
<td style='background-color: #FFFFFF'>K004488</td>
<td style='background-color: #FFFFFF'>Stampe & Colori</td>
<td style='background-color: #FFFFFF'>di Rosa Bilanzone</td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>76014</td>
<td style='background-color: #FFFFFF'>Spinazzola (BT)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4200979</td>
<td style='background-color: #FFFFFF'>2022-05-12 00:00:00</td>
<td style='background-color: #FFFFFF'>V000136</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>150.01</td>
<td style='background-color: #FFFFFF'>1071.5</td>
<td style='background-color: #FFFFFF'>K003557</td>
<td style='background-color: #FFFFFF'>Crystal 25 SRL</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>70033</td>
<td style='background-color: #FFFFFF'> Corato (BA)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4201094</td>
<td style='background-color: #FFFFFF'>2022-05-25 00:00:00</td>
<td style='background-color: #FFFFFF'>V000136</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>11.97</td>
<td style='background-color: #FFFFFF'>85.5</td>
<td style='background-color: #FFFFFF'>K004488</td>
<td style='background-color: #FFFFFF'>Stampe & Colori</td>
<td style='background-color: #FFFFFF'>di Rosa Bilanzone</td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>76014</td>
<td style='background-color: #FFFFFF'>Spinazzola (BT)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4201097</td>
<td style='background-color: #FFFFFF'>2022-05-25 00:00:00</td>
<td style='background-color: #FFFFFF'>V000136</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>30.8</td>
<td style='background-color: #FFFFFF'>220</td>
<td style='background-color: #FFFFFF'>K005062</td>
<td style='background-color: #FFFFFF'>Prestige</td>
<td style='background-color: #FFFFFF'>di Siciliano Teresa</td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>75019</td>
<td style='background-color: #FFFFFF'>Tricarico (MT)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4201142</td>
<td style='background-color: #FFFFFF'>2022-06-02 00:00:00</td>
<td style='background-color: #FFFFFF'>V000136</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>145.208</td>
<td style='background-color: #FFFFFF'>1037.2</td>
<td style='background-color: #FFFFFF'>K001600</td>
<td style='background-color: #FFFFFF'>Andrulli Rita & C. SNC</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>75100</td>
<td style='background-color: #FFFFFF'>Matera</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4201381</td>
<td style='background-color: #FFFFFF'>2022-06-29 00:00:00</td>
<td style='background-color: #FFFFFF'>V000136</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>128.982</td>
<td style='background-color: #FFFFFF'>921.3</td>
<td style='background-color: #FFFFFF'>K005292</td>
<td style='background-color: #FFFFFF'>Marsicovetere Gift</td>
<td style='background-color: #FFFFFF'>di Giuseppe Marsicovetere</td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>85047</td>
<td style='background-color: #FFFFFF'>Moliterno (PZ)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4201457</td>
<td style='background-color: #FFFFFF'>2022-07-12 00:00:00</td>
<td style='background-color: #FFFFFF'>V000136</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>154.756</td>
<td style='background-color: #FFFFFF'>1105.4</td>
<td style='background-color: #FFFFFF'>K005062</td>
<td style='background-color: #FFFFFF'>Prestige</td>
<td style='background-color: #FFFFFF'>di Siciliano Teresa</td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>75019</td>
<td style='background-color: #FFFFFF'>Tricarico (MT)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4201474</td>
<td style='background-color: #FFFFFF'>2022-07-14 00:00:00</td>
<td style='background-color: #FFFFFF'>V000136</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>61.95</td>
<td style='background-color: #FFFFFF'>442.5</td>
<td style='background-color: #FFFFFF'>K003208</td>
<td style='background-color: #FFFFFF'>Cloé di de Scisciolo Claudia</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>70038</td>
<td style='background-color: #FFFFFF'>Terlizzi (BA)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4201526</td>
<td style='background-color: #FFFFFF'>2022-07-19 00:00:00</td>
<td style='background-color: #FFFFFF'>V000136</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>201.369</td>
<td style='background-color: #FFFFFF'>1438.35</td>
<td style='background-color: #FFFFFF'>K001994</td>
<td style='background-color: #FFFFFF'>De Carlo Lorenzo</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>85056</td>
<td style='background-color: #FFFFFF'>Ruoti (PZ)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4201538</td>
<td style='background-color: #FFFFFF'>2022-07-20 00:00:00</td>
<td style='background-color: #FFFFFF'>V000136</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>30.415</td>
<td style='background-color: #FFFFFF'>217.25</td>
<td style='background-color: #FFFFFF'>K006002</td>
<td style='background-color: #FFFFFF'>Nuovo Privilegi di</td>
<td style='background-color: #FFFFFF'>Giusy Masilla</td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>72020</td>
<td style='background-color: #FFFFFF'>Erchie (BR)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4201540</td>
<td style='background-color: #FFFFFF'>2022-07-20 00:00:00</td>
<td style='background-color: #FFFFFF'>V000136</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>127.918</td>
<td style='background-color: #FFFFFF'>913.7</td>
<td style='background-color: #FFFFFF'>K003557</td>
<td style='background-color: #FFFFFF'>Crystal 25 SRL</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>70033</td>
<td style='background-color: #FFFFFF'> Corato (BA)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4201999</td>
<td style='background-color: #FFFFFF'>2022-09-26 00:00:00</td>
<td style='background-color: #FFFFFF'>V000136</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>10.052</td>
<td style='background-color: #FFFFFF'>71.8</td>
<td style='background-color: #FFFFFF'>K005062</td>
<td style='background-color: #FFFFFF'>Prestige</td>
<td style='background-color: #FFFFFF'>di Siciliano Teresa</td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>75019</td>
<td style='background-color: #FFFFFF'>Tricarico (MT)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4202134</td>
<td style='background-color: #FFFFFF'>2022-10-14 00:00:00</td>
<td style='background-color: #FFFFFF'>V000136</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>15.582</td>
<td style='background-color: #FFFFFF'>111.3</td>
<td style='background-color: #FFFFFF'>K004611</td>
<td style='background-color: #FFFFFF'>Essenze e Cosmesi</td>
<td style='background-color: #FFFFFF'>di Scolamacchia Maria</td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>70032</td>
<td style='background-color: #FFFFFF'>Bitonto  (BA)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4202186</td>
<td style='background-color: #FFFFFF'>2022-10-21 00:00:00</td>
<td style='background-color: #FFFFFF'>V000136</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>52.206</td>
<td style='background-color: #FFFFFF'>372.9</td>
<td style='background-color: #FFFFFF'>K003208</td>
<td style='background-color: #FFFFFF'>Cloé di de Scisciolo Claudia</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>70038</td>
<td style='background-color: #FFFFFF'>Terlizzi (BA)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4202453</td>
<td style='background-color: #FFFFFF'>2022-11-30 00:00:00</td>
<td style='background-color: #FFFFFF'>V000136</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>62.804</td>
<td style='background-color: #FFFFFF'>448.6</td>
<td style='background-color: #FFFFFF'>K005062</td>
<td style='background-color: #FFFFFF'>Prestige</td>
<td style='background-color: #FFFFFF'>di Siciliano Teresa</td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>75019</td>
<td style='background-color: #FFFFFF'>Tricarico (MT)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202454</td>
<td style='background-color: #00FF00'>2022-11-30 00:00:00</td>
<td style='background-color: #00FF00'>V000136</td>
<td style='background-color: #00FF00'>14</td>
<td style='background-color: #00FF00'>147.028</td>
<td style='background-color: #00FF00'>1050.2</td>
<td style='background-color: #00FF00'>K001600</td>
<td style='background-color: #00FF00'>Andrulli Rita & C. SNC</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>75100</td>
<td style='background-color: #00FF00'>Matera</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>525</td>
<td style='background-color: #00FF00'>PARTIALLY PAID</td>
<td style='background-color: #00FF00'>73.5</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>06.02.2023,  525.0</td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4202455</td>
<td style='background-color: #FFFFFF'>2022-11-30 00:00:00</td>
<td style='background-color: #FFFFFF'>V000136</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>39.046</td>
<td style='background-color: #FFFFFF'>278.9</td>
<td style='background-color: #FFFFFF'>K004701</td>
<td style='background-color: #FFFFFF'>FANTASY GIFT di Calicchio Raffaele</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>70022</td>
<td style='background-color: #FFFFFF'>ALTAMURA (BA)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202475</td>
<td style='background-color: #00FF00'>2022-12-05 00:00:00</td>
<td style='background-color: #00FF00'>V000136</td>
<td style='background-color: #00FF00'>14</td>
<td style='background-color: #00FF00'>183.246</td>
<td style='background-color: #00FF00'>1308.9</td>
<td style='background-color: #00FF00'>K004488</td>
<td style='background-color: #00FF00'>Stampe & Colori</td>
<td style='background-color: #00FF00'>di Rosa Bilanzone</td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>76014</td>
<td style='background-color: #00FF00'>Spinazzola (BT)</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>808.9</td>
<td style='background-color: #00FF00'>PARTIALLY PAID</td>
<td style='background-color: #00FF00'>113.2</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>28.02.2023,  808.9</td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4202495</td>
<td style='background-color: #FFFFFF'>2022-12-06 00:00:00</td>
<td style='background-color: #FFFFFF'>V000136</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>117.53</td>
<td style='background-color: #FFFFFF'>839.5</td>
<td style='background-color: #FFFFFF'>K003557</td>
<td style='background-color: #FFFFFF'>Crystal 25 SRL</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>70033</td>
<td style='background-color: #FFFFFF'> Corato (BA)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300018</td>
<td style='background-color: #00FF00'>2023-01-10 00:00:00</td>
<td style='background-color: #00FF00'>V000136</td>
<td style='background-color: #00FF00'>14</td>
<td style='background-color: #00FF00'>57.848</td>
<td style='background-color: #00FF00'>413.2</td>
<td style='background-color: #00FF00'>K005292</td>
<td style='background-color: #00FF00'>Marsicovetere Gift</td>
<td style='background-color: #00FF00'>di Giuseppe Marsicovetere</td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>85047</td>
<td style='background-color: #00FF00'>Moliterno (PZ)</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>413.2</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #00FF00'>57.8</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>28.02.2023,  413.2</td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4300086</td>
<td style='background-color: #FFFFFF'>2023-01-23 00:00:00</td>
<td style='background-color: #FFFFFF'>V000136</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>51.751</td>
<td style='background-color: #FFFFFF'>369.65</td>
<td style='background-color: #FFFFFF'>K003208</td>
<td style='background-color: #FFFFFF'>Cloé di de Scisciolo Claudia</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>70038</td>
<td style='background-color: #FFFFFF'>Terlizzi (BA)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4300245</td>
<td style='background-color: #FFFFFF'>2023-02-16 00:00:00</td>
<td style='background-color: #FFFFFF'>V000136</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>17.976</td>
<td style='background-color: #FFFFFF'>128.4</td>
<td style='background-color: #FFFFFF'>K003208</td>
<td style='background-color: #FFFFFF'>Cloé di de Scisciolo Claudia</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>70038</td>
<td style='background-color: #FFFFFF'>Terlizzi (BA)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'>UNPAID</td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>All requested: </td>
<td style='background-color: #FFF300'>20956.4</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #68BF9D'>1747.1</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #68BF9D'>244.5</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
 </tbody>
                </table>