<meta charset="utf-8">
                 <table border="1" class="dataframe">
                             <thead>
                                 <tr style="text-align: right;">
<th style='background-color: #B0CBF0'>RK</th>
<th style='background-color: #B0CBF0'>GF-Nr</th>
<th style='background-color: #B0CBF0'>Datum</th>
<th style='background-color: #B0CBF0'>Vertreter</th>
<th style='background-color: #B0CBF0'>ProvProz</th>
<th style='background-color: #B0CBF0'>Provision</th>
<th style='background-color: #B0CBF0'>Summe</th>
<th style='background-color: #B0CBF0'>Lieferant</th>
<th style='background-color: #B0CBF0'>Lieferantenname</th>
<th style='background-color: #B0CBF0'>Name2</th>
<th style='background-color: #B0CBF0'>IntKz</th>
<th style='background-color: #B0CBF0'>PLZ Neu</th>
<th style='background-color: #B0CBF0'>Ort</th>
<th style='background-color: #FFFFFF'> </th>
<th style='background-color: #899EF0'>Paid amount</th>
<th style='background-color: #899EF0'>Payment status</th>
<th style='background-color: #899EF0'>Payment commission</th>
<th style='background-color: #899EF0'>Payments with Rest</th>
<th style='background-color: #899EF0'>Payments Dates</th>
</tr>
</thead>
                  <tbody><tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4200102</td>
<td style='background-color: #FFFFFF'>2022-01-18 00:00:00</td>
<td style='background-color: #FFFFFF'>V000157</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>191.744</td>
<td style='background-color: #FFFFFF'>1369.6</td>
<td style='background-color: #FFFFFF'>K003776</td>
<td style='background-color: #FFFFFF'>SATACO s.n.c</td>
<td style='background-color: #FFFFFF'>Gioielleria</td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>67051</td>
<td style='background-color: #FFFFFF'>Avezzano (AQ)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4200582</td>
<td style='background-color: #FFFFFF'>2022-03-23 00:00:00</td>
<td style='background-color: #FFFFFF'>V000157</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>220.108</td>
<td style='background-color: #FFFFFF'>1572.2</td>
<td style='background-color: #FFFFFF'>K003043</td>
<td style='background-color: #FFFFFF'>Casa in Centro di Marco di Florio</td>
<td style='background-color: #FFFFFF'>centro comm.le "Insieme"</td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>66050</td>
<td style='background-color: #FFFFFF'>San Salvo (CH)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4200662</td>
<td style='background-color: #FFFFFF'>2022-03-31 00:00:00</td>
<td style='background-color: #FFFFFF'>V000157</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>2.282</td>
<td style='background-color: #FFFFFF'>16.3</td>
<td style='background-color: #FFFFFF'>K003043</td>
<td style='background-color: #FFFFFF'>Casa in Centro di Marco di Florio</td>
<td style='background-color: #FFFFFF'>centro comm.le "Insieme"</td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>66050</td>
<td style='background-color: #FFFFFF'>San Salvo (CH)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4200672</td>
<td style='background-color: #FFFFFF'>2022-04-01 00:00:00</td>
<td style='background-color: #FFFFFF'>V000157</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>24.402</td>
<td style='background-color: #FFFFFF'>174.3</td>
<td style='background-color: #FFFFFF'>K003776</td>
<td style='background-color: #FFFFFF'>SATACO s.n.c</td>
<td style='background-color: #FFFFFF'>Gioielleria</td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>67051</td>
<td style='background-color: #FFFFFF'>Avezzano (AQ)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4200705</td>
<td style='background-color: #FFFFFF'>2022-04-06 00:00:00</td>
<td style='background-color: #FFFFFF'>V000157</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>78.89</td>
<td style='background-color: #FFFFFF'>563.5</td>
<td style='background-color: #FFFFFF'>K002786</td>
<td style='background-color: #FFFFFF'>Eventi di Daniela Di Matteo</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>64023</td>
<td style='background-color: #FFFFFF'>Mosciano Sant´Angelo (TE)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4200706</td>
<td style='background-color: #FFFFFF'>2022-04-06 00:00:00</td>
<td style='background-color: #FFFFFF'>V000157</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>356.244</td>
<td style='background-color: #FFFFFF'>2544.6</td>
<td style='background-color: #FFFFFF'>K003776</td>
<td style='background-color: #FFFFFF'>SATACO s.n.c</td>
<td style='background-color: #FFFFFF'>Gioielleria</td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>67051</td>
<td style='background-color: #FFFFFF'>Avezzano (AQ)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4200836</td>
<td style='background-color: #FFFFFF'>2022-04-21 00:00:00</td>
<td style='background-color: #FFFFFF'>V000157</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>65.268</td>
<td style='background-color: #FFFFFF'>466.2</td>
<td style='background-color: #FFFFFF'>K003043</td>
<td style='background-color: #FFFFFF'>Casa in Centro di Marco di Florio</td>
<td style='background-color: #FFFFFF'>centro comm.le "Insieme"</td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>66050</td>
<td style='background-color: #FFFFFF'>San Salvo (CH)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4200837</td>
<td style='background-color: #FFFFFF'>2022-04-21 00:00:00</td>
<td style='background-color: #FFFFFF'>V000157</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>37.926</td>
<td style='background-color: #FFFFFF'>270.9</td>
<td style='background-color: #FFFFFF'>K003776</td>
<td style='background-color: #FFFFFF'>SATACO s.n.c</td>
<td style='background-color: #FFFFFF'>Gioielleria</td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>67051</td>
<td style='background-color: #FFFFFF'>Avezzano (AQ)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4200998</td>
<td style='background-color: #FFFFFF'>2022-05-16 00:00:00</td>
<td style='background-color: #FFFFFF'>V000157</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>282.324</td>
<td style='background-color: #FFFFFF'>2016.6</td>
<td style='background-color: #FFFFFF'>K003776</td>
<td style='background-color: #FFFFFF'>SATACO s.n.c</td>
<td style='background-color: #FFFFFF'>Gioielleria</td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>67051</td>
<td style='background-color: #FFFFFF'>Avezzano (AQ)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4201003</td>
<td style='background-color: #FFFFFF'>2022-05-16 00:00:00</td>
<td style='background-color: #FFFFFF'>V000157</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>65.786</td>
<td style='background-color: #FFFFFF'>469.9</td>
<td style='background-color: #FFFFFF'>K005970</td>
<td style='background-color: #FFFFFF'>Il Melograno - Segreto Antico</td>
<td style='background-color: #FFFFFF'>di Subissati Ivana</td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>61037</td>
<td style='background-color: #FFFFFF'>Marotta di Mondolfo (PU)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4201072</td>
<td style='background-color: #FFFFFF'>2022-05-24 00:00:00</td>
<td style='background-color: #FFFFFF'>V000157</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>43.708</td>
<td style='background-color: #FFFFFF'>312.2</td>
<td style='background-color: #FFFFFF'>K003043</td>
<td style='background-color: #FFFFFF'>Casa in Centro di Marco di Florio</td>
<td style='background-color: #FFFFFF'>centro comm.le "Insieme"</td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>66050</td>
<td style='background-color: #FFFFFF'>San Salvo (CH)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4201078</td>
<td style='background-color: #FFF300'>2022-05-24 00:00:00</td>
<td style='background-color: #FFF300'>V000157</td>
<td style='background-color: #FFF300'>14</td>
<td style='background-color: #FFF300'>-23.394</td>
<td style='background-color: #FFF300'>-167.1</td>
<td style='background-color: #FFF300'>K003043</td>
<td style='background-color: #FFF300'>Casa in Centro di Marco di Florio</td>
<td style='background-color: #FFF300'>centro comm.le "Insieme"</td>
<td style='background-color: #FFF300'>IT</td>
<td style='background-color: #FFF300'>66050</td>
<td style='background-color: #FFF300'>San Salvo (CH)</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4201226</td>
<td style='background-color: #FFFFFF'>2022-06-10 00:00:00</td>
<td style='background-color: #FFFFFF'>V000157</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>109.312</td>
<td style='background-color: #FFFFFF'>780.8</td>
<td style='background-color: #FFFFFF'>K002786</td>
<td style='background-color: #FFFFFF'>Eventi di Daniela Di Matteo</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>64023</td>
<td style='background-color: #FFFFFF'>Mosciano Sant´Angelo (TE)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4201374</td>
<td style='background-color: #FFFFFF'>2022-06-28 00:00:00</td>
<td style='background-color: #FFFFFF'>V000157</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>3.262</td>
<td style='background-color: #FFFFFF'>23.3</td>
<td style='background-color: #FFFFFF'>K002786</td>
<td style='background-color: #FFFFFF'>Eventi di Daniela Di Matteo</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>64023</td>
<td style='background-color: #FFFFFF'>Mosciano Sant´Angelo (TE)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4201462</td>
<td style='background-color: #FFFFFF'>2022-07-12 00:00:00</td>
<td style='background-color: #FFFFFF'>V000157</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>127.932</td>
<td style='background-color: #FFFFFF'>913.8</td>
<td style='background-color: #FFFFFF'>K003776</td>
<td style='background-color: #FFFFFF'>SATACO s.n.c</td>
<td style='background-color: #FFFFFF'>Gioielleria</td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>67051</td>
<td style='background-color: #FFFFFF'>Avezzano (AQ)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4201477</td>
<td style='background-color: #FFFFFF'>2022-07-14 00:00:00</td>
<td style='background-color: #FFFFFF'>V000157</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>48.216</td>
<td style='background-color: #FFFFFF'>344.4</td>
<td style='background-color: #FFFFFF'>K005222</td>
<td style='background-color: #FFFFFF'>La Bottega Rosa snc</td>
<td style='background-color: #FFFFFF'>di Tarquinio Rosaria e Matteo M.</td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>65029</td>
<td style='background-color: #FFFFFF'>Torre de´ Passeri (PE)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202233</td>
<td style='background-color: #00FF00'>2022-10-31 00:00:00</td>
<td style='background-color: #00FF00'>V000157</td>
<td style='background-color: #00FF00'>14</td>
<td style='background-color: #00FF00'>433.748</td>
<td style='background-color: #00FF00'>3098.2</td>
<td style='background-color: #00FF00'>K003776</td>
<td style='background-color: #00FF00'>SATACO s.n.c</td>
<td style='background-color: #00FF00'>Gioielleria</td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>67051</td>
<td style='background-color: #00FF00'>Avezzano (AQ)</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>1549.1</td>
<td style='background-color: #00FF00'>PARTIALLY PAID</td>
<td style='background-color: #00FF00'>216.9</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>09.01.2023,  1549.1</td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202356</td>
<td style='background-color: #00FF00'>2022-11-17 00:00:00</td>
<td style='background-color: #00FF00'>V000157</td>
<td style='background-color: #00FF00'>14</td>
<td style='background-color: #00FF00'>140.742</td>
<td style='background-color: #00FF00'>1005.3</td>
<td style='background-color: #00FF00'>K003710</td>
<td style='background-color: #00FF00'>Pantaleoni Paola</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>61043</td>
<td style='background-color: #00FF00'>Cagli (PU)</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>1005.3</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #00FF00'>140.7</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>02.01.2023,  1005.3</td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4202357</td>
<td style='background-color: #FFFFFF'>2022-11-17 00:00:00</td>
<td style='background-color: #FFFFFF'>V000157</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>181.202</td>
<td style='background-color: #FFFFFF'>1294.3</td>
<td style='background-color: #FFFFFF'>K005970</td>
<td style='background-color: #FFFFFF'>Il Melograno - Segreto Antico</td>
<td style='background-color: #FFFFFF'>di Subissati Ivana</td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>61037</td>
<td style='background-color: #FFFFFF'>Marotta di Mondolfo (PU)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4202406</td>
<td style='background-color: #FFFFFF'>2022-11-25 00:00:00</td>
<td style='background-color: #FFFFFF'>V000157</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>104.734</td>
<td style='background-color: #FFFFFF'>748.1</td>
<td style='background-color: #FFFFFF'>K002786</td>
<td style='background-color: #FFFFFF'>Eventi di Daniela Di Matteo</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>64023</td>
<td style='background-color: #FFFFFF'>Mosciano Sant´Angelo (TE)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202463</td>
<td style='background-color: #00FF00'>2022-11-30 00:00:00</td>
<td style='background-color: #00FF00'>V000157</td>
<td style='background-color: #00FF00'>14</td>
<td style='background-color: #00FF00'>294.308</td>
<td style='background-color: #00FF00'>2102.2</td>
<td style='background-color: #00FF00'>K003776</td>
<td style='background-color: #00FF00'>SATACO s.n.c</td>
<td style='background-color: #00FF00'>Gioielleria</td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>67051</td>
<td style='background-color: #00FF00'>Avezzano (AQ)</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>2102.2</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #00FF00'>294.3</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>31.01.2023,  2102.2</td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202503</td>
<td style='background-color: #00FF00'>2022-12-06 00:00:00</td>
<td style='background-color: #00FF00'>V000157</td>
<td style='background-color: #00FF00'>14</td>
<td style='background-color: #00FF00'>272.37</td>
<td style='background-color: #00FF00'>1945.5</td>
<td style='background-color: #00FF00'>K003776</td>
<td style='background-color: #00FF00'>SATACO s.n.c</td>
<td style='background-color: #00FF00'>Gioielleria</td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>67051</td>
<td style='background-color: #00FF00'>Avezzano (AQ)</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>972.75</td>
<td style='background-color: #00FF00'>PARTIALLY PAID</td>
<td style='background-color: #00FF00'>136.2</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>31.01.2023,  972.8</td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>All requested: </td>
<td style='background-color: #FFF300'>21865.1</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #68BF9D'>5629.4</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #68BF9D'>788.1</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
 </tbody>
                </table>