{%extends 'base.html'%}
                        {% block content %}
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!--<link rel="stylesheet" type="text/css" href="normas.css">-->
<style>
    body{
        background-color: #d6e1f8;
         
    }
    th, td {
        border: 1px solid #ccc;
        
        text-align: center;
    }

    table {
   
        border-collapse: collapse !important; /* optional: collapse the table borders */
    }

    table tr {
        background-color: #8BC34A !important; /* Set background color of all rows */
    }

    table tr:hover td {
        background-color: #2196F3 !important; /* Set background color of cells when hovered */
    }

</style>
                 <table border="1" class="dataframe" style="width:100%;">
                             <thead>
                                 <tr style="text-align: right;">
<th style='background-color: #B0CBF0'>RK</th>
<th style='background-color: #B0CBF0'>GF-Nr</th>
<th style='background-color: #B0CBF0'>Data</th>
<th style='background-color: #B0CBF0'>Representante</th>
<th style='background-color: #B0CBF0'>Proviggioni </th>
<th style='background-color: #B0CBF0'>Proviggioni somma</th>
<th style='background-color: #B0CBF0'>Somme</th>
<th style='background-color: #B0CBF0'>Numero cliente</th>
<th style='background-color: #B0CBF0'>Nome cliente</th>
<th style='background-color: #B0CBF0'>Nome cliente 2</th>
<th style='background-color: #B0CBF0'>IntKz</th>
<th style='background-color: #B0CBF0'>CAP</th>
<th style='background-color: #B0CBF0'>Indirizzo</th>
<th style='background-color: #FFFFFF'> </th>
<th style='background-color: #899EF0'>Pagato</th>
<th style='background-color: #899EF0'>Stato pagamento</th>
<th style='background-color: #899EF0'>Proviggioni su pagato</th>
<th style='background-color: #899EF0'> </th>
<th style='background-color: #899EF0'>Data pagamento</th>
<th style='background-color: #FFFFFF'> </th>
<th style='background-color: #FFFFFF'> </th>
<th style='background-color: #FFFFFF'> </th>
<th style='background-color: #FFFFFF'> </th>
<th style='background-color: #FFFFFF'> </th>
</tr>
</thead>
                      <tbody><tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4200022</td>
<td style='background-color: #FFF300'>2022-01-10 00:00:00</td>
<td style='background-color: #FFF300'>V000122</td>
<td style='background-color: #FFF300'>14</td>
<td style='background-color: #FFF300'>-9.73</td>
<td style='background-color: #FFF300'>-69.5</td>
<td style='background-color: #FFF300'>K005890</td>
<td style='background-color: #FFF300'>SYRTIS SRL</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>IT</td>
<td style='background-color: #FFF300'>00071</td>
<td style='background-color: #FFF300'>Pomezia, Roma</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>NOTA DI CREDITO</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4200205</td>
<td style='background-color: #FFF300'>2022-01-30 00:00:00</td>
<td style='background-color: #FFF300'>V000122</td>
<td style='background-color: #FFF300'>14</td>
<td style='background-color: #FFF300'>-4.9504</td>
<td style='background-color: #FFF300'>-35.36</td>
<td style='background-color: #FFF300'>K005886</td>
<td style='background-color: #FFF300'>Sea s.r.l.s.</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>IT</td>
<td style='background-color: #FFF300'>00053</td>
<td style='background-color: #FFF300'>Civitavecchia</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>NOTA DI CREDITO</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4200236</td>
<td style='background-color: #FFF300'>2022-02-01 00:00:00</td>
<td style='background-color: #FFF300'>V000122</td>
<td style='background-color: #FFF300'>14</td>
<td style='background-color: #FFF300'>-314.2608</td>
<td style='background-color: #FFF300'>-2244.72</td>
<td style='background-color: #FFF300'>K004960</td>
<td style='background-color: #FFF300'>MACRO CONSULTING SRL</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>IT</td>
<td style='background-color: #FFF300'>03014</td>
<td style='background-color: #FFF300'>Fiuggi (FR)</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>NOTA DI CREDITO</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4200258</td>
<td style='background-color: #FFF300'>2022-02-04 00:00:00</td>
<td style='background-color: #FFF300'>V000122</td>
<td style='background-color: #FFF300'>14</td>
<td style='background-color: #FFF300'>-374.682</td>
<td style='background-color: #FFF300'>-2676.3</td>
<td style='background-color: #FFF300'>K005890</td>
<td style='background-color: #FFF300'>SYRTIS SRL</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>IT</td>
<td style='background-color: #FFF300'>00071</td>
<td style='background-color: #FFF300'>Pomezia, Roma</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>NOTA DI CREDITO</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4200288</td>
<td style='background-color: #FFF300'>2022-02-09 00:00:00</td>
<td style='background-color: #FFF300'>V000122</td>
<td style='background-color: #FFF300'>14</td>
<td style='background-color: #FFF300'>-29.694</td>
<td style='background-color: #FFF300'>-212.1</td>
<td style='background-color: #FFF300'>K005890</td>
<td style='background-color: #FFF300'>SYRTIS SRL</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>IT</td>
<td style='background-color: #FFF300'>00071</td>
<td style='background-color: #FFF300'>Pomezia, Roma</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>NOTA DI CREDITO</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4200707</td>
<td style='background-color: #FFF300'>2022-04-06 00:00:00</td>
<td style='background-color: #FFF300'>V000122</td>
<td style='background-color: #FFF300'>14</td>
<td style='background-color: #FFF300'>-29.638</td>
<td style='background-color: #FFF300'>-211.7</td>
<td style='background-color: #FFF300'>K005890</td>
<td style='background-color: #FFF300'>SYRTIS SRL</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>IT</td>
<td style='background-color: #FFF300'>00071</td>
<td style='background-color: #FFF300'>Pomezia, Roma</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>NOTA DI CREDITO</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4200902</td>
<td style='background-color: #FFF300'>2022-04-29 00:00:00</td>
<td style='background-color: #FFF300'>V000122</td>
<td style='background-color: #FFF300'>14</td>
<td style='background-color: #FFF300'>-284.9658</td>
<td style='background-color: #FFF300'>-2035.47</td>
<td style='background-color: #FFF300'>K004960</td>
<td style='background-color: #FFF300'>MACRO CONSULTING SRL</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>IT</td>
<td style='background-color: #FFF300'>03014</td>
<td style='background-color: #FFF300'>Fiuggi (FR)</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>NOTA DI CREDITO</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4201207</td>
<td style='background-color: #FFF300'>2022-06-09 00:00:00</td>
<td style='background-color: #FFF300'>V000122</td>
<td style='background-color: #FFF300'>14</td>
<td style='background-color: #FFF300'>-406.042</td>
<td style='background-color: #FFF300'>-2900.3</td>
<td style='background-color: #FFF300'>K005890</td>
<td style='background-color: #FFF300'>SYRTIS SRL</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>IT</td>
<td style='background-color: #FFF300'>00071</td>
<td style='background-color: #FFF300'>Pomezia, Roma</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>NOTA DI CREDITO</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4201419</td>
<td style='background-color: #FFF300'>2022-07-05 00:00:00</td>
<td style='background-color: #FFF300'>V000122</td>
<td style='background-color: #FFF300'>14</td>
<td style='background-color: #FFF300'>-17.038</td>
<td style='background-color: #FFF300'>-121.7</td>
<td style='background-color: #FFF300'>K005890</td>
<td style='background-color: #FFF300'>SYRTIS SRL</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>IT</td>
<td style='background-color: #FFF300'>00071</td>
<td style='background-color: #FFF300'>Pomezia, Roma</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>NOTA DI CREDITO</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4201528</td>
<td style='background-color: #00FF00'>2022-07-19 00:00:00</td>
<td style='background-color: #00FF00'>V000122</td>
<td style='background-color: #00FF00'>14</td>
<td style='background-color: #00FF00'>82.446</td>
<td style='background-color: #00FF00'>588.9</td>
<td style='background-color: #00FF00'>K005080</td>
<td style='background-color: #00FF00'>Argenteria Mancini</td>
<td style='background-color: #00FF00'>Di Rea Maria</td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>03036</td>
<td style='background-color: #00FF00'>Isola del Liri (Fr)</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>588.9</td>
<td style='background-color: #00FF00'>PAGATO</td>
<td style='background-color: #00FF00'>82.4</td>
<td style='background-color: #FFAB83'>17.01.2023,  1178</td>
<td style='background-color: #FFFFFF'>02.01.2023,  588.9</td>
<td style='background-color: #FFFFFF'>16.01.2023,  588.9</td>
<td style='background-color: #FFFFFF'>17.01.2023,  588.9</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202003</td>
<td style='background-color: #00FF00'>2022-09-26 00:00:00</td>
<td style='background-color: #00FF00'>V000122</td>
<td style='background-color: #00FF00'>14</td>
<td style='background-color: #00FF00'>523.978</td>
<td style='background-color: #00FF00'>3742.7</td>
<td style='background-color: #00FF00'>K005890</td>
<td style='background-color: #00FF00'>SYRTIS SRL</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>00071</td>
<td style='background-color: #00FF00'>Pomezia, Roma</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>1247.56</td>
<td style='background-color: #00FF00'>PAGAMENTO PARZIALE</td>
<td style='background-color: #00FF00'>174.7</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>13.01.2023,  1247.6</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202123</td>
<td style='background-color: #00FF00'>2022-10-12 00:00:00</td>
<td style='background-color: #00FF00'>V000122</td>
<td style='background-color: #00FF00'>14</td>
<td style='background-color: #00FF00'>46.144</td>
<td style='background-color: #00FF00'>329.6</td>
<td style='background-color: #00FF00'>K005890</td>
<td style='background-color: #00FF00'>SYRTIS SRL</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>00071</td>
<td style='background-color: #00FF00'>Pomezia, Roma</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>164.8</td>
<td style='background-color: #00FF00'>PAGAMENTO PARZIALE</td>
<td style='background-color: #00FF00'>23.1</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>13.01.2023,  164.8</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202188</td>
<td style='background-color: #00FF00'>2022-10-21 00:00:00</td>
<td style='background-color: #00FF00'>V000122</td>
<td style='background-color: #00FF00'>14</td>
<td style='background-color: #00FF00'>505.9138</td>
<td style='background-color: #00FF00'>3613.67</td>
<td style='background-color: #00FF00'>K004960</td>
<td style='background-color: #00FF00'>MACRO CONSULTING SRL</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>03014</td>
<td style='background-color: #00FF00'>Fiuggi (FR)</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>1806.84</td>
<td style='background-color: #00FF00'>PAGAMENTO PARZIALE</td>
<td style='background-color: #00FF00'>253</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>12.01.2023,  1806.8</td>
<td style='background-color: #FFFFFF'>31.01.2023,  0.0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202430</td>
<td style='background-color: #00FF00'>2022-11-29 00:00:00</td>
<td style='background-color: #00FF00'>V000122</td>
<td style='background-color: #00FF00'>14</td>
<td style='background-color: #00FF00'>366.002</td>
<td style='background-color: #00FF00'>2614.3</td>
<td style='background-color: #00FF00'>K005890</td>
<td style='background-color: #00FF00'>SYRTIS SRL</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>00071</td>
<td style='background-color: #00FF00'>Pomezia, Roma</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>2614.3</td>
<td style='background-color: #00FF00'>PAGATO</td>
<td style='background-color: #00FF00'>366</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>13.01.2023,  1307.2</td>
<td style='background-color: #FFFFFF'>31.01.2023,  1307.2</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202462</td>
<td style='background-color: #00FF00'>2022-11-30 00:00:00</td>
<td style='background-color: #00FF00'>V000122</td>
<td style='background-color: #00FF00'>14</td>
<td style='background-color: #00FF00'>1213.7832</td>
<td style='background-color: #00FF00'>8669.88</td>
<td style='background-color: #00FF00'>K004960</td>
<td style='background-color: #00FF00'>MACRO CONSULTING SRL</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>03014</td>
<td style='background-color: #00FF00'>Fiuggi (FR)</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>4000</td>
<td style='background-color: #00FF00'>PAGAMENTO PARZIALE</td>
<td style='background-color: #00FF00'>560</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>06.02.2023,  2000.0</td>
<td style='background-color: #FFFFFF'>06.03.2023,  2000.0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202469</td>
<td style='background-color: #00FF00'>2022-12-05 00:00:00</td>
<td style='background-color: #00FF00'>V000122</td>
<td style='background-color: #00FF00'>14</td>
<td style='background-color: #00FF00'>65.044</td>
<td style='background-color: #00FF00'>464.6</td>
<td style='background-color: #00FF00'>K002294</td>
<td style='background-color: #00FF00'>Piras Laura</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>00137</td>
<td style='background-color: #00FF00'>Roma</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>464.6</td>
<td style='background-color: #00FF00'>PAGATO</td>
<td style='background-color: #00FF00'>65</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>31.01.2023,  464.6</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202595</td>
<td style='background-color: #00FF00'>2022-12-15 00:00:00</td>
<td style='background-color: #00FF00'>V000122</td>
<td style='background-color: #00FF00'>14</td>
<td style='background-color: #00FF00'>1030.708</td>
<td style='background-color: #00FF00'>7362.2</td>
<td style='background-color: #00FF00'>K005890</td>
<td style='background-color: #00FF00'>SYRTIS SRL</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>00071</td>
<td style='background-color: #00FF00'>Pomezia, Roma</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>5521.7</td>
<td style='background-color: #00FF00'>PAGAMENTO PARZIALE</td>
<td style='background-color: #00FF00'>773.1</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>31.01.2023,  1840.5</td>
<td style='background-color: #FFFFFF'>01.03.2023,  1840.5</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4202619</td>
<td style='background-color: #FFF300'>2022-12-16 00:00:00</td>
<td style='background-color: #FFF300'>V000122</td>
<td style='background-color: #FFF300'>14</td>
<td style='background-color: #FFF300'>-9.212</td>
<td style='background-color: #FFF300'>-65.8</td>
<td style='background-color: #FFF300'>K005890</td>
<td style='background-color: #FFF300'>SYRTIS SRL</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>IT</td>
<td style='background-color: #FFF300'>00071</td>
<td style='background-color: #FFF300'>Pomezia, Roma</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>NOTA DI CREDITO</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202675</td>
<td style='background-color: #00FF00'>2022-12-21 00:00:00</td>
<td style='background-color: #00FF00'>V000122</td>
<td style='background-color: #00FF00'>14</td>
<td style='background-color: #00FF00'>19.04</td>
<td style='background-color: #00FF00'>136</td>
<td style='background-color: #00FF00'>K005890</td>
<td style='background-color: #00FF00'>SYRTIS SRL</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>00071</td>
<td style='background-color: #00FF00'>Pomezia, Roma</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>136</td>
<td style='background-color: #00FF00'>PAGATO</td>
<td style='background-color: #00FF00'>19</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>31.01.2023,  136.0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300008</td>
<td style='background-color: #00FF00'>2023-01-10 00:00:00</td>
<td style='background-color: #00FF00'>V000122</td>
<td style='background-color: #00FF00'>14</td>
<td style='background-color: #00FF00'>90.986</td>
<td style='background-color: #00FF00'>649.9</td>
<td style='background-color: #00FF00'>K002294</td>
<td style='background-color: #00FF00'>Piras Laura</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>00137</td>
<td style='background-color: #00FF00'>Roma</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>649.9</td>
<td style='background-color: #00FF00'>PAGATO</td>
<td style='background-color: #00FF00'>91</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>28.02.2023,  649.9</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4300030</td>
<td style='background-color: #FFF300'>2023-01-11 00:00:00</td>
<td style='background-color: #FFF300'>V000122</td>
<td style='background-color: #FFF300'>14</td>
<td style='background-color: #FFF300'>-4.732</td>
<td style='background-color: #FFF300'>-33.8</td>
<td style='background-color: #FFF300'>K005890</td>
<td style='background-color: #FFF300'>SYRTIS SRL</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>IT</td>
<td style='background-color: #FFF300'>00071</td>
<td style='background-color: #FFF300'>Pomezia, Roma</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>-33.8</td>
<td style='background-color: #FFF300'>NOTA DI CREDITO</td>
<td style='background-color: #FFF300'>-4.73</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4300109</td>
<td style='background-color: #FFF300'>2023-01-26 00:00:00</td>
<td style='background-color: #FFF300'>V000122</td>
<td style='background-color: #FFF300'>14</td>
<td style='background-color: #FFF300'>-4.718</td>
<td style='background-color: #FFF300'>-33.7</td>
<td style='background-color: #FFF300'>K005890</td>
<td style='background-color: #FFF300'>SYRTIS SRL</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>IT</td>
<td style='background-color: #FFF300'>00071</td>
<td style='background-color: #FFF300'>Pomezia, Roma</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>-33.7</td>
<td style='background-color: #FFF300'>NOTA DI CREDITO</td>
<td style='background-color: #FFF300'>-4.72</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4300167</td>
<td style='background-color: #FFF300'>2023-02-07 00:00:00</td>
<td style='background-color: #FFF300'>V000122</td>
<td style='background-color: #FFF300'>14</td>
<td style='background-color: #FFF300'>-1078.945</td>
<td style='background-color: #FFF300'>-7706.75</td>
<td style='background-color: #FFF300'>K004960</td>
<td style='background-color: #FFF300'>MACRO CONSULTING SRL</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>IT</td>
<td style='background-color: #FFF300'>03014</td>
<td style='background-color: #FFF300'>Fiuggi (FR)</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>NOTA DI CREDITO</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300168</td>
<td style='background-color: #00FF00'>2023-02-07 00:00:00</td>
<td style='background-color: #00FF00'>V000122</td>
<td style='background-color: #00FF00'>14</td>
<td style='background-color: #00FF00'>380.709</td>
<td style='background-color: #00FF00'>2719.35</td>
<td style='background-color: #00FF00'>K005890</td>
<td style='background-color: #00FF00'>SYRTIS SRL</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>00071</td>
<td style='background-color: #00FF00'>Pomezia, Roma</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>906.45</td>
<td style='background-color: #00FF00'>PAGAMENTO PARZIALE</td>
<td style='background-color: #00FF00'>126.9</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>13.04.2023,  906.5</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4300189</td>
<td style='background-color: #FFF300'>2023-02-10 00:00:00</td>
<td style='background-color: #FFF300'>V000122</td>
<td style='background-color: #FFF300'>14</td>
<td style='background-color: #FFF300'>-2.562</td>
<td style='background-color: #FFF300'>-18.3</td>
<td style='background-color: #FFF300'>K005890</td>
<td style='background-color: #FFF300'>SYRTIS SRL</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>IT</td>
<td style='background-color: #FFF300'>00071</td>
<td style='background-color: #FFF300'>Pomezia, Roma</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>-18.3</td>
<td style='background-color: #FFF300'>NOTA DI CREDITO</td>
<td style='background-color: #FFF300'>-2.56</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4300275</td>
<td style='background-color: #FFF300'>2023-02-27 00:00:00</td>
<td style='background-color: #FFF300'>V000122</td>
<td style='background-color: #FFF300'>14</td>
<td style='background-color: #FFF300'>-3.5</td>
<td style='background-color: #FFF300'>-25</td>
<td style='background-color: #FFF300'>K005890</td>
<td style='background-color: #FFF300'>SYRTIS SRL</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>IT</td>
<td style='background-color: #FFF300'>00071</td>
<td style='background-color: #FFF300'>Pomezia, Roma</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>-25</td>
<td style='background-color: #FFF300'>NOTA DI CREDITO</td>
<td style='background-color: #FFF300'>-3.5</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300311</td>
<td style='background-color: #00FF00'>2023-02-28 00:00:00</td>
<td style='background-color: #00FF00'>V000122</td>
<td style='background-color: #00FF00'>14</td>
<td style='background-color: #00FF00'>151.0894</td>
<td style='background-color: #00FF00'>1079.21</td>
<td style='background-color: #00FF00'>K005886</td>
<td style='background-color: #00FF00'>Sea s.r.l.s.</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>00053</td>
<td style='background-color: #00FF00'>Civitavecchia (RM)</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>1079.21</td>
<td style='background-color: #00FF00'>PAGATO</td>
<td style='background-color: #00FF00'>151.1</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>30.03.2023,  1079.2</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4300328</td>
<td style='background-color: #FFF300'>2023-03-06 00:00:00</td>
<td style='background-color: #FFF300'>V000122</td>
<td style='background-color: #FFF300'>14</td>
<td style='background-color: #FFF300'>-12.992</td>
<td style='background-color: #FFF300'>-92.8</td>
<td style='background-color: #FFF300'>K005890</td>
<td style='background-color: #FFF300'>SYRTIS SRL</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>IT</td>
<td style='background-color: #FFF300'>00071</td>
<td style='background-color: #FFF300'>Pomezia, Roma</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>-92.8</td>
<td style='background-color: #FFF300'>NOTA DI CREDITO</td>
<td style='background-color: #FFF300'>-12.99</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300417</td>
<td style='background-color: #00FF00'>2023-03-23 00:00:00</td>
<td style='background-color: #00FF00'>V000122</td>
<td style='background-color: #00FF00'>14</td>
<td style='background-color: #00FF00'>2.7132</td>
<td style='background-color: #00FF00'>19.38</td>
<td style='background-color: #00FF00'>K005886</td>
<td style='background-color: #00FF00'>Sea s.r.l.s.</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>00053</td>
<td style='background-color: #00FF00'>Civitavecchia (RM)</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>19.38</td>
<td style='background-color: #00FF00'>PAGATO</td>
<td style='background-color: #00FF00'>2.7</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>14.04.2023,  19.4</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300431</td>
<td style='background-color: #00FF00'>2023-03-28 00:00:00</td>
<td style='background-color: #00FF00'>V000122</td>
<td style='background-color: #00FF00'>14</td>
<td style='background-color: #00FF00'>36.596</td>
<td style='background-color: #00FF00'>261.4</td>
<td style='background-color: #00FF00'>K004908</td>
<td style='background-color: #00FF00'>Pampanini Rossi</td>
<td style='background-color: #00FF00'>di Umberto Rossi</td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>00060</td>
<td style='background-color: #00FF00'>Castelnuovo di Porto (RM)</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>261.4</td>
<td style='background-color: #00FF00'>PAGATO</td>
<td style='background-color: #00FF00'>36.6</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>30.03.2023,  261.4</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4300530</td>
<td style='background-color: #FFF300'>2023-04-11 00:00:00</td>
<td style='background-color: #FFF300'>V000122</td>
<td style='background-color: #FFF300'>14</td>
<td style='background-color: #FFF300'>-32.872</td>
<td style='background-color: #FFF300'>-234.8</td>
<td style='background-color: #FFF300'>K005890</td>
<td style='background-color: #FFF300'>SYRTIS SRL</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>IT</td>
<td style='background-color: #FFF300'>00071</td>
<td style='background-color: #FFF300'>Pomezia, Roma</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>-234.8</td>
<td style='background-color: #FFF300'>NOTA DI CREDITO</td>
<td style='background-color: #FFF300'>-32.87</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4300632</td>
<td style='background-color: #FFF300'>2023-04-25 00:00:00</td>
<td style='background-color: #FFF300'>V000122</td>
<td style='background-color: #FFF300'>14</td>
<td style='background-color: #FFF300'>-220.1668</td>
<td style='background-color: #FFF300'>-1572.62</td>
<td style='background-color: #FFF300'>K005890</td>
<td style='background-color: #FFF300'>SYRTIS SRL</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>IT</td>
<td style='background-color: #FFF300'>00071</td>
<td style='background-color: #FFF300'>Pomezia, Roma</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>-1572.6</td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFF300'>-220.17</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>All requested: </td>
<td style='background-color: #FFF300'>91367.9</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #68BF9D'>17450</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #68BF9D'>2443</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
 </tbody>
                </table>
                {% endblock %}