{%extends 'base.html'%}
                            {% block content %}     
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--<link rel="stylesheet" type="text/css" href="normas.css">-->
    <style>
        body{
            background-color: #d6e1f8;

        }
        th, td {
            border: 1px solid #ccc;

            text-align: center;
        }

        table {

            border-collapse: collapse !important; /* optional: collapse the table borders */
        }

        table tr {
            background-color: #8BC34A !important; /* Set background color of all rows */
        }

        table tr:hover td {
            background-color: #2196F3 !important; /* Set background color of cells when hovered */
        }

    </style>
                     <table border="1" class="dataframe" style="width:100%;">
                                 <thead>
                                     <tr style="text-align: right;">
<th style='background-color: #899EF0'>RK</th>
<th style='background-color: #899EF0'>GF-Nr</th>
<th style='background-color: #899EF0'>Datum</th>
<th style='background-color: #899EF0'>Vertreter</th>
<th style='background-color: #899EF0'>ProvProz</th>
<th style='background-color: #899EF0'>Provision</th>
<th style='background-color: #899EF0'>Summe</th>
<th style='background-color: #899EF0'>Lieferant</th>
<th style='background-color: #899EF0'>Lieferantenname</th>
<th style='background-color: #899EF0'>Name2</th>
<th style='background-color: #899EF0'>IntKz</th>
<th style='background-color: #899EF0'>PLZ Neu</th>
<th style='background-color: #899EF0'>Ort</th>
<th style='background-color: #899EF0'>s</th>
<th style='background-color: #899EF0'>Paid amount</th>
<th style='background-color: #899EF0'>Payment status</th>
<th style='background-color: #899EF0'>Payment commission</th>
<th style='background-color: #899EF0'>Payments with Rest</th>
<th style='background-color: #899EF0'>Payments Dates</th>
<th style='background-color: #FFFFFF'> </th>
<th style='background-color: #FFFFFF'> </th>
</tr>
</thead>
                          <tbody><tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300068</td>
<td style='background-color: #00FF00'>2023-01-19 00:00:00</td>
<td style='background-color: #00FF00'>V000093</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>166.686</td>
<td style='background-color: #00FF00'>1282.2</td>
<td style='background-color: #00FF00'>K002313</td>
<td style='background-color: #00FF00'>"SELECTION"</td>
<td style='background-color: #00FF00'>Maria Luisa Correal Delgado</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>29620</td>
<td style='background-color: #00FF00'>La Carihuela - Torremolinos - Malaga</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>1282.2</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>166.7</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>28.02.2023,  641.1</td>
<td style='background-color: #FFFFFF'>30.03.2023,  641.1</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300090</td>
<td style='background-color: #00FF00'>2023-01-24 00:00:00</td>
<td style='background-color: #00FF00'>V000093</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>287.5158</td>
<td style='background-color: #00FF00'>2211.66</td>
<td style='background-color: #00FF00'>K003186</td>
<td style='background-color: #00FF00'>Joyeria Armaan</td>
<td style='background-color: #00FF00'>Sunil C y Sunil C Sadhwani S.C</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>29640</td>
<td style='background-color: #00FF00'>Fuengirola, Malaga</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>2211.66</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>287.5</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>02.05.2023,  1105.8</td>
<td style='background-color: #FFFFFF'>31.05.2023,  1105.8</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300176</td>
<td style='background-color: #00FF00'>2023-02-08 00:00:00</td>
<td style='background-color: #00FF00'>V000093</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>91.8554</td>
<td style='background-color: #00FF00'>706.58</td>
<td style='background-color: #00FF00'>K003186</td>
<td style='background-color: #00FF00'>Joyeria Armaan</td>
<td style='background-color: #00FF00'>Sunil C y Sunil C Sadhwani S.C</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>29640</td>
<td style='background-color: #00FF00'>Fuengirola, Malaga</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>706.58</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>91.9</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>15.03.2023,  235.5</td>
<td style='background-color: #FFFFFF'>14.04.2023,  235.5</td>
<td style='background-color: #FFFFFF'>15.05.2023,  235.5</td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300177</td>
<td style='background-color: #00FF00'>2023-02-08 00:00:00</td>
<td style='background-color: #00FF00'>V000093</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>84.0866</td>
<td style='background-color: #00FF00'>646.82</td>
<td style='background-color: #00FF00'>K003186</td>
<td style='background-color: #00FF00'>Joyeria Armaan</td>
<td style='background-color: #00FF00'>Sunil C y Sunil C Sadhwani S.C</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>29640</td>
<td style='background-color: #00FF00'>Fuengirola, Malaga</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>646.82</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>84.1</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>15.05.2023,  323.4</td>
<td style='background-color: #FFFFFF'>15.06.2023,  323.4</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300179</td>
<td style='background-color: #00FF00'>2023-02-08 00:00:00</td>
<td style='background-color: #00FF00'>V000093</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>180.5154</td>
<td style='background-color: #00FF00'>1388.58</td>
<td style='background-color: #00FF00'>K003186</td>
<td style='background-color: #00FF00'>Joyeria Armaan</td>
<td style='background-color: #00FF00'>Sunil C y Sunil C Sadhwani S.C</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>29640</td>
<td style='background-color: #00FF00'>Fuengirola, Malaga</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>1388.58</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>180.5</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>15.05.2023,  694.3</td>
<td style='background-color: #FFFFFF'>15.06.2023,  694.3</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300377</td>
<td style='background-color: #00FF00'>2023-03-16 00:00:00</td>
<td style='background-color: #00FF00'>V000093</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>314.054</td>
<td style='background-color: #00FF00'>2415.8</td>
<td style='background-color: #00FF00'>K002313</td>
<td style='background-color: #00FF00'>"SELECTION"</td>
<td style='background-color: #00FF00'>Maria Luisa Correal Delgado</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>29620</td>
<td style='background-color: #00FF00'>La Carihuela - Torremolinos - Malaga</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>2415.8</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>314.1</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>02.05.2023,  1207.9</td>
<td style='background-color: #FFFFFF'>31.05.2023,  1207.9</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300511</td>
<td style='background-color: #00FF00'>2023-04-06 00:00:00</td>
<td style='background-color: #00FF00'>V000093</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>69.758</td>
<td style='background-color: #00FF00'>536.6</td>
<td style='background-color: #00FF00'>K002313</td>
<td style='background-color: #00FF00'>"SELECTION"</td>
<td style='background-color: #00FF00'>Maria Luisa Correal Delgado</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>29620</td>
<td style='background-color: #00FF00'>La Carihuela - Torremolinos - Malaga</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>536.6</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>69.8</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>15.05.2023,  268.3</td>
<td style='background-color: #FFFFFF'>15.06.2023,  268.3</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300569</td>
<td style='background-color: #00FF00'>2023-04-17 00:00:00</td>
<td style='background-color: #00FF00'>V000093</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>391.4547</td>
<td style='background-color: #00FF00'>3011.19</td>
<td style='background-color: #00FF00'>K003186</td>
<td style='background-color: #00FF00'>Joyeria Armaan</td>
<td style='background-color: #00FF00'>Sunil C y Sunil C Sadhwani S.C</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>29640</td>
<td style='background-color: #00FF00'>Fuengirola, Malaga</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>3011.19</td>
<td style='background-color: #00FF00'>PARTIALLY PAID</td>
<td style='background-color: #FFFFFF'>391.5</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>31.07.2023,  1505.6</td>
<td style='background-color: #FFFFFF'>31.08.2023,  1505.6</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300672</td>
<td style='background-color: #00FF00'>2023-04-28 00:00:00</td>
<td style='background-color: #00FF00'>V000093</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>49.803</td>
<td style='background-color: #00FF00'>383.1</td>
<td style='background-color: #00FF00'>K002313</td>
<td style='background-color: #00FF00'>"SELECTION"</td>
<td style='background-color: #00FF00'>Maria Luisa Correal Delgado</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>29620</td>
<td style='background-color: #00FF00'>La Carihuela - Torremolinos - Malaga</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>383.1</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>49.8</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>31.05.2023,  191.6</td>
<td style='background-color: #FFFFFF'>30.06.2023,  191.6</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300712</td>
<td style='background-color: #00FF00'>2023-05-08 00:00:00</td>
<td style='background-color: #00FF00'>V000093</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>749.2485</td>
<td style='background-color: #00FF00'>5763.45</td>
<td style='background-color: #00FF00'>K003186</td>
<td style='background-color: #00FF00'>Joyeria Armaan</td>
<td style='background-color: #00FF00'>Sunil C y Sunil C Sadhwani S.C</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>29640</td>
<td style='background-color: #00FF00'>Fuengirola, Malaga</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>5763.45</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>749.2</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>14.08.2023,  2881.7</td>
<td style='background-color: #FFFFFF'>15.09.2023,  2881.7</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4300776</td>
<td style='background-color: #FFFFFF'>2023-05-15 00:00:00</td>
<td style='background-color: #FFFFFF'>V000093</td>
<td style='background-color: #FFFFFF'>13</td>
<td style='background-color: #FFFFFF'>712.231</td>
<td style='background-color: #FFFFFF'>5478.7</td>
<td style='background-color: #FFFFFF'>K003186</td>
<td style='background-color: #FFFFFF'>Joyeria Armaan</td>
<td style='background-color: #FFFFFF'>Sunil C y Sunil C Sadhwani S.C</td>
<td style='background-color: #FFFFFF'>ES</td>
<td style='background-color: #FFFFFF'>29640</td>
<td style='background-color: #FFFFFF'>Fuengirola, Malaga</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'>UNPAID</td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300779</td>
<td style='background-color: #00FF00'>2023-05-15 00:00:00</td>
<td style='background-color: #00FF00'>V000093</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>79.43</td>
<td style='background-color: #00FF00'>611</td>
<td style='background-color: #00FF00'>K001892</td>
<td style='background-color: #00FF00'>ROMA LALCHAND</td>
<td style='background-color: #00FF00'>RAMCHADANI RAMCHADANI</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>29630</td>
<td style='background-color: #00FF00'>Benalmádena Costa, Puerto Marina</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>366.6</td>
<td style='background-color: #00FF00'>PARTIALLY PAID</td>
<td style='background-color: #FFFFFF'>47.7</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>13.07.2023,  366.6</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300825</td>
<td style='background-color: #00FF00'>2023-05-23 00:00:00</td>
<td style='background-color: #00FF00'>V000093</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>112.2394</td>
<td style='background-color: #00FF00'>863.38</td>
<td style='background-color: #00FF00'>K005236</td>
<td style='background-color: #00FF00'>SEANNA</td>
<td style='background-color: #00FF00'>Sachin Rajan Kirpalani</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>29630</td>
<td style='background-color: #00FF00'>Málaga</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>863.38</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>112.2</td>
<td style='background-color: #FFFFFF'>31.07.2023,  173</td>
<td style='background-color: #FFFFFF'>30.06.2023,  518.0</td>
<td style='background-color: #FFFFFF'>31.07.2023,  518.0</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300854</td>
<td style='background-color: #00FF00'>2023-05-25 00:00:00</td>
<td style='background-color: #00FF00'>V000093</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>204.23</td>
<td style='background-color: #00FF00'>1571</td>
<td style='background-color: #00FF00'>K002313</td>
<td style='background-color: #00FF00'>"SELECTION"</td>
<td style='background-color: #00FF00'>Maria Luisa Correal Delgado</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>29620</td>
<td style='background-color: #00FF00'>La Carihuela - Torremolinos - Malaga</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>1571</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>204.2</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>30.06.2023,  785.5</td>
<td style='background-color: #FFFFFF'>31.07.2023,  785.5</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4301000</td>
<td style='background-color: #FFF300'>2023-06-13 00:00:00</td>
<td style='background-color: #FFF300'>V000093</td>
<td style='background-color: #FFF300'>13</td>
<td style='background-color: #FFF300'>-712.231</td>
<td style='background-color: #FFF300'>-5478.7</td>
<td style='background-color: #FFF300'>K003186</td>
<td style='background-color: #FFF300'>Joyeria Armaan</td>
<td style='background-color: #FFF300'>Sunil C y Sunil C Sadhwani S.C</td>
<td style='background-color: #FFF300'>ES</td>
<td style='background-color: #FFF300'>29640</td>
<td style='background-color: #FFF300'>Fuengirola, Malaga</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4301091</td>
<td style='background-color: #00FF00'>2023-06-27 00:00:00</td>
<td style='background-color: #00FF00'>V000093</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>203.1445</td>
<td style='background-color: #00FF00'>1562.65</td>
<td style='background-color: #00FF00'>K003186</td>
<td style='background-color: #00FF00'>Joyeria Armaan</td>
<td style='background-color: #00FF00'>Sunil C y Sunil C Sadhwani S.C</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>29640</td>
<td style='background-color: #00FF00'>Fuengirola, Malaga</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>1562.65</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>203.1</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>02.10.2023,  781.3</td>
<td style='background-color: #FFFFFF'>30.10.2023,  781.3</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4301094</td>
<td style='background-color: #00FF00'>2023-06-27 00:00:00</td>
<td style='background-color: #00FF00'>V000093</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>218.1556</td>
<td style='background-color: #00FF00'>1678.12</td>
<td style='background-color: #00FF00'>K003186</td>
<td style='background-color: #00FF00'>Joyeria Armaan</td>
<td style='background-color: #00FF00'>Sunil C y Sunil C Sadhwani S.C</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>29640</td>
<td style='background-color: #00FF00'>Fuengirola, Malaga</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>1678.12</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>218.2</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>02.10.2023,  839.1</td>
<td style='background-color: #FFFFFF'>30.10.2023,  839.1</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4301129</td>
<td style='background-color: #00FF00'>2023-06-29 00:00:00</td>
<td style='background-color: #00FF00'>V000093</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>57.187</td>
<td style='background-color: #00FF00'>439.9</td>
<td style='background-color: #00FF00'>K005149</td>
<td style='background-color: #00FF00'>ALVAREZ JOYEROS S.C</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>29670</td>
<td style='background-color: #00FF00'>SAN PEDRO DE ALCANTARA MALAGA</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>439.9</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>57.2</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>31.07.2023,  439.9</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4301179</td>
<td style='background-color: #00FF00'>2023-07-06 00:00:00</td>
<td style='background-color: #00FF00'>V000093</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>142.415</td>
<td style='background-color: #00FF00'>1095.5</td>
<td style='background-color: #00FF00'>K002313</td>
<td style='background-color: #00FF00'>"SELECTION"</td>
<td style='background-color: #00FF00'>Maria Luisa Correal Delgado</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>29620</td>
<td style='background-color: #00FF00'>La Carihuela - Torremolinos - Malaga</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>1095.5</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>142.4</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>14.08.2023,  547.8</td>
<td style='background-color: #FFFFFF'>15.09.2023,  547.8</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4301192</td>
<td style='background-color: #00FF00'>2023-07-10 00:00:00</td>
<td style='background-color: #00FF00'>V000093</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>325.1911</td>
<td style='background-color: #00FF00'>2501.47</td>
<td style='background-color: #00FF00'>K003186</td>
<td style='background-color: #00FF00'>Joyeria Armaan</td>
<td style='background-color: #00FF00'>Sunil C y Sunil C Sadhwani S.C</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>29640</td>
<td style='background-color: #00FF00'>Fuengirola, Malaga</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>2501.47</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>325.2</td>
<td style='background-color: #FFFFFF'>15.11.2023,  0</td>
<td style='background-color: #FFFFFF'>16.10.2023,  1250.7</td>
<td style='background-color: #FFFFFF'>15.11.2023,  1250.7</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4301195</td>
<td style='background-color: #00FF00'>2023-07-11 00:00:00</td>
<td style='background-color: #00FF00'>V000093</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>16.185</td>
<td style='background-color: #00FF00'>124.5</td>
<td style='background-color: #00FF00'>K001892</td>
<td style='background-color: #00FF00'>ROMA LALCHAND</td>
<td style='background-color: #00FF00'>RAMCHADANI RAMCHADANI</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>29630</td>
<td style='background-color: #00FF00'>Benalmádena Costa, Puerto Marina</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>124.5</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>16.2</td>
<td style='background-color: #FFFFFF'>15.09.2023,  25</td>
<td style='background-color: #FFFFFF'>15.09.2023,  149.4</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4301218</td>
<td style='background-color: #FFF300'>2023-07-12 00:00:00</td>
<td style='background-color: #FFF300'>V000093</td>
<td style='background-color: #FFF300'>13</td>
<td style='background-color: #FFF300'>-30.9881</td>
<td style='background-color: #FFF300'>-238.37</td>
<td style='background-color: #FFF300'>K003186</td>
<td style='background-color: #FFF300'>Joyeria Armaan</td>
<td style='background-color: #FFF300'>Sunil C y Sunil C Sadhwani S.C</td>
<td style='background-color: #FFF300'>ES</td>
<td style='background-color: #FFF300'>29640</td>
<td style='background-color: #FFF300'>Fuengirola, Malaga</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4301327</td>
<td style='background-color: #00FF00'>2023-07-31 00:00:00</td>
<td style='background-color: #00FF00'>V000093</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>284.271</td>
<td style='background-color: #00FF00'>2186.7</td>
<td style='background-color: #00FF00'>K002313</td>
<td style='background-color: #00FF00'>"SELECTION"</td>
<td style='background-color: #00FF00'>Maria Luisa Correal Delgado</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>29620</td>
<td style='background-color: #00FF00'>La Carihuela - Torremolinos - Malaga</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>2186.7</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>284.3</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>15.09.2023,  1093.3</td>
<td style='background-color: #FFFFFF'>16.10.2023,  1093.3</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4301346</td>
<td style='background-color: #00FF00'>2023-07-31 00:00:00</td>
<td style='background-color: #00FF00'>V000093</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>38.779</td>
<td style='background-color: #00FF00'>298.3</td>
<td style='background-color: #00FF00'>K005092</td>
<td style='background-color: #00FF00'>ANTONIO RUIZ MUÑOZ</td>
<td style='background-color: #00FF00'>Viuda de Cipriano</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>29400</td>
<td style='background-color: #00FF00'>Ronda, Málaga</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>298.3</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>38.8</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>16.10.2023,  298.3</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4301441</td>
<td style='background-color: #00FF00'>2023-08-23 00:00:00</td>
<td style='background-color: #00FF00'>V000093</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>151.8205</td>
<td style='background-color: #00FF00'>1167.85</td>
<td style='background-color: #00FF00'>K003186</td>
<td style='background-color: #00FF00'>Joyeria Armaan</td>
<td style='background-color: #00FF00'>Sunil C y Sunil C Sadhwani S.C</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>29640</td>
<td style='background-color: #00FF00'>Fuengirola, Malaga</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>583.93</td>
<td style='background-color: #00FF00'>PARTIALLY PAID</td>
<td style='background-color: #FFFFFF'>75.9</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>30.11.2023,  583.9</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4301509</td>
<td style='background-color: #00FF00'>2023-09-06 00:00:00</td>
<td style='background-color: #00FF00'>V000093</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>43.992</td>
<td style='background-color: #00FF00'>338.4</td>
<td style='background-color: #00FF00'>K005236</td>
<td style='background-color: #00FF00'>SEANNA</td>
<td style='background-color: #00FF00'>Sachin Rajan Kirpalani</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>29630</td>
<td style='background-color: #00FF00'>Málaga</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>338.4</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>44</td>
<td style='background-color: #FFFFFF'>15.11.2023,  68</td>
<td style='background-color: #FFFFFF'>16.10.2023,  203.0</td>
<td style='background-color: #FFFFFF'>15.11.2023,  203.0</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4301554</td>
<td style='background-color: #00FF00'>2023-09-14 00:00:00</td>
<td style='background-color: #00FF00'>V000093</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>276.588</td>
<td style='background-color: #00FF00'>2127.6</td>
<td style='background-color: #00FF00'>K002313</td>
<td style='background-color: #00FF00'>"SELECTION"</td>
<td style='background-color: #00FF00'>Maria Luisa Correal Delgado</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>29620</td>
<td style='background-color: #00FF00'>La Carihuela - Torremolinos - Malaga</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>2127.6</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>276.6</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>16.10.2023,  1063.8</td>
<td style='background-color: #FFFFFF'>15.11.2023,  1063.8</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4301592</td>
<td style='background-color: #FFFFFF'>2023-09-22 00:00:00</td>
<td style='background-color: #FFFFFF'>V000093</td>
<td style='background-color: #FFFFFF'>13</td>
<td style='background-color: #FFFFFF'>378.911</td>
<td style='background-color: #FFFFFF'>2914.7</td>
<td style='background-color: #FFFFFF'>K003186</td>
<td style='background-color: #FFFFFF'>Joyeria Armaan</td>
<td style='background-color: #FFFFFF'>Sunil C y Sunil C Sadhwani S.C</td>
<td style='background-color: #FFFFFF'>ES</td>
<td style='background-color: #FFFFFF'>29640</td>
<td style='background-color: #FFFFFF'>Fuengirola, Malaga</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4301595</td>
<td style='background-color: #00FF00'>2023-09-25 00:00:00</td>
<td style='background-color: #00FF00'>V000093</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>61.633</td>
<td style='background-color: #00FF00'>474.1</td>
<td style='background-color: #00FF00'>K002313</td>
<td style='background-color: #00FF00'>"SELECTION"</td>
<td style='background-color: #00FF00'>Maria Luisa Correal Delgado</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>29620</td>
<td style='background-color: #00FF00'>La Carihuela - Torremolinos - Malaga</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>474.1</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>61.6</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>30.10.2023,  237.1</td>
<td style='background-color: #FFFFFF'>30.11.2023,  237.1</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4301651</td>
<td style='background-color: #00FF00'>2023-09-27 00:00:00</td>
<td style='background-color: #00FF00'>V000093</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>157.794</td>
<td style='background-color: #00FF00'>1213.8</td>
<td style='background-color: #00FF00'>K005092</td>
<td style='background-color: #00FF00'>ANTONIO RUIZ MUÑOZ</td>
<td style='background-color: #00FF00'>Viuda de Cipriano</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>29400</td>
<td style='background-color: #00FF00'>Ronda, Málaga</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>1213.8</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>157.8</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>30.11.2023,  1213.8</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4301688</td>
<td style='background-color: #FFFFFF'>2023-10-02 00:00:00</td>
<td style='background-color: #FFFFFF'>V000093</td>
<td style='background-color: #FFFFFF'>13</td>
<td style='background-color: #FFFFFF'>165.49</td>
<td style='background-color: #FFFFFF'>1273</td>
<td style='background-color: #FFFFFF'>K003186</td>
<td style='background-color: #FFFFFF'>Joyeria Armaan</td>
<td style='background-color: #FFFFFF'>Sunil C y Sunil C Sadhwani S.C</td>
<td style='background-color: #FFFFFF'>ES</td>
<td style='background-color: #FFFFFF'>29640</td>
<td style='background-color: #FFFFFF'>Fuengirola, Malaga</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4301752</td>
<td style='background-color: #00FF00'>2023-10-12 00:00:00</td>
<td style='background-color: #00FF00'>V000093</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>163.046</td>
<td style='background-color: #00FF00'>1254.2</td>
<td style='background-color: #00FF00'>K002313</td>
<td style='background-color: #00FF00'>"SELECTION"</td>
<td style='background-color: #00FF00'>Maria Luisa Correal Delgado</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>29620</td>
<td style='background-color: #00FF00'>La Carihuela - Torremolinos - Malaga</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>627.1</td>
<td style='background-color: #00FF00'>PARTIALLY PAID</td>
<td style='background-color: #FFFFFF'>81.5</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>15.11.2023,  627.1</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4301889</td>
<td style='background-color: #FFFFFF'>2023-11-06 00:00:00</td>
<td style='background-color: #FFFFFF'>V000093</td>
<td style='background-color: #FFFFFF'>13</td>
<td style='background-color: #FFFFFF'>29.731</td>
<td style='background-color: #FFFFFF'>228.7</td>
<td style='background-color: #FFFFFF'>K005149</td>
<td style='background-color: #FFFFFF'>ALVAREZ JOYEROS S.C</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>ES</td>
<td style='background-color: #FFFFFF'>29670</td>
<td style='background-color: #FFFFFF'>SAN PEDRO DE ALCANTARA MALAGA</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'>UNPAID</td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4301994</td>
<td style='background-color: #FFFFFF'>2023-11-21 00:00:00</td>
<td style='background-color: #FFFFFF'>V000093</td>
<td style='background-color: #FFFFFF'>13</td>
<td style='background-color: #FFFFFF'>226.239</td>
<td style='background-color: #FFFFFF'>1740.3</td>
<td style='background-color: #FFFFFF'>K002313</td>
<td style='background-color: #FFFFFF'>"SELECTION"</td>
<td style='background-color: #FFFFFF'>Maria Luisa Correal Delgado</td>
<td style='background-color: #FFFFFF'>ES</td>
<td style='background-color: #FFFFFF'>29620</td>
<td style='background-color: #FFFFFF'>La Carihuela - Torremolinos - Malaga</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4302012</td>
<td style='background-color: #FFFFFF'>2023-11-23 00:00:00</td>
<td style='background-color: #FFFFFF'>V000093</td>
<td style='background-color: #FFFFFF'>13</td>
<td style='background-color: #FFFFFF'>21.684</td>
<td style='background-color: #FFFFFF'>166.8</td>
<td style='background-color: #FFFFFF'>K005149</td>
<td style='background-color: #FFFFFF'>ALVAREZ JOYEROS S.C</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>ES</td>
<td style='background-color: #FFFFFF'>29670</td>
<td style='background-color: #FFFFFF'>SAN PEDRO DE ALCANTARA MALAGA</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4302067</td>
<td style='background-color: #FFFFFF'>2023-11-30 00:00:00</td>
<td style='background-color: #FFFFFF'>V000093</td>
<td style='background-color: #FFFFFF'>13</td>
<td style='background-color: #FFFFFF'>109.1597</td>
<td style='background-color: #FFFFFF'>839.69</td>
<td style='background-color: #FFFFFF'>K003186</td>
<td style='background-color: #FFFFFF'>Joyeria Armaan</td>
<td style='background-color: #FFFFFF'>Sunil C y Sunil C Sadhwani S.C</td>
<td style='background-color: #FFFFFF'>ES</td>
<td style='background-color: #FFFFFF'>29640</td>
<td style='background-color: #FFFFFF'>Fuengirola, Malaga</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>All paid amount</td>
<td style='background-color: #90EE90'>36664.1</td>
<td style='background-color: #FFFFFF'>All comissions</td>
<td style='background-color: #90EE90'>4766.33</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
 </tbody>
                    </table>
                    {% endblock %}