{%extends 'base.html'%}
                            {% block content %}     
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--<link rel="stylesheet" type="text/css" href="normas.css">-->
    <style>
        body{
            background-color: #d6e1f8;

        }
        th, td {
            border: 1px solid #ccc;

            text-align: center;
        }

        table {

            border-collapse: collapse !important; /* optional: collapse the table borders */
        }

        table tr {
            background-color: #8BC34A !important; /* Set background color of all rows */
        }

        table tr:hover td {
            background-color: #2196F3 !important; /* Set background color of cells when hovered */
        }

    </style>
                     <table border="1" class="dataframe" style="width:100%;">
                                 <thead>
                                     <tr style="text-align: right;">
<th style='background-color: #899EF0'>RK</th>
<th style='background-color: #899EF0'>GF-Nr</th>
<th style='background-color: #899EF0'>Datum</th>
<th style='background-color: #899EF0'>Vertreter</th>
<th style='background-color: #899EF0'>ProvProz</th>
<th style='background-color: #899EF0'>Provision</th>
<th style='background-color: #899EF0'>Summe</th>
<th style='background-color: #899EF0'>Lieferant</th>
<th style='background-color: #899EF0'>Lieferantenname</th>
<th style='background-color: #899EF0'>Name2</th>
<th style='background-color: #899EF0'>IntKz</th>
<th style='background-color: #899EF0'>PLZ Neu</th>
<th style='background-color: #899EF0'>Ort</th>
<th style='background-color: #899EF0'>s</th>
<th style='background-color: #899EF0'>Paid amount</th>
<th style='background-color: #899EF0'>Payment status</th>
<th style='background-color: #899EF0'>Payment commission</th>
<th style='background-color: #899EF0'>Payments with Rest</th>
<th style='background-color: #899EF0'>Payments Dates</th>
</tr>
</thead>
                          <tbody><tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4301000</td>
<td style='background-color: #FFF300'>2023-06-13</td>
<td style='background-color: #FFF300'>V000093</td>
<td style='background-color: #FFF300'>13</td>
<td style='background-color: #FFF300'>-712.231</td>
<td style='background-color: #FFF300'>-5478.7</td>
<td style='background-color: #FFF300'>K003186</td>
<td style='background-color: #FFF300'>Joyeria Armaan</td>
<td style='background-color: #FFF300'>Sunil C y Sunil C Sadhwani S.C</td>
<td style='background-color: #FFF300'>ES</td>
<td style='background-color: #FFF300'>29640</td>
<td style='background-color: #FFF300'>Fuengirola, Malaga</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4301192</td>
<td style='background-color: #00FF00'>2023-07-10</td>
<td style='background-color: #00FF00'>V000093</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>325.1911</td>
<td style='background-color: #00FF00'>2501.47</td>
<td style='background-color: #00FF00'>K003186</td>
<td style='background-color: #00FF00'>Joyeria Armaan</td>
<td style='background-color: #00FF00'>Sunil C y Sunil C Sadhwani S.C</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>29640</td>
<td style='background-color: #00FF00'>Fuengirola, Malaga</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>1250.7</td>
<td style='background-color: #00FF00'>PARTIALLY PAID</td>
<td style='background-color: #FFFFFF'>162.6</td>
<td style='background-color: #FFFFFF'>15.11.2023,  0</td>
<td style='background-color: #FFFFFF'>15.11.2023,  1250.7</td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4301218</td>
<td style='background-color: #FFF300'>2023-07-12</td>
<td style='background-color: #FFF300'>V000093</td>
<td style='background-color: #FFF300'>13</td>
<td style='background-color: #FFF300'>-30.9881</td>
<td style='background-color: #FFF300'>-238.37</td>
<td style='background-color: #FFF300'>K003186</td>
<td style='background-color: #FFF300'>Joyeria Armaan</td>
<td style='background-color: #FFF300'>Sunil C y Sunil C Sadhwani S.C</td>
<td style='background-color: #FFF300'>ES</td>
<td style='background-color: #FFF300'>29640</td>
<td style='background-color: #FFF300'>Fuengirola, Malaga</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4301441</td>
<td style='background-color: #00FF00'>2023-08-23</td>
<td style='background-color: #00FF00'>V000093</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>151.8205</td>
<td style='background-color: #00FF00'>1167.85</td>
<td style='background-color: #00FF00'>K003186</td>
<td style='background-color: #00FF00'>Joyeria Armaan</td>
<td style='background-color: #00FF00'>Sunil C y Sunil C Sadhwani S.C</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>29640</td>
<td style='background-color: #00FF00'>Fuengirola, Malaga</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>583.9</td>
<td style='background-color: #00FF00'>PARTIALLY PAID</td>
<td style='background-color: #FFFFFF'>75.9</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>30.11.2023,  583.9</td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4301509</td>
<td style='background-color: #00FF00'>2023-09-06</td>
<td style='background-color: #00FF00'>V000093</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>43.992</td>
<td style='background-color: #00FF00'>338.4</td>
<td style='background-color: #00FF00'>K005236</td>
<td style='background-color: #00FF00'>SEANNA</td>
<td style='background-color: #00FF00'>Sachin Rajan Kirpalani</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>29630</td>
<td style='background-color: #00FF00'>Málaga</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>203</td>
<td style='background-color: #00FF00'>PARTIALLY PAID</td>
<td style='background-color: #FFFFFF'>26.4</td>
<td style='background-color: #FFFFFF'>15.11.2023,  68</td>
<td style='background-color: #FFFFFF'>15.11.2023,  203.0</td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4301554</td>
<td style='background-color: #00FF00'>2023-09-14</td>
<td style='background-color: #00FF00'>V000093</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>276.588</td>
<td style='background-color: #00FF00'>2127.6</td>
<td style='background-color: #00FF00'>K002313</td>
<td style='background-color: #00FF00'>"SELECTION"</td>
<td style='background-color: #00FF00'>Maria Luisa Correal Delgado</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>29620</td>
<td style='background-color: #00FF00'>La Carihuela - Torremolinos - Malaga</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>1063.8</td>
<td style='background-color: #00FF00'>PARTIALLY PAID</td>
<td style='background-color: #FFFFFF'>138.3</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>15.11.2023,  1063.8</td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4301595</td>
<td style='background-color: #00FF00'>2023-09-25</td>
<td style='background-color: #00FF00'>V000093</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>61.633</td>
<td style='background-color: #00FF00'>474.1</td>
<td style='background-color: #00FF00'>K002313</td>
<td style='background-color: #00FF00'>"SELECTION"</td>
<td style='background-color: #00FF00'>Maria Luisa Correal Delgado</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>29620</td>
<td style='background-color: #00FF00'>La Carihuela - Torremolinos - Malaga</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>237.1</td>
<td style='background-color: #00FF00'>PARTIALLY PAID</td>
<td style='background-color: #FFFFFF'>30.8</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>30.11.2023,  237.1</td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4301651</td>
<td style='background-color: #00FF00'>2023-09-27</td>
<td style='background-color: #00FF00'>V000093</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>157.794</td>
<td style='background-color: #00FF00'>1213.8</td>
<td style='background-color: #00FF00'>K005092</td>
<td style='background-color: #00FF00'>ANTONIO RUIZ MUÑOZ</td>
<td style='background-color: #00FF00'>Viuda de Cipriano</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>29400</td>
<td style='background-color: #00FF00'>Ronda, Málaga</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>1213.8</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>157.8</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>30.11.2023,  1213.8</td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4301752</td>
<td style='background-color: #00FF00'>2023-10-12</td>
<td style='background-color: #00FF00'>V000093</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>163.046</td>
<td style='background-color: #00FF00'>1254.2</td>
<td style='background-color: #00FF00'>K002313</td>
<td style='background-color: #00FF00'>"SELECTION"</td>
<td style='background-color: #00FF00'>Maria Luisa Correal Delgado</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>29620</td>
<td style='background-color: #00FF00'>La Carihuela - Torremolinos - Malaga</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>627.1</td>
<td style='background-color: #00FF00'>PARTIALLY PAID</td>
<td style='background-color: #FFFFFF'>81.5</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>15.11.2023,  627.1</td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>All paid amount</td>
<td style='background-color: #90EE90'>5179.4</td>
<td style='background-color: #FFFFFF'>All comissions</td>
<td style='background-color: #90EE90'>673.32</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
 </tbody>
                    </table>
                    {% endblock %}