<meta charset="utf-8">
                 <table border="1" class="dataframe">
                             <thead>
                                 <tr style="text-align: right;">
<th style='background-color: #B0CBF0'>RK</th>
<th style='background-color: #B0CBF0'>GF-Nr</th>
<th style='background-color: #B0CBF0'>Datum</th>
<th style='background-color: #B0CBF0'>Vertreter</th>
<th style='background-color: #B0CBF0'>ProvProz</th>
<th style='background-color: #B0CBF0'>Provision</th>
<th style='background-color: #B0CBF0'>Summe</th>
<th style='background-color: #B0CBF0'>Lieferant</th>
<th style='background-color: #B0CBF0'>Lieferantenname</th>
<th style='background-color: #B0CBF0'>Name2</th>
<th style='background-color: #B0CBF0'>IntKz</th>
<th style='background-color: #B0CBF0'>PLZ Neu</th>
<th style='background-color: #B0CBF0'>Ort</th>
<th style='background-color: #FFFFFF'> </th>
<th style='background-color: #899EF0'>Paid amount</th>
<th style='background-color: #899EF0'>Payment status</th>
<th style='background-color: #899EF0'>Payment commission</th>
<th style='background-color: #899EF0'>Payments with Rest</th>
<th style='background-color: #899EF0'>Payments Dates</th>
<th style='background-color: #FFFFFF'> </th>
</tr>
</thead>
                  <tbody><tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4200117</td>
<td style='background-color: #FFFFFF'>2022-01-20 00:00:00</td>
<td style='background-color: #FFFFFF'>V000017</td>
<td style='background-color: #FFFFFF'>15</td>
<td style='background-color: #FFFFFF'>114.075</td>
<td style='background-color: #FFFFFF'>760.5</td>
<td style='background-color: #FFFFFF'>K004163</td>
<td style='background-color: #FFFFFF'>Vaccari Maria Luisa</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>15057</td>
<td style='background-color: #FFFFFF'>Tortona (AL)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4200121</td>
<td style='background-color: #FFFFFF'>2022-01-20 00:00:00</td>
<td style='background-color: #FFFFFF'>V000017</td>
<td style='background-color: #FFFFFF'>15</td>
<td style='background-color: #FFFFFF'>157.395</td>
<td style='background-color: #FFFFFF'>1049.3</td>
<td style='background-color: #FFFFFF'>K004494</td>
<td style='background-color: #FFFFFF'>PRANDI SNC</td>
<td style='background-color: #FFFFFF'>di Burocco Alberto e Prandi Simona</td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>13100</td>
<td style='background-color: #FFFFFF'>Vercelli (VC)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4200225</td>
<td style='background-color: #FFFFFF'>2022-02-01 00:00:00</td>
<td style='background-color: #FFFFFF'>V000017</td>
<td style='background-color: #FFFFFF'>15</td>
<td style='background-color: #FFFFFF'>12.81</td>
<td style='background-color: #FFFFFF'>85.4</td>
<td style='background-color: #FFFFFF'>K004163</td>
<td style='background-color: #FFFFFF'>Vaccari Maria Luisa</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>15057</td>
<td style='background-color: #FFFFFF'>Tortona (AL)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4200226</td>
<td style='background-color: #FFFFFF'>2022-02-01 00:00:00</td>
<td style='background-color: #FFFFFF'>V000017</td>
<td style='background-color: #FFFFFF'>15</td>
<td style='background-color: #FFFFFF'>77.925</td>
<td style='background-color: #FFFFFF'>519.5</td>
<td style='background-color: #FFFFFF'>K000175</td>
<td style='background-color: #FFFFFF'>Trussardi Bambina</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>11029</td>
<td style='background-color: #FFFFFF'>Verres (AO)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4200232</td>
<td style='background-color: #FFFFFF'>2022-02-01 00:00:00</td>
<td style='background-color: #FFFFFF'>V000017</td>
<td style='background-color: #FFFFFF'>15</td>
<td style='background-color: #FFFFFF'>131.145</td>
<td style='background-color: #FFFFFF'>874.3</td>
<td style='background-color: #FFFFFF'>K004412</td>
<td style='background-color: #FFFFFF'>RAFFO CRISTINA</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>15076</td>
<td style='background-color: #FFFFFF'>Ovada (AL)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4200249</td>
<td style='background-color: #00FF00'>2022-02-03 00:00:00</td>
<td style='background-color: #00FF00'>V000017</td>
<td style='background-color: #00FF00'>15</td>
<td style='background-color: #00FF00'>45.39</td>
<td style='background-color: #00FF00'>302.6</td>
<td style='background-color: #00FF00'>K002582</td>
<td style='background-color: #00FF00'>Collini Roberto</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>15069</td>
<td style='background-color: #00FF00'>Serravalle Scrivia (AL)</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>302.6</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #00FF00'>45.4</td>
<td style='background-color: #FFAB83'>22.02.2023,  1931</td>
<td style='background-color: #FFFFFF'>22.02.2023,  2122.3</td>
<td style='background-color: #FFFFFF'>22.02.2023,  111.7</td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4200267</td>
<td style='background-color: #FFFFFF'>2022-02-07 00:00:00</td>
<td style='background-color: #FFFFFF'>V000017</td>
<td style='background-color: #FFFFFF'>15</td>
<td style='background-color: #FFFFFF'>50.685</td>
<td style='background-color: #FFFFFF'>337.9</td>
<td style='background-color: #FFFFFF'>K001048</td>
<td style='background-color: #FFFFFF'>Ruga Gian Giulio e C. SNC</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>28024</td>
<td style='background-color: #FFFFFF'>Gozzano - Novara</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4200483</td>
<td style='background-color: #FFFFFF'>2022-03-09 00:00:00</td>
<td style='background-color: #FFFFFF'>V000017</td>
<td style='background-color: #FFFFFF'>15</td>
<td style='background-color: #FFFFFF'>710.805</td>
<td style='background-color: #FFFFFF'>4738.7</td>
<td style='background-color: #FFFFFF'>K004494</td>
<td style='background-color: #FFFFFF'>PRANDI SNC</td>
<td style='background-color: #FFFFFF'>di Burocco Alberto e Prandi Simona</td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>13100</td>
<td style='background-color: #FFFFFF'>Vercelli (VC)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4200665</td>
<td style='background-color: #FFFFFF'>2022-04-01 00:00:00</td>
<td style='background-color: #FFFFFF'>V000017</td>
<td style='background-color: #FFFFFF'>15</td>
<td style='background-color: #FFFFFF'>188.5125</td>
<td style='background-color: #FFFFFF'>1256.75</td>
<td style='background-color: #FFFFFF'>K004412</td>
<td style='background-color: #FFFFFF'>RAFFO CRISTINA</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>15076</td>
<td style='background-color: #FFFFFF'>Ovada (AL)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4200670</td>
<td style='background-color: #FFFFFF'>2022-04-01 00:00:00</td>
<td style='background-color: #FFFFFF'>V000017</td>
<td style='background-color: #FFFFFF'>15</td>
<td style='background-color: #FFFFFF'>22.455</td>
<td style='background-color: #FFFFFF'>149.7</td>
<td style='background-color: #FFFFFF'>K004494</td>
<td style='background-color: #FFFFFF'>PRANDI SNC</td>
<td style='background-color: #FFFFFF'>di Burocco Alberto e Prandi Simona</td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>13100</td>
<td style='background-color: #FFFFFF'>Vercelli (VC)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4200827</td>
<td style='background-color: #FFFFFF'>2022-04-21 00:00:00</td>
<td style='background-color: #FFFFFF'>V000017</td>
<td style='background-color: #FFFFFF'>15</td>
<td style='background-color: #FFFFFF'>70.08</td>
<td style='background-color: #FFFFFF'>467.2</td>
<td style='background-color: #FFFFFF'>K004494</td>
<td style='background-color: #FFFFFF'>PRANDI SNC</td>
<td style='background-color: #FFFFFF'>di Burocco Alberto e Prandi Simona</td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>13100</td>
<td style='background-color: #FFFFFF'>Vercelli (VC)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4200923</td>
<td style='background-color: #FFFFFF'>2022-05-03 00:00:00</td>
<td style='background-color: #FFFFFF'>V000017</td>
<td style='background-color: #FFFFFF'>15</td>
<td style='background-color: #FFFFFF'>22.47</td>
<td style='background-color: #FFFFFF'>149.8</td>
<td style='background-color: #FFFFFF'>K005133</td>
<td style='background-color: #FFFFFF'>Charlot di Brusati Martina</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>28043</td>
<td style='background-color: #FFFFFF'>Bellinzago Novarese (NO)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4200959</td>
<td style='background-color: #FFFFFF'>2022-05-09 00:00:00</td>
<td style='background-color: #FFFFFF'>V000017</td>
<td style='background-color: #FFFFFF'>15</td>
<td style='background-color: #FFFFFF'>54.24</td>
<td style='background-color: #FFFFFF'>361.6</td>
<td style='background-color: #FFFFFF'>K000175</td>
<td style='background-color: #FFFFFF'>Trussardi Bambina</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>11029</td>
<td style='background-color: #FFFFFF'>Verres (AO)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4200971</td>
<td style='background-color: #FFFFFF'>2022-05-11 00:00:00</td>
<td style='background-color: #FFFFFF'>V000017</td>
<td style='background-color: #FFFFFF'>15</td>
<td style='background-color: #FFFFFF'>149.34</td>
<td style='background-color: #FFFFFF'>995.6</td>
<td style='background-color: #FFFFFF'>K004412</td>
<td style='background-color: #FFFFFF'>RAFFO CRISTINA</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>15076</td>
<td style='background-color: #FFFFFF'>Ovada (AL)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4200990</td>
<td style='background-color: #FFFFFF'>2022-05-13 00:00:00</td>
<td style='background-color: #FFFFFF'>V000017</td>
<td style='background-color: #FFFFFF'>15</td>
<td style='background-color: #FFFFFF'>32.88</td>
<td style='background-color: #FFFFFF'>219.2</td>
<td style='background-color: #FFFFFF'>K004163</td>
<td style='background-color: #FFFFFF'>Vaccari Maria Luisa</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>15057</td>
<td style='background-color: #FFFFFF'>Tortona (AL)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4201024</td>
<td style='background-color: #FFFFFF'>2022-05-18 00:00:00</td>
<td style='background-color: #FFFFFF'>V000017</td>
<td style='background-color: #FFFFFF'>15</td>
<td style='background-color: #FFFFFF'>186.945</td>
<td style='background-color: #FFFFFF'>1246.3</td>
<td style='background-color: #FFFFFF'>K001949</td>
<td style='background-color: #FFFFFF'>Ellena di Ellena Gugliemo e C. SNC</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>14143</td>
<td style='background-color: #FFFFFF'>Torino</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4201090</td>
<td style='background-color: #FFFFFF'>2022-05-25 00:00:00</td>
<td style='background-color: #FFFFFF'>V000017</td>
<td style='background-color: #FFFFFF'>15</td>
<td style='background-color: #FFFFFF'>29.295</td>
<td style='background-color: #FFFFFF'>195.3</td>
<td style='background-color: #FFFFFF'>K004412</td>
<td style='background-color: #FFFFFF'>RAFFO CRISTINA</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>15076</td>
<td style='background-color: #FFFFFF'>Ovada (AL)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4201289</td>
<td style='background-color: #FFFFFF'>2022-06-20 00:00:00</td>
<td style='background-color: #FFFFFF'>V000017</td>
<td style='background-color: #FFFFFF'>15</td>
<td style='background-color: #FFFFFF'>61.605</td>
<td style='background-color: #FFFFFF'>410.7</td>
<td style='background-color: #FFFFFF'>K000175</td>
<td style='background-color: #FFFFFF'>Trussardi Bambina</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>11029</td>
<td style='background-color: #FFFFFF'>Verres (AO)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4201360</td>
<td style='background-color: #FFFFFF'>2022-06-27 00:00:00</td>
<td style='background-color: #FFFFFF'>V000017</td>
<td style='background-color: #FFFFFF'>15</td>
<td style='background-color: #FFFFFF'>71.145</td>
<td style='background-color: #FFFFFF'>474.3</td>
<td style='background-color: #FFFFFF'>K000175</td>
<td style='background-color: #FFFFFF'>Trussardi Bambina</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>11029</td>
<td style='background-color: #FFFFFF'>Verres (AO)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4201404</td>
<td style='background-color: #FFFFFF'>2022-07-01 00:00:00</td>
<td style='background-color: #FFFFFF'>V000017</td>
<td style='background-color: #FFFFFF'>15</td>
<td style='background-color: #FFFFFF'>61.71</td>
<td style='background-color: #FFFFFF'>411.4</td>
<td style='background-color: #FFFFFF'>K004494</td>
<td style='background-color: #FFFFFF'>PRANDI SNC</td>
<td style='background-color: #FFFFFF'>di Burocco Alberto e Prandi Simona</td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>13100</td>
<td style='background-color: #FFFFFF'>Vercelli (VC)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4201521</td>
<td style='background-color: #FFFFFF'>2022-07-19 00:00:00</td>
<td style='background-color: #FFFFFF'>V000017</td>
<td style='background-color: #FFFFFF'>15</td>
<td style='background-color: #FFFFFF'>29.13</td>
<td style='background-color: #FFFFFF'>194.2</td>
<td style='background-color: #FFFFFF'>K002582</td>
<td style='background-color: #FFFFFF'>Collini Roberto</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>15069</td>
<td style='background-color: #FFFFFF'>Serravalle Scrivia (AL)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4201579</td>
<td style='background-color: #FFF300'>2022-07-25 00:00:00</td>
<td style='background-color: #FFF300'>V000017</td>
<td style='background-color: #FFF300'>15</td>
<td style='background-color: #FFF300'>-56.055</td>
<td style='background-color: #FFF300'>-373.7</td>
<td style='background-color: #FFF300'>K000175</td>
<td style='background-color: #FFF300'>Trussardi Bambina</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>IT</td>
<td style='background-color: #FFF300'>11029</td>
<td style='background-color: #FFF300'>Verres (AO)</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4201596</td>
<td style='background-color: #FFFFFF'>2022-07-27 00:00:00</td>
<td style='background-color: #FFFFFF'>V000017</td>
<td style='background-color: #FFFFFF'>15</td>
<td style='background-color: #FFFFFF'>52.365</td>
<td style='background-color: #FFFFFF'>349.1</td>
<td style='background-color: #FFFFFF'>K004412</td>
<td style='background-color: #FFFFFF'>RAFFO CRISTINA</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>15076</td>
<td style='background-color: #FFFFFF'>Ovada (AL)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4201784</td>
<td style='background-color: #FFFFFF'>2022-08-22 00:00:00</td>
<td style='background-color: #FFFFFF'>V000017</td>
<td style='background-color: #FFFFFF'>15</td>
<td style='background-color: #FFFFFF'>30.3075</td>
<td style='background-color: #FFFFFF'>202.05</td>
<td style='background-color: #FFFFFF'>K004163</td>
<td style='background-color: #FFFFFF'>Vaccari Maria Luisa</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>15057</td>
<td style='background-color: #FFFFFF'>Tortona (AL)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4201888</td>
<td style='background-color: #FFFFFF'>2022-09-05 00:00:00</td>
<td style='background-color: #FFFFFF'>V000017</td>
<td style='background-color: #FFFFFF'>15</td>
<td style='background-color: #FFFFFF'>60.3</td>
<td style='background-color: #FFFFFF'>402</td>
<td style='background-color: #FFFFFF'>K000175</td>
<td style='background-color: #FFFFFF'>Trussardi Bambina</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>11029</td>
<td style='background-color: #FFFFFF'>Verres (AO)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4201918</td>
<td style='background-color: #FFFFFF'>2022-09-09 00:00:00</td>
<td style='background-color: #FFFFFF'>V000017</td>
<td style='background-color: #FFFFFF'>15</td>
<td style='background-color: #FFFFFF'>67.38</td>
<td style='background-color: #FFFFFF'>449.2</td>
<td style='background-color: #FFFFFF'>K000401</td>
<td style='background-color: #FFFFFF'>Pogliano di</td>
<td style='background-color: #FFFFFF'>Oddenino Federico</td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>10023</td>
<td style='background-color: #FFFFFF'>Chieri (TO)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4201987</td>
<td style='background-color: #FFFFFF'>2022-09-22 00:00:00</td>
<td style='background-color: #FFFFFF'>V000017</td>
<td style='background-color: #FFFFFF'>15</td>
<td style='background-color: #FFFFFF'>87.78</td>
<td style='background-color: #FFFFFF'>585.2</td>
<td style='background-color: #FFFFFF'>K001048</td>
<td style='background-color: #FFFFFF'>Ruga Gian Giulio e C. SNC</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>28024</td>
<td style='background-color: #FFFFFF'>Gozzano - Novara</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4202058</td>
<td style='background-color: #FFFFFF'>2022-09-30 00:00:00</td>
<td style='background-color: #FFFFFF'>V000017</td>
<td style='background-color: #FFFFFF'>15</td>
<td style='background-color: #FFFFFF'>28.395</td>
<td style='background-color: #FFFFFF'>189.3</td>
<td style='background-color: #FFFFFF'>K002582</td>
<td style='background-color: #FFFFFF'>Collini Roberto</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>15069</td>
<td style='background-color: #FFFFFF'>Serravalle Scrivia (AL)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4202080</td>
<td style='background-color: #FFFFFF'>2022-10-04 00:00:00</td>
<td style='background-color: #FFFFFF'>V000017</td>
<td style='background-color: #FFFFFF'>15</td>
<td style='background-color: #FFFFFF'>94.41</td>
<td style='background-color: #FFFFFF'>629.4</td>
<td style='background-color: #FFFFFF'>K004163</td>
<td style='background-color: #FFFFFF'>Vaccari Maria Luisa</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>15057</td>
<td style='background-color: #FFFFFF'>Tortona (AL)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4202133</td>
<td style='background-color: #FFFFFF'>2022-10-14 00:00:00</td>
<td style='background-color: #FFFFFF'>V000017</td>
<td style='background-color: #FFFFFF'>15</td>
<td style='background-color: #FFFFFF'>462.93</td>
<td style='background-color: #FFFFFF'>3086.2</td>
<td style='background-color: #FFFFFF'>K004412</td>
<td style='background-color: #FFFFFF'>RAFFO CRISTINA</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>15076</td>
<td style='background-color: #FFFFFF'>Ovada (AL)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202358</td>
<td style='background-color: #00FF00'>2022-11-17 00:00:00</td>
<td style='background-color: #00FF00'>V000017</td>
<td style='background-color: #00FF00'>15</td>
<td style='background-color: #00FF00'>61.335</td>
<td style='background-color: #00FF00'>408.9</td>
<td style='background-color: #00FF00'>K004494</td>
<td style='background-color: #00FF00'>PRANDI SNC</td>
<td style='background-color: #00FF00'>di Burocco Alberto e Prandi Simona</td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>13100</td>
<td style='background-color: #00FF00'>Vercelli (VC)</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>408.9</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #00FF00'>61.3</td>
<td style='background-color: #FFAB83'>28.02.2023,  0</td>
<td style='background-color: #FFFFFF'>14.02.2023,  136.3</td>
<td style='background-color: #FFFFFF'>28.02.2023,  272.6</td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4202364</td>
<td style='background-color: #FFFFFF'>2022-11-18 00:00:00</td>
<td style='background-color: #FFFFFF'>V000017</td>
<td style='background-color: #FFFFFF'>15</td>
<td style='background-color: #FFFFFF'>117.75</td>
<td style='background-color: #FFFFFF'>785</td>
<td style='background-color: #FFFFFF'>K000401</td>
<td style='background-color: #FFFFFF'>Pogliano di</td>
<td style='background-color: #FFFFFF'>Oddenino Federico</td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>10023</td>
<td style='background-color: #FFFFFF'>Chieri (TO)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202397</td>
<td style='background-color: #00FF00'>2022-11-24 00:00:00</td>
<td style='background-color: #00FF00'>V000017</td>
<td style='background-color: #00FF00'>15</td>
<td style='background-color: #00FF00'>283.95</td>
<td style='background-color: #00FF00'>1893</td>
<td style='background-color: #00FF00'>K004412</td>
<td style='background-color: #00FF00'>RAFFO CRISTINA</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>15076</td>
<td style='background-color: #00FF00'>Ovada (AL)</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>1893</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #00FF00'>283.9</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>01.02.2023,  1000.0</td>
<td style='background-color: #FFFFFF'>16.02.2023,  893.0</td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4202428</td>
<td style='background-color: #FFFFFF'>2022-11-29 00:00:00</td>
<td style='background-color: #FFFFFF'>V000017</td>
<td style='background-color: #FFFFFF'>15</td>
<td style='background-color: #FFFFFF'>50.565</td>
<td style='background-color: #FFFFFF'>337.1</td>
<td style='background-color: #FFFFFF'>K001048</td>
<td style='background-color: #FFFFFF'>Ruga Gian Giulio e C. SNC</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>28024</td>
<td style='background-color: #FFFFFF'>Gozzano - Novara</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4202439</td>
<td style='background-color: #FFFFFF'>2022-11-29 00:00:00</td>
<td style='background-color: #FFFFFF'>V000017</td>
<td style='background-color: #FFFFFF'>15</td>
<td style='background-color: #FFFFFF'>62.76</td>
<td style='background-color: #FFFFFF'>418.4</td>
<td style='background-color: #FFFFFF'>K002582</td>
<td style='background-color: #FFFFFF'>Collini Roberto</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>15069</td>
<td style='background-color: #FFFFFF'>Serravalle Scrivia (AL)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4202496</td>
<td style='background-color: #FFFFFF'>2022-12-06 00:00:00</td>
<td style='background-color: #FFFFFF'>V000017</td>
<td style='background-color: #FFFFFF'>15</td>
<td style='background-color: #FFFFFF'>58.065</td>
<td style='background-color: #FFFFFF'>387.1</td>
<td style='background-color: #FFFFFF'>K004412</td>
<td style='background-color: #FFFFFF'>RAFFO CRISTINA</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>15076</td>
<td style='background-color: #FFFFFF'>Ovada (AL)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4202557</td>
<td style='background-color: #FFFFFF'>2022-12-12 00:00:00</td>
<td style='background-color: #FFFFFF'>V000017</td>
<td style='background-color: #FFFFFF'>15</td>
<td style='background-color: #FFFFFF'>76.185</td>
<td style='background-color: #FFFFFF'>507.9</td>
<td style='background-color: #FFFFFF'>K004412</td>
<td style='background-color: #FFFFFF'>RAFFO CRISTINA</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>15076</td>
<td style='background-color: #FFFFFF'>Ovada (AL)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4202594</td>
<td style='background-color: #FFFFFF'>2022-12-15 00:00:00</td>
<td style='background-color: #FFFFFF'>V000017</td>
<td style='background-color: #FFFFFF'>15</td>
<td style='background-color: #FFFFFF'>18.57</td>
<td style='background-color: #FFFFFF'>123.8</td>
<td style='background-color: #FFFFFF'>K001048</td>
<td style='background-color: #FFFFFF'>Ruga Gian Giulio e C. SNC</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>28024</td>
<td style='background-color: #FFFFFF'>Gozzano - Novara</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4202641</td>
<td style='background-color: #FFFFFF'>2022-12-19 00:00:00</td>
<td style='background-color: #FFFFFF'>V000017</td>
<td style='background-color: #FFFFFF'>15</td>
<td style='background-color: #FFFFFF'>79.35</td>
<td style='background-color: #FFFFFF'>529</td>
<td style='background-color: #FFFFFF'>K004412</td>
<td style='background-color: #FFFFFF'>RAFFO CRISTINA</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>15076</td>
<td style='background-color: #FFFFFF'>Ovada (AL)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4300007</td>
<td style='background-color: #FFFFFF'>2023-01-09 00:00:00</td>
<td style='background-color: #FFFFFF'>V000017</td>
<td style='background-color: #FFFFFF'>15</td>
<td style='background-color: #FFFFFF'>94.215</td>
<td style='background-color: #FFFFFF'>628.1</td>
<td style='background-color: #FFFFFF'>K004412</td>
<td style='background-color: #FFFFFF'>RAFFO CRISTINA</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>15076</td>
<td style='background-color: #FFFFFF'>Ovada (AL)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4300150</td>
<td style='background-color: #FFFFFF'>2023-02-06 00:00:00</td>
<td style='background-color: #FFFFFF'>V000017</td>
<td style='background-color: #FFFFFF'>15</td>
<td style='background-color: #FFFFFF'>284.58</td>
<td style='background-color: #FFFFFF'>1897.2</td>
<td style='background-color: #FFFFFF'>K004412</td>
<td style='background-color: #FFFFFF'>RAFFO CRISTINA</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>15076</td>
<td style='background-color: #FFFFFF'>Ovada (AL)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'>UNPAID</td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>All requested: </td>
<td style='background-color: #FFF300'>28634.5</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #68BF9D'>2604.5</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #68BF9D'>390.6</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
 </tbody>
                </table>