{%extends 'base.html'%}
                            {% block content %}     
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--<link rel="stylesheet" type="text/css" href="normas.css">-->
    <style>
        body{
            background-color: #d6e1f8;

        }
        th, td {
            border: 1px solid #ccc;

            text-align: center;
        }

        table {

            border-collapse: collapse !important; /* optional: collapse the table borders */
        }

        table tr {
            background-color: #8BC34A !important; /* Set background color of all rows */
        }

        table tr:hover td {
            background-color: #2196F3 !important; /* Set background color of cells when hovered */
        }

    </style>
                     <table border="1" class="dataframe" style="width:100%;">
                                 <thead>
                                     <tr style="text-align: right;">
<th style='background-color: #899EF0'>RK</th>
<th style='background-color: #899EF0'>GF-Nr</th>
<th style='background-color: #899EF0'>Datum</th>
<th style='background-color: #899EF0'>Vertreter</th>
<th style='background-color: #899EF0'>ProvProz</th>
<th style='background-color: #899EF0'>Provision</th>
<th style='background-color: #899EF0'>Summe</th>
<th style='background-color: #899EF0'>Lieferant</th>
<th style='background-color: #899EF0'>Lieferantenname</th>
<th style='background-color: #899EF0'>Name2</th>
<th style='background-color: #899EF0'>IntKz</th>
<th style='background-color: #899EF0'>PLZ Neu</th>
<th style='background-color: #899EF0'>Ort</th>
<th style='background-color: #899EF0'>s</th>
<th style='background-color: #899EF0'>Paid amount</th>
<th style='background-color: #899EF0'>Payment status</th>
<th style='background-color: #899EF0'>Payment commission</th>
<th style='background-color: #899EF0'>Payments with Rest</th>
<th style='background-color: #899EF0'>Payments Dates</th>
<th style='background-color: #FFFFFF'> </th>
</tr>
</thead>
                          <tbody><tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4300048</td>
<td style='background-color: #FFF300'>2023-01-16</td>
<td style='background-color: #FFF300'>V000029</td>
<td style='background-color: #FFF300'>0</td>
<td style='background-color: #FFF300'>0</td>
<td style='background-color: #FFF300'>-7.9</td>
<td style='background-color: #FFF300'>K005231</td>
<td style='background-color: #FFF300'>TOP TANK s.r.o.</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CZ</td>
<td style='background-color: #FFF300'>150 00</td>
<td style='background-color: #FFF300'>Smichov Praha</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4300069</td>
<td style='background-color: #FFF300'>2023-01-19</td>
<td style='background-color: #FFF300'>V000029</td>
<td style='background-color: #FFF300'>0</td>
<td style='background-color: #FFF300'>0</td>
<td style='background-color: #FFF300'>-22.4</td>
<td style='background-color: #FFF300'>K005956</td>
<td style='background-color: #FFF300'>NAMA IN, d.o.o.</td>
<td style='background-color: #FFF300'>Registration number: 8770034000</td>
<td style='background-color: #FFF300'>SL</td>
<td style='background-color: #FFF300'>1000</td>
<td style='background-color: #FFF300'>Ljubljana</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4300178</td>
<td style='background-color: #FFF300'>2023-02-08</td>
<td style='background-color: #FFF300'>V000029</td>
<td style='background-color: #FFF300'>0</td>
<td style='background-color: #FFF300'>0</td>
<td style='background-color: #FFF300'>-95.93</td>
<td style='background-color: #FFF300'>K006042</td>
<td style='background-color: #FFF300'>Frampton SALLY</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>GB</td>
<td style='background-color: #FFF300'>PO12 4EF</td>
<td style='background-color: #FFF300'>Gosport</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4300192</td>
<td style='background-color: #FFF300'>2023-02-10</td>
<td style='background-color: #FFF300'>V000029</td>
<td style='background-color: #FFF300'>0</td>
<td style='background-color: #FFF300'>0</td>
<td style='background-color: #FFF300'>-58.52</td>
<td style='background-color: #FFF300'>K000863</td>
<td style='background-color: #FFF300'>Joanna Kasyk</td>
<td style='background-color: #FFF300'>Global Art Industry</td>
<td style='background-color: #FFF300'>CZ</td>
<td style='background-color: #FFF300'>251 66</td>
<td style='background-color: #FFF300'>Hrusice</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4300297</td>
<td style='background-color: #FFF300'>2023-02-28</td>
<td style='background-color: #FFF300'>V000029</td>
<td style='background-color: #FFF300'>0</td>
<td style='background-color: #FFF300'>0</td>
<td style='background-color: #FFF300'>-387</td>
<td style='background-color: #FFF300'>K004410</td>
<td style='background-color: #FFF300'>Timeless LLC</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>ARM</td>
<td style='background-color: #FFF300'>0001</td>
<td style='background-color: #FFF300'>Yerevan</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4300325</td>
<td style='background-color: #FFF300'>2023-03-06</td>
<td style='background-color: #FFF300'>V000029</td>
<td style='background-color: #FFF300'>0</td>
<td style='background-color: #FFF300'>0</td>
<td style='background-color: #FFF300'>-260.7</td>
<td style='background-color: #FFF300'>K004410</td>
<td style='background-color: #FFF300'>Timeless LLC</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>ARM</td>
<td style='background-color: #FFF300'>0001</td>
<td style='background-color: #FFF300'>Yerevan</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4300331</td>
<td style='background-color: #FFF300'>2023-03-06</td>
<td style='background-color: #FFF300'>V000029</td>
<td style='background-color: #FFF300'>0</td>
<td style='background-color: #FFF300'>0</td>
<td style='background-color: #FFF300'>-30.34</td>
<td style='background-color: #FFF300'>K000863</td>
<td style='background-color: #FFF300'>Joanna Kasyk</td>
<td style='background-color: #FFF300'>Global Art Industry</td>
<td style='background-color: #FFF300'>CZ</td>
<td style='background-color: #FFF300'>251 66</td>
<td style='background-color: #FFF300'>Hrusice</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4300337</td>
<td style='background-color: #FFF300'>2023-03-07</td>
<td style='background-color: #FFF300'>V000029</td>
<td style='background-color: #FFF300'>10</td>
<td style='background-color: #FFF300'>-10.624</td>
<td style='background-color: #FFF300'>-106.24</td>
<td style='background-color: #FFF300'>K004976</td>
<td style='background-color: #FFF300'>Shanyrak Centre</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>KZ</td>
<td style='background-color: #FFF300'>030000</td>
<td style='background-color: #FFF300'>Actobe, region Actubinsk</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4300667</td>
<td style='background-color: #FFF300'>2023-04-28</td>
<td style='background-color: #FFF300'>V000029</td>
<td style='background-color: #FFF300'>0</td>
<td style='background-color: #FFF300'>0</td>
<td style='background-color: #FFF300'>-43.89</td>
<td style='background-color: #FFF300'>K000863</td>
<td style='background-color: #FFF300'>Joanna Kasyk</td>
<td style='background-color: #FFF300'>Global Art Industry</td>
<td style='background-color: #FFF300'>CZ</td>
<td style='background-color: #FFF300'>251 66</td>
<td style='background-color: #FFF300'>Hrusice</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4300789</td>
<td style='background-color: #FFF300'>2023-05-17</td>
<td style='background-color: #FFF300'>V000029</td>
<td style='background-color: #FFF300'>0</td>
<td style='background-color: #FFF300'>0</td>
<td style='background-color: #FFF300'>-453.6</td>
<td style='background-color: #FFF300'>K004410</td>
<td style='background-color: #FFF300'>Timeless LLC</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>ARM</td>
<td style='background-color: #FFF300'>0001</td>
<td style='background-color: #FFF300'>Yerevan</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4300866</td>
<td style='background-color: #FFF300'>2023-05-30</td>
<td style='background-color: #FFF300'>V000029</td>
<td style='background-color: #FFF300'>0</td>
<td style='background-color: #FFF300'>0</td>
<td style='background-color: #FFF300'>-208.2</td>
<td style='background-color: #FFF300'>K004410</td>
<td style='background-color: #FFF300'>Timeless LLC</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>ARM</td>
<td style='background-color: #FFF300'>0001</td>
<td style='background-color: #FFF300'>Yerevan</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4301018</td>
<td style='background-color: #FFF300'>2023-06-15</td>
<td style='background-color: #FFF300'>V000029</td>
<td style='background-color: #FFF300'>10</td>
<td style='background-color: #FFF300'>-122.25</td>
<td style='background-color: #FFF300'>-1222.5</td>
<td style='background-color: #FFF300'>K004976</td>
<td style='background-color: #FFF300'>Shanyrak Centre</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>KZ</td>
<td style='background-color: #FFF300'>030000</td>
<td style='background-color: #FFF300'>Actobe, region Actubinsk</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4301107</td>
<td style='background-color: #FFF300'>2023-06-27</td>
<td style='background-color: #FFF300'>V000029</td>
<td style='background-color: #FFF300'>0</td>
<td style='background-color: #FFF300'>0</td>
<td style='background-color: #FFF300'>-290.7</td>
<td style='background-color: #FFF300'>K004444</td>
<td style='background-color: #FFF300'>Timeless LLC</td>
<td style='background-color: #FFF300'>Mr. Valerian Beraia</td>
<td style='background-color: #FFF300'>GE</td>
<td style='background-color: #FFF300'>0108</td>
<td style='background-color: #FFF300'>Tbilisi</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4301241</td>
<td style='background-color: #FFF300'>2023-07-17</td>
<td style='background-color: #FFF300'>V000029</td>
<td style='background-color: #FFF300'>0</td>
<td style='background-color: #FFF300'>0</td>
<td style='background-color: #FFF300'>-158.101204</td>
<td style='background-color: #FFF300'>K006042</td>
<td style='background-color: #FFF300'>Longmore Elaine</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>GB</td>
<td style='background-color: #FFF300'>SY38XT</td>
<td style='background-color: #FFF300'>Shrewsbury</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4301242</td>
<td style='background-color: #FFF300'>2023-07-17</td>
<td style='background-color: #FFF300'>V000029</td>
<td style='background-color: #FFF300'>0</td>
<td style='background-color: #FFF300'>0</td>
<td style='background-color: #FFF300'>-154.57944</td>
<td style='background-color: #FFF300'>K006042</td>
<td style='background-color: #FFF300'>Longmore Elaine</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>GB</td>
<td style='background-color: #FFF300'>SY38XT</td>
<td style='background-color: #FFF300'>Shreswbury</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4301386</td>
<td style='background-color: #00FF00'>2023-08-10</td>
<td style='background-color: #00FF00'>V000029</td>
<td style='background-color: #00FF00'>0</td>
<td style='background-color: #00FF00'>0</td>
<td style='background-color: #00FF00'>148.6</td>
<td style='background-color: #00FF00'>K005868</td>
<td style='background-color: #00FF00'>Moisture Plus Enterprises Limited</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>KE</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>NAIROBI</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>148.6</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>23.11.2023,  148.6</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4301408</td>
<td style='background-color: #00FF00'>2023-08-16</td>
<td style='background-color: #00FF00'>V000029</td>
<td style='background-color: #00FF00'>0</td>
<td style='background-color: #00FF00'>0</td>
<td style='background-color: #00FF00'>714.35</td>
<td style='background-color: #00FF00'>K000863</td>
<td style='background-color: #00FF00'>Joanna Kasyk</td>
<td style='background-color: #00FF00'>Global Art Industry</td>
<td style='background-color: #00FF00'>CZ</td>
<td style='background-color: #00FF00'>251 66</td>
<td style='background-color: #00FF00'>Hrusice</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>714.4</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>14.11.2023,  714.4</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4301477</td>
<td style='background-color: #00FF00'>2023-08-31</td>
<td style='background-color: #00FF00'>V000029</td>
<td style='background-color: #00FF00'>0</td>
<td style='background-color: #00FF00'>0</td>
<td style='background-color: #00FF00'>370.79</td>
<td style='background-color: #00FF00'>K000863</td>
<td style='background-color: #00FF00'>Joanna Kasyk</td>
<td style='background-color: #00FF00'>Global Art Industry</td>
<td style='background-color: #00FF00'>CZ</td>
<td style='background-color: #00FF00'>251 66</td>
<td style='background-color: #00FF00'>Hrusice</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>370.8</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>14.11.2023,  370.8</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4301519</td>
<td style='background-color: #FFF300'>2023-09-07</td>
<td style='background-color: #FFF300'>V000029</td>
<td style='background-color: #FFF300'>0</td>
<td style='background-color: #FFF300'>0</td>
<td style='background-color: #FFF300'>-43.84</td>
<td style='background-color: #FFF300'>K001710</td>
<td style='background-color: #FFF300'>Duni-P International Trading Ltd.Co</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>TW</td>
<td style='background-color: #FFF300'>110</td>
<td style='background-color: #FFF300'>TAIPEI CITY, R.O.C.</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4301524</td>
<td style='background-color: #FFF300'>2023-09-08</td>
<td style='background-color: #FFF300'>V000029</td>
<td style='background-color: #FFF300'>0</td>
<td style='background-color: #FFF300'>0</td>
<td style='background-color: #FFF300'>-129.02</td>
<td style='background-color: #FFF300'>K005750</td>
<td style='background-color: #FFF300'>TAURUS LLC</td>
<td style='background-color: #FFF300'>Javkhlan Bat-Orgil</td>
<td style='background-color: #FFF300'>MN</td>
<td style='background-color: #FFF300'>17030-0040</td>
<td style='background-color: #FFF300'>Ulaanbaatar</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4301555</td>
<td style='background-color: #00FF00'>2023-09-14</td>
<td style='background-color: #00FF00'>V000029</td>
<td style='background-color: #00FF00'>0</td>
<td style='background-color: #00FF00'>0</td>
<td style='background-color: #00FF00'>2847.6</td>
<td style='background-color: #00FF00'>K000393</td>
<td style='background-color: #00FF00'>Noblesse Direct Ltd</td>
<td style='background-color: #00FF00'>GB733909811</td>
<td style='background-color: #00FF00'>GB</td>
<td style='background-color: #00FF00'>NE10 0HW</td>
<td style='background-color: #00FF00'>Tyne & Wear, Gateshead</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>2847.6</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>22.11.2023,  2847.6</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4301654</td>
<td style='background-color: #00FF00'>2023-09-27</td>
<td style='background-color: #00FF00'>V000029</td>
<td style='background-color: #00FF00'>0</td>
<td style='background-color: #00FF00'>0</td>
<td style='background-color: #00FF00'>18747</td>
<td style='background-color: #00FF00'>K004444</td>
<td style='background-color: #00FF00'>Timeless LLC</td>
<td style='background-color: #00FF00'>Mr. Valerian Beraia</td>
<td style='background-color: #00FF00'>GE</td>
<td style='background-color: #00FF00'>0108</td>
<td style='background-color: #00FF00'>Tbilisi</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>18747</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>14.11.2023,  18747.0</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4301663</td>
<td style='background-color: #FFF300'>2023-09-28</td>
<td style='background-color: #FFF300'>V000029</td>
<td style='background-color: #FFF300'>0</td>
<td style='background-color: #FFF300'>0</td>
<td style='background-color: #FFF300'>-95.34</td>
<td style='background-color: #FFF300'>K000863</td>
<td style='background-color: #FFF300'>Joanna Kasyk</td>
<td style='background-color: #FFF300'>Global Art Industry</td>
<td style='background-color: #FFF300'>CZ</td>
<td style='background-color: #FFF300'>251 66</td>
<td style='background-color: #FFF300'>Hrusice</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4301668</td>
<td style='background-color: #FFF300'>2023-09-28</td>
<td style='background-color: #FFF300'>V000029</td>
<td style='background-color: #FFF300'>0</td>
<td style='background-color: #FFF300'>0</td>
<td style='background-color: #FFF300'>-158.68</td>
<td style='background-color: #FFF300'>K006042</td>
<td style='background-color: #FFF300'>Dunkley Cathy</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>GB</td>
<td style='background-color: #FFF300'>W1U 4BS</td>
<td style='background-color: #FFF300'>London</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4301686</td>
<td style='background-color: #FFF300'>2023-09-30</td>
<td style='background-color: #FFF300'>V000029</td>
<td style='background-color: #FFF300'>0</td>
<td style='background-color: #FFF300'>0</td>
<td style='background-color: #FFF300'>-99.6</td>
<td style='background-color: #FFF300'>K004410</td>
<td style='background-color: #FFF300'>Timeless LLC</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>ARM</td>
<td style='background-color: #FFF300'>0001</td>
<td style='background-color: #FFF300'>Yerevan</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4301703</td>
<td style='background-color: #00FF00'>2023-10-04</td>
<td style='background-color: #00FF00'>V000029</td>
<td style='background-color: #00FF00'>0</td>
<td style='background-color: #00FF00'>0</td>
<td style='background-color: #00FF00'>404.1</td>
<td style='background-color: #00FF00'>K006205</td>
<td style='background-color: #00FF00'>Oreficeria Orologeria GRECO</td>
<td style='background-color: #00FF00'>di Greco Prakasch Marco</td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>88100</td>
<td style='background-color: #00FF00'>Catanzaro (CZ)</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>209.2</td>
<td style='background-color: #00FF00'>PARTIALLY PAID</td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>30.11.2023,  209.2</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4301707</td>
<td style='background-color: #FFF300'>2023-10-04</td>
<td style='background-color: #FFF300'>V000029</td>
<td style='background-color: #FFF300'>10</td>
<td style='background-color: #FFF300'>-129.81</td>
<td style='background-color: #FFF300'>-1298.1</td>
<td style='background-color: #FFF300'>K004976</td>
<td style='background-color: #FFF300'>Shanyrak Centre</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>KZ</td>
<td style='background-color: #FFF300'>030000</td>
<td style='background-color: #FFF300'>Actobe, region Actubinsk</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4301726</td>
<td style='background-color: #00FF00'>2023-10-09</td>
<td style='background-color: #00FF00'>V000029</td>
<td style='background-color: #00FF00'>0</td>
<td style='background-color: #00FF00'>0</td>
<td style='background-color: #00FF00'>108</td>
<td style='background-color: #00FF00'>K006289</td>
<td style='background-color: #00FF00'>Frann</td>
<td style='background-color: #00FF00'>Geschenken - decoratie - interieur</td>
<td style='background-color: #00FF00'>BE</td>
<td style='background-color: #00FF00'>2500</td>
<td style='background-color: #00FF00'>Lier</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>108</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>14.11.2023,  108.0</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4301763</td>
<td style='background-color: #00FF00'>2023-10-13</td>
<td style='background-color: #00FF00'>V000029</td>
<td style='background-color: #00FF00'>0</td>
<td style='background-color: #00FF00'>0</td>
<td style='background-color: #00FF00'>66.36</td>
<td style='background-color: #00FF00'>K006205</td>
<td style='background-color: #00FF00'>Oreficeria Orologeria GRECO</td>
<td style='background-color: #00FF00'>di Greco Prakasch Marco</td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>88100</td>
<td style='background-color: #00FF00'>Catanzaro (CZ)</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>66.4</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>30.11.2023,  66.4</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4301768</td>
<td style='background-color: #00FF00'>2023-10-16</td>
<td style='background-color: #00FF00'>V000029</td>
<td style='background-color: #00FF00'>0</td>
<td style='background-color: #00FF00'>0</td>
<td style='background-color: #00FF00'>32292</td>
<td style='background-color: #00FF00'>K004410</td>
<td style='background-color: #00FF00'>Timeless LLC</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>ARM</td>
<td style='background-color: #00FF00'>0001</td>
<td style='background-color: #00FF00'>Yerevan</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>32292</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>17.11.2023,  32292.0</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4301782</td>
<td style='background-color: #00FF00'>2023-10-17</td>
<td style='background-color: #00FF00'>V000029</td>
<td style='background-color: #00FF00'>0</td>
<td style='background-color: #00FF00'>0</td>
<td style='background-color: #00FF00'>980</td>
<td style='background-color: #00FF00'>K004444</td>
<td style='background-color: #00FF00'>Timeless LLC</td>
<td style='background-color: #00FF00'>Mr. Valerian Beraia</td>
<td style='background-color: #00FF00'>GE</td>
<td style='background-color: #00FF00'>0108</td>
<td style='background-color: #00FF00'>Tbilisi</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>980</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>14.11.2023,  980.0</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4301908</td>
<td style='background-color: #FFF300'>2023-11-08</td>
<td style='background-color: #FFF300'>V000029</td>
<td style='background-color: #FFF300'>0</td>
<td style='background-color: #FFF300'>0</td>
<td style='background-color: #FFF300'>-460.2</td>
<td style='background-color: #FFF300'>K004444</td>
<td style='background-color: #FFF300'>Timeless LLC</td>
<td style='background-color: #FFF300'>Mr. Valerian Beraia</td>
<td style='background-color: #FFF300'>GE</td>
<td style='background-color: #FFF300'>0108</td>
<td style='background-color: #FFF300'>Tbilisi</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4301909</td>
<td style='background-color: #00FF00'>2023-11-08</td>
<td style='background-color: #00FF00'>V000029</td>
<td style='background-color: #00FF00'>0</td>
<td style='background-color: #00FF00'>0</td>
<td style='background-color: #00FF00'>198</td>
<td style='background-color: #00FF00'>K004444</td>
<td style='background-color: #00FF00'>Timeless LLC</td>
<td style='background-color: #00FF00'>Mr. Valerian Beraia</td>
<td style='background-color: #00FF00'>GE</td>
<td style='background-color: #00FF00'>0108</td>
<td style='background-color: #00FF00'>Tbilisi</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>198</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>14.11.2023,  198.0</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4301915</td>
<td style='background-color: #00FF00'>2023-11-08</td>
<td style='background-color: #00FF00'>V000029</td>
<td style='background-color: #00FF00'>0</td>
<td style='background-color: #00FF00'>0</td>
<td style='background-color: #00FF00'>205.8</td>
<td style='background-color: #00FF00'>K004410</td>
<td style='background-color: #00FF00'>Timeless LLC</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>ARM</td>
<td style='background-color: #00FF00'>0001</td>
<td style='background-color: #00FF00'>Yerevan</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>205.8</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>17.11.2023,  205.8</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4301916</td>
<td style='background-color: #FFF300'>2023-11-08</td>
<td style='background-color: #FFF300'>V000029</td>
<td style='background-color: #FFF300'>0</td>
<td style='background-color: #FFF300'>0</td>
<td style='background-color: #FFF300'>-219.6</td>
<td style='background-color: #FFF300'>K004410</td>
<td style='background-color: #FFF300'>Timeless LLC</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>ARM</td>
<td style='background-color: #FFF300'>0001</td>
<td style='background-color: #FFF300'>Yerevan</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4301927</td>
<td style='background-color: #FFF300'>2023-11-09</td>
<td style='background-color: #FFF300'>V000029</td>
<td style='background-color: #FFF300'>10</td>
<td style='background-color: #FFF300'>-4418.97</td>
<td style='background-color: #FFF300'>-44189.7</td>
<td style='background-color: #FFF300'>K004976</td>
<td style='background-color: #FFF300'>Shanyrak Centre</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>KZ</td>
<td style='background-color: #FFF300'>030000</td>
<td style='background-color: #FFF300'>Actobe, region Actubinsk</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4301973</td>
<td style='background-color: #00FF00'>2023-11-16</td>
<td style='background-color: #00FF00'>V000029</td>
<td style='background-color: #00FF00'>0</td>
<td style='background-color: #00FF00'>0</td>
<td style='background-color: #00FF00'>2572.4</td>
<td style='background-color: #00FF00'>K001710</td>
<td style='background-color: #00FF00'>Duni-P International Trading Ltd.Co</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>TW</td>
<td style='background-color: #00FF00'>110</td>
<td style='background-color: #00FF00'>TAIPEI CITY, R.O.C.</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>2572.4</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>27.11.2023,  2356.8</td>
<td style='background-color: #FFFFFF'>27.11.2023,  215.6</td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4301995</td>
<td style='background-color: #00FF00'>2023-11-21</td>
<td style='background-color: #00FF00'>V000029</td>
<td style='background-color: #00FF00'>0</td>
<td style='background-color: #00FF00'>0</td>
<td style='background-color: #00FF00'>723.32</td>
<td style='background-color: #00FF00'>K005868</td>
<td style='background-color: #00FF00'>Moisture Plus Enterprises Limited</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>KE</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>NAIROBI</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>723.3</td>
<td style='background-color: #00FF00'>PARTIALLY PAID</td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>23.11.2023,  723.3</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4301998</td>
<td style='background-color: #00FF00'>2023-11-22</td>
<td style='background-color: #00FF00'>V000029</td>
<td style='background-color: #00FF00'>0</td>
<td style='background-color: #00FF00'>0</td>
<td style='background-color: #00FF00'>1</td>
<td style='background-color: #00FF00'>K006202</td>
<td style='background-color: #00FF00'>Yossi Parparim LTD</td>
<td style='background-color: #00FF00'>Joseph Kontenta</td>
<td style='background-color: #00FF00'>ISR</td>
<td style='background-color: #00FF00'>53632</td>
<td style='background-color: #00FF00'>Gyvatayim</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>1712.4</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'>24.11.2023,  1712</td>
<td style='background-color: #FFFFFF'>24.11.2023,  1712.4</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>All paid amount</td>
<td style='background-color: #90EE90'>61895.9</td>
<td style='background-color: #FFFFFF'>All comissions</td>
<td style='background-color: #90EE90'>0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
 </tbody>
                    </table>
                    {% endblock %}