<meta charset="utf-8">
                 <table border="1" class="dataframe">
                             <thead>
                                 <tr style="text-align: right;">
<th style='background-color: #B0CBF0'>RK</th>
<th style='background-color: #B0CBF0'>GF-Nr</th>
<th style='background-color: #B0CBF0'>Datum</th>
<th style='background-color: #B0CBF0'>Vertreter</th>
<th style='background-color: #B0CBF0'>ProvProz</th>
<th style='background-color: #B0CBF0'>Provision</th>
<th style='background-color: #B0CBF0'>Summe</th>
<th style='background-color: #B0CBF0'>Lieferant</th>
<th style='background-color: #B0CBF0'>Lieferantenname</th>
<th style='background-color: #B0CBF0'>Name2</th>
<th style='background-color: #B0CBF0'>IntKz</th>
<th style='background-color: #B0CBF0'>PLZ Neu</th>
<th style='background-color: #B0CBF0'>Ort</th>
<th style='background-color: #FFFFFF'> </th>
<th style='background-color: #899EF0'>Paid amount</th>
<th style='background-color: #899EF0'>Payment status</th>
<th style='background-color: #899EF0'>Payment commission</th>
<th style='background-color: #899EF0'>Payments with Rest</th>
<th style='background-color: #899EF0'>Payments Dates</th>
<th style='background-color: #FFFFFF'> </th>
</tr>
</thead>
                  <tbody><tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4200156</td>
<td style='background-color: #FFFFFF'>2022-01-26 00:00:00</td>
<td style='background-color: #FFFFFF'>V000134</td>
<td style='background-color: #FFFFFF'>13</td>
<td style='background-color: #FFFFFF'>100.022</td>
<td style='background-color: #FFFFFF'>769.4</td>
<td style='background-color: #FFFFFF'>K004678</td>
<td style='background-color: #FFFFFF'>PUERTA PALACIO MESONES SL</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>ES</td>
<td style='background-color: #FFFFFF'>45001</td>
<td style='background-color: #FFFFFF'>Toledo</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4200203</td>
<td style='background-color: #FFFFFF'>2022-01-28 00:00:00</td>
<td style='background-color: #FFFFFF'>V000134</td>
<td style='background-color: #FFFFFF'>13</td>
<td style='background-color: #FFFFFF'>344.448</td>
<td style='background-color: #FFFFFF'>2649.6</td>
<td style='background-color: #FFFFFF'>K004678</td>
<td style='background-color: #FFFFFF'>PUERTA PALACIO MESONES SL</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>ES</td>
<td style='background-color: #FFFFFF'>45001</td>
<td style='background-color: #FFFFFF'>Toledo</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4200246</td>
<td style='background-color: #FFFFFF'>2022-02-03 00:00:00</td>
<td style='background-color: #FFFFFF'>V000134</td>
<td style='background-color: #FFFFFF'>13</td>
<td style='background-color: #FFFFFF'>113.217</td>
<td style='background-color: #FFFFFF'>870.9</td>
<td style='background-color: #FFFFFF'>K004678</td>
<td style='background-color: #FFFFFF'>PUERTA PALACIO MESONES SL</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>ES</td>
<td style='background-color: #FFFFFF'>45001</td>
<td style='background-color: #FFFFFF'>Toledo</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4200689</td>
<td style='background-color: #FFFFFF'>2022-04-05 00:00:00</td>
<td style='background-color: #FFFFFF'>V000134</td>
<td style='background-color: #FFFFFF'>13</td>
<td style='background-color: #FFFFFF'>285.779</td>
<td style='background-color: #FFFFFF'>2198.3</td>
<td style='background-color: #FFFFFF'>K004678</td>
<td style='background-color: #FFFFFF'>PUERTA PALACIO MESONES SL</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>ES</td>
<td style='background-color: #FFFFFF'>45001</td>
<td style='background-color: #FFFFFF'>Toledo</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4200749</td>
<td style='background-color: #FFFFFF'>2022-04-12 00:00:00</td>
<td style='background-color: #FFFFFF'>V000134</td>
<td style='background-color: #FFFFFF'>13</td>
<td style='background-color: #FFFFFF'>1169.584</td>
<td style='background-color: #FFFFFF'>8996.8</td>
<td style='background-color: #FFFFFF'>K004678</td>
<td style='background-color: #FFFFFF'>PUERTA PALACIO MESONES SL</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>ES</td>
<td style='background-color: #FFFFFF'>45001</td>
<td style='background-color: #FFFFFF'>Toledo</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4201074</td>
<td style='background-color: #FFFFFF'>2022-05-24 00:00:00</td>
<td style='background-color: #FFFFFF'>V000134</td>
<td style='background-color: #FFFFFF'>13</td>
<td style='background-color: #FFFFFF'>191.568</td>
<td style='background-color: #FFFFFF'>1473.6</td>
<td style='background-color: #FFFFFF'>K004678</td>
<td style='background-color: #FFFFFF'>PUERTA PALACIO MESONES SL</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>ES</td>
<td style='background-color: #FFFFFF'>45001</td>
<td style='background-color: #FFFFFF'>Toledo</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4201089</td>
<td style='background-color: #FFFFFF'>2022-05-25 00:00:00</td>
<td style='background-color: #FFFFFF'>V000134</td>
<td style='background-color: #FFFFFF'>13</td>
<td style='background-color: #FFFFFF'>59.475</td>
<td style='background-color: #FFFFFF'>457.5</td>
<td style='background-color: #FFFFFF'>K004678</td>
<td style='background-color: #FFFFFF'>PUERTA PALACIO MESONES SL</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>ES</td>
<td style='background-color: #FFFFFF'>45001</td>
<td style='background-color: #FFFFFF'>Toledo</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4202010</td>
<td style='background-color: #FFFFFF'>2022-09-26 00:00:00</td>
<td style='background-color: #FFFFFF'>V000134</td>
<td style='background-color: #FFFFFF'>13</td>
<td style='background-color: #FFFFFF'>3348.7675</td>
<td style='background-color: #FFFFFF'>25759.75</td>
<td style='background-color: #FFFFFF'>V000134</td>
<td style='background-color: #FFFFFF'>Manuel Fernandez Diaz</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>ES</td>
<td style='background-color: #FFFFFF'>45122</td>
<td style='background-color: #FFFFFF'>Argés (Toledo)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4202457</td>
<td style='background-color: #FFF300'>2022-11-30 00:00:00</td>
<td style='background-color: #FFF300'>V000134</td>
<td style='background-color: #FFF300'>13</td>
<td style='background-color: #FFF300'>-3348.7675</td>
<td style='background-color: #FFF300'>-25759.75</td>
<td style='background-color: #FFF300'>V000134</td>
<td style='background-color: #FFF300'>Manuel Fernandez Diaz</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>ES</td>
<td style='background-color: #FFF300'>45122</td>
<td style='background-color: #FFF300'>Argés (Toledo)</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202459</td>
<td style='background-color: #00FF00'>2022-11-30 00:00:00</td>
<td style='background-color: #00FF00'>V000134</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>3182.2856</td>
<td style='background-color: #00FF00'>24479.12</td>
<td style='background-color: #00FF00'>K004678</td>
<td style='background-color: #00FF00'>PUERTA PALACIO MESONES SL</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>45001</td>
<td style='background-color: #00FF00'>Toledo</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>13173.42</td>
<td style='background-color: #00FF00'>PARTIALLY PAID</td>
<td style='background-color: #00FF00'>1712.5</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>28.02.2023,  4000.0</td>
<td style='background-color: #FFFFFF'>28.02.2023,  9173.4</td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4202460</td>
<td style='background-color: #FFFFFF'>2022-11-30 00:00:00</td>
<td style='background-color: #FFFFFF'>V000134</td>
<td style='background-color: #FFFFFF'>13</td>
<td style='background-color: #FFFFFF'>957.97</td>
<td style='background-color: #FFFFFF'>7369</td>
<td style='background-color: #FFFFFF'>K004678</td>
<td style='background-color: #FFFFFF'>PUERTA PALACIO MESONES SL</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>ES</td>
<td style='background-color: #FFFFFF'>45001</td>
<td style='background-color: #FFFFFF'>Toledo</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202515</td>
<td style='background-color: #00FF00'>2022-12-07 00:00:00</td>
<td style='background-color: #00FF00'>V000134</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>360.269</td>
<td style='background-color: #00FF00'>2771.3</td>
<td style='background-color: #00FF00'>K003622</td>
<td style='background-color: #00FF00'>Juan Carlos Diaz Gonzalez</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>45001</td>
<td style='background-color: #00FF00'>Toledo</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>1847.54</td>
<td style='background-color: #00FF00'>PARTIALLY PAID</td>
<td style='background-color: #00FF00'>240.2</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>28.02.2023,  923.8</td>
<td style='background-color: #FFFFFF'>14.02.2023,  923.8</td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202516</td>
<td style='background-color: #00FF00'>2022-12-07 00:00:00</td>
<td style='background-color: #00FF00'>V000134</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>295.178</td>
<td style='background-color: #00FF00'>2270.6</td>
<td style='background-color: #00FF00'>K003622</td>
<td style='background-color: #00FF00'>Juan Carlos Diaz Gonzalez</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>45001</td>
<td style='background-color: #00FF00'>Toledo</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>1513.74</td>
<td style='background-color: #00FF00'>PARTIALLY PAID</td>
<td style='background-color: #00FF00'>196.8</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>28.02.2023,  756.9</td>
<td style='background-color: #FFFFFF'>14.02.2023,  756.9</td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202517</td>
<td style='background-color: #00FF00'>2022-12-07 00:00:00</td>
<td style='background-color: #00FF00'>V000134</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>105.573</td>
<td style='background-color: #00FF00'>812.1</td>
<td style='background-color: #00FF00'>K003622</td>
<td style='background-color: #00FF00'>Juan Carlos Diaz Gonzalez</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>45001</td>
<td style='background-color: #00FF00'>Toledo</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>541.4</td>
<td style='background-color: #00FF00'>PARTIALLY PAID</td>
<td style='background-color: #00FF00'>70.4</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>28.02.2023,  270.7</td>
<td style='background-color: #FFFFFF'>14.02.2023,  270.7</td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202518</td>
<td style='background-color: #00FF00'>2022-12-07 00:00:00</td>
<td style='background-color: #00FF00'>V000134</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>256.308</td>
<td style='background-color: #00FF00'>1971.6</td>
<td style='background-color: #00FF00'>K003622</td>
<td style='background-color: #00FF00'>Juan Carlos Diaz Gonzalez</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>45001</td>
<td style='background-color: #00FF00'>Toledo</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>1314.4</td>
<td style='background-color: #00FF00'>PARTIALLY PAID</td>
<td style='background-color: #00FF00'>170.9</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>14.02.2023,  657.2</td>
<td style='background-color: #FFFFFF'>28.02.2023,  657.2</td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>All requested: </td>
<td style='background-color: #FFF300'>57089.8</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #68BF9D'>18390.5</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #68BF9D'>2390.8</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
 </tbody>
                </table>