{%extends 'base.html'%}
                        {% block content %}
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!--<link rel="stylesheet" type="text/css" href="normas.css">-->
<style>
    body{
        background-color: #d6e1f8;
         
    }
    th, td {
        border: 1px solid #ccc;
        
        text-align: center;
    }

    table {
   
        border-collapse: collapse !important; /* optional: collapse the table borders */
    }

    table tr {
        background-color: #8BC34A !important; /* Set background color of all rows */
    }

    table tr:hover td {
        background-color: #2196F3 !important; /* Set background color of cells when hovered */
    }

</style>
                 <table border="1" class="dataframe" style="width:100%;">
                             <thead>
                                 <tr style="text-align: right;">
<th style='background-color: #B0CBF0'>RK</th>
<th style='background-color: #B0CBF0'>GF-Nr</th>
<th style='background-color: #B0CBF0'>Datum</th>
<th style='background-color: #B0CBF0'>Vertreter</th>
<th style='background-color: #B0CBF0'>ProvProz</th>
<th style='background-color: #B0CBF0'>Provision</th>
<th style='background-color: #B0CBF0'>Summe</th>
<th style='background-color: #B0CBF0'>Lieferant</th>
<th style='background-color: #B0CBF0'>Lieferantenname</th>
<th style='background-color: #B0CBF0'>Name2</th>
<th style='background-color: #B0CBF0'>IntKz</th>
<th style='background-color: #B0CBF0'>PLZ Neu</th>
<th style='background-color: #B0CBF0'>Ort</th>
<th style='background-color: #FFFFFF'> </th>
<th style='background-color: #899EF0'>Paid amount</th>
<th style='background-color: #899EF0'>Payment status</th>
<th style='background-color: #899EF0'>Payment commission</th>
<th style='background-color: #899EF0'>Payments with Rest</th>
<th style='background-color: #899EF0'>Payments Dates</th>
</tr>
</thead>
                      <tbody><tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4201886</td>
<td style='background-color: #00FF00'>2022-09-02 00:00:00</td>
<td style='background-color: #00FF00'>V000104</td>
<td style='background-color: #00FF00'>15</td>
<td style='background-color: #00FF00'>76.53</td>
<td style='background-color: #00FF00'>510.2</td>
<td style='background-color: #00FF00'>K006079</td>
<td style='background-color: #00FF00'>KARAGOUNI DIMITRA</td>
<td style='background-color: #00FF00'>DK JEWELS</td>
<td style='background-color: #00FF00'>GR</td>
<td style='background-color: #00FF00'>14231</td>
<td style='background-color: #00FF00'>NEA IONIA</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>100.8</td>
<td style='background-color: #00FF00'>PARTIALLY PAID</td>
<td style='background-color: #00FF00'>15.1</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>28.02.2023,  100.8</td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4201907</td>
<td style='background-color: #00FF00'>2022-09-06 00:00:00</td>
<td style='background-color: #00FF00'>V000104</td>
<td style='background-color: #00FF00'>15</td>
<td style='background-color: #00FF00'>1180.875</td>
<td style='background-color: #00FF00'>7872.5</td>
<td style='background-color: #00FF00'>K003563</td>
<td style='background-color: #00FF00'>Garufalia Charalambaki</td>
<td style='background-color: #00FF00'>+30 22210 86560</td>
<td style='background-color: #00FF00'>GR</td>
<td style='background-color: #00FF00'>34100</td>
<td style='background-color: #00FF00'>Kalkida</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>3639.91</td>
<td style='background-color: #00FF00'>PARTIALLY PAID</td>
<td style='background-color: #00FF00'>546</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>28.02.2023,  1639.9</td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4201950</td>
<td style='background-color: #00FF00'>2022-09-15 00:00:00</td>
<td style='background-color: #00FF00'>V000104</td>
<td style='background-color: #00FF00'>15</td>
<td style='background-color: #00FF00'>472.845</td>
<td style='background-color: #00FF00'>3152.3</td>
<td style='background-color: #00FF00'>K003570</td>
<td style='background-color: #00FF00'>Prisma</td>
<td style='background-color: #00FF00'>BENIOUDAKI AIKATERINI ELEFTHERIOS</td>
<td style='background-color: #00FF00'>GR</td>
<td style='background-color: #00FF00'>73100</td>
<td style='background-color: #00FF00'>Chania Kreta</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>500</td>
<td style='background-color: #00FF00'>PARTIALLY PAID</td>
<td style='background-color: #00FF00'>75</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>07.02.2023,  500.0</td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202175</td>
<td style='background-color: #00FF00'>2022-10-20 00:00:00</td>
<td style='background-color: #00FF00'>V000104</td>
<td style='background-color: #00FF00'>10</td>
<td style='background-color: #00FF00'>434.98</td>
<td style='background-color: #00FF00'>4349.8</td>
<td style='background-color: #00FF00'>K005020</td>
<td style='background-color: #00FF00'>DUTY FREE SHOPS SINGLE MEMBER S.A</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>GR</td>
<td style='background-color: #00FF00'>14565</td>
<td style='background-color: #00FF00'>Agios Stefanos, Attika</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>3634.96</td>
<td style='background-color: #00FF00'>PARTIALLY PAID</td>
<td style='background-color: #00FF00'>363.5</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>28.02.2023,  3635.0</td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202510</td>
<td style='background-color: #00FF00'>2022-12-06 00:00:00</td>
<td style='background-color: #00FF00'>V000104</td>
<td style='background-color: #00FF00'>15</td>
<td style='background-color: #00FF00'>145.86</td>
<td style='background-color: #00FF00'>972.4</td>
<td style='background-color: #00FF00'>K003467</td>
<td style='background-color: #00FF00'>Georgiou An. Menelaos</td>
<td style='background-color: #00FF00'>POLIXRISON</td>
<td style='background-color: #00FF00'>GR</td>
<td style='background-color: #00FF00'>24100</td>
<td style='background-color: #00FF00'>Kalamata</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>972.4</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #00FF00'>145.9</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>06.02.2023,  972.4</td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202521</td>
<td style='background-color: #00FF00'>2022-12-07 00:00:00</td>
<td style='background-color: #00FF00'>V000104</td>
<td style='background-color: #00FF00'>15</td>
<td style='background-color: #00FF00'>14.58</td>
<td style='background-color: #00FF00'>97.2</td>
<td style='background-color: #00FF00'>K003563</td>
<td style='background-color: #00FF00'>Garufalia Charalambaki</td>
<td style='background-color: #00FF00'>+30 22210 86560</td>
<td style='background-color: #00FF00'>GR</td>
<td style='background-color: #00FF00'>34100</td>
<td style='background-color: #00FF00'>Kalkida</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>97.2</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #00FF00'>14.6</td>
<td style='background-color: #FFAB83'>28.02.2023,  1509</td>
<td style='background-color: #FFFFFF'>28.02.2023,  1605.8</td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202680</td>
<td style='background-color: #00FF00'>2022-12-21 00:00:00</td>
<td style='background-color: #00FF00'>V000104</td>
<td style='background-color: #00FF00'>15</td>
<td style='background-color: #00FF00'>1775.25</td>
<td style='background-color: #00FF00'>11835</td>
<td style='background-color: #00FF00'>K004146</td>
<td style='background-color: #00FF00'>AEGEAN AIRLINES SA</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>GR</td>
<td style='background-color: #00FF00'>145 64</td>
<td style='background-color: #00FF00'>Kifisia</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>11835</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #00FF00'>1775.2</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>14.02.2023,  10751.7</td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202718</td>
<td style='background-color: #00FF00'>2022-12-31 00:00:00</td>
<td style='background-color: #00FF00'>V000104</td>
<td style='background-color: #00FF00'>15</td>
<td style='background-color: #00FF00'>128.295</td>
<td style='background-color: #00FF00'>855.3</td>
<td style='background-color: #00FF00'>K006160</td>
<td style='background-color: #00FF00'>VOULKIDIS CHRISTOS</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>GR</td>
<td style='background-color: #00FF00'>68100</td>
<td style='background-color: #00FF00'>ALEXANDROUPOLIS</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>855.3</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #00FF00'>128.3</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>03.02.2023,  855.3</td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202724</td>
<td style='background-color: #00FF00'>2022-12-31 00:00:00</td>
<td style='background-color: #00FF00'>V000104</td>
<td style='background-color: #00FF00'>15</td>
<td style='background-color: #00FF00'>25.98</td>
<td style='background-color: #00FF00'>173.2</td>
<td style='background-color: #00FF00'>K006160</td>
<td style='background-color: #00FF00'>VOULKIDIS CHRISTOS</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>GR</td>
<td style='background-color: #00FF00'>68100</td>
<td style='background-color: #00FF00'>ALEXANDROUPOLIS</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>173.2</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #00FF00'>26</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>03.02.2023,  173.2</td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300041</td>
<td style='background-color: #00FF00'>2023-01-12 00:00:00</td>
<td style='background-color: #00FF00'>V000104</td>
<td style='background-color: #00FF00'>15</td>
<td style='background-color: #00FF00'>25.98</td>
<td style='background-color: #00FF00'>173.2</td>
<td style='background-color: #00FF00'>K006160</td>
<td style='background-color: #00FF00'>VOULKIDIS CHRISTOS</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>GR</td>
<td style='background-color: #00FF00'>68100</td>
<td style='background-color: #00FF00'>ALEXANDROUPOLIS</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>173.2</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #00FF00'>26</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>03.02.2023,  173.2</td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300060</td>
<td style='background-color: #00FF00'>2023-01-18 00:00:00</td>
<td style='background-color: #00FF00'>V000104</td>
<td style='background-color: #00FF00'>15</td>
<td style='background-color: #00FF00'>105.42</td>
<td style='background-color: #00FF00'>702.8</td>
<td style='background-color: #00FF00'>K006160</td>
<td style='background-color: #00FF00'>VOULKIDIS CHRISTOS</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>GR</td>
<td style='background-color: #00FF00'>68100</td>
<td style='background-color: #00FF00'>ALEXANDROUPOLIS</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>702.8</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #00FF00'>105.4</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>03.02.2023,  702.8</td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300142</td>
<td style='background-color: #00FF00'>2023-01-31 00:00:00</td>
<td style='background-color: #00FF00'>V000104</td>
<td style='background-color: #00FF00'>15</td>
<td style='background-color: #00FF00'>57.87</td>
<td style='background-color: #00FF00'>385.8</td>
<td style='background-color: #00FF00'>K006154</td>
<td style='background-color: #00FF00'>GEORGIADIS DIMITRIS & SIA EE</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>GR</td>
<td style='background-color: #00FF00'>18755</td>
<td style='background-color: #00FF00'>KERATSINI</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>350.5</td>
<td style='background-color: #00FF00'>PARTIALLY PAID</td>
<td style='background-color: #00FF00'>52.6</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>03.02.2023,  350.5</td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #68BF9D'>23035.3</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #68BF9D'>3273.6</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
 </tbody>
                </table>
                {% endblock %}