{%extends 'base.html'%}
                            {% block content %}     
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--<link rel="stylesheet" type="text/css" href="normas.css">-->
    <style>
        body{
            background-color: #d6e1f8;

        }
        th, td {
            border: 1px solid #ccc;

            text-align: center;
        }

        table {

            border-collapse: collapse !important; /* optional: collapse the table borders */
        }

        table tr {
            background-color: #8BC34A !important; /* Set background color of all rows */
        }

        table tr:hover td {
            background-color: #2196F3 !important; /* Set background color of cells when hovered */
        }

    </style>
                     <table border="1" class="dataframe" style="width:100%;">
                                 <thead>
                                     <tr style="text-align: right;">
<th style='background-color: #899EF0'>RK</th>
<th style='background-color: #899EF0'>GF-Nr</th>
<th style='background-color: #899EF0'>Datum</th>
<th style='background-color: #899EF0'>Vertreter</th>
<th style='background-color: #899EF0'>ProvProz</th>
<th style='background-color: #899EF0'>Provision</th>
<th style='background-color: #899EF0'>Summe</th>
<th style='background-color: #899EF0'>Lieferant</th>
<th style='background-color: #899EF0'>Lieferantenname</th>
<th style='background-color: #899EF0'>Name2</th>
<th style='background-color: #899EF0'>IntKz</th>
<th style='background-color: #899EF0'>PLZ Neu</th>
<th style='background-color: #899EF0'>Ort</th>
<th style='background-color: #899EF0'>s</th>
<th style='background-color: #899EF0'>Paid amount</th>
<th style='background-color: #899EF0'>Payment status</th>
<th style='background-color: #899EF0'>Payment commission</th>
<th style='background-color: #899EF0'>Payments with Rest</th>
<th style='background-color: #899EF0'>Payments Dates</th>
</tr>
</thead>
                          <tbody><tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300333</td>
<td style='background-color: #00FF00'>2023-03-07</td>
<td style='background-color: #00FF00'>V000178</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>769.2646</td>
<td style='background-color: #00FF00'>5917.42</td>
<td style='background-color: #00FF00'>K002012</td>
<td style='background-color: #00FF00'>Maria Jose Sancenon Royo</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>07008</td>
<td style='background-color: #00FF00'>Palma de Mallorca, Balears</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>5917.4</td>
<td style='background-color: #00FF00'>PARTIALLY PAID</td>
<td style='background-color: #FFFFFF'>769.3</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>16.02.2024,  5917.4</td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4300486</td>
<td style='background-color: #FFF300'>2023-03-31</td>
<td style='background-color: #FFF300'>V000178</td>
<td style='background-color: #FFF300'>13</td>
<td style='background-color: #FFF300'>-28.3049</td>
<td style='background-color: #FFF300'>-217.73</td>
<td style='background-color: #FFF300'>K002091</td>
<td style='background-color: #FFF300'>Deya Mira S.L</td>
<td style='background-color: #FFF300'>Tienda Coral</td>
<td style='background-color: #FFF300'>ES</td>
<td style='background-color: #FFF300'>07610</td>
<td style='background-color: #FFF300'>Can Pastilla, Mallorca</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4300639</td>
<td style='background-color: #FFF300'>2023-04-26</td>
<td style='background-color: #FFF300'>V000178</td>
<td style='background-color: #FFF300'>13</td>
<td style='background-color: #FFF300'>-371.904</td>
<td style='background-color: #FFF300'>-2860.8</td>
<td style='background-color: #FFF300'>K002093</td>
<td style='background-color: #FFF300'>Pilar Yela Forteza</td>
<td style='background-color: #FFF300'>Tienda "YELA"</td>
<td style='background-color: #FFF300'>ES</td>
<td style='background-color: #FFF300'>07610</td>
<td style='background-color: #FFF300'>Can Pastilla / Baleares</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4300640</td>
<td style='background-color: #FFF300'>2023-04-26</td>
<td style='background-color: #FFF300'>V000178</td>
<td style='background-color: #FFF300'>13</td>
<td style='background-color: #FFF300'>-111.332</td>
<td style='background-color: #FFF300'>-856.4</td>
<td style='background-color: #FFF300'>K002093</td>
<td style='background-color: #FFF300'>Pilar Yela Forteza</td>
<td style='background-color: #FFF300'>Tienda "YELA"</td>
<td style='background-color: #FFF300'>ES</td>
<td style='background-color: #FFF300'>07610</td>
<td style='background-color: #FFF300'>Can Pastilla / Baleares</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4300643</td>
<td style='background-color: #FFF300'>2023-05-01</td>
<td style='background-color: #FFF300'>V000178</td>
<td style='background-color: #FFF300'>13</td>
<td style='background-color: #FFF300'>-87.802</td>
<td style='background-color: #FFF300'>-675.4</td>
<td style='background-color: #FFF300'>K002012</td>
<td style='background-color: #FFF300'>Maria Jose Sancenon Royo</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>ES</td>
<td style='background-color: #FFF300'>07008</td>
<td style='background-color: #FFF300'>Palma de Mallorca, Balears</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4300844</td>
<td style='background-color: #FFF300'>2023-05-24</td>
<td style='background-color: #FFF300'>V000178</td>
<td style='background-color: #FFF300'>13</td>
<td style='background-color: #FFF300'>-136.227</td>
<td style='background-color: #FFF300'>-1047.9</td>
<td style='background-color: #FFF300'>K002411</td>
<td style='background-color: #FFF300'>José Angel Sancho</td>
<td style='background-color: #FFF300'>Tienda Status</td>
<td style='background-color: #FFF300'>ES</td>
<td style='background-color: #FFF300'>07590</td>
<td style='background-color: #FFF300'>Cala Ratjada - Balears</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4300987</td>
<td style='background-color: #FFF300'>2023-06-12</td>
<td style='background-color: #FFF300'>V000178</td>
<td style='background-color: #FFF300'>13</td>
<td style='background-color: #FFF300'>-8.8907</td>
<td style='background-color: #FFF300'>-68.39</td>
<td style='background-color: #FFF300'>K002682</td>
<td style='background-color: #FFF300'>Adeljoa S.L.</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>ES</td>
<td style='background-color: #FFF300'>07560</td>
<td style='background-color: #FFF300'>Cala Millor - Mallorca</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4300999</td>
<td style='background-color: #FFF300'>2023-06-13</td>
<td style='background-color: #FFF300'>V000178</td>
<td style='background-color: #FFF300'>13</td>
<td style='background-color: #FFF300'>-8.242</td>
<td style='background-color: #FFF300'>-63.4</td>
<td style='background-color: #FFF300'>K002012</td>
<td style='background-color: #FFF300'>Maria Jose Sancenon Royo</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>ES</td>
<td style='background-color: #FFF300'>07008</td>
<td style='background-color: #FFF300'>Palma de Mallorca, Balears</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4301230</td>
<td style='background-color: #FFF300'>2023-07-14</td>
<td style='background-color: #FFF300'>V000178</td>
<td style='background-color: #FFF300'>13</td>
<td style='background-color: #FFF300'>-98.28</td>
<td style='background-color: #FFF300'>-756</td>
<td style='background-color: #FFF300'>K003752</td>
<td style='background-color: #FFF300'>Inversiones Pascual S.L.</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>ES</td>
<td style='background-color: #FFF300'>07400</td>
<td style='background-color: #FFF300'>Pto. de Alcudia, Mallorca</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4301290</td>
<td style='background-color: #FFF300'>2023-07-26</td>
<td style='background-color: #FFF300'>V000178</td>
<td style='background-color: #FFF300'>13</td>
<td style='background-color: #FFF300'>-42.042</td>
<td style='background-color: #FFF300'>-323.4</td>
<td style='background-color: #FFF300'>K005900</td>
<td style='background-color: #FFF300'>José Ángel Sancho Redondo</td>
<td style='background-color: #FFF300'>Top de Gala</td>
<td style='background-color: #FFF300'>ES</td>
<td style='background-color: #FFF300'>07590</td>
<td style='background-color: #FFF300'>Cala Rajada</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4301506</td>
<td style='background-color: #FFF300'>2023-09-06</td>
<td style='background-color: #FFF300'>V000178</td>
<td style='background-color: #FFF300'>13</td>
<td style='background-color: #FFF300'>-12.415</td>
<td style='background-color: #FFF300'>-95.5</td>
<td style='background-color: #FFF300'>K002411</td>
<td style='background-color: #FFF300'>José Angel Sancho</td>
<td style='background-color: #FFF300'>Tienda Status</td>
<td style='background-color: #FFF300'>ES</td>
<td style='background-color: #FFF300'>07590</td>
<td style='background-color: #FFF300'>Cala Ratjada - Balears</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4301507</td>
<td style='background-color: #FFF300'>2023-09-06</td>
<td style='background-color: #FFF300'>V000178</td>
<td style='background-color: #FFF300'>13</td>
<td style='background-color: #FFF300'>-14.248</td>
<td style='background-color: #FFF300'>-109.6</td>
<td style='background-color: #FFF300'>K002411</td>
<td style='background-color: #FFF300'>José Angel Sancho</td>
<td style='background-color: #FFF300'>Tienda Status</td>
<td style='background-color: #FFF300'>ES</td>
<td style='background-color: #FFF300'>07590</td>
<td style='background-color: #FFF300'>Cala Ratjada - Balears</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4301550</td>
<td style='background-color: #FFF300'>2023-09-13</td>
<td style='background-color: #FFF300'>V000178</td>
<td style='background-color: #FFF300'>13</td>
<td style='background-color: #FFF300'>-59.6427</td>
<td style='background-color: #FFF300'>-458.79</td>
<td style='background-color: #FFF300'>K002682</td>
<td style='background-color: #FFF300'>Adeljoa S.L.</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>ES</td>
<td style='background-color: #FFF300'>07560</td>
<td style='background-color: #FFF300'>Cala Millor - Mallorca</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4301738</td>
<td style='background-color: #FFF300'>2023-10-10</td>
<td style='background-color: #FFF300'>V000178</td>
<td style='background-color: #FFF300'>13</td>
<td style='background-color: #FFF300'>-150.4542</td>
<td style='background-color: #FFF300'>-1157.34</td>
<td style='background-color: #FFF300'>K002682</td>
<td style='background-color: #FFF300'>Adeljoa S.L.</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>ES</td>
<td style='background-color: #FFF300'>07560</td>
<td style='background-color: #FFF300'>Cala Millor - Mallorca</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4301821</td>
<td style='background-color: #FFF300'>2023-10-24</td>
<td style='background-color: #FFF300'>V000178</td>
<td style='background-color: #FFF300'>13</td>
<td style='background-color: #FFF300'>-114.647</td>
<td style='background-color: #FFF300'>-881.9</td>
<td style='background-color: #FFF300'>K002411</td>
<td style='background-color: #FFF300'>José Angel Sancho</td>
<td style='background-color: #FFF300'>Tienda Status</td>
<td style='background-color: #FFF300'>ES</td>
<td style='background-color: #FFF300'>07590</td>
<td style='background-color: #FFF300'>Cala Ratjada - Balears</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4400104</td>
<td style='background-color: #FFF300'>2024-01-23</td>
<td style='background-color: #FFF300'>V000178</td>
<td style='background-color: #FFF300'>13</td>
<td style='background-color: #FFF300'>-280.319</td>
<td style='background-color: #FFF300'>-2156.3</td>
<td style='background-color: #FFF300'>K002012</td>
<td style='background-color: #FFF300'>Maria Jose Sancenon Royo</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>ES</td>
<td style='background-color: #FFF300'>07008</td>
<td style='background-color: #FFF300'>Palma de Mallorca, Balears</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>All paid amount</td>
<td style='background-color: #90EE90'>5917.4</td>
<td style='background-color: #FFFFFF'>All comissions</td>
<td style='background-color: #90EE90'>769.26</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
 </tbody>
                    </table>
                    {% endblock %}