{%extends 'base.html'%}
                            {% block content %}     
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--<link rel="stylesheet" type="text/css" href="normas.css">-->
    <style>
        body{
            background-color: #d6e1f8;

        }
        th, td {
            border: 1px solid #ccc;

            text-align: center;
        }

        table {

            border-collapse: collapse !important; /* optional: collapse the table borders */
        }

        table tr {
            background-color: #8BC34A !important; /* Set background color of all rows */
        }

        table tr:hover td {
            background-color: #2196F3 !important; /* Set background color of cells when hovered */
        }

    </style>
                     <table border="1" class="dataframe" style="width:100%;">
                                 <thead>
                                     <tr style="text-align: right;">
<th style='background-color: #899EF0'>RK</th>
<th style='background-color: #899EF0'>GF-Nr</th>
<th style='background-color: #899EF0'>Datum</th>
<th style='background-color: #899EF0'>Vertreter</th>
<th style='background-color: #899EF0'>ProvProz</th>
<th style='background-color: #899EF0'>Provision</th>
<th style='background-color: #899EF0'>Summe</th>
<th style='background-color: #899EF0'>Lieferant</th>
<th style='background-color: #899EF0'>Lieferantenname</th>
<th style='background-color: #899EF0'>Name2</th>
<th style='background-color: #899EF0'>IntKz</th>
<th style='background-color: #899EF0'>PLZ Neu</th>
<th style='background-color: #899EF0'>Ort</th>
<th style='background-color: #899EF0'>s</th>
<th style='background-color: #899EF0'>Paid amount</th>
<th style='background-color: #899EF0'>Payment status</th>
<th style='background-color: #899EF0'>Payment commission</th>
<th style='background-color: #899EF0'>Payments with Rest</th>
<th style='background-color: #899EF0'>Payments Dates</th>
<th style='background-color: #FFFFFF'> </th>
<th style='background-color: #FFFFFF'> </th>
<th style='background-color: #FFFFFF'> </th>
</tr>
</thead>
                          <tbody><tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300214</td>
<td style='background-color: #00FF00'>2023-02-15 00:00:00</td>
<td style='background-color: #00FF00'>V000183</td>
<td style='background-color: #00FF00'>10</td>
<td style='background-color: #00FF00'>62.789</td>
<td style='background-color: #00FF00'>627.89</td>
<td style='background-color: #00FF00'>K005170</td>
<td style='background-color: #00FF00'>PLATAS</td>
<td style='background-color: #00FF00'>Natalia Pazos Martínez</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>15001</td>
<td style='background-color: #00FF00'>Ferrol, La Coruña</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>627.89</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>62.8</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>14.04.2023,  627.9</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300215</td>
<td style='background-color: #00FF00'>2023-02-15 00:00:00</td>
<td style='background-color: #00FF00'>V000183</td>
<td style='background-color: #00FF00'>10</td>
<td style='background-color: #00FF00'>38.489</td>
<td style='background-color: #00FF00'>384.89</td>
<td style='background-color: #00FF00'>K005170</td>
<td style='background-color: #00FF00'>PLATAS</td>
<td style='background-color: #00FF00'>Natalia Pazos Martínez</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>15001</td>
<td style='background-color: #00FF00'>Ferrol, La Coruña</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>384.89</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>38.5</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>14.04.2023,  384.9</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300216</td>
<td style='background-color: #00FF00'>2023-02-15 00:00:00</td>
<td style='background-color: #00FF00'>V000183</td>
<td style='background-color: #00FF00'>10</td>
<td style='background-color: #00FF00'>71.467</td>
<td style='background-color: #00FF00'>714.67</td>
<td style='background-color: #00FF00'>K005170</td>
<td style='background-color: #00FF00'>PLATAS</td>
<td style='background-color: #00FF00'>Natalia Pazos Martínez</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>15001</td>
<td style='background-color: #00FF00'>Ferrol, La Coruña</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>714.67</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>71.5</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>14.04.2023,  714.7</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300293</td>
<td style='background-color: #00FF00'>2023-02-28 00:00:00</td>
<td style='background-color: #00FF00'>V000183</td>
<td style='background-color: #00FF00'>10</td>
<td style='background-color: #00FF00'>52.896</td>
<td style='background-color: #00FF00'>528.96</td>
<td style='background-color: #00FF00'>K003419</td>
<td style='background-color: #00FF00'>JC Orfebres</td>
<td style='background-color: #00FF00'>Jotace Orfebres, SL</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>15701</td>
<td style='background-color: #00FF00'>Santiago de Compostela</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>528.96</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>52.9</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>15.05.2023,  529.0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300362</td>
<td style='background-color: #00FF00'>2023-03-13 00:00:00</td>
<td style='background-color: #00FF00'>V000183</td>
<td style='background-color: #00FF00'>10</td>
<td style='background-color: #00FF00'>200.19</td>
<td style='background-color: #00FF00'>2001.9</td>
<td style='background-color: #00FF00'>K003343</td>
<td style='background-color: #00FF00'>Calzados Puntera "C.B."</td>
<td style='background-color: #00FF00'>E94062478</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>36770</td>
<td style='background-color: #00FF00'>O ROSAL, Pontevedra</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>2001.9</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>200.2</td>
<td style='background-color: #FFFFFF'>31.05.2023,  400</td>
<td style='background-color: #FFFFFF'>14.04.2023,  1201.1</td>
<td style='background-color: #FFFFFF'>15.05.2023,  600.6</td>
<td style='background-color: #FFFFFF'>31.05.2023,  600.6</td>
<td style='background-color: #FFFFFF'>07.06.2023,  600.6</td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300426</td>
<td style='background-color: #00FF00'>2023-03-24 00:00:00</td>
<td style='background-color: #00FF00'>V000183</td>
<td style='background-color: #00FF00'>10</td>
<td style='background-color: #00FF00'>27.545</td>
<td style='background-color: #00FF00'>275.45</td>
<td style='background-color: #00FF00'>K005170</td>
<td style='background-color: #00FF00'>PLATAS</td>
<td style='background-color: #00FF00'>Natalia Pazos Martínez</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>15001</td>
<td style='background-color: #00FF00'>Ferrol, La Coruña</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>275.45</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>27.5</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>31.05.2023,  275.4</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300503</td>
<td style='background-color: #00FF00'>2023-03-31 00:00:00</td>
<td style='background-color: #00FF00'>V000183</td>
<td style='background-color: #00FF00'>10</td>
<td style='background-color: #00FF00'>93.724</td>
<td style='background-color: #00FF00'>937.24</td>
<td style='background-color: #00FF00'>K005186</td>
<td style='background-color: #00FF00'>Isabel Gonzalez Benito</td>
<td style='background-color: #00FF00'>"Bazar Chabela"</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>32600</td>
<td style='background-color: #00FF00'>Verin - Corense</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>937.24</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>93.7</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>02.05.2023,  468.6</td>
<td style='background-color: #FFFFFF'>30.06.2023,  468.6</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300514</td>
<td style='background-color: #00FF00'>2023-04-06 00:00:00</td>
<td style='background-color: #00FF00'>V000183</td>
<td style='background-color: #00FF00'>10</td>
<td style='background-color: #00FF00'>443.49</td>
<td style='background-color: #00FF00'>4434.9</td>
<td style='background-color: #00FF00'>K003343</td>
<td style='background-color: #00FF00'>Calzados Puntera "C.B."</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>36770</td>
<td style='background-color: #00FF00'>O ROSAL, Pontevedra</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>4434.9</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>443.5</td>
<td style='background-color: #FFFFFF'>31.05.2023,  2364</td>
<td style='background-color: #FFFFFF'>15.05.2023,  2266.2</td>
<td style='background-color: #FFFFFF'>07.06.2023,  2266.2</td>
<td style='background-color: #FFFFFF'>31.05.2023,  2266.2</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300646</td>
<td style='background-color: #00FF00'>2023-04-26 00:00:00</td>
<td style='background-color: #00FF00'>V000183</td>
<td style='background-color: #00FF00'>10</td>
<td style='background-color: #00FF00'>26.96</td>
<td style='background-color: #00FF00'>269.6</td>
<td style='background-color: #00FF00'>K003343</td>
<td style='background-color: #00FF00'>Calzados Puntera "C.B."</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>36770</td>
<td style='background-color: #00FF00'>O ROSAL, Pontevedra</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>269.6</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>27</td>
<td style='background-color: #FFFFFF'>31.05.2023,  270</td>
<td style='background-color: #FFFFFF'>07.06.2023,  269.6</td>
<td style='background-color: #FFFFFF'>31.05.2023,  269.6</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300832</td>
<td style='background-color: #00FF00'>2023-05-23 00:00:00</td>
<td style='background-color: #00FF00'>V000183</td>
<td style='background-color: #00FF00'>10</td>
<td style='background-color: #00FF00'>10.974</td>
<td style='background-color: #00FF00'>109.74</td>
<td style='background-color: #00FF00'>K005170</td>
<td style='background-color: #00FF00'>PLATAS</td>
<td style='background-color: #00FF00'>Natalia Pazos Martínez</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>15001</td>
<td style='background-color: #00FF00'>Ferrol, La Coruña</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>109.74</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>11</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>31.07.2023,  109.7</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4300873</td>
<td style='background-color: #FFF300'>2023-05-30 00:00:00</td>
<td style='background-color: #FFF300'>V000183</td>
<td style='background-color: #FFF300'>10</td>
<td style='background-color: #FFF300'>-1.8</td>
<td style='background-color: #FFF300'>-18</td>
<td style='background-color: #FFF300'>K005170</td>
<td style='background-color: #FFF300'>PLATAS</td>
<td style='background-color: #FFF300'>Natalia Pazos Martínez</td>
<td style='background-color: #FFF300'>ES</td>
<td style='background-color: #FFF300'>15402</td>
<td style='background-color: #FFF300'>Ferrol, La Coruña</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300959</td>
<td style='background-color: #00FF00'>2023-06-09 00:00:00</td>
<td style='background-color: #00FF00'>V000183</td>
<td style='background-color: #00FF00'>10</td>
<td style='background-color: #00FF00'>44.18</td>
<td style='background-color: #00FF00'>441.8</td>
<td style='background-color: #00FF00'>K003343</td>
<td style='background-color: #00FF00'>Calzados Puntera "C.B."</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>36770</td>
<td style='background-color: #00FF00'>O ROSAL, Pontevedra</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>441.8</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>44.2</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>14.07.2023,  441.8</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4301464</td>
<td style='background-color: #00FF00'>2023-08-29 00:00:00</td>
<td style='background-color: #00FF00'>V000183</td>
<td style='background-color: #00FF00'>10</td>
<td style='background-color: #00FF00'>94.92</td>
<td style='background-color: #00FF00'>949.2</td>
<td style='background-color: #00FF00'>K003343</td>
<td style='background-color: #00FF00'>Calzados Puntera "C.B."</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>36770</td>
<td style='background-color: #00FF00'>O ROSAL</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>949.2</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>94.9</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>02.10.2023,  949.2</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4301604</td>
<td style='background-color: #00FF00'>2023-09-26 00:00:00</td>
<td style='background-color: #00FF00'>V000183</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>21.203</td>
<td style='background-color: #00FF00'>163.1</td>
<td style='background-color: #00FF00'>K005477</td>
<td style='background-color: #00FF00'>Paolo Lena Fernandez</td>
<td style='background-color: #00FF00'>Per Lei Plata</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>15630</td>
<td style='background-color: #00FF00'>MINO</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>163.1</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>21.2</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>30.10.2023,  163.1</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4301787</td>
<td style='background-color: #00FF00'>2023-10-18 00:00:00</td>
<td style='background-color: #00FF00'>V000183</td>
<td style='background-color: #00FF00'>10</td>
<td style='background-color: #00FF00'>52.89</td>
<td style='background-color: #00FF00'>528.9</td>
<td style='background-color: #00FF00'>K003343</td>
<td style='background-color: #00FF00'>Calzados Puntera "C.B."</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>36770</td>
<td style='background-color: #00FF00'>O ROSAL, Pontevedra</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>528.9</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>52.9</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>30.11.2023,  528.9</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4301911</td>
<td style='background-color: #FFFFFF'>2023-11-08 00:00:00</td>
<td style='background-color: #FFFFFF'>V000183</td>
<td style='background-color: #FFFFFF'>10</td>
<td style='background-color: #FFFFFF'>30.52</td>
<td style='background-color: #FFFFFF'>305.2</td>
<td style='background-color: #FFFFFF'>K003419</td>
<td style='background-color: #FFFFFF'>JC Orfebres</td>
<td style='background-color: #FFFFFF'>Jotace Orfebres, SL</td>
<td style='background-color: #FFFFFF'>ES</td>
<td style='background-color: #FFFFFF'>15701</td>
<td style='background-color: #FFFFFF'>Santiago de Compostela</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4302021</td>
<td style='background-color: #FFFFFF'>2023-11-24 00:00:00</td>
<td style='background-color: #FFFFFF'>V000183</td>
<td style='background-color: #FFFFFF'>13</td>
<td style='background-color: #FFFFFF'>27.495</td>
<td style='background-color: #FFFFFF'>211.5</td>
<td style='background-color: #FFFFFF'>K005477</td>
<td style='background-color: #FFFFFF'>Paolo Lena Fernandez</td>
<td style='background-color: #FFFFFF'>Per Lei Plata</td>
<td style='background-color: #FFFFFF'>ES</td>
<td style='background-color: #FFFFFF'>15630</td>
<td style='background-color: #FFFFFF'>MINO</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>All paid amount</td>
<td style='background-color: #90EE90'>16002.5</td>
<td style='background-color: #FFFFFF'>All comissions</td>
<td style='background-color: #90EE90'>1605.14</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
 </tbody>
                    </table>
                    {% endblock %}