<meta charset="utf-8">
                 <table border="1" class="dataframe">
                             <thead>
                                 <tr style="text-align: right;">
<th style='background-color: #B0CBF0'>RK</th>
<th style='background-color: #B0CBF0'>GF-Nr</th>
<th style='background-color: #B0CBF0'>Datum</th>
<th style='background-color: #B0CBF0'>Vertreter</th>
<th style='background-color: #B0CBF0'>ProvProz</th>
<th style='background-color: #B0CBF0'>Provision</th>
<th style='background-color: #B0CBF0'>Summe</th>
<th style='background-color: #B0CBF0'>Lieferant</th>
<th style='background-color: #B0CBF0'>Lieferantenname</th>
<th style='background-color: #B0CBF0'>Name2</th>
<th style='background-color: #B0CBF0'>IntKz</th>
<th style='background-color: #B0CBF0'>PLZ Neu</th>
<th style='background-color: #B0CBF0'>Ort</th>
<th style='background-color: #FFFFFF'> </th>
<th style='background-color: #899EF0'>Paid amount</th>
<th style='background-color: #899EF0'>Payment status</th>
<th style='background-color: #899EF0'>Payment commission</th>
<th style='background-color: #899EF0'>Payments with Rest</th>
<th style='background-color: #899EF0'>Payments Dates</th>
</tr>
</thead>
                  <tbody><tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4201746</td>
<td style='background-color: #FFFFFF'>2022-08-16 00:00:00</td>
<td style='background-color: #FFFFFF'>V000178</td>
<td style='background-color: #FFFFFF'>13</td>
<td style='background-color: #FFFFFF'>53.495</td>
<td style='background-color: #FFFFFF'>411.5</td>
<td style='background-color: #FFFFFF'>K002411</td>
<td style='background-color: #FFFFFF'>José Angel Sancho</td>
<td style='background-color: #FFFFFF'>Tienda Status</td>
<td style='background-color: #FFFFFF'>ES</td>
<td style='background-color: #FFFFFF'>07590</td>
<td style='background-color: #FFFFFF'>Cala Ratjada - Balears</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4201767</td>
<td style='background-color: #FFFFFF'>2022-08-19 00:00:00</td>
<td style='background-color: #FFFFFF'>V000178</td>
<td style='background-color: #FFFFFF'>13</td>
<td style='background-color: #FFFFFF'>200.473</td>
<td style='background-color: #FFFFFF'>1542.1</td>
<td style='background-color: #FFFFFF'>K006152</td>
<td style='background-color: #FFFFFF'>Joyeria Golf</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>ES</td>
<td style='background-color: #FFFFFF'>07160</td>
<td style='background-color: #FFFFFF'>Paguera, Islas Balears</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4201801</td>
<td style='background-color: #FFFFFF'>2022-08-25 00:00:00</td>
<td style='background-color: #FFFFFF'>V000178</td>
<td style='background-color: #FFFFFF'>13</td>
<td style='background-color: #FFFFFF'>8.242</td>
<td style='background-color: #FFFFFF'>63.4</td>
<td style='background-color: #FFFFFF'>K002012</td>
<td style='background-color: #FFFFFF'>Maria Jose Sancenon Royo</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>ES</td>
<td style='background-color: #FFFFFF'>07008</td>
<td style='background-color: #FFFFFF'>Palma de Mallorca, Balears</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4201810</td>
<td style='background-color: #FFFFFF'>2022-08-29 00:00:00</td>
<td style='background-color: #FFFFFF'>V000178</td>
<td style='background-color: #FFFFFF'>13</td>
<td style='background-color: #FFFFFF'>356.7707</td>
<td style='background-color: #FFFFFF'>2744.39</td>
<td style='background-color: #FFFFFF'>K002682</td>
<td style='background-color: #FFFFFF'>Adeljoa S.L.</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>ES</td>
<td style='background-color: #FFFFFF'>07560</td>
<td style='background-color: #FFFFFF'>Cala Millor - Mallorca</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4201811</td>
<td style='background-color: #FFFFFF'>2022-08-29 00:00:00</td>
<td style='background-color: #FFFFFF'>V000178</td>
<td style='background-color: #FFFFFF'>13</td>
<td style='background-color: #FFFFFF'>159.8805</td>
<td style='background-color: #FFFFFF'>1229.85</td>
<td style='background-color: #FFFFFF'>K002682</td>
<td style='background-color: #FFFFFF'>Adeljoa S.L.</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>ES</td>
<td style='background-color: #FFFFFF'>07560</td>
<td style='background-color: #FFFFFF'>Cala Millor - Mallorca</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4201819</td>
<td style='background-color: #FFFFFF'>2022-08-29 00:00:00</td>
<td style='background-color: #FFFFFF'>V000178</td>
<td style='background-color: #FFFFFF'>13</td>
<td style='background-color: #FFFFFF'>62.608</td>
<td style='background-color: #FFFFFF'>481.6</td>
<td style='background-color: #FFFFFF'>K002411</td>
<td style='background-color: #FFFFFF'>José Angel Sancho</td>
<td style='background-color: #FFFFFF'>Tienda Status</td>
<td style='background-color: #FFFFFF'>ES</td>
<td style='background-color: #FFFFFF'>07590</td>
<td style='background-color: #FFFFFF'>Cala Ratjada - Balears</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4201820</td>
<td style='background-color: #FFFFFF'>2022-08-29 00:00:00</td>
<td style='background-color: #FFFFFF'>V000178</td>
<td style='background-color: #FFFFFF'>13</td>
<td style='background-color: #FFFFFF'>80.808</td>
<td style='background-color: #FFFFFF'>621.6</td>
<td style='background-color: #FFFFFF'>K001829</td>
<td style='background-color: #FFFFFF'>Grupo Victoria de Joyerias, S.L.</td>
<td style='background-color: #FFFFFF'>Joyeria Victoria</td>
<td style='background-color: #FFFFFF'>ES</td>
<td style='background-color: #FFFFFF'>07400</td>
<td style='background-color: #FFFFFF'>Bahia de Alcudia, Balears</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4201822</td>
<td style='background-color: #FFFFFF'>2022-08-29 00:00:00</td>
<td style='background-color: #FFFFFF'>V000178</td>
<td style='background-color: #FFFFFF'>13</td>
<td style='background-color: #FFFFFF'>40.209</td>
<td style='background-color: #FFFFFF'>309.3</td>
<td style='background-color: #FFFFFF'>K005971</td>
<td style='background-color: #FFFFFF'>Josep Casellas Braup</td>
<td style='background-color: #FFFFFF'>Tienda Bai Bai</td>
<td style='background-color: #FFFFFF'>ES</td>
<td style='background-color: #FFFFFF'>17600</td>
<td style='background-color: #FFFFFF'>Figueras</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4201882</td>
<td style='background-color: #FFFFFF'>2022-09-01 00:00:00</td>
<td style='background-color: #FFFFFF'>V000178</td>
<td style='background-color: #FFFFFF'>13</td>
<td style='background-color: #FFFFFF'>149.864</td>
<td style='background-color: #FFFFFF'>1152.8</td>
<td style='background-color: #FFFFFF'>K002091</td>
<td style='background-color: #FFFFFF'>Deya Mira S.L</td>
<td style='background-color: #FFFFFF'>Tienda Coral</td>
<td style='background-color: #FFFFFF'>ES</td>
<td style='background-color: #FFFFFF'>07610</td>
<td style='background-color: #FFFFFF'>Can Pastilla, Mallorca</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4201928</td>
<td style='background-color: #FFFFFF'>2022-09-12 00:00:00</td>
<td style='background-color: #FFFFFF'>V000178</td>
<td style='background-color: #FFFFFF'>13</td>
<td style='background-color: #FFFFFF'>49.855</td>
<td style='background-color: #FFFFFF'>383.5</td>
<td style='background-color: #FFFFFF'>K002411</td>
<td style='background-color: #FFFFFF'>José Angel Sancho</td>
<td style='background-color: #FFFFFF'>Tienda Status</td>
<td style='background-color: #FFFFFF'>ES</td>
<td style='background-color: #FFFFFF'>07590</td>
<td style='background-color: #FFFFFF'>Cala Ratjada - Balears</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4201984</td>
<td style='background-color: #FFFFFF'>2022-09-22 00:00:00</td>
<td style='background-color: #FFFFFF'>V000178</td>
<td style='background-color: #FFFFFF'>13</td>
<td style='background-color: #FFFFFF'>61.399</td>
<td style='background-color: #FFFFFF'>472.3</td>
<td style='background-color: #FFFFFF'>K002411</td>
<td style='background-color: #FFFFFF'>José Angel Sancho</td>
<td style='background-color: #FFFFFF'>Tienda Status</td>
<td style='background-color: #FFFFFF'>ES</td>
<td style='background-color: #FFFFFF'>07590</td>
<td style='background-color: #FFFFFF'>Cala Ratjada - Balears</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4202082</td>
<td style='background-color: #FFFFFF'>2022-09-30 00:00:00</td>
<td style='background-color: #FFFFFF'>V000178</td>
<td style='background-color: #FFFFFF'>13</td>
<td style='background-color: #FFFFFF'>39.299</td>
<td style='background-color: #FFFFFF'>302.3</td>
<td style='background-color: #FFFFFF'>K002411</td>
<td style='background-color: #FFFFFF'>José Angel Sancho</td>
<td style='background-color: #FFFFFF'>Tienda Status</td>
<td style='background-color: #FFFFFF'>ES</td>
<td style='background-color: #FFFFFF'>07590</td>
<td style='background-color: #FFFFFF'>Cala Ratjada - Balears</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4202101</td>
<td style='background-color: #FFFFFF'>2022-09-30 00:00:00</td>
<td style='background-color: #FFFFFF'>V000178</td>
<td style='background-color: #FFFFFF'>13</td>
<td style='background-color: #FFFFFF'>70.681</td>
<td style='background-color: #FFFFFF'>543.7</td>
<td style='background-color: #FFFFFF'>K002088</td>
<td style='background-color: #FFFFFF'>Rustic Beach S.L</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>ES</td>
<td style='background-color: #FFFFFF'>07560</td>
<td style='background-color: #FFFFFF'>Sa- Coma- Baleares</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4202222</td>
<td style='background-color: #FFF300'>2022-10-27 00:00:00</td>
<td style='background-color: #FFF300'>V000178</td>
<td style='background-color: #FFF300'>13</td>
<td style='background-color: #FFF300'>-2.912</td>
<td style='background-color: #FFF300'>-22.4</td>
<td style='background-color: #FFF300'>K002686</td>
<td style='background-color: #FFF300'>Miguel Cardona Alles</td>
<td style='background-color: #FFF300'>JOYERIA GOYA</td>
<td style='background-color: #FFF300'>ES</td>
<td style='background-color: #FFF300'>07750</td>
<td style='background-color: #FFF300'>Cala Galdana, Menorca</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4202362</td>
<td style='background-color: #FFF300'>2022-11-17 00:00:00</td>
<td style='background-color: #FFF300'>V000178</td>
<td style='background-color: #FFF300'>13</td>
<td style='background-color: #FFF300'>-28.6442</td>
<td style='background-color: #FFF300'>-220.34</td>
<td style='background-color: #FFF300'>K002682</td>
<td style='background-color: #FFF300'>Adeljoa S.L.</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>ES</td>
<td style='background-color: #FFF300'>07560</td>
<td style='background-color: #FFF300'>Cala Millor - Mallorca</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4202381</td>
<td style='background-color: #FFFFFF'>2022-11-22 00:00:00</td>
<td style='background-color: #FFFFFF'>V000178</td>
<td style='background-color: #FFFFFF'>13</td>
<td style='background-color: #FFFFFF'>485.9348</td>
<td style='background-color: #FFFFFF'>3737.96</td>
<td style='background-color: #FFFFFF'>K002682</td>
<td style='background-color: #FFFFFF'>Adeljoa S.L.</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>ES</td>
<td style='background-color: #FFFFFF'>07560</td>
<td style='background-color: #FFFFFF'>Cala Millor - Mallorca</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4300055</td>
<td style='background-color: #FFFFFF'>2023-01-16 00:00:00</td>
<td style='background-color: #FFFFFF'>V000178</td>
<td style='background-color: #FFFFFF'>13</td>
<td style='background-color: #FFFFFF'>=0.13*G18</td>
<td style='background-color: #FFFFFF'>2860.8</td>
<td style='background-color: #FFFFFF'>K002093</td>
<td style='background-color: #FFFFFF'>Pilar Yela Forteza</td>
<td style='background-color: #FFFFFF'>Tienda "YELA"</td>
<td style='background-color: #FFFFFF'>ES</td>
<td style='background-color: #FFFFFF'>07610</td>
<td style='background-color: #FFFFFF'>Can Pastilla / Baleares</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4300333</td>
<td style='background-color: #FFFFFF'>2023-03-07 00:00:00</td>
<td style='background-color: #FFFFFF'>V000178</td>
<td style='background-color: #FFFFFF'>13</td>
<td style='background-color: #FFFFFF'>769.2646</td>
<td style='background-color: #FFFFFF'>5917.42</td>
<td style='background-color: #FFFFFF'>K002012</td>
<td style='background-color: #FFFFFF'>Maria Jose Sancenon Royo</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>ES</td>
<td style='background-color: #FFFFFF'>07008</td>
<td style='background-color: #FFFFFF'>Palma de Mallorca, Balears</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>All requested: </td>
<td style='background-color: #FFF300'>62134.0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #68BF9D'>0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #68BF9D'>0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
 </tbody>
                </table>