{%extends 'base.html'%}
                        {% block content %}
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!--<link rel="stylesheet" type="text/css" href="normas.css">-->
<style>
    body{
        background-color: #d6e1f8;
         
    }
    th, td {
        border: 1px solid #ccc;
        
        text-align: center;
    }

    table {
   
        border-collapse: collapse !important; /* optional: collapse the table borders */
    }

    table tr {
        background-color: #8BC34A !important; /* Set background color of all rows */
    }

    table tr:hover td {
        background-color: #2196F3 !important; /* Set background color of cells when hovered */
    }

</style>
                 <table border="1" class="dataframe" style="width:100%;">
                             <thead>
                                 <tr style="text-align: right;">
<th style='background-color: #B0CBF0'>RK</th>
<th style='background-color: #B0CBF0'>GF-Nr</th>
<th style='background-color: #B0CBF0'>Data</th>
<th style='background-color: #B0CBF0'>Representante</th>
<th style='background-color: #B0CBF0'>Proviggioni </th>
<th style='background-color: #B0CBF0'>Proviggioni somma</th>
<th style='background-color: #B0CBF0'>Somme</th>
<th style='background-color: #B0CBF0'>Numero cliente</th>
<th style='background-color: #B0CBF0'>Nome cliente</th>
<th style='background-color: #B0CBF0'>Nome cliente 2</th>
<th style='background-color: #B0CBF0'>IntKz</th>
<th style='background-color: #B0CBF0'>CAP</th>
<th style='background-color: #B0CBF0'>Indirizzo</th>
<th style='background-color: #FFFFFF'> </th>
<th style='background-color: #899EF0'>Pagato</th>
<th style='background-color: #899EF0'>Stato pagamento</th>
<th style='background-color: #899EF0'>Proviggioni su pagato</th>
<th style='background-color: #899EF0'> </th>
<th style='background-color: #899EF0'>Data pagamento</th>
<th style='background-color: #FFFFFF'> </th>
<th style='background-color: #FFFFFF'> </th>
<th style='background-color: #FFFFFF'> </th>
<th style='background-color: #FFFFFF'> </th>
<th style='background-color: #FFFFFF'> </th>
</tr>
</thead>
                      <tbody><tr>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'>RE-4200004</td>
<td style='background-color: #92D050'>2022-01-03 00:00:00</td>
<td style='background-color: #92D050'>V000155</td>
<td style='background-color: #92D050'>15</td>
<td style='background-color: #92D050'>46.102</td>
<td style='background-color: #92D050'>329.3</td>
<td style='background-color: #92D050'>K001534</td>
<td style='background-color: #92D050'>Giovannetti Stefano</td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'>IT</td>
<td style='background-color: #92D050'>56030</td>
<td style='background-color: #92D050'>La Rosa Terricciola (PI)</td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'>RE-4200126</td>
<td style='background-color: #92D050'>2022-01-21 00:00:00</td>
<td style='background-color: #92D050'>V000155</td>
<td style='background-color: #92D050'>15</td>
<td style='background-color: #92D050'>54.852</td>
<td style='background-color: #92D050'>391.8</td>
<td style='background-color: #92D050'>K004526</td>
<td style='background-color: #92D050'>Matazzoni Claudia</td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'>IT</td>
<td style='background-color: #92D050'>54033</td>
<td style='background-color: #92D050'>Avenza</td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'>RE-4200198</td>
<td style='background-color: #92D050'>2022-01-28 00:00:00</td>
<td style='background-color: #92D050'>V000155</td>
<td style='background-color: #92D050'>15</td>
<td style='background-color: #92D050'>96.642</td>
<td style='background-color: #92D050'>690.3</td>
<td style='background-color: #92D050'>K005996</td>
<td style='background-color: #92D050'>Le Gogge degli Angeli</td>
<td style='background-color: #92D050'>di Rosca Angela</td>
<td style='background-color: #92D050'>IT</td>
<td style='background-color: #92D050'>19124</td>
<td style='background-color: #92D050'>La Spezia</td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'>RE-4200320</td>
<td style='background-color: #92D050'>2022-02-10 00:00:00</td>
<td style='background-color: #92D050'>V000155</td>
<td style='background-color: #92D050'>15</td>
<td style='background-color: #92D050'>39.088</td>
<td style='background-color: #92D050'>279.2</td>
<td style='background-color: #92D050'>K001534</td>
<td style='background-color: #92D050'>Giovannetti Stefano</td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'>IT</td>
<td style='background-color: #92D050'>56030</td>
<td style='background-color: #92D050'>La Rosa Terricciola (PI)</td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'>RE-4200323</td>
<td style='background-color: #92D050'>2022-02-11 00:00:00</td>
<td style='background-color: #92D050'>V000155</td>
<td style='background-color: #92D050'>15</td>
<td style='background-color: #92D050'>16.422</td>
<td style='background-color: #92D050'>117.3</td>
<td style='background-color: #92D050'>K005996</td>
<td style='background-color: #92D050'>Le Gogge degli Angeli</td>
<td style='background-color: #92D050'>di Rosca Angela</td>
<td style='background-color: #92D050'>IT</td>
<td style='background-color: #92D050'>19124</td>
<td style='background-color: #92D050'>La Spezia</td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'>RE-4200333</td>
<td style='background-color: #92D050'>2022-02-14 00:00:00</td>
<td style='background-color: #92D050'>V000155</td>
<td style='background-color: #92D050'>15</td>
<td style='background-color: #92D050'>2.352</td>
<td style='background-color: #92D050'>16.8</td>
<td style='background-color: #92D050'>K005996</td>
<td style='background-color: #92D050'>Le Gogge degli Angeli</td>
<td style='background-color: #92D050'>di Rosca Angela</td>
<td style='background-color: #92D050'>IT</td>
<td style='background-color: #92D050'>19124</td>
<td style='background-color: #92D050'>La Spezia</td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'>RE-4200345</td>
<td style='background-color: #92D050'>2022-02-14 00:00:00</td>
<td style='background-color: #92D050'>V000155</td>
<td style='background-color: #92D050'>15</td>
<td style='background-color: #92D050'>76.118</td>
<td style='background-color: #92D050'>543.7</td>
<td style='background-color: #92D050'>K003161</td>
<td style='background-color: #92D050'>Life di Marco Conti</td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'>IT</td>
<td style='background-color: #92D050'>52100</td>
<td style='background-color: #92D050'>Arezzo (AR)</td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4200360</td>
<td style='background-color: #FFF300'>2022-02-15 00:00:00</td>
<td style='background-color: #FFF300'>V000155</td>
<td style='background-color: #FFF300'>15</td>
<td style='background-color: #FFF300'>-39.984</td>
<td style='background-color: #FFF300'>-285.6</td>
<td style='background-color: #FFF300'>K005996</td>
<td style='background-color: #FFF300'>Le Gogge degli Angeli</td>
<td style='background-color: #FFF300'>di Rosca Angela</td>
<td style='background-color: #FFF300'>IT</td>
<td style='background-color: #FFF300'>19124</td>
<td style='background-color: #FFF300'>La Spezia</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>NOTA DI CREDITO</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'>RE-4200520</td>
<td style='background-color: #92D050'>2022-03-15 00:00:00</td>
<td style='background-color: #92D050'>V000155</td>
<td style='background-color: #92D050'>15</td>
<td style='background-color: #92D050'>85.68</td>
<td style='background-color: #92D050'>612</td>
<td style='background-color: #92D050'>K005082</td>
<td style='background-color: #92D050'>GIOVANNINI RENZA</td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'>IT</td>
<td style='background-color: #92D050'>50032</td>
<td style='background-color: #92D050'>BORGO SAN LORENZO ( FI)</td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'>RE-4200722</td>
<td style='background-color: #92D050'>2022-04-07 00:00:00</td>
<td style='background-color: #92D050'>V000155</td>
<td style='background-color: #92D050'>15</td>
<td style='background-color: #92D050'>59.234</td>
<td style='background-color: #92D050'>423.1</td>
<td style='background-color: #92D050'>K005996</td>
<td style='background-color: #92D050'>Le Gogge degli Angeli</td>
<td style='background-color: #92D050'>di Rosca Angela</td>
<td style='background-color: #92D050'>IT</td>
<td style='background-color: #92D050'>19124</td>
<td style='background-color: #92D050'>La Spezia</td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'>RE-4200738</td>
<td style='background-color: #92D050'>2022-04-11 00:00:00</td>
<td style='background-color: #92D050'>V000155</td>
<td style='background-color: #92D050'>15</td>
<td style='background-color: #92D050'>68.32</td>
<td style='background-color: #92D050'>488</td>
<td style='background-color: #92D050'>K005224</td>
<td style='background-color: #92D050'>Cose cosí snc</td>
<td style='background-color: #92D050'>di Borgani Carlo  c.</td>
<td style='background-color: #92D050'>IT</td>
<td style='background-color: #92D050'>50121</td>
<td style='background-color: #92D050'>Firenze</td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'>RE-4200921</td>
<td style='background-color: #92D050'>2022-05-03 00:00:00</td>
<td style='background-color: #92D050'>V000155</td>
<td style='background-color: #92D050'>15</td>
<td style='background-color: #92D050'>89.796</td>
<td style='background-color: #92D050'>641.4</td>
<td style='background-color: #92D050'>K003161</td>
<td style='background-color: #92D050'>Life di Marco Conti</td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'>IT</td>
<td style='background-color: #92D050'>52100</td>
<td style='background-color: #92D050'>Arezzo (AR)</td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'>RE-4200924</td>
<td style='background-color: #92D050'>2022-05-03 00:00:00</td>
<td style='background-color: #92D050'>V000155</td>
<td style='background-color: #92D050'>15</td>
<td style='background-color: #92D050'>24.836</td>
<td style='background-color: #92D050'>177.4</td>
<td style='background-color: #92D050'>K005224</td>
<td style='background-color: #92D050'>Cose cosí snc</td>
<td style='background-color: #92D050'>di Borgani Carlo  c.</td>
<td style='background-color: #92D050'>IT</td>
<td style='background-color: #92D050'>50121</td>
<td style='background-color: #92D050'>Firenze</td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'>RE-4200938</td>
<td style='background-color: #92D050'>2022-05-05 00:00:00</td>
<td style='background-color: #92D050'>V000155</td>
<td style='background-color: #92D050'>15</td>
<td style='background-color: #92D050'>58.016</td>
<td style='background-color: #92D050'>414.4</td>
<td style='background-color: #92D050'>K004526</td>
<td style='background-color: #92D050'>Matazzoni Claudia</td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'>IT</td>
<td style='background-color: #92D050'>54033</td>
<td style='background-color: #92D050'>Avenza</td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'>RE-4200980</td>
<td style='background-color: #92D050'>2022-05-12 00:00:00</td>
<td style='background-color: #92D050'>V000155</td>
<td style='background-color: #92D050'>15</td>
<td style='background-color: #92D050'>50.666</td>
<td style='background-color: #92D050'>361.9</td>
<td style='background-color: #92D050'>K001534</td>
<td style='background-color: #92D050'>Giovannetti Stefano</td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'>IT</td>
<td style='background-color: #92D050'>56030</td>
<td style='background-color: #92D050'>La Rosa Terricciola (PI)</td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4201022</td>
<td style='background-color: #00FF00'>2022-05-18 00:00:00</td>
<td style='background-color: #00FF00'>V000155</td>
<td style='background-color: #00FF00'>15</td>
<td style='background-color: #00FF00'>134.092</td>
<td style='background-color: #00FF00'>957.8</td>
<td style='background-color: #00FF00'>K005340</td>
<td style='background-color: #00FF00'>La Porcellana</td>
<td style='background-color: #00FF00'>di Michelucci Luca</td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>51100</td>
<td style='background-color: #00FF00'>Pistoia</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>957.8</td>
<td style='background-color: #00FF00'>PAGATO</td>
<td style='background-color: #00FF00'>=ROUND(O17*E17/100,1)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>26.01.2023,  957.8</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'>RE-4201077</td>
<td style='background-color: #92D050'>2022-05-24 00:00:00</td>
<td style='background-color: #92D050'>V000155</td>
<td style='background-color: #92D050'>15</td>
<td style='background-color: #92D050'>19.362</td>
<td style='background-color: #92D050'>138.3</td>
<td style='background-color: #92D050'>K003161</td>
<td style='background-color: #92D050'>Life di Marco Conti</td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'>IT</td>
<td style='background-color: #92D050'>52100</td>
<td style='background-color: #92D050'>Arezzo (AR)</td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'>RE-4201107</td>
<td style='background-color: #92D050'>2022-05-27 00:00:00</td>
<td style='background-color: #92D050'>V000155</td>
<td style='background-color: #92D050'>15</td>
<td style='background-color: #92D050'>96.18</td>
<td style='background-color: #92D050'>687</td>
<td style='background-color: #92D050'>K005996</td>
<td style='background-color: #92D050'>Le Gogge degli Angeli</td>
<td style='background-color: #92D050'>di Rosca Angela</td>
<td style='background-color: #92D050'>IT</td>
<td style='background-color: #92D050'>19124</td>
<td style='background-color: #92D050'>La Spezia</td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'>RE-4201144</td>
<td style='background-color: #92D050'>2022-06-02 00:00:00</td>
<td style='background-color: #92D050'>V000155</td>
<td style='background-color: #92D050'>15</td>
<td style='background-color: #92D050'>160.482</td>
<td style='background-color: #92D050'>1146.3</td>
<td style='background-color: #92D050'>K001802</td>
<td style='background-color: #92D050'>Maximare SRL</td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'>IT</td>
<td style='background-color: #92D050'>58100</td>
<td style='background-color: #92D050'>Grosseto</td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'>RE-4201406</td>
<td style='background-color: #92D050'>2022-07-01 00:00:00</td>
<td style='background-color: #92D050'>V000155</td>
<td style='background-color: #92D050'>15</td>
<td style='background-color: #92D050'>45.332</td>
<td style='background-color: #92D050'>323.8</td>
<td style='background-color: #92D050'>K005224</td>
<td style='background-color: #92D050'>Cose cosí snc</td>
<td style='background-color: #92D050'>di Borgani Carlo  c.</td>
<td style='background-color: #92D050'>IT</td>
<td style='background-color: #92D050'>50121</td>
<td style='background-color: #92D050'>Firenze</td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'>RE-4201917</td>
<td style='background-color: #92D050'>2022-09-09 00:00:00</td>
<td style='background-color: #92D050'>V000155</td>
<td style='background-color: #92D050'>15</td>
<td style='background-color: #92D050'>90.566</td>
<td style='background-color: #92D050'>646.9</td>
<td style='background-color: #92D050'>K005996</td>
<td style='background-color: #92D050'>Gocce degli Angeli</td>
<td style='background-color: #92D050'>di Rosca Angela</td>
<td style='background-color: #92D050'>IT</td>
<td style='background-color: #92D050'>19124</td>
<td style='background-color: #92D050'>La Spezia</td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'>RE-4202083</td>
<td style='background-color: #92D050'>2022-10-05 00:00:00</td>
<td style='background-color: #92D050'>V000155</td>
<td style='background-color: #92D050'>15</td>
<td style='background-color: #92D050'>45.108</td>
<td style='background-color: #92D050'>322.2</td>
<td style='background-color: #92D050'>K001534</td>
<td style='background-color: #92D050'>Giovannetti Stefano</td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'>IT</td>
<td style='background-color: #92D050'>56030</td>
<td style='background-color: #92D050'>La Rosa Terricciola (PI)</td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'>RE-4202111</td>
<td style='background-color: #92D050'>2022-10-11 00:00:00</td>
<td style='background-color: #92D050'>V000155</td>
<td style='background-color: #92D050'>15</td>
<td style='background-color: #92D050'>45.626</td>
<td style='background-color: #92D050'>325.9</td>
<td style='background-color: #92D050'>K004526</td>
<td style='background-color: #92D050'>Matazzoni Claudia</td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'>IT</td>
<td style='background-color: #92D050'>54033</td>
<td style='background-color: #92D050'>Avenza</td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'>RE-4202151</td>
<td style='background-color: #92D050'>2022-10-18 00:00:00</td>
<td style='background-color: #92D050'>V000155</td>
<td style='background-color: #92D050'>15</td>
<td style='background-color: #92D050'>132.818</td>
<td style='background-color: #92D050'>948.7</td>
<td style='background-color: #92D050'>K005996</td>
<td style='background-color: #92D050'>Gocce degli Angeli</td>
<td style='background-color: #92D050'>di Rosca Angela</td>
<td style='background-color: #92D050'>IT</td>
<td style='background-color: #92D050'>19124</td>
<td style='background-color: #92D050'>La Spezia</td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'>RE-4202237</td>
<td style='background-color: #92D050'>2022-10-31 00:00:00</td>
<td style='background-color: #92D050'>V000155</td>
<td style='background-color: #92D050'>15</td>
<td style='background-color: #92D050'>184.0776</td>
<td style='background-color: #92D050'>1314.84</td>
<td style='background-color: #92D050'>K001059</td>
<td style='background-color: #92D050'>Ferramenta Severi Srl</td>
<td style='background-color: #92D050'>Cose & Cose</td>
<td style='background-color: #92D050'>IT</td>
<td style='background-color: #92D050'>06132</td>
<td style='background-color: #92D050'>S. Sisto (PG)</td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202275</td>
<td style='background-color: #00FF00'>2022-11-07 00:00:00</td>
<td style='background-color: #00FF00'>V000155</td>
<td style='background-color: #00FF00'>15</td>
<td style='background-color: #00FF00'>136.346</td>
<td style='background-color: #00FF00'>973.9</td>
<td style='background-color: #00FF00'>K005215</td>
<td style='background-color: #00FF00'>IDEA REGALO di Bologni  Alessandro</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>50055</td>
<td style='background-color: #00FF00'>Lastra a Signa (FI)</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>973.9</td>
<td style='background-color: #00FF00'>PAGATO</td>
<td style='background-color: #00FF00'>=ROUND(O28*E28/100,1)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>16.01.2023,  973.9</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'>RE-4202380</td>
<td style='background-color: #92D050'>2022-11-22 00:00:00</td>
<td style='background-color: #92D050'>V000155</td>
<td style='background-color: #92D050'>15</td>
<td style='background-color: #92D050'>73.164</td>
<td style='background-color: #92D050'>522.6</td>
<td style='background-color: #92D050'>K005996</td>
<td style='background-color: #92D050'>Gocce degli Angeli</td>
<td style='background-color: #92D050'>di Rosca Angela</td>
<td style='background-color: #92D050'>IT</td>
<td style='background-color: #92D050'>19124</td>
<td style='background-color: #92D050'>La Spezia</td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #92D050'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202394</td>
<td style='background-color: #00FF00'>2022-11-24 00:00:00</td>
<td style='background-color: #00FF00'>V000155</td>
<td style='background-color: #00FF00'>15</td>
<td style='background-color: #00FF00'>82.404</td>
<td style='background-color: #00FF00'>588.6</td>
<td style='background-color: #00FF00'>K005224</td>
<td style='background-color: #00FF00'>Cose cosí snc</td>
<td style='background-color: #00FF00'>di Borgani Carlo  c.</td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>50121</td>
<td style='background-color: #00FF00'>Firenze</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>588.6</td>
<td style='background-color: #00FF00'>PAGATO</td>
<td style='background-color: #00FF00'>=ROUND(O30*E30/100,1)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>02.01.2023,  588.6</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202402</td>
<td style='background-color: #00FF00'>2022-11-25 00:00:00</td>
<td style='background-color: #00FF00'>V000155</td>
<td style='background-color: #00FF00'>15</td>
<td style='background-color: #00FF00'>942.885</td>
<td style='background-color: #00FF00'>6285.9</td>
<td style='background-color: #00FF00'>K006186</td>
<td style='background-color: #00FF00'>ETA Pink SRL</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>50121</td>
<td style='background-color: #00FF00'>Firenze - FI-</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>1095.3</td>
<td style='background-color: #00FF00'>PAGAMENTO PARZIALE</td>
<td style='background-color: #00FF00'>=ROUND(O31*E31/100,1)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>27.02.2023,  1095.3</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202409</td>
<td style='background-color: #00FF00'>2022-11-28 00:00:00</td>
<td style='background-color: #00FF00'>V000155</td>
<td style='background-color: #00FF00'>15</td>
<td style='background-color: #00FF00'>554.6226</td>
<td style='background-color: #00FF00'>3961.59</td>
<td style='background-color: #00FF00'>K003864</td>
<td style='background-color: #00FF00'>Gioielleria Marchetti Angelo</td>
<td style='background-color: #00FF00'>dal 1890</td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>06034</td>
<td style='background-color: #00FF00'>Foligno (PG)</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>3961.59</td>
<td style='background-color: #00FF00'>PAGATO</td>
<td style='background-color: #00FF00'>=ROUND(O32*E32/100,1)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>20.01.2023,  1300.0</td>
<td style='background-color: #FFFFFF'>22.02.2023,  500.0</td>
<td style='background-color: #FFFFFF'>24.02.2023,  700.0</td>
<td style='background-color: #FFFFFF'>28.02.2023,  1699.6</td>
<td style='background-color: #FFFFFF'>28.12.2022,  962.0</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202474</td>
<td style='background-color: #00FF00'>2022-12-05 00:00:00</td>
<td style='background-color: #00FF00'>V000155</td>
<td style='background-color: #00FF00'>15</td>
<td style='background-color: #00FF00'>125.972</td>
<td style='background-color: #00FF00'>899.8</td>
<td style='background-color: #00FF00'>K003161</td>
<td style='background-color: #00FF00'>Life di Marco Conti</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>52100</td>
<td style='background-color: #00FF00'>Arezzo (AR)</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>899.8</td>
<td style='background-color: #00FF00'>PAGATO</td>
<td style='background-color: #00FF00'>=ROUND(O33*E33/100,1)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>06.03.2023,  899.8</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202524</td>
<td style='background-color: #00FF00'>2022-12-07 00:00:00</td>
<td style='background-color: #00FF00'>V000155</td>
<td style='background-color: #00FF00'>7</td>
<td style='background-color: #00FF00'>82.586</td>
<td style='background-color: #00FF00'>1179.8</td>
<td style='background-color: #00FF00'>K004570</td>
<td style='background-color: #00FF00'>Galletti Sas di Galletti A.</td>
<td style='background-color: #00FF00'>C/C coop di Pontedera</td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>56025</td>
<td style='background-color: #00FF00'>Pontedera (Pisa)</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>1179.8</td>
<td style='background-color: #00FF00'>PAGATO</td>
<td style='background-color: #00FF00'>=ROUND(O35*E35/100,1)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>28.02.2023,  589.9</td>
<td style='background-color: #FFFFFF'>30.03.2023,  589.9</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202532</td>
<td style='background-color: #00FF00'>2022-12-09 00:00:00</td>
<td style='background-color: #00FF00'>V000155</td>
<td style='background-color: #00FF00'>7</td>
<td style='background-color: #00FF00'>59.43</td>
<td style='background-color: #00FF00'>849</td>
<td style='background-color: #00FF00'>K005217</td>
<td style='background-color: #00FF00'>ARCA* di Ammannati Marco e C. SAS</td>
<td style='background-color: #00FF00'>Cliente 905430</td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>57123</td>
<td style='background-color: #00FF00'>Livorno (LI)</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>849</td>
<td style='background-color: #00FF00'>PAGATO</td>
<td style='background-color: #00FF00'>=ROUND(O36*E36/100,1)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>03.02.2023,  849.0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202617</td>
<td style='background-color: #00FF00'>2022-12-16 00:00:00</td>
<td style='background-color: #00FF00'>V000155</td>
<td style='background-color: #00FF00'>7</td>
<td style='background-color: #00FF00'>21.4522</td>
<td style='background-color: #00FF00'>306.46</td>
<td style='background-color: #00FF00'>K001115</td>
<td style='background-color: #00FF00'>F.lli Gallo SNC</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>55049</td>
<td style='background-color: #00FF00'>Viareggio (LU)</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>306.46</td>
<td style='background-color: #00FF00'>PAGATO</td>
<td style='background-color: #00FF00'>=ROUND(O39*E39/100,1)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>16.01.2023,  306.5</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202689</td>
<td style='background-color: #00FF00'>2022-12-22 00:00:00</td>
<td style='background-color: #00FF00'>V000155</td>
<td style='background-color: #00FF00'>7</td>
<td style='background-color: #00FF00'>8.9586</td>
<td style='background-color: #00FF00'>127.98</td>
<td style='background-color: #00FF00'>K001115</td>
<td style='background-color: #00FF00'>F.lli Gallo SNC</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>55049</td>
<td style='background-color: #00FF00'>Viareggio (LU)</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>127.98</td>
<td style='background-color: #00FF00'>PAGATO</td>
<td style='background-color: #00FF00'>=ROUND(O40*E40/100,1)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>16.01.2023,  128.0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300010</td>
<td style='background-color: #00FF00'>2023-01-10 00:00:00</td>
<td style='background-color: #00FF00'>V000155</td>
<td style='background-color: #00FF00'>7</td>
<td style='background-color: #00FF00'>268.6103</td>
<td style='background-color: #00FF00'>3837.29</td>
<td style='background-color: #00FF00'>K001115</td>
<td style='background-color: #00FF00'>F.lli Gallo SNC</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>55049</td>
<td style='background-color: #00FF00'>Viareggio (LU)</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>3837.29</td>
<td style='background-color: #00FF00'>PAGATO</td>
<td style='background-color: #00FF00'>=ROUND(O43*E43/100,1)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>31.01.2023,  3837.3</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300108</td>
<td style='background-color: #00FF00'>2023-01-26 00:00:00</td>
<td style='background-color: #00FF00'>V000155</td>
<td style='background-color: #00FF00'>7</td>
<td style='background-color: #00FF00'>102.3113</td>
<td style='background-color: #00FF00'>1461.59</td>
<td style='background-color: #00FF00'>K004570</td>
<td style='background-color: #00FF00'>Galletti Sas di Galletti A.</td>
<td style='background-color: #00FF00'>C/C coop di Pontedera</td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>56025</td>
<td style='background-color: #00FF00'>Pontedera (Pisa)</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>974.4</td>
<td style='background-color: #00FF00'>PAGAMENTO PARZIALE</td>
<td style='background-color: #00FF00'>=ROUND(O47*E47/100,1)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>28.02.2023,  487.2</td>
<td style='background-color: #FFFFFF'>30.03.2023,  487.2</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300125</td>
<td style='background-color: #00FF00'>2023-01-30 00:00:00</td>
<td style='background-color: #00FF00'>V000155</td>
<td style='background-color: #00FF00'>15</td>
<td style='background-color: #00FF00'>81.368</td>
<td style='background-color: #00FF00'>581.2</td>
<td style='background-color: #00FF00'>K005996</td>
<td style='background-color: #00FF00'>Gocce degli Angeli</td>
<td style='background-color: #00FF00'>di Rosca Angela</td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>19124</td>
<td style='background-color: #00FF00'>La Spezia</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>581.2</td>
<td style='background-color: #00FF00'>PAGATO</td>
<td style='background-color: #00FF00'>=ROUND(O48*E48/100,1)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>16.02.2023,  581.2</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300146</td>
<td style='background-color: #00FF00'>2023-02-03 00:00:00</td>
<td style='background-color: #00FF00'>V000155</td>
<td style='background-color: #00FF00'>15</td>
<td style='background-color: #00FF00'>39.382</td>
<td style='background-color: #00FF00'>281.3</td>
<td style='background-color: #00FF00'>K004526</td>
<td style='background-color: #00FF00'>Matazzoni Claudia</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>54033</td>
<td style='background-color: #00FF00'>Avenza</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>281.3</td>
<td style='background-color: #00FF00'>PAGATO</td>
<td style='background-color: #00FF00'>=ROUND(O49*E49/100,1)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>30.03.2023,  281.3</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4300193</td>
<td style='background-color: #FFF300'>2023-02-10 00:00:00</td>
<td style='background-color: #FFF300'>V000155</td>
<td style='background-color: #FFF300'>7</td>
<td style='background-color: #FFF300'>-1.75</td>
<td style='background-color: #FFF300'>-25</td>
<td style='background-color: #FFF300'>K005217</td>
<td style='background-color: #FFF300'>ARCA* di Ammannati Marco e C. SAS</td>
<td style='background-color: #FFF300'>Cliente 905430</td>
<td style='background-color: #FFF300'>IT</td>
<td style='background-color: #FFF300'>57123</td>
<td style='background-color: #FFF300'>Livorno (LI)</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>-25</td>
<td style='background-color: #FFF300'>NOTA DI CREDITO</td>
<td style='background-color: #FFF300'>=ROUND(O52*E52/100,1)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4300234</td>
<td style='background-color: #FFF300'>2023-02-15 00:00:00</td>
<td style='background-color: #FFF300'>V000155</td>
<td style='background-color: #FFF300'>7</td>
<td style='background-color: #FFF300'>-1.204</td>
<td style='background-color: #FFF300'>-17.2</td>
<td style='background-color: #FFF300'>K001115</td>
<td style='background-color: #FFF300'>F.lli Gallo SNC</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>IT</td>
<td style='background-color: #FFF300'>55049</td>
<td style='background-color: #FFF300'>Viareggio (LU)</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>-17.2</td>
<td style='background-color: #FFF300'>NOTA DI CREDITO</td>
<td style='background-color: #FFF300'>=ROUND(O53*E53/100,1)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4300235</td>
<td style='background-color: #FFF300'>2023-02-15 00:00:00</td>
<td style='background-color: #FFF300'>V000155</td>
<td style='background-color: #FFF300'>7</td>
<td style='background-color: #FFF300'>-6.5429</td>
<td style='background-color: #FFF300'>-93.47</td>
<td style='background-color: #FFF300'>K001115</td>
<td style='background-color: #FFF300'>F.lli Gallo SNC</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>IT</td>
<td style='background-color: #FFF300'>55049</td>
<td style='background-color: #FFF300'>Viareggio (LU)</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>-93.47</td>
<td style='background-color: #FFF300'>NOTA DI CREDITO</td>
<td style='background-color: #FFF300'>=ROUND(O54*E54/100,1)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4300247</td>
<td style='background-color: #FFF300'>2023-02-16 00:00:00</td>
<td style='background-color: #FFF300'>V000155</td>
<td style='background-color: #FFF300'>15</td>
<td style='background-color: #FFF300'>-36.366</td>
<td style='background-color: #FFF300'>-242.44</td>
<td style='background-color: #FFF300'>K004828</td>
<td style='background-color: #FFF300'>LDM</td>
<td style='background-color: #FFF300'>Gioielleria Argenteria Orologeria</td>
<td style='background-color: #FFF300'>IT</td>
<td style='background-color: #FFF300'>50019</td>
<td style='background-color: #FFF300'>Sesto Fiorentino</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>-242.44</td>
<td style='background-color: #FFF300'>NOTA DI CREDITO</td>
<td style='background-color: #FFF300'>=ROUND(O56*E56/100,1)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300280</td>
<td style='background-color: #00FF00'>2023-02-28 00:00:00</td>
<td style='background-color: #00FF00'>V000155</td>
<td style='background-color: #00FF00'>15</td>
<td style='background-color: #00FF00'>69.748</td>
<td style='background-color: #00FF00'>498.2</td>
<td style='background-color: #00FF00'>K005996</td>
<td style='background-color: #00FF00'>Gocce degli Angeli</td>
<td style='background-color: #00FF00'>di Rosca Angela</td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>19124</td>
<td style='background-color: #00FF00'>La Spezia</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>498.2</td>
<td style='background-color: #00FF00'>PAGATO</td>
<td style='background-color: #00FF00'>=ROUND(O59*E59/100,1)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>15.03.2023,  498.2</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4300522</td>
<td style='background-color: #FFF300'>2023-04-11 00:00:00</td>
<td style='background-color: #FFF300'>V000155</td>
<td style='background-color: #FFF300'>14</td>
<td style='background-color: #FFF300'>-29.358</td>
<td style='background-color: #FFF300'>-209.7</td>
<td style='background-color: #FFF300'>K003864</td>
<td style='background-color: #FFF300'>Gioielleria Marchetti Angelo</td>
<td style='background-color: #FFF300'>dal 1890</td>
<td style='background-color: #FFF300'>IT</td>
<td style='background-color: #FFF300'>06034</td>
<td style='background-color: #FFF300'>Foligno (PG)</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>-209.7</td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFF300'>-29.36</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>All requested: </td>
<td style='background-color: #FFF300'>60901.3</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #68BF9D'>16524.51</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #68BF9D'>1909.7</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
 </tbody>
                </table>
                {% endblock %}