{%extends 'base.html'%}
                            {% block content %}     
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--<link rel="stylesheet" type="text/css" href="normas.css">-->
    <style>
        body{
            background-color: #d6e1f8;

        }
        th, td {
            border: 1px solid #ccc;

            text-align: center;
        }

        table {

            border-collapse: collapse !important; /* optional: collapse the table borders */
        }

        table tr {
            background-color: #8BC34A !important; /* Set background color of all rows */
        }

        table tr:hover td {
            background-color: #2196F3 !important; /* Set background color of cells when hovered */
        }

    </style>
                     <table border="1" class="dataframe" style="width:100%;">
                                 <thead>
                                     <tr style="text-align: right;">
<th style='background-color: #899EF0'>RK</th>
<th style='background-color: #899EF0'>GF-Nr</th>
<th style='background-color: #899EF0'>Datum</th>
<th style='background-color: #899EF0'>Vertreter</th>
<th style='background-color: #899EF0'>ProvProz</th>
<th style='background-color: #899EF0'>Provision</th>
<th style='background-color: #899EF0'>Summe</th>
<th style='background-color: #899EF0'>Lieferant</th>
<th style='background-color: #899EF0'>Lieferantenname</th>
<th style='background-color: #899EF0'>Name2</th>
<th style='background-color: #899EF0'>IntKz</th>
<th style='background-color: #899EF0'>PLZ Neu</th>
<th style='background-color: #899EF0'>Ort</th>
<th style='background-color: #899EF0'>s</th>
<th style='background-color: #899EF0'>Paid amount</th>
<th style='background-color: #899EF0'>Payment status</th>
<th style='background-color: #899EF0'>Payment commission</th>
<th style='background-color: #899EF0'>Payments with Rest</th>
<th style='background-color: #899EF0'>Payments Dates</th>
<th style='background-color: #FFFFFF'> </th>
</tr>
</thead>
                          <tbody><tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4301000</td>
<td style='background-color: #FFF300'>2023-06-13</td>
<td style='background-color: #FFF300'>V000093</td>
<td style='background-color: #FFF300'>13</td>
<td style='background-color: #FFF300'>-712.231</td>
<td style='background-color: #FFF300'>-5478.7</td>
<td style='background-color: #FFF300'>K003186</td>
<td style='background-color: #FFF300'>Joyeria Armaan</td>
<td style='background-color: #FFF300'>Sunil C y Sunil C Sadhwani S.C</td>
<td style='background-color: #FFF300'>ES</td>
<td style='background-color: #FFF300'>29640</td>
<td style='background-color: #FFF300'>Fuengirola, Malaga</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4301218</td>
<td style='background-color: #FFF300'>2023-07-12</td>
<td style='background-color: #FFF300'>V000093</td>
<td style='background-color: #FFF300'>13</td>
<td style='background-color: #FFF300'>-30.9881</td>
<td style='background-color: #FFF300'>-238.37</td>
<td style='background-color: #FFF300'>K003186</td>
<td style='background-color: #FFF300'>Joyeria Armaan</td>
<td style='background-color: #FFF300'>Sunil C y Sunil C Sadhwani S.C</td>
<td style='background-color: #FFF300'>ES</td>
<td style='background-color: #FFF300'>29640</td>
<td style='background-color: #FFF300'>Fuengirola, Malaga</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4302224</td>
<td style='background-color: #FFF300'>2023-12-29</td>
<td style='background-color: #FFF300'>V000093</td>
<td style='background-color: #FFF300'>13</td>
<td style='background-color: #FFF300'>-5.0882</td>
<td style='background-color: #FFF300'>-39.14</td>
<td style='background-color: #FFF300'>K003186</td>
<td style='background-color: #FFF300'>Joyeria Armaan</td>
<td style='background-color: #FFF300'>Sunil C y Sunil C Sadhwani S.C</td>
<td style='background-color: #FFF300'>ES</td>
<td style='background-color: #FFF300'>29640</td>
<td style='background-color: #FFF300'>Fuengirola, Malaga</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4400191</td>
<td style='background-color: #00FF00'>2024-02-01</td>
<td style='background-color: #00FF00'>V000093</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>20.8013</td>
<td style='background-color: #00FF00'>160.01</td>
<td style='background-color: #00FF00'>K003186</td>
<td style='background-color: #00FF00'>Joyeria Armaan</td>
<td style='background-color: #00FF00'>Sunil C y Sunil C Sadhwani S.C</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>29640</td>
<td style='background-color: #00FF00'>Fuengirola, Malaga</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>160</td>
<td style='background-color: #00FF00'>PARTIALLY PAID</td>
<td style='background-color: #FFFFFF'>20.8</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>16.05.2024,  160.0</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4400192</td>
<td style='background-color: #00FF00'>2024-02-01</td>
<td style='background-color: #00FF00'>V000093</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>37.1904</td>
<td style='background-color: #00FF00'>286.08</td>
<td style='background-color: #00FF00'>K003186</td>
<td style='background-color: #00FF00'>Joyeria Armaan</td>
<td style='background-color: #00FF00'>Sunil C y Sunil C Sadhwani S.C</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>29640</td>
<td style='background-color: #00FF00'>Fuengirola, Malaga</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>143</td>
<td style='background-color: #00FF00'>PARTIALLY PAID</td>
<td style='background-color: #FFFFFF'>18.6</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>16.05.2024,  143.0</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4400244</td>
<td style='background-color: #00FF00'>2024-02-14</td>
<td style='background-color: #00FF00'>V000093</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>143.8047</td>
<td style='background-color: #00FF00'>1106.19</td>
<td style='background-color: #00FF00'>K003186</td>
<td style='background-color: #00FF00'>Joyeria Armaan</td>
<td style='background-color: #00FF00'>Sunil C y Sunil C Sadhwani S.C</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>29640</td>
<td style='background-color: #00FF00'>Fuengirola, Malaga</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>553.1</td>
<td style='background-color: #00FF00'>PARTIALLY PAID</td>
<td style='background-color: #FFFFFF'>71.9</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>16.05.2024,  553.1</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4400267</td>
<td style='background-color: #00FF00'>2024-02-19</td>
<td style='background-color: #00FF00'>V000093</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>230.8293</td>
<td style='background-color: #00FF00'>1775.61</td>
<td style='background-color: #00FF00'>K003186</td>
<td style='background-color: #00FF00'>Joyeria Armaan</td>
<td style='background-color: #00FF00'>Sunil C y Sunil C Sadhwani S.C</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>29640</td>
<td style='background-color: #00FF00'>Fuengirola, Malaga</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>887.8</td>
<td style='background-color: #00FF00'>PARTIALLY PAID</td>
<td style='background-color: #FFFFFF'>115.4</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>29.05.2024,  887.8</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4400318</td>
<td style='background-color: #FFF300'>2024-02-29</td>
<td style='background-color: #FFF300'>V000093</td>
<td style='background-color: #FFF300'>13</td>
<td style='background-color: #FFF300'>-4.225</td>
<td style='background-color: #FFF300'>-32.5</td>
<td style='background-color: #FFF300'>K005301</td>
<td style='background-color: #FFF300'>Sunil Kirpalani Kirpalani</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>ES</td>
<td style='background-color: #FFF300'>29620</td>
<td style='background-color: #FFF300'>Torremolinos, Malaga</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4400356</td>
<td style='background-color: #FFF300'>2024-03-06</td>
<td style='background-color: #FFF300'>V000093</td>
<td style='background-color: #FFF300'>13</td>
<td style='background-color: #FFF300'>-4.0144</td>
<td style='background-color: #FFF300'>-30.88</td>
<td style='background-color: #FFF300'>K003186</td>
<td style='background-color: #FFF300'>Joyeria Armaan</td>
<td style='background-color: #FFF300'>Sunil C y Sunil C Sadhwani S.C</td>
<td style='background-color: #FFF300'>ES</td>
<td style='background-color: #FFF300'>29640</td>
<td style='background-color: #FFF300'>Fuengirola, Malaga</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4400383</td>
<td style='background-color: #00FF00'>2024-03-13</td>
<td style='background-color: #00FF00'>V000093</td>
<td style='background-color: #00FF00'>8</td>
<td style='background-color: #00FF00'>414.976</td>
<td style='background-color: #00FF00'>5187.2</td>
<td style='background-color: #00FF00'>K003420</td>
<td style='background-color: #00FF00'>GALERIAS TURISTICAS, S.L.</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>14003</td>
<td style='background-color: #00FF00'>CORDOBA</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>1729.1</td>
<td style='background-color: #00FF00'>PARTIALLY PAID</td>
<td style='background-color: #FFFFFF'>138.3</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>16.05.2024,  1729.1</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4400395</td>
<td style='background-color: #00FF00'>2024-03-13</td>
<td style='background-color: #00FF00'>V000093</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>41.392</td>
<td style='background-color: #00FF00'>318.4</td>
<td style='background-color: #00FF00'>K005236</td>
<td style='background-color: #00FF00'>SEANNA</td>
<td style='background-color: #00FF00'>Sachin Rajan Kirpalani</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>29630</td>
<td style='background-color: #00FF00'>Málaga</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>191</td>
<td style='background-color: #00FF00'>PARTIALLY PAID</td>
<td style='background-color: #FFFFFF'>24.8</td>
<td style='background-color: #FFFFFF'>16.05.2024,  64</td>
<td style='background-color: #FFFFFF'>16.05.2024,  191.0</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4400415</td>
<td style='background-color: #FFF300'>2024-03-18</td>
<td style='background-color: #FFF300'>V000093</td>
<td style='background-color: #FFF300'>13</td>
<td style='background-color: #FFF300'>-3.12</td>
<td style='background-color: #FFF300'>-24</td>
<td style='background-color: #FFF300'>K002313</td>
<td style='background-color: #FFF300'>"SELECTION"</td>
<td style='background-color: #FFF300'>Maria Luisa Correal Delgado</td>
<td style='background-color: #FFF300'>ES</td>
<td style='background-color: #FFF300'>29620</td>
<td style='background-color: #FFF300'>La Carihuela - Torremolinos - Malaga</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4400444</td>
<td style='background-color: #00FF00'>2024-03-20</td>
<td style='background-color: #00FF00'>V000093</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>126.581</td>
<td style='background-color: #00FF00'>973.7</td>
<td style='background-color: #00FF00'>K002313</td>
<td style='background-color: #00FF00'>"SELECTION"</td>
<td style='background-color: #00FF00'>Maria Luisa Correal Delgado</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>29620</td>
<td style='background-color: #00FF00'>La Carihuela - Torremolinos - Malaga</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>486.9</td>
<td style='background-color: #00FF00'>PARTIALLY PAID</td>
<td style='background-color: #FFFFFF'>63.3</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>29.05.2024,  486.9</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4400547</td>
<td style='background-color: #00FF00'>2024-04-03</td>
<td style='background-color: #00FF00'>V000093</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>36.127</td>
<td style='background-color: #00FF00'>277.9</td>
<td style='background-color: #00FF00'>K002313</td>
<td style='background-color: #00FF00'>"SELECTION"</td>
<td style='background-color: #00FF00'>Maria Luisa Correal Delgado</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>29620</td>
<td style='background-color: #00FF00'>La Carihuela - Torremolinos - Malaga</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>138.9</td>
<td style='background-color: #00FF00'>PARTIALLY PAID</td>
<td style='background-color: #FFFFFF'>18.1</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>16.05.2024,  138.9</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4400570</td>
<td style='background-color: #00FF00'>2024-04-08</td>
<td style='background-color: #00FF00'>V000093</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>546.2574</td>
<td style='background-color: #00FF00'>4201.98</td>
<td style='background-color: #00FF00'>K006326</td>
<td style='background-color: #00FF00'>ATESPADRILES S.L</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>29601</td>
<td style='background-color: #00FF00'>Marbella</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>4202</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>546.3</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>16.05.2024,  2101.0</td>
<td style='background-color: #FFFFFF'>29.05.2024,  2101.0</td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4400654</td>
<td style='background-color: #00FF00'>2024-04-24</td>
<td style='background-color: #00FF00'>V000093</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>31.044</td>
<td style='background-color: #00FF00'>238.8</td>
<td style='background-color: #00FF00'>K005149</td>
<td style='background-color: #00FF00'>ALVAREZ JOYEROS S.C</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>29670</td>
<td style='background-color: #00FF00'>SAN PEDRO DE ALCANTARA MALAGA</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>238.8</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>31</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>29.05.2024,  238.8</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4400690</td>
<td style='background-color: #FFF300'>2024-05-06</td>
<td style='background-color: #FFF300'>V000093</td>
<td style='background-color: #FFF300'>13</td>
<td style='background-color: #FFF300'>-3.9</td>
<td style='background-color: #FFF300'>-30</td>
<td style='background-color: #FFF300'>K005149</td>
<td style='background-color: #FFF300'>ALVAREZ JOYEROS S.C</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>ES</td>
<td style='background-color: #FFF300'>29670</td>
<td style='background-color: #FFF300'>SAN PEDRO DE ALCANTARA MALAGA</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>All paid amount</td>
<td style='background-color: #90EE90'>8730.6</td>
<td style='background-color: #FFFFFF'>All comissions</td>
<td style='background-color: #90EE90'>1048.52</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
 </tbody>
                    </table>
                    {% endblock %}