{%extends 'base.html'%}
                            {% block content %}     
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--<link rel="stylesheet" type="text/css" href="normas.css">-->
    <style>
        body{
            background-color: #d6e1f8;

        }
        th, td {
            border: 1px solid #ccc;

            text-align: center;
        }

        table {

            border-collapse: collapse !important; /* optional: collapse the table borders */
        }

        table tr {
            background-color: #8BC34A !important; /* Set background color of all rows */
        }

        table tr:hover td {
            background-color: #2196F3 !important; /* Set background color of cells when hovered */
        }

    </style>
                     <table border="1" class="dataframe" style="width:100%;">
                                 <thead>
                                     <tr style="text-align: right;">
<th style='background-color: #899EF0'>RK</th>
<th style='background-color: #899EF0'>GF-Nr</th>
<th style='background-color: #899EF0'>Datum</th>
<th style='background-color: #899EF0'>Vertreter</th>
<th style='background-color: #899EF0'>ProvProz</th>
<th style='background-color: #899EF0'>Provision</th>
<th style='background-color: #899EF0'>Summe</th>
<th style='background-color: #899EF0'>Lieferant</th>
<th style='background-color: #899EF0'>Lieferantenname</th>
<th style='background-color: #899EF0'>Name2</th>
<th style='background-color: #899EF0'>IntKz</th>
<th style='background-color: #899EF0'>PLZ Neu</th>
<th style='background-color: #899EF0'>Ort</th>
<th style='background-color: #899EF0'>s</th>
<th style='background-color: #899EF0'>Paid amount</th>
<th style='background-color: #899EF0'>Payment status</th>
<th style='background-color: #899EF0'>Payment commission</th>
<th style='background-color: #899EF0'>Payments with Rest</th>
<th style='background-color: #899EF0'>Payments Dates</th>
<th style='background-color: #FFFFFF'> </th>
<th style='background-color: #FFFFFF'> </th>
</tr>
</thead>
                          <tbody><tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300373</td>
<td style='background-color: #00FF00'>2023-03-15 00:00:00</td>
<td style='background-color: #00FF00'>V000180</td>
<td style='background-color: #00FF00'>10</td>
<td style='background-color: #00FF00'>121.73</td>
<td style='background-color: #00FF00'>1217.3</td>
<td style='background-color: #00FF00'>K005899</td>
<td style='background-color: #00FF00'>Joyeria Olivar</td>
<td style='background-color: #00FF00'>ANTONIO RAYO PEREZ S.L</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>28821</td>
<td style='background-color: #00FF00'>Coslada</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>1217.3</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>121.7</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>14.04.2023,  608.6</td>
<td style='background-color: #FFFFFF'>15.05.2023,  608.6</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300392</td>
<td style='background-color: #00FF00'>2023-03-20 00:00:00</td>
<td style='background-color: #00FF00'>V000180</td>
<td style='background-color: #00FF00'>10</td>
<td style='background-color: #00FF00'>74.97</td>
<td style='background-color: #00FF00'>749.7</td>
<td style='background-color: #00FF00'>K006033</td>
<td style='background-color: #00FF00'>Regalos Gema</td>
<td style='background-color: #00FF00'>Hermanos Aparicio Sánchez C.B</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>28038</td>
<td style='background-color: #00FF00'>Madrid</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>749.7</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>75</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>02.05.2023,  374.9</td>
<td style='background-color: #FFFFFF'>31.05.2023,  374.9</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300625</td>
<td style='background-color: #00FF00'>2023-04-24 00:00:00</td>
<td style='background-color: #00FF00'>V000180</td>
<td style='background-color: #00FF00'>10</td>
<td style='background-color: #00FF00'>12.79</td>
<td style='background-color: #00FF00'>127.9</td>
<td style='background-color: #00FF00'>K006033</td>
<td style='background-color: #00FF00'>Regalos Gema</td>
<td style='background-color: #00FF00'>Hermanos Aparicio Sánchez C.B</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>28038</td>
<td style='background-color: #00FF00'>Madrid</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>127.9</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>12.8</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>31.05.2023,  127.9</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300909</td>
<td style='background-color: #00FF00'>2023-05-31 00:00:00</td>
<td style='background-color: #00FF00'>V000180</td>
<td style='background-color: #00FF00'>10</td>
<td style='background-color: #00FF00'>74.59</td>
<td style='background-color: #00FF00'>745.9</td>
<td style='background-color: #00FF00'>K005899</td>
<td style='background-color: #00FF00'>Joyeria Olivar</td>
<td style='background-color: #00FF00'>ANTONIO RAYO PEREZ S.L</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>28821</td>
<td style='background-color: #00FF00'>Coslada</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>745.9</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>74.6</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>30.06.2023,  372.9</td>
<td style='background-color: #FFFFFF'>31.07.2023,  372.9</td>
<td style='background-color: #FFFFFF'>31.08.2023,  372.9</td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300936</td>
<td style='background-color: #00FF00'>2023-06-05 00:00:00</td>
<td style='background-color: #00FF00'>V000180</td>
<td style='background-color: #00FF00'>10</td>
<td style='background-color: #00FF00'>47.91</td>
<td style='background-color: #00FF00'>479.1</td>
<td style='background-color: #00FF00'>K005899</td>
<td style='background-color: #00FF00'>Joyeria Olivar</td>
<td style='background-color: #00FF00'>ANTONIO RAYO PEREZ S.L</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>28821</td>
<td style='background-color: #00FF00'>Coslada</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>479.1</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>47.9</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>14.07.2023,  239.6</td>
<td style='background-color: #FFFFFF'>14.08.2023,  239.6</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4301727</td>
<td style='background-color: #FFF300'>2023-10-09 00:00:00</td>
<td style='background-color: #FFF300'>V000180</td>
<td style='background-color: #FFF300'>10</td>
<td style='background-color: #FFF300'>-1.8</td>
<td style='background-color: #FFF300'>-18</td>
<td style='background-color: #FFF300'>K006033</td>
<td style='background-color: #FFF300'>Regalos Gema</td>
<td style='background-color: #FFF300'>Hermanos Aparicio Sánchez C.B</td>
<td style='background-color: #FFF300'>ES</td>
<td style='background-color: #FFF300'>28038</td>
<td style='background-color: #FFF300'>Madrid</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4301732</td>
<td style='background-color: #FFF300'>2023-10-09 00:00:00</td>
<td style='background-color: #FFF300'>V000180</td>
<td style='background-color: #FFF300'>10</td>
<td style='background-color: #FFF300'>-2.88</td>
<td style='background-color: #FFF300'>-28.8</td>
<td style='background-color: #FFF300'>K006033</td>
<td style='background-color: #FFF300'>Regalos Gema</td>
<td style='background-color: #FFF300'>Hermanos Aparicio Sánchez C.B</td>
<td style='background-color: #FFF300'>ES</td>
<td style='background-color: #FFF300'>28038</td>
<td style='background-color: #FFF300'>Madrid</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4302128</td>
<td style='background-color: #FFFFFF'>2023-12-11 00:00:00</td>
<td style='background-color: #FFFFFF'>V000180</td>
<td style='background-color: #FFFFFF'>10</td>
<td style='background-color: #FFFFFF'>51.85</td>
<td style='background-color: #FFFFFF'>518.5</td>
<td style='background-color: #FFFFFF'>K005899</td>
<td style='background-color: #FFFFFF'>Joyeria Olivar</td>
<td style='background-color: #FFFFFF'>ANTONIO RAYO PEREZ S.L</td>
<td style='background-color: #FFFFFF'>ES</td>
<td style='background-color: #FFFFFF'>28821</td>
<td style='background-color: #FFFFFF'>Coslada</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4302137</td>
<td style='background-color: #FFFFFF'>2023-12-11 00:00:00</td>
<td style='background-color: #FFFFFF'>V000180</td>
<td style='background-color: #FFFFFF'>10</td>
<td style='background-color: #FFFFFF'>15.519</td>
<td style='background-color: #FFFFFF'>155.19</td>
<td style='background-color: #FFFFFF'>K005899</td>
<td style='background-color: #FFFFFF'>Joyeria Olivar</td>
<td style='background-color: #FFFFFF'>ANTONIO RAYO PEREZ S.L</td>
<td style='background-color: #FFFFFF'>ES</td>
<td style='background-color: #FFFFFF'>28821</td>
<td style='background-color: #FFFFFF'>Coslada</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4302216</td>
<td style='background-color: #FFFFFF'>2023-12-27 00:00:00</td>
<td style='background-color: #FFFFFF'>V000180</td>
<td style='background-color: #FFFFFF'>10</td>
<td style='background-color: #FFFFFF'>1.13</td>
<td style='background-color: #FFFFFF'>11.3</td>
<td style='background-color: #FFFFFF'>K005899</td>
<td style='background-color: #FFFFFF'>Joyeria Olivar</td>
<td style='background-color: #FFFFFF'>ANTONIO RAYO PEREZ S.L</td>
<td style='background-color: #FFFFFF'>ES</td>
<td style='background-color: #FFFFFF'>28821</td>
<td style='background-color: #FFFFFF'>Coslada</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>All paid amount</td>
<td style='background-color: #90EE90'>3692.8</td>
<td style='background-color: #FFFFFF'>All comissions</td>
<td style='background-color: #90EE90'>369.28</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
 </tbody>
                    </table>
                    {% endblock %}