<meta charset="utf-8">
                 <table border="1" class="dataframe">
                             <thead>
                                 <tr style="text-align: right;">
<th style='background-color: #B0CBF0'>RK</th>
<th style='background-color: #B0CBF0'>GF-Nr</th>
<th style='background-color: #B0CBF0'>Datum</th>
<th style='background-color: #B0CBF0'>Vertreter</th>
<th style='background-color: #B0CBF0'>ProvProz</th>
<th style='background-color: #B0CBF0'>Provision</th>
<th style='background-color: #B0CBF0'>Summe</th>
<th style='background-color: #B0CBF0'>Lieferant</th>
<th style='background-color: #B0CBF0'>Lieferantenname</th>
<th style='background-color: #B0CBF0'>Name2</th>
<th style='background-color: #B0CBF0'>IntKz</th>
<th style='background-color: #B0CBF0'>PLZ Neu</th>
<th style='background-color: #B0CBF0'>Ort</th>
<th style='background-color: #FFFFFF'> </th>
<th style='background-color: #899EF0'>Paid amount</th>
<th style='background-color: #899EF0'>Payment status</th>
<th style='background-color: #899EF0'>Payment commission</th>
<th style='background-color: #899EF0'>Payments with Rest</th>
<th style='background-color: #899EF0'>Payments Dates</th>
<th style='background-color: #FFFFFF'> </th>
</tr>
</thead>
                  <tbody><tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4200060</td>
<td style='background-color: #FFFFFF'>2022-01-13 00:00:00</td>
<td style='background-color: #FFFFFF'>V000147</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>54.6588</td>
<td style='background-color: #FFFFFF'>390.42</td>
<td style='background-color: #FFFFFF'>K002957</td>
<td style='background-color: #FFFFFF'>Cose Belle di Libralon Luca & C.snc</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>35010</td>
<td style='background-color: #FFFFFF'>Santa Giustina In colle (PD)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4200166</td>
<td style='background-color: #FFFFFF'>2022-01-26 00:00:00</td>
<td style='background-color: #FFFFFF'>V000147</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>224.35</td>
<td style='background-color: #FFFFFF'>1602.5</td>
<td style='background-color: #FFFFFF'>K005937</td>
<td style='background-color: #FFFFFF'>IDEEREGALO di Pizzinat Maria Teresa</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>31046</td>
<td style='background-color: #FFFFFF'>Oderzo (TV)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4200250</td>
<td style='background-color: #FFFFFF'>2022-02-03 00:00:00</td>
<td style='background-color: #FFFFFF'>V000147</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>103.362</td>
<td style='background-color: #FFFFFF'>738.3</td>
<td style='background-color: #FFFFFF'>K005937</td>
<td style='background-color: #FFFFFF'>IDEEREGALO di Pizzinat Maria Teresa</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>31046</td>
<td style='background-color: #FFFFFF'>Oderzo (TV)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4200291</td>
<td style='background-color: #FFFFFF'>2022-02-09 00:00:00</td>
<td style='background-color: #FFFFFF'>V000147</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>19.768</td>
<td style='background-color: #FFFFFF'>141.2</td>
<td style='background-color: #FFFFFF'>K005937</td>
<td style='background-color: #FFFFFF'>IDEEREGALO di Pizzinat Maria Teresa</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>31046</td>
<td style='background-color: #FFFFFF'>Oderzo (TV)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4200293</td>
<td style='background-color: #FFF300'>2022-02-09 00:00:00</td>
<td style='background-color: #FFF300'>V000147</td>
<td style='background-color: #FFF300'>14</td>
<td style='background-color: #FFF300'>-124.726</td>
<td style='background-color: #FFF300'>-890.9</td>
<td style='background-color: #FFF300'>K005937</td>
<td style='background-color: #FFF300'>IDEEREGALO di Pizzinat Maria Teresa</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>IT</td>
<td style='background-color: #FFF300'>31046</td>
<td style='background-color: #FFF300'>Oderzo (TV)</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4200327</td>
<td style='background-color: #FFFFFF'>2022-02-11 00:00:00</td>
<td style='background-color: #FFFFFF'>V000147</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>75.278</td>
<td style='background-color: #FFFFFF'>537.7</td>
<td style='background-color: #FFFFFF'>K005206</td>
<td style='background-color: #FFFFFF'>REGAL CASA</td>
<td style='background-color: #FFFFFF'>di Faidutti Anna Maria</td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>33043</td>
<td style='background-color: #FFFFFF'>Cividale del Friuli (UD)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4200439</td>
<td style='background-color: #FFFFFF'>2022-02-28 00:00:00</td>
<td style='background-color: #FFFFFF'>V000147</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>395.1248</td>
<td style='background-color: #FFFFFF'>2822.32</td>
<td style='background-color: #FFFFFF'>K002957</td>
<td style='background-color: #FFFFFF'>Cose Belle di Libralon Luca & C.snc</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>35010</td>
<td style='background-color: #FFFFFF'>Santa Giustina In colle (PD)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4200490</td>
<td style='background-color: #FFFFFF'>2022-03-10 00:00:00</td>
<td style='background-color: #FFFFFF'>V000147</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>103.446</td>
<td style='background-color: #FFFFFF'>738.9</td>
<td style='background-color: #FFFFFF'>K005937</td>
<td style='background-color: #FFFFFF'>IDEEREGALO di Pizzinat Maria Teresa</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>31046</td>
<td style='background-color: #FFFFFF'>Oderzo (TV)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4200565</td>
<td style='background-color: #FFFFFF'>2022-03-21 00:00:00</td>
<td style='background-color: #FFFFFF'>V000147</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>145.824</td>
<td style='background-color: #FFFFFF'>1041.6</td>
<td style='background-color: #FFFFFF'>K005937</td>
<td style='background-color: #FFFFFF'>IDEEREGALO di Pizzinat Maria Teresa</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>31046</td>
<td style='background-color: #FFFFFF'>Oderzo (TV)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4200635</td>
<td style='background-color: #FFFFFF'>2022-03-30 00:00:00</td>
<td style='background-color: #FFFFFF'>V000147</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>4.62</td>
<td style='background-color: #FFFFFF'>33</td>
<td style='background-color: #FFFFFF'>K005937</td>
<td style='background-color: #FFFFFF'>IDEEREGALO di Pizzinat Maria Teresa</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>31046</td>
<td style='background-color: #FFFFFF'>Oderzo (TV)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4200661</td>
<td style='background-color: #FFFFFF'>2022-03-31 00:00:00</td>
<td style='background-color: #FFFFFF'>V000147</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>38.1192</td>
<td style='background-color: #FFFFFF'>272.28</td>
<td style='background-color: #FFFFFF'>K002957</td>
<td style='background-color: #FFFFFF'>Cose Belle di Libralon Luca & C.snc</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>35010</td>
<td style='background-color: #FFFFFF'>Santa Giustina In colle (PD)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4200679</td>
<td style='background-color: #FFFFFF'>2022-04-01 00:00:00</td>
<td style='background-color: #FFFFFF'>V000147</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>21.126</td>
<td style='background-color: #FFFFFF'>150.9</td>
<td style='background-color: #FFFFFF'>K005206</td>
<td style='background-color: #FFFFFF'>REGAL CASA</td>
<td style='background-color: #FFFFFF'>di Faidutti Anna Maria</td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>33043</td>
<td style='background-color: #FFFFFF'>Cividale del Friuli (UD)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4200821</td>
<td style='background-color: #FFFFFF'>2022-04-20 00:00:00</td>
<td style='background-color: #FFFFFF'>V000147</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>193.312</td>
<td style='background-color: #FFFFFF'>1380.8</td>
<td style='background-color: #FFFFFF'>K005937</td>
<td style='background-color: #FFFFFF'>IDEEREGALO di Pizzinat Maria Teresa</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>31046</td>
<td style='background-color: #FFFFFF'>Oderzo (TV)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4200864</td>
<td style='background-color: #FFFFFF'>2022-04-26 00:00:00</td>
<td style='background-color: #FFFFFF'>V000147</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>26.138</td>
<td style='background-color: #FFFFFF'>186.7</td>
<td style='background-color: #FFFFFF'>K005206</td>
<td style='background-color: #FFFFFF'>REGAL CASA</td>
<td style='background-color: #FFFFFF'>di Faidutti Anna Maria</td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>33043</td>
<td style='background-color: #FFFFFF'>Cividale del Friuli (UD)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4200899</td>
<td style='background-color: #FFF300'>2022-04-29 00:00:00</td>
<td style='background-color: #FFF300'>V000147</td>
<td style='background-color: #FFF300'>14</td>
<td style='background-color: #FFF300'>-12.138</td>
<td style='background-color: #FFF300'>-86.7</td>
<td style='background-color: #FFF300'>K003743</td>
<td style='background-color: #FFF300'>STILE di OREL ERIKA</td>
<td style='background-color: #FFF300'>STILE</td>
<td style='background-color: #FFF300'>IT</td>
<td style='background-color: #FFF300'>33052</td>
<td style='background-color: #FFF300'>Cervignano del Friuli</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4200903</td>
<td style='background-color: #FFFFFF'>2022-05-02 00:00:00</td>
<td style='background-color: #FFFFFF'>V000147</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>218.484</td>
<td style='background-color: #FFFFFF'>1560.6</td>
<td style='background-color: #FFFFFF'>K003843</td>
<td style='background-color: #FFFFFF'>Gruppo Monica</td>
<td style='background-color: #FFFFFF'>presso "Edicola Hemingway"</td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>33054</td>
<td style='background-color: #FFFFFF'>Lignano Sabbiadoro (UD)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4200955</td>
<td style='background-color: #FFFFFF'>2022-05-09 00:00:00</td>
<td style='background-color: #FFFFFF'>V000147</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>136.71</td>
<td style='background-color: #FFFFFF'>976.5</td>
<td style='background-color: #FFFFFF'>K005135</td>
<td style='background-color: #FFFFFF'>Curto sas di Sasset Vania</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>32032</td>
<td style='background-color: #FFFFFF'>Feltre (BL)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4200964</td>
<td style='background-color: #FFFFFF'>2022-05-10 00:00:00</td>
<td style='background-color: #FFFFFF'>V000147</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>106.568</td>
<td style='background-color: #FFFFFF'>761.2</td>
<td style='background-color: #FFFFFF'>K005937</td>
<td style='background-color: #FFFFFF'>IDEEREGALO di Pizzinat Maria Teresa</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>31046</td>
<td style='background-color: #FFFFFF'>Oderzo (TV)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4201149</td>
<td style='background-color: #FFFFFF'>2022-06-02 00:00:00</td>
<td style='background-color: #FFFFFF'>V000147</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>5.894</td>
<td style='background-color: #FFFFFF'>42.1</td>
<td style='background-color: #FFFFFF'>K005135</td>
<td style='background-color: #FFFFFF'>Curto sas di Sasset Vania</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>32032</td>
<td style='background-color: #FFFFFF'>Feltre (BL)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4201151</td>
<td style='background-color: #FFFFFF'>2022-06-02 00:00:00</td>
<td style='background-color: #FFFFFF'>V000147</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>12.264</td>
<td style='background-color: #FFFFFF'>87.6</td>
<td style='background-color: #FFFFFF'>K005937</td>
<td style='background-color: #FFFFFF'>IDEEREGALO di Pizzinat Maria Teresa</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>31046</td>
<td style='background-color: #FFFFFF'>Oderzo (TV)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4201229</td>
<td style='background-color: #FFFFFF'>2022-06-13 00:00:00</td>
<td style='background-color: #FFFFFF'>V000147</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>81.746</td>
<td style='background-color: #FFFFFF'>583.9</td>
<td style='background-color: #FFFFFF'>K005937</td>
<td style='background-color: #FFFFFF'>IDEEREGALO di Pizzinat Maria Teresa</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>31046</td>
<td style='background-color: #FFFFFF'>Oderzo (TV)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4201329</td>
<td style='background-color: #FFFFFF'>2022-06-23 00:00:00</td>
<td style='background-color: #FFFFFF'>V000147</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>76.8754</td>
<td style='background-color: #FFFFFF'>549.11</td>
<td style='background-color: #FFFFFF'>K002957</td>
<td style='background-color: #FFFFFF'>Cose Belle di Libralon Luca & C.snc</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>35010</td>
<td style='background-color: #FFFFFF'>Santa Giustina In colle (PD)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4201375</td>
<td style='background-color: #FFFFFF'>2022-06-28 00:00:00</td>
<td style='background-color: #FFFFFF'>V000147</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>30.044</td>
<td style='background-color: #FFFFFF'>214.6</td>
<td style='background-color: #FFFFFF'>K005937</td>
<td style='background-color: #FFFFFF'>IDEEREGALO di Pizzinat Maria Teresa</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>31046</td>
<td style='background-color: #FFFFFF'>Oderzo (TV)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4201394</td>
<td style='background-color: #FFFFFF'>2022-06-30 00:00:00</td>
<td style='background-color: #FFFFFF'>V000147</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>53.172</td>
<td style='background-color: #FFFFFF'>379.8</td>
<td style='background-color: #FFFFFF'>K005937</td>
<td style='background-color: #FFFFFF'>IDEEREGALO di Pizzinat Maria Teresa</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>31046</td>
<td style='background-color: #FFFFFF'>Oderzo (TV)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4201455</td>
<td style='background-color: #FFFFFF'>2022-07-11 00:00:00</td>
<td style='background-color: #FFFFFF'>V000147</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>155.806</td>
<td style='background-color: #FFFFFF'>1112.9</td>
<td style='background-color: #FFFFFF'>K003094</td>
<td style='background-color: #FFFFFF'>Scatola Magica</td>
<td style='background-color: #FFFFFF'>di Sardanelli Daniela</td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>33100</td>
<td style='background-color: #FFFFFF'>Udine</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4201467</td>
<td style='background-color: #FFFFFF'>2022-07-13 00:00:00</td>
<td style='background-color: #FFFFFF'>V000147</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>108.71</td>
<td style='background-color: #FFFFFF'>776.5</td>
<td style='background-color: #FFFFFF'>K005206</td>
<td style='background-color: #FFFFFF'>REGAL CASA</td>
<td style='background-color: #FFFFFF'>di Faidutti Anna Maria</td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>33043</td>
<td style='background-color: #FFFFFF'>Cividale del Friuli (UD)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4201503</td>
<td style='background-color: #FFFFFF'>2022-07-18 00:00:00</td>
<td style='background-color: #FFFFFF'>V000147</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>653.233</td>
<td style='background-color: #FFFFFF'>4665.95</td>
<td style='background-color: #FFFFFF'>K002957</td>
<td style='background-color: #FFFFFF'>Cose Belle di Libralon Luca & C.snc</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>35010</td>
<td style='background-color: #FFFFFF'>Santa Giustina In colle (PD)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4201547</td>
<td style='background-color: #FFFFFF'>2022-07-21 00:00:00</td>
<td style='background-color: #FFFFFF'>V000147</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>115.29</td>
<td style='background-color: #FFFFFF'>823.5</td>
<td style='background-color: #FFFFFF'>K005937</td>
<td style='background-color: #FFFFFF'>IDEEREGALO di Pizzinat Maria Teresa</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>31046</td>
<td style='background-color: #FFFFFF'>Oderzo (TV)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4201551</td>
<td style='background-color: #FFFFFF'>2022-07-21 00:00:00</td>
<td style='background-color: #FFFFFF'>V000147</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>58.478</td>
<td style='background-color: #FFFFFF'>417.7</td>
<td style='background-color: #FFFFFF'>K002957</td>
<td style='background-color: #FFFFFF'>Cose Belle di Libralon Luca & C.snc</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>35010</td>
<td style='background-color: #FFFFFF'>Santa Giustina In colle (PD)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4201695</td>
<td style='background-color: #FFFFFF'>2022-08-08 00:00:00</td>
<td style='background-color: #FFFFFF'>V000147</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>23.744</td>
<td style='background-color: #FFFFFF'>169.6</td>
<td style='background-color: #FFFFFF'>K005135</td>
<td style='background-color: #FFFFFF'>Curto sas di Sasset Vania</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>32032</td>
<td style='background-color: #FFFFFF'>Feltre (BL)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4201752</td>
<td style='background-color: #FFF300'>2022-08-17 00:00:00</td>
<td style='background-color: #FFF300'>V000147</td>
<td style='background-color: #FFF300'>14</td>
<td style='background-color: #FFF300'>-21.546</td>
<td style='background-color: #FFF300'>-153.9</td>
<td style='background-color: #FFF300'>K005937</td>
<td style='background-color: #FFF300'>IDEEREGALO di Pizzinat Maria Teresa</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>IT</td>
<td style='background-color: #FFF300'>31046</td>
<td style='background-color: #FFF300'>Oderzo (TV)</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4201755</td>
<td style='background-color: #FFF300'>2022-08-17 00:00:00</td>
<td style='background-color: #FFF300'>V000147</td>
<td style='background-color: #FFF300'>14</td>
<td style='background-color: #FFF300'>-12.7022</td>
<td style='background-color: #FFF300'>-90.73</td>
<td style='background-color: #FFF300'>K002957</td>
<td style='background-color: #FFF300'>Cose Belle di Libralon Luca & C.snc</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>IT</td>
<td style='background-color: #FFF300'>35010</td>
<td style='background-color: #FFF300'>Santa Giustina In colle (PD)</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4201760</td>
<td style='background-color: #FFFFFF'>2022-08-18 00:00:00</td>
<td style='background-color: #FFFFFF'>V000147</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>5.124</td>
<td style='background-color: #FFFFFF'>36.6</td>
<td style='background-color: #FFFFFF'>K005135</td>
<td style='background-color: #FFFFFF'>Curto sas di Sasset Vania</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>32032</td>
<td style='background-color: #FFFFFF'>Feltre (BL)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4201881</td>
<td style='background-color: #FFFFFF'>2022-09-01 00:00:00</td>
<td style='background-color: #FFFFFF'>V000147</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>208.936</td>
<td style='background-color: #FFFFFF'>1492.4</td>
<td style='background-color: #FFFFFF'>K005937</td>
<td style='background-color: #FFFFFF'>IDEEREGALO di Pizzinat Maria Teresa</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>31046</td>
<td style='background-color: #FFFFFF'>Oderzo (TV)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4202042</td>
<td style='background-color: #FFFFFF'>2022-09-29 00:00:00</td>
<td style='background-color: #FFFFFF'>V000147</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>180.502</td>
<td style='background-color: #FFFFFF'>1289.3</td>
<td style='background-color: #FFFFFF'>K005937</td>
<td style='background-color: #FFFFFF'>IDEEREGALO di Pizzinat Maria Teresa</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>31046</td>
<td style='background-color: #FFFFFF'>Oderzo (TV)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4202066</td>
<td style='background-color: #FFFFFF'>2022-10-03 00:00:00</td>
<td style='background-color: #FFFFFF'>V000147</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>16.156</td>
<td style='background-color: #FFFFFF'>115.4</td>
<td style='background-color: #FFFFFF'>K005206</td>
<td style='background-color: #FFFFFF'>REGAL CASA</td>
<td style='background-color: #FFFFFF'>di Faidutti Anna Maria</td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>33043</td>
<td style='background-color: #FFFFFF'>Cividale del Friuli (UD)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4202199</td>
<td style='background-color: #FFFFFF'>2022-10-24 00:00:00</td>
<td style='background-color: #FFFFFF'>V000147</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>73.472</td>
<td style='background-color: #FFFFFF'>524.8</td>
<td style='background-color: #FFFFFF'>K005937</td>
<td style='background-color: #FFFFFF'>IDEEREGALO di Pizzinat Maria Teresa</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>31046</td>
<td style='background-color: #FFFFFF'>Oderzo (TV)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4202205</td>
<td style='background-color: #FFFFFF'>2022-10-25 00:00:00</td>
<td style='background-color: #FFFFFF'>V000147</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>411.474</td>
<td style='background-color: #FFFFFF'>2939.1</td>
<td style='background-color: #FFFFFF'>K005937</td>
<td style='background-color: #FFFFFF'>IDEEREGALO di Pizzinat Maria Teresa</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>31046</td>
<td style='background-color: #FFFFFF'>Oderzo (TV)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4202272</td>
<td style='background-color: #FFFFFF'>2022-11-07 00:00:00</td>
<td style='background-color: #FFFFFF'>V000147</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>114.254</td>
<td style='background-color: #FFFFFF'>816.1</td>
<td style='background-color: #FFFFFF'>K005206</td>
<td style='background-color: #FFFFFF'>REGAL CASA</td>
<td style='background-color: #FFFFFF'>di Faidutti Anna Maria</td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>33043</td>
<td style='background-color: #FFFFFF'>Cividale del Friuli (UD)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4202281</td>
<td style='background-color: #FFFFFF'>2022-11-07 00:00:00</td>
<td style='background-color: #FFFFFF'>V000147</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>53.298</td>
<td style='background-color: #FFFFFF'>380.7</td>
<td style='background-color: #FFFFFF'>K005937</td>
<td style='background-color: #FFFFFF'>IDEEREGALO di Pizzinat Maria Teresa</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>31046</td>
<td style='background-color: #FFFFFF'>Oderzo (TV)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4202365</td>
<td style='background-color: #FFFFFF'>2022-11-18 00:00:00</td>
<td style='background-color: #FFFFFF'>V000147</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>519.1746</td>
<td style='background-color: #FFFFFF'>3708.39</td>
<td style='background-color: #FFFFFF'>K005937</td>
<td style='background-color: #FFFFFF'>IDEEREGALO di Pizzinat Maria Teresa</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>31046</td>
<td style='background-color: #FFFFFF'>Oderzo (TV)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4202393</td>
<td style='background-color: #FFF300'>2022-11-24 00:00:00</td>
<td style='background-color: #FFF300'>V000147</td>
<td style='background-color: #FFF300'>14</td>
<td style='background-color: #FFF300'>-20.8012</td>
<td style='background-color: #FFF300'>-148.58</td>
<td style='background-color: #FFF300'>K002957</td>
<td style='background-color: #FFF300'>Cose Belle di Libralon Luca & C.snc</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>IT</td>
<td style='background-color: #FFF300'>35010</td>
<td style='background-color: #FFF300'>Santa Giustina In colle (PD)</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4202403</td>
<td style='background-color: #FFFFFF'>2022-11-25 00:00:00</td>
<td style='background-color: #FFFFFF'>V000147</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>7.476</td>
<td style='background-color: #FFFFFF'>53.4</td>
<td style='background-color: #FFFFFF'>K005937</td>
<td style='background-color: #FFFFFF'>IDEEREGALO di Pizzinat Maria Teresa</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>31046</td>
<td style='background-color: #FFFFFF'>Oderzo (TV)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4202489</td>
<td style='background-color: #FFFFFF'>2022-12-06 00:00:00</td>
<td style='background-color: #FFFFFF'>V000147</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>152.488</td>
<td style='background-color: #FFFFFF'>1089.2</td>
<td style='background-color: #FFFFFF'>K005937</td>
<td style='background-color: #FFFFFF'>IDEEREGALO di Pizzinat Maria Teresa</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>31046</td>
<td style='background-color: #FFFFFF'>Oderzo (TV)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202508</td>
<td style='background-color: #00FF00'>2022-12-06 00:00:00</td>
<td style='background-color: #00FF00'>V000147</td>
<td style='background-color: #00FF00'>14</td>
<td style='background-color: #00FF00'>80.92</td>
<td style='background-color: #00FF00'>578</td>
<td style='background-color: #00FF00'>K005135</td>
<td style='background-color: #00FF00'>Curto sas di Sasset Vania</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>32032</td>
<td style='background-color: #00FF00'>Feltre (BL)</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>578</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #00FF00'>80.9</td>
<td style='background-color: #FFAB83'>24.02.2023,  578</td>
<td style='background-color: #FFFFFF'>14.02.2023,  578.0</td>
<td style='background-color: #FFFFFF'>24.02.2023,  578.0</td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4202692</td>
<td style='background-color: #FFF300'>2022-12-22 00:00:00</td>
<td style='background-color: #FFF300'>V000147</td>
<td style='background-color: #FFF300'>14</td>
<td style='background-color: #FFF300'>-7.791</td>
<td style='background-color: #FFF300'>-55.65</td>
<td style='background-color: #FFF300'>K003094</td>
<td style='background-color: #FFF300'>Scatola Magica</td>
<td style='background-color: #FFF300'>di Sardanelli Daniela</td>
<td style='background-color: #FFF300'>IT</td>
<td style='background-color: #FFF300'>33100</td>
<td style='background-color: #FFF300'>Udine</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4202705</td>
<td style='background-color: #FFFFFF'>2022-12-30 00:00:00</td>
<td style='background-color: #FFFFFF'>V000147</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>105.336</td>
<td style='background-color: #FFFFFF'>752.4</td>
<td style='background-color: #FFFFFF'>K003843</td>
<td style='background-color: #FFFFFF'>Gruppo Monica</td>
<td style='background-color: #FFFFFF'>presso "Edicola Hemingway"</td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>33054</td>
<td style='background-color: #FFFFFF'>Lignano Sabbiadoro (UD)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300001</td>
<td style='background-color: #00FF00'>2023-01-09 00:00:00</td>
<td style='background-color: #00FF00'>V000147</td>
<td style='background-color: #00FF00'>14</td>
<td style='background-color: #00FF00'>54.558</td>
<td style='background-color: #00FF00'>389.7</td>
<td style='background-color: #00FF00'>K005206</td>
<td style='background-color: #00FF00'>REGAL CASA</td>
<td style='background-color: #00FF00'>di Faidutti Anna Maria</td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>33043</td>
<td style='background-color: #00FF00'>Cividale del Friuli (UD)</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>389.7</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #00FF00'>54.6</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>28.02.2023,  389.7</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4300028</td>
<td style='background-color: #FFFFFF'>2023-01-11 00:00:00</td>
<td style='background-color: #FFFFFF'>V000147</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>42.644</td>
<td style='background-color: #FFFFFF'>304.6</td>
<td style='background-color: #FFFFFF'>K003843</td>
<td style='background-color: #FFFFFF'>Gruppo Monica</td>
<td style='background-color: #FFFFFF'>presso "Edicola Hemingway"</td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>33054</td>
<td style='background-color: #FFFFFF'>Lignano Sabbiadoro (UD)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4300067</td>
<td style='background-color: #FFFFFF'>2023-01-19 00:00:00</td>
<td style='background-color: #FFFFFF'>V000147</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>79.0076</td>
<td style='background-color: #FFFFFF'>564.34</td>
<td style='background-color: #FFFFFF'>K002957</td>
<td style='background-color: #FFFFFF'>Cose Belle di Libralon Luca & C.snc</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>35010</td>
<td style='background-color: #FFFFFF'>Santa Giustina In colle (PD)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4300070</td>
<td style='background-color: #FFFFFF'>2023-01-19 00:00:00</td>
<td style='background-color: #FFFFFF'>V000147</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>156.9764</td>
<td style='background-color: #FFFFFF'>1121.26</td>
<td style='background-color: #FFFFFF'>K002957</td>
<td style='background-color: #FFFFFF'>Cose Belle di Libralon Luca & C.snc</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>35010</td>
<td style='background-color: #FFFFFF'>Santa Giustina In colle (PD)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4300094</td>
<td style='background-color: #FFFFFF'>2023-01-24 00:00:00</td>
<td style='background-color: #FFFFFF'>V000147</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>734.5702</td>
<td style='background-color: #FFFFFF'>5246.93</td>
<td style='background-color: #FFFFFF'>K002957</td>
<td style='background-color: #FFFFFF'>Cose Belle di Libralon Luca & C.snc</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>35010</td>
<td style='background-color: #FFFFFF'>Santa Giustina In colle (PD)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4300173</td>
<td style='background-color: #FFFFFF'>2023-02-08 00:00:00</td>
<td style='background-color: #FFFFFF'>V000147</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>112.1008</td>
<td style='background-color: #FFFFFF'>800.72</td>
<td style='background-color: #FFFFFF'>K005937</td>
<td style='background-color: #FFFFFF'>IDEEREGALO di Pizzinat Maria Teresa</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>31046</td>
<td style='background-color: #FFFFFF'>Oderzo (TV)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'>UNPAID</td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4300265</td>
<td style='background-color: #FFFFFF'>2023-02-23 00:00:00</td>
<td style='background-color: #FFFFFF'>V000147</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>54.292</td>
<td style='background-color: #FFFFFF'>387.8</td>
<td style='background-color: #FFFFFF'>K005135</td>
<td style='background-color: #FFFFFF'>Curto sas di Sasset Vania</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>32032</td>
<td style='background-color: #FFFFFF'>Feltre (BL)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4300334</td>
<td style='background-color: #FFFFFF'>2023-03-07 00:00:00</td>
<td style='background-color: #FFFFFF'>V000147</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>418.4726</td>
<td style='background-color: #FFFFFF'>2989.09</td>
<td style='background-color: #FFFFFF'>K002957</td>
<td style='background-color: #FFFFFF'>Cose Belle di Libralon Luca & C.snc</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>35010</td>
<td style='background-color: #FFFFFF'>Santa Giustina In colle (PD)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>All requested: </td>
<td style='background-color: #FFF300'>47311.9</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #68BF9D'>967.7</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #68BF9D'>135.5</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
 </tbody>
                </table>