{%extends 'base.html'%}
                        {% block content %}
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!--<link rel="stylesheet" type="text/css" href="normas.css">-->
<style>
    body{
        background-color: #d6e1f8;
         
    }
    th, td {
        border: 1px solid #ccc;
        
        text-align: center;
    }

    table {
   
        border-collapse: collapse !important; /* optional: collapse the table borders */
    }

    table tr {
        background-color: #8BC34A !important; /* Set background color of all rows */
    }

    table tr:hover td {
        background-color: #2196F3 !important; /* Set background color of cells when hovered */
    }

</style>
                 <table border="1" class="dataframe" style="width:100%;">
                             <thead>
                                 <tr style="text-align: right;">
<th style='background-color: #B0CBF0'>RK</th>
<th style='background-color: #B0CBF0'>GF-Nr</th>
<th style='background-color: #B0CBF0'>Data</th>
<th style='background-color: #B0CBF0'>Representante</th>
<th style='background-color: #B0CBF0'>Proviggioni </th>
<th style='background-color: #B0CBF0'>Proviggioni somma</th>
<th style='background-color: #B0CBF0'>Somme</th>
<th style='background-color: #B0CBF0'>Numero cliente</th>
<th style='background-color: #B0CBF0'>Nome cliente</th>
<th style='background-color: #B0CBF0'>Nome cliente 2</th>
<th style='background-color: #B0CBF0'>IntKz</th>
<th style='background-color: #B0CBF0'>CAP</th>
<th style='background-color: #B0CBF0'>Indirizzo</th>
<th style='background-color: #FFFFFF'> </th>
<th style='background-color: #899EF0'>Pagato</th>
<th style='background-color: #899EF0'>Stato pagamento</th>
<th style='background-color: #899EF0'>Proviggioni su pagato</th>
<th style='background-color: #899EF0'> </th>
<th style='background-color: #899EF0'>Data pagamento</th>
<th style='background-color: #FFFFFF'> </th>
<th style='background-color: #FFFFFF'> </th>
<th style='background-color: #FFFFFF'> </th>
<th style='background-color: #FFFFFF'> </th>
<th style='background-color: #FFFFFF'> </th>
</tr>
</thead>
                      <tbody><tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #68BF9D'>0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #68BF9D'>0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
 </tbody>
                </table>
                {% endblock %}