{%extends 'base.html'%}
                            {% block content %}     
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--<link rel="stylesheet" type="text/css" href="normas.css">-->
    <style>
        body{
            background-color: #d6e1f8;

        }
        th, td {
            border: 1px solid #ccc;

            text-align: center;
        }

        table {

            border-collapse: collapse !important; /* optional: collapse the table borders */
        }

        table tr {
            background-color: #8BC34A !important; /* Set background color of all rows */
        }

        table tr:hover td {
            background-color: #2196F3 !important; /* Set background color of cells when hovered */
        }

    </style>
                     <table border="1" class="dataframe" style="width:100%;">
                                 <thead>
                                     <tr style="text-align: right;">
<th style='background-color: #899EF0'>RK</th>
<th style='background-color: #899EF0'>GF-Nr</th>
<th style='background-color: #899EF0'>Datum</th>
<th style='background-color: #899EF0'>Vertreter</th>
<th style='background-color: #899EF0'>ProvProz</th>
<th style='background-color: #899EF0'>Provision</th>
<th style='background-color: #899EF0'>Summe</th>
<th style='background-color: #899EF0'>Lieferant</th>
<th style='background-color: #899EF0'>Lieferantenname</th>
<th style='background-color: #899EF0'>Name2</th>
<th style='background-color: #899EF0'>IntKz</th>
<th style='background-color: #899EF0'>PLZ Neu</th>
<th style='background-color: #899EF0'>Ort</th>
<th style='background-color: #899EF0'>s</th>
<th style='background-color: #899EF0'>Paid amount</th>
<th style='background-color: #899EF0'>Payment status</th>
<th style='background-color: #899EF0'>Payment commission</th>
<th style='background-color: #899EF0'>Payments with Rest</th>
<th style='background-color: #899EF0'>Payments Dates</th>
</tr>
</thead>
                          <tbody><tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300024</td>
<td style='background-color: #00FF00'>2023-01-11 00:00:00</td>
<td style='background-color: #00FF00'>V000120</td>
<td style='background-color: #00FF00'>15</td>
<td style='background-color: #00FF00'>145.905</td>
<td style='background-color: #00FF00'>972.7</td>
<td style='background-color: #00FF00'>K005448</td>
<td style='background-color: #00FF00'>Super U Eschau</td>
<td style='background-color: #00FF00'>SAS Eschaudis</td>
<td style='background-color: #00FF00'>F</td>
<td style='background-color: #00FF00'>67114</td>
<td style='background-color: #00FF00'>Eschau</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>972.7</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>145.9</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>13.02.2023,  972.7</td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300050</td>
<td style='background-color: #00FF00'>2023-01-16 00:00:00</td>
<td style='background-color: #00FF00'>V000120</td>
<td style='background-color: #00FF00'>15</td>
<td style='background-color: #00FF00'>70.29</td>
<td style='background-color: #00FF00'>468.6</td>
<td style='background-color: #00FF00'>K003872</td>
<td style='background-color: #00FF00'>Intermarché Dannemarie</td>
<td style='background-color: #00FF00'>SAS ETABLISSEMENTS HARTMANN COMESU</td>
<td style='background-color: #00FF00'>F</td>
<td style='background-color: #00FF00'>68210</td>
<td style='background-color: #00FF00'>Dannemarie</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>468.6</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>70.3</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>16.02.2023,  468.6</td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300057</td>
<td style='background-color: #00FF00'>2023-01-17 00:00:00</td>
<td style='background-color: #00FF00'>V000120</td>
<td style='background-color: #00FF00'>0</td>
<td style='background-color: #00FF00'>0</td>
<td style='background-color: #00FF00'>1128.7</td>
<td style='background-color: #00FF00'>K005140</td>
<td style='background-color: #00FF00'>Manege a Bijoux Leclerc</td>
<td style='background-color: #00FF00'>SAS NEOCADIS</td>
<td style='background-color: #00FF00'>F</td>
<td style='background-color: #00FF00'>88300</td>
<td style='background-color: #00FF00'>Neufchateau</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>1128.7</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>17.02.2023,  1128.7</td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300100</td>
<td style='background-color: #00FF00'>2023-01-25 00:00:00</td>
<td style='background-color: #00FF00'>V000120</td>
<td style='background-color: #00FF00'>0</td>
<td style='background-color: #00FF00'>0</td>
<td style='background-color: #00FF00'>695.3</td>
<td style='background-color: #00FF00'>K005176</td>
<td style='background-color: #00FF00'>Manège à Bijoux Centre Leclerc</td>
<td style='background-color: #00FF00'>SAS DENIDIS</td>
<td style='background-color: #00FF00'>F</td>
<td style='background-color: #00FF00'>89100</td>
<td style='background-color: #00FF00'>Saint-Denis-lès-Sens</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>695.3</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>24.04.2023,  695.3</td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300102</td>
<td style='background-color: #00FF00'>2023-01-25 00:00:00</td>
<td style='background-color: #00FF00'>V000120</td>
<td style='background-color: #00FF00'>15</td>
<td style='background-color: #00FF00'>110.445</td>
<td style='background-color: #00FF00'>736.3</td>
<td style='background-color: #00FF00'>K004037</td>
<td style='background-color: #00FF00'>Annick Baal</td>
<td style='background-color: #00FF00'>SAS GAMECA</td>
<td style='background-color: #00FF00'>F</td>
<td style='background-color: #00FF00'>68170</td>
<td style='background-color: #00FF00'>Rixheim</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>736.3</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>110.4</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>06.03.2023,  736.3</td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300151</td>
<td style='background-color: #00FF00'>2023-02-06 00:00:00</td>
<td style='background-color: #00FF00'>V000120</td>
<td style='background-color: #00FF00'>15</td>
<td style='background-color: #00FF00'>136.185</td>
<td style='background-color: #00FF00'>907.9</td>
<td style='background-color: #00FF00'>K005448</td>
<td style='background-color: #00FF00'>Super U Eschau</td>
<td style='background-color: #00FF00'>SAS Eschaudis</td>
<td style='background-color: #00FF00'>F</td>
<td style='background-color: #00FF00'>67114</td>
<td style='background-color: #00FF00'>Eschau</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>907.9</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>136.2</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>02.03.2023,  907.9</td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300170</td>
<td style='background-color: #00FF00'>2023-02-08 00:00:00</td>
<td style='background-color: #00FF00'>V000120</td>
<td style='background-color: #00FF00'>0</td>
<td style='background-color: #00FF00'>0</td>
<td style='background-color: #00FF00'>1468.6</td>
<td style='background-color: #00FF00'>K005106</td>
<td style='background-color: #00FF00'>Oliver Weber Kiosk</td>
<td style='background-color: #00FF00'>HYPER U</td>
<td style='background-color: #00FF00'>F</td>
<td style='background-color: #00FF00'>74150</td>
<td style='background-color: #00FF00'>Rumilly</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>1468.6</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>15.03.2023,  1468.6</td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300182</td>
<td style='background-color: #00FF00'>2023-02-09 00:00:00</td>
<td style='background-color: #00FF00'>V000120</td>
<td style='background-color: #00FF00'>15</td>
<td style='background-color: #00FF00'>215.955</td>
<td style='background-color: #00FF00'>1439.7</td>
<td style='background-color: #00FF00'>K005095</td>
<td style='background-color: #00FF00'>Manège à Bijoux</td>
<td style='background-color: #00FF00'>Leclerc Bar-le-Duc</td>
<td style='background-color: #00FF00'>F</td>
<td style='background-color: #00FF00'>55000</td>
<td style='background-color: #00FF00'>Bar-le-Duc</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>1439.7</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>216</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>17.03.2023,  1439.7</td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300263</td>
<td style='background-color: #00FF00'>2023-02-23 00:00:00</td>
<td style='background-color: #00FF00'>V000120</td>
<td style='background-color: #00FF00'>0</td>
<td style='background-color: #00FF00'>0</td>
<td style='background-color: #00FF00'>437.2</td>
<td style='background-color: #00FF00'>K004533</td>
<td style='background-color: #00FF00'>Manège à Bijoux Centre Leclerc</td>
<td style='background-color: #00FF00'>Sas Socodis</td>
<td style='background-color: #00FF00'>F</td>
<td style='background-color: #00FF00'>68000</td>
<td style='background-color: #00FF00'>Colmar</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>437.2</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>21.03.2023,  437.2</td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300352</td>
<td style='background-color: #00FF00'>2023-03-10 00:00:00</td>
<td style='background-color: #00FF00'>V000120</td>
<td style='background-color: #00FF00'>15</td>
<td style='background-color: #00FF00'>112.5</td>
<td style='background-color: #00FF00'>750</td>
<td style='background-color: #00FF00'>K005448</td>
<td style='background-color: #00FF00'>Super U Eschau</td>
<td style='background-color: #00FF00'>SAS Eschaudis</td>
<td style='background-color: #00FF00'>F</td>
<td style='background-color: #00FF00'>67114</td>
<td style='background-color: #00FF00'>Eschau</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>750</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>112.5</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>14.04.2023,  750.0</td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4300356</td>
<td style='background-color: #FFF300'>2023-03-10 00:00:00</td>
<td style='background-color: #FFF300'>V000120</td>
<td style='background-color: #FFF300'>0</td>
<td style='background-color: #FFF300'>0</td>
<td style='background-color: #FFF300'>-155.4</td>
<td style='background-color: #FFF300'>K004893</td>
<td style='background-color: #FFF300'>Manège à bijoux LECLERC</td>
<td style='background-color: #FFF300'>SAS SODICER 03 89754020</td>
<td style='background-color: #FFF300'>F</td>
<td style='background-color: #FFF300'>68703</td>
<td style='background-color: #FFF300'>Cernay</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300501</td>
<td style='background-color: #00FF00'>2023-03-31 00:00:00</td>
<td style='background-color: #00FF00'>V000120</td>
<td style='background-color: #00FF00'>15</td>
<td style='background-color: #00FF00'>2.25</td>
<td style='background-color: #00FF00'>15</td>
<td style='background-color: #00FF00'>K005095</td>
<td style='background-color: #00FF00'>Manège à Bijoux</td>
<td style='background-color: #00FF00'>Leclerc Bar-le-Duc</td>
<td style='background-color: #00FF00'>F</td>
<td style='background-color: #00FF00'>55000</td>
<td style='background-color: #00FF00'>Bar-le-Duc</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>15</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>2.2</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>21.04.2023,  15.0</td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300586</td>
<td style='background-color: #00FF00'>2023-04-18 00:00:00</td>
<td style='background-color: #00FF00'>V000120</td>
<td style='background-color: #00FF00'>15</td>
<td style='background-color: #00FF00'>238.845</td>
<td style='background-color: #00FF00'>1592.3</td>
<td style='background-color: #00FF00'>K005448</td>
<td style='background-color: #00FF00'>Super U Eschau</td>
<td style='background-color: #00FF00'>SAS Eschaudis</td>
<td style='background-color: #00FF00'>F</td>
<td style='background-color: #00FF00'>67114</td>
<td style='background-color: #00FF00'>Eschau</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>1592.3</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>238.8</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>23.05.2023,  1592.3</td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300638</td>
<td style='background-color: #00FF00'>2023-04-26 00:00:00</td>
<td style='background-color: #00FF00'>V000120</td>
<td style='background-color: #00FF00'>0</td>
<td style='background-color: #00FF00'>0</td>
<td style='background-color: #00FF00'>1060.1</td>
<td style='background-color: #00FF00'>K004893</td>
<td style='background-color: #00FF00'>Manège à bijoux LECLERC</td>
<td style='background-color: #00FF00'>SAS SODICER 03 89754020</td>
<td style='background-color: #00FF00'>F</td>
<td style='background-color: #00FF00'>68703</td>
<td style='background-color: #00FF00'>Cernay</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>1060.1</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>26.05.2023,  1060.1</td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300665</td>
<td style='background-color: #00FF00'>2023-04-28 00:00:00</td>
<td style='background-color: #00FF00'>V000120</td>
<td style='background-color: #00FF00'>0</td>
<td style='background-color: #00FF00'>0</td>
<td style='background-color: #00FF00'>1984</td>
<td style='background-color: #00FF00'>K005106</td>
<td style='background-color: #00FF00'>Oliver Weber Kiosk</td>
<td style='background-color: #00FF00'>HYPER U</td>
<td style='background-color: #00FF00'>F</td>
<td style='background-color: #00FF00'>74150</td>
<td style='background-color: #00FF00'>Rumilly</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>1984</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>25.05.2023,  1984.0</td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300710</td>
<td style='background-color: #00FF00'>2023-05-08 00:00:00</td>
<td style='background-color: #00FF00'>V000120</td>
<td style='background-color: #00FF00'>15</td>
<td style='background-color: #00FF00'>74.97</td>
<td style='background-color: #00FF00'>499.8</td>
<td style='background-color: #00FF00'>K004037</td>
<td style='background-color: #00FF00'>Annick Baal</td>
<td style='background-color: #00FF00'>SAS GAMECA</td>
<td style='background-color: #00FF00'>F</td>
<td style='background-color: #00FF00'>68170</td>
<td style='background-color: #00FF00'>Rixheim</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>499.8</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>75</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>19.06.2023,  499.8</td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300711</td>
<td style='background-color: #00FF00'>2023-05-08 00:00:00</td>
<td style='background-color: #00FF00'>V000120</td>
<td style='background-color: #00FF00'>0</td>
<td style='background-color: #00FF00'>0</td>
<td style='background-color: #00FF00'>845.2</td>
<td style='background-color: #00FF00'>K005140</td>
<td style='background-color: #00FF00'>Manege a Bijoux Leclerc</td>
<td style='background-color: #00FF00'>SAS NEOCADIS</td>
<td style='background-color: #00FF00'>F</td>
<td style='background-color: #00FF00'>88300</td>
<td style='background-color: #00FF00'>Neufchateau</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>845.2</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>09.06.2023,  845.2</td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300720</td>
<td style='background-color: #00FF00'>2023-05-09 00:00:00</td>
<td style='background-color: #00FF00'>V000120</td>
<td style='background-color: #00FF00'>15</td>
<td style='background-color: #00FF00'>2.37</td>
<td style='background-color: #00FF00'>15.8</td>
<td style='background-color: #00FF00'>K004037</td>
<td style='background-color: #00FF00'>Annick Baal</td>
<td style='background-color: #00FF00'>SAS GAMECA</td>
<td style='background-color: #00FF00'>F</td>
<td style='background-color: #00FF00'>68170</td>
<td style='background-color: #00FF00'>Rixheim</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>15.8</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>2.4</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>19.06.2023,  15.8</td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300735</td>
<td style='background-color: #00FF00'>2023-05-11 00:00:00</td>
<td style='background-color: #00FF00'>V000120</td>
<td style='background-color: #00FF00'>0</td>
<td style='background-color: #00FF00'>0</td>
<td style='background-color: #00FF00'>1239.5</td>
<td style='background-color: #00FF00'>K005106</td>
<td style='background-color: #00FF00'>Oliver Weber Kiosk</td>
<td style='background-color: #00FF00'>HYPER U</td>
<td style='background-color: #00FF00'>F</td>
<td style='background-color: #00FF00'>74150</td>
<td style='background-color: #00FF00'>Rumilly</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>1239.5</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>06.06.2023,  1239.5</td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300756</td>
<td style='background-color: #00FF00'>2023-05-11 00:00:00</td>
<td style='background-color: #00FF00'>V000120</td>
<td style='background-color: #00FF00'>15</td>
<td style='background-color: #00FF00'>71.22</td>
<td style='background-color: #00FF00'>474.8</td>
<td style='background-color: #00FF00'>K003872</td>
<td style='background-color: #00FF00'>Intermarché Dannemarie</td>
<td style='background-color: #00FF00'>SAS ETABLISSEMENTS HARTMANN COMESU</td>
<td style='background-color: #00FF00'>F</td>
<td style='background-color: #00FF00'>68210</td>
<td style='background-color: #00FF00'>Dannemarie</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>474.8</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>71.2</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>13.06.2023,  474.8</td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4300771</td>
<td style='background-color: #FFFFFF'>2023-05-12 00:00:00</td>
<td style='background-color: #FFFFFF'>V000120</td>
<td style='background-color: #FFFFFF'>15</td>
<td style='background-color: #FFFFFF'>73.155</td>
<td style='background-color: #FFFFFF'>487.7</td>
<td style='background-color: #FFFFFF'>K004037</td>
<td style='background-color: #FFFFFF'>Annick Baal</td>
<td style='background-color: #FFFFFF'>SAS GAMECA</td>
<td style='background-color: #FFFFFF'>F</td>
<td style='background-color: #FFFFFF'>68170</td>
<td style='background-color: #FFFFFF'>Rixheim</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'>UNPAID</td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300984</td>
<td style='background-color: #00FF00'>2023-06-12 00:00:00</td>
<td style='background-color: #00FF00'>V000120</td>
<td style='background-color: #00FF00'>0</td>
<td style='background-color: #00FF00'>0</td>
<td style='background-color: #00FF00'>971.7</td>
<td style='background-color: #00FF00'>K005106</td>
<td style='background-color: #00FF00'>Oliver Weber Kiosk</td>
<td style='background-color: #00FF00'>HYPER U</td>
<td style='background-color: #00FF00'>F</td>
<td style='background-color: #00FF00'>74150</td>
<td style='background-color: #00FF00'>Rumilly</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>971.7</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>05.07.2023,  971.7</td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4301022</td>
<td style='background-color: #00FF00'>2023-06-15 00:00:00</td>
<td style='background-color: #00FF00'>V000120</td>
<td style='background-color: #00FF00'>15</td>
<td style='background-color: #00FF00'>108.96</td>
<td style='background-color: #00FF00'>726.4</td>
<td style='background-color: #00FF00'>K005448</td>
<td style='background-color: #00FF00'>Super U Eschau</td>
<td style='background-color: #00FF00'>SAS Eschaudis</td>
<td style='background-color: #00FF00'>F</td>
<td style='background-color: #00FF00'>67114</td>
<td style='background-color: #00FF00'>Eschau</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>726.4</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>109</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>28.08.2023,  726.4</td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4301060</td>
<td style='background-color: #00FF00'>2023-06-21 00:00:00</td>
<td style='background-color: #00FF00'>V000120</td>
<td style='background-color: #00FF00'>0</td>
<td style='background-color: #00FF00'>0</td>
<td style='background-color: #00FF00'>43.8</td>
<td style='background-color: #00FF00'>K004893</td>
<td style='background-color: #00FF00'>Manège à bijoux LECLERC</td>
<td style='background-color: #00FF00'>SAS SODICER 03 89754020</td>
<td style='background-color: #00FF00'>F</td>
<td style='background-color: #00FF00'>68703</td>
<td style='background-color: #00FF00'>Cernay</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>43.8</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>21.07.2023,  43.8</td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4301130</td>
<td style='background-color: #FFF300'>2023-06-29 00:00:00</td>
<td style='background-color: #FFF300'>V000120</td>
<td style='background-color: #FFF300'>15</td>
<td style='background-color: #FFF300'>-3.495</td>
<td style='background-color: #FFF300'>-23.3</td>
<td style='background-color: #FFF300'>K004037</td>
<td style='background-color: #FFF300'>Annick Baal</td>
<td style='background-color: #FFF300'>SAS GAMECA</td>
<td style='background-color: #FFF300'>F</td>
<td style='background-color: #FFF300'>68170</td>
<td style='background-color: #FFF300'>Rixheim</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4301330</td>
<td style='background-color: #FFFFFF'>2023-07-31 00:00:00</td>
<td style='background-color: #FFFFFF'>V000120</td>
<td style='background-color: #FFFFFF'>15</td>
<td style='background-color: #FFFFFF'>85.545</td>
<td style='background-color: #FFFFFF'>570.3</td>
<td style='background-color: #FFFFFF'>K005448</td>
<td style='background-color: #FFFFFF'>Super U Eschau</td>
<td style='background-color: #FFFFFF'>SAS Eschaudis</td>
<td style='background-color: #FFFFFF'>F</td>
<td style='background-color: #FFFFFF'>67114</td>
<td style='background-color: #FFFFFF'>Eschau</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'>UNPAID</td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4301376</td>
<td style='background-color: #FFF300'>2023-08-08 00:00:00</td>
<td style='background-color: #FFF300'>V000120</td>
<td style='background-color: #FFF300'>15</td>
<td style='background-color: #FFF300'>-85.545</td>
<td style='background-color: #FFF300'>-570.3</td>
<td style='background-color: #FFF300'>K005448</td>
<td style='background-color: #FFF300'>Super U Eschau</td>
<td style='background-color: #FFF300'>SAS Eschaudis</td>
<td style='background-color: #FFF300'>F</td>
<td style='background-color: #FFF300'>67114</td>
<td style='background-color: #FFF300'>Eschau</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4301377</td>
<td style='background-color: #00FF00'>2023-08-08 00:00:00</td>
<td style='background-color: #00FF00'>V000120</td>
<td style='background-color: #00FF00'>15</td>
<td style='background-color: #00FF00'>85.545</td>
<td style='background-color: #00FF00'>570.3</td>
<td style='background-color: #00FF00'>K005448</td>
<td style='background-color: #00FF00'>Super U Eschau</td>
<td style='background-color: #00FF00'>SAS Eschaudis</td>
<td style='background-color: #00FF00'>F</td>
<td style='background-color: #00FF00'>67114</td>
<td style='background-color: #00FF00'>Eschau</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>570.3</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>85.5</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>05.09.2023,  570.3</td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4301384</td>
<td style='background-color: #00FF00'>2023-08-10 00:00:00</td>
<td style='background-color: #00FF00'>V000120</td>
<td style='background-color: #00FF00'>15</td>
<td style='background-color: #00FF00'>73.8</td>
<td style='background-color: #00FF00'>492</td>
<td style='background-color: #00FF00'>K004037</td>
<td style='background-color: #00FF00'>Annick Baal</td>
<td style='background-color: #00FF00'>SAS GAMECA</td>
<td style='background-color: #00FF00'>F</td>
<td style='background-color: #00FF00'>68170</td>
<td style='background-color: #00FF00'>Rixheim</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>492</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>73.8</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>19.09.2023,  492.0</td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4301434</td>
<td style='background-color: #00FF00'>2023-08-22 00:00:00</td>
<td style='background-color: #00FF00'>V000120</td>
<td style='background-color: #00FF00'>0</td>
<td style='background-color: #00FF00'>0</td>
<td style='background-color: #00FF00'>1672.6</td>
<td style='background-color: #00FF00'>K004893</td>
<td style='background-color: #00FF00'>Manège à bijoux LECLERC</td>
<td style='background-color: #00FF00'>SAS SODICER 03 89754020</td>
<td style='background-color: #00FF00'>F</td>
<td style='background-color: #00FF00'>68703</td>
<td style='background-color: #00FF00'>Cernay</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>1672.6</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>21.09.2023,  1672.6</td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4301498</td>
<td style='background-color: #00FF00'>2023-09-05 00:00:00</td>
<td style='background-color: #00FF00'>V000120</td>
<td style='background-color: #00FF00'>15</td>
<td style='background-color: #00FF00'>59.79</td>
<td style='background-color: #00FF00'>398.6</td>
<td style='background-color: #00FF00'>K005448</td>
<td style='background-color: #00FF00'>Super U Eschau</td>
<td style='background-color: #00FF00'>SAS Eschaudis</td>
<td style='background-color: #00FF00'>F</td>
<td style='background-color: #00FF00'>67114</td>
<td style='background-color: #00FF00'>Eschau</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>398.6</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>59.8</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>13.10.2023,  398.6</td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4301503</td>
<td style='background-color: #00FF00'>2023-09-06 00:00:00</td>
<td style='background-color: #00FF00'>V000120</td>
<td style='background-color: #00FF00'>0</td>
<td style='background-color: #00FF00'>0</td>
<td style='background-color: #00FF00'>1307.2</td>
<td style='background-color: #00FF00'>K005198</td>
<td style='background-color: #00FF00'>Manège à Bijoux E. LECLERC</td>
<td style='background-color: #00FF00'>SARREDIS SAS</td>
<td style='background-color: #00FF00'>F</td>
<td style='background-color: #00FF00'>57400</td>
<td style='background-color: #00FF00'>Sarrebourg</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>1307.2</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>31.10.2023,  1307.2</td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4301504</td>
<td style='background-color: #00FF00'>2023-09-06 00:00:00</td>
<td style='background-color: #00FF00'>V000120</td>
<td style='background-color: #00FF00'>0</td>
<td style='background-color: #00FF00'>0</td>
<td style='background-color: #00FF00'>1068.65</td>
<td style='background-color: #00FF00'>K005140</td>
<td style='background-color: #00FF00'>Manege a Bijoux Leclerc</td>
<td style='background-color: #00FF00'>SAS NEOCADIS</td>
<td style='background-color: #00FF00'>F</td>
<td style='background-color: #00FF00'>88300</td>
<td style='background-color: #00FF00'>Neufchateau</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>1068.65</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>06.10.2023,  1068.7</td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4301510</td>
<td style='background-color: #00FF00'>2023-09-06 00:00:00</td>
<td style='background-color: #00FF00'>V000120</td>
<td style='background-color: #00FF00'>0</td>
<td style='background-color: #00FF00'>0</td>
<td style='background-color: #00FF00'>2608.3</td>
<td style='background-color: #00FF00'>K005106</td>
<td style='background-color: #00FF00'>Oliver Weber Kiosk</td>
<td style='background-color: #00FF00'>HYPER U</td>
<td style='background-color: #00FF00'>F</td>
<td style='background-color: #00FF00'>74150</td>
<td style='background-color: #00FF00'>Rumilly</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>2608.3</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>09.10.2023,  2608.3</td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4301528</td>
<td style='background-color: #00FF00'>2023-09-11 00:00:00</td>
<td style='background-color: #00FF00'>V000120</td>
<td style='background-color: #00FF00'>15</td>
<td style='background-color: #00FF00'>67.455</td>
<td style='background-color: #00FF00'>449.7</td>
<td style='background-color: #00FF00'>K005448</td>
<td style='background-color: #00FF00'>Super U Eschau</td>
<td style='background-color: #00FF00'>SAS Eschaudis</td>
<td style='background-color: #00FF00'>F</td>
<td style='background-color: #00FF00'>67114</td>
<td style='background-color: #00FF00'>Eschau</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>449.7</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>67.5</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>13.10.2023,  449.7</td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4301574</td>
<td style='background-color: #00FF00'>2023-09-19 00:00:00</td>
<td style='background-color: #00FF00'>V000120</td>
<td style='background-color: #00FF00'>0</td>
<td style='background-color: #00FF00'>0</td>
<td style='background-color: #00FF00'>638.5</td>
<td style='background-color: #00FF00'>K004533</td>
<td style='background-color: #00FF00'>Manège à Bijoux Centre Leclerc</td>
<td style='background-color: #00FF00'>Sas Socodis</td>
<td style='background-color: #00FF00'>F</td>
<td style='background-color: #00FF00'>68000</td>
<td style='background-color: #00FF00'>Colmar</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>638.5</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>17.10.2023,  638.5</td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4301679</td>
<td style='background-color: #FFF300'>2023-09-29 00:00:00</td>
<td style='background-color: #FFF300'>V000120</td>
<td style='background-color: #FFF300'>0</td>
<td style='background-color: #FFF300'>0</td>
<td style='background-color: #FFF300'>-85</td>
<td style='background-color: #FFF300'>K005140</td>
<td style='background-color: #FFF300'>Manege a Bijoux Leclerc</td>
<td style='background-color: #FFF300'>SAS NEOCADIS</td>
<td style='background-color: #FFF300'>F</td>
<td style='background-color: #FFF300'>88300</td>
<td style='background-color: #FFF300'>Neufchateau</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4301767</td>
<td style='background-color: #00FF00'>2023-10-16 00:00:00</td>
<td style='background-color: #00FF00'>V000120</td>
<td style='background-color: #00FF00'>15</td>
<td style='background-color: #00FF00'>132.9</td>
<td style='background-color: #00FF00'>886</td>
<td style='background-color: #00FF00'>K003872</td>
<td style='background-color: #00FF00'>Intermarché Dannemarie</td>
<td style='background-color: #00FF00'>SAS ETABLISSEMENTS HARTMANN COMESU</td>
<td style='background-color: #00FF00'>F</td>
<td style='background-color: #00FF00'>68210</td>
<td style='background-color: #00FF00'>Dannemarie</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>886</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>132.9</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>16.11.2023,  886.0</td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4301906</td>
<td style='background-color: #00FF00'>2023-11-08 00:00:00</td>
<td style='background-color: #00FF00'>V000120</td>
<td style='background-color: #00FF00'>15</td>
<td style='background-color: #00FF00'>258.975</td>
<td style='background-color: #00FF00'>1726.5</td>
<td style='background-color: #00FF00'>K005448</td>
<td style='background-color: #00FF00'>Super U Eschau</td>
<td style='background-color: #00FF00'>SAS Eschaudis</td>
<td style='background-color: #00FF00'>F</td>
<td style='background-color: #00FF00'>67114</td>
<td style='background-color: #00FF00'>Eschau</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>1726.5</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>259</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>06.12.2023,  1726.5</td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4301972</td>
<td style='background-color: #FFFFFF'>2023-11-16 00:00:00</td>
<td style='background-color: #FFFFFF'>V000120</td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'>328.5</td>
<td style='background-color: #FFFFFF'>K004422</td>
<td style='background-color: #FFFFFF'>Table et Cadeaux Ingwiller</td>
<td style='background-color: #FFFFFF'>M IMM Eric - Parc naturel régional</td>
<td style='background-color: #FFFFFF'>F</td>
<td style='background-color: #FFFFFF'>67340</td>
<td style='background-color: #FFFFFF'>Ingwiller</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4301984</td>
<td style='background-color: #00FF00'>2023-11-20 00:00:00</td>
<td style='background-color: #00FF00'>V000120</td>
<td style='background-color: #00FF00'>0</td>
<td style='background-color: #00FF00'>0</td>
<td style='background-color: #00FF00'>1145.2</td>
<td style='background-color: #00FF00'>K005106</td>
<td style='background-color: #00FF00'>Oliver Weber Kiosk</td>
<td style='background-color: #00FF00'>HYPER U</td>
<td style='background-color: #00FF00'>F</td>
<td style='background-color: #00FF00'>74150</td>
<td style='background-color: #00FF00'>Rumilly</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>1145.2</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>19.12.2023,  1145.2</td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4302029</td>
<td style='background-color: #00FF00'>2023-11-27 00:00:00</td>
<td style='background-color: #00FF00'>V000120</td>
<td style='background-color: #00FF00'>15</td>
<td style='background-color: #00FF00'>163.95</td>
<td style='background-color: #00FF00'>1093</td>
<td style='background-color: #00FF00'>K005448</td>
<td style='background-color: #00FF00'>Super U Eschau</td>
<td style='background-color: #00FF00'>SAS Eschaudis</td>
<td style='background-color: #00FF00'>F</td>
<td style='background-color: #00FF00'>67114</td>
<td style='background-color: #00FF00'>Eschau</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>1093</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>164</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>22.12.2023,  1093.0</td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4302087</td>
<td style='background-color: #FFFFFF'>2023-12-04 00:00:00</td>
<td style='background-color: #FFFFFF'>V000120</td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'>1668</td>
<td style='background-color: #FFFFFF'>K005106</td>
<td style='background-color: #FFFFFF'>Oliver Weber Kiosk</td>
<td style='background-color: #FFFFFF'>HYPER U</td>
<td style='background-color: #FFFFFF'>F</td>
<td style='background-color: #FFFFFF'>74150</td>
<td style='background-color: #FFFFFF'>Rumilly</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4302088</td>
<td style='background-color: #FFF300'>2023-12-04 00:00:00</td>
<td style='background-color: #FFF300'>V000120</td>
<td style='background-color: #FFF300'>15</td>
<td style='background-color: #FFF300'>-73.155</td>
<td style='background-color: #FFF300'>-487.7</td>
<td style='background-color: #FFF300'>K004037</td>
<td style='background-color: #FFF300'>Annick Baal</td>
<td style='background-color: #FFF300'>SAS GAMECA</td>
<td style='background-color: #FFF300'>F</td>
<td style='background-color: #FFF300'>68170</td>
<td style='background-color: #FFF300'>Rixheim</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4302109</td>
<td style='background-color: #FFFFFF'>2023-12-06 00:00:00</td>
<td style='background-color: #FFFFFF'>V000120</td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'>968.6</td>
<td style='background-color: #FFFFFF'>K004533</td>
<td style='background-color: #FFFFFF'>Manège à Bijoux Centre Leclerc</td>
<td style='background-color: #FFFFFF'>Sas Socodis</td>
<td style='background-color: #FFFFFF'>F</td>
<td style='background-color: #FFFFFF'>68000</td>
<td style='background-color: #FFFFFF'>Colmar</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4302184</td>
<td style='background-color: #FFFFFF'>2023-12-18 00:00:00</td>
<td style='background-color: #FFFFFF'>V000120</td>
<td style='background-color: #FFFFFF'>15</td>
<td style='background-color: #FFFFFF'>84.195</td>
<td style='background-color: #FFFFFF'>561.3</td>
<td style='background-color: #FFFFFF'>K005448</td>
<td style='background-color: #FFFFFF'>Super U Eschau</td>
<td style='background-color: #FFFFFF'>SAS Eschaudis</td>
<td style='background-color: #FFFFFF'>F</td>
<td style='background-color: #FFFFFF'>67114</td>
<td style='background-color: #FFFFFF'>Eschau</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>All paid amount</td>
<td style='background-color: #90EE90'>32530</td>
<td style='background-color: #FFFFFF'>All comissions</td>
<td style='background-color: #90EE90'>2132.31</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
 </tbody>
                    </table>
                    {% endblock %}