{%extends 'base.html'%}
                            {% block content %}     
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--<link rel="stylesheet" type="text/css" href="normas.css">-->
    <style>
        body{
            background-color: #d6e1f8;
    
        }
        th, td {
            border: 1px solid #ccc;
    
            text-align: center;
        }
    
        table {
    
            border-collapse: collapse !important; /* optional: collapse the table borders */
        }
    
        table tr {
            background-color: #8BC34A !important; /* Set background color of all rows */
        }
    
        table tr:hover td {
            background-color: #2196F3 !important; /* Set background color of cells when hovered */
        }
    
    </style>
                     <table border="1" class="dataframe" style="width:100%;">
                                 <thead>
                                     <tr style="text-align: right;">
<th style='background-color: #B0CBF0'>RK</th>
<th style='background-color: #B0CBF0'>GF-Nr</th>
<th style='background-color: #B0CBF0'>Data</th>
<th style='background-color: #B0CBF0'>Representante</th>
<th style='background-color: #B0CBF0'>Proviggioni </th>
<th style='background-color: #B0CBF0'>Proviggioni somma</th>
<th style='background-color: #B0CBF0'>Somme</th>
<th style='background-color: #B0CBF0'>Numero cliente</th>
<th style='background-color: #B0CBF0'>Nome cliente</th>
<th style='background-color: #B0CBF0'>Nome cliente 2</th>
<th style='background-color: #B0CBF0'>IntKz</th>
<th style='background-color: #B0CBF0'>CAP</th>
<th style='background-color: #B0CBF0'>Indirizzo</th>
<th style='background-color: #FFFFFF'> </th>
<th style='background-color: #899EF0'>Pagato</th>
<th style='background-color: #899EF0'>Stato pagamento</th>
<th style='background-color: #899EF0'>Proviggioni su pagato</th>
<th style='background-color: #899EF0'> </th>
<th style='background-color: #899EF0'>Data pagamento</th>
<th style='background-color: #FFFFFF'> </th>
<th style='background-color: #FFFFFF'> </th>
<th style='background-color: #FFFFFF'> </th>
<th style='background-color: #FFFFFF'> </th>
<th style='background-color: #FFFFFF'> </th>
</tr>
</thead>
                          <tbody><tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4201078</td>
<td style='background-color: #FFF300'>2022-05-24 00:00:00</td>
<td style='background-color: #FFF300'>V000157</td>
<td style='background-color: #FFF300'>14</td>
<td style='background-color: #FFF300'>-23.394</td>
<td style='background-color: #FFF300'>-167.1</td>
<td style='background-color: #FFF300'>K003043</td>
<td style='background-color: #FFF300'>Casa in Centro di Marco di Florio</td>
<td style='background-color: #FFF300'>centro comm.le "Insieme"</td>
<td style='background-color: #FFF300'>IT</td>
<td style='background-color: #FFF300'>66050</td>
<td style='background-color: #FFF300'>San Salvo (CH)</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>NOTA DI CREDITO</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202357</td>
<td style='background-color: #00FF00'>2022-11-17 00:00:00</td>
<td style='background-color: #00FF00'>V000157</td>
<td style='background-color: #00FF00'>14</td>
<td style='background-color: #00FF00'>181.202</td>
<td style='background-color: #00FF00'>1294.3</td>
<td style='background-color: #00FF00'>K005970</td>
<td style='background-color: #00FF00'>Il Melograno - Segreto Antico</td>
<td style='background-color: #00FF00'>di Subissati Ivana</td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>61037</td>
<td style='background-color: #00FF00'>Marotta di Mondolfo (PU)</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>1294.3</td>
<td style='background-color: #00FF00'>PAGATO</td>
<td style='background-color: #00FF00'>181.2</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>10.08.2023,  1294.3</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4300327</td>
<td style='background-color: #FFF300'>2023-03-06 00:00:00</td>
<td style='background-color: #FFF300'>V000157</td>
<td style='background-color: #FFF300'>14</td>
<td style='background-color: #FFF300'>-294.308</td>
<td style='background-color: #FFF300'>-2102.2</td>
<td style='background-color: #FFF300'>K003776</td>
<td style='background-color: #FFF300'>SATACO s.n.c</td>
<td style='background-color: #FFF300'>Gioielleria</td>
<td style='background-color: #FFF300'>IT</td>
<td style='background-color: #FFF300'>67051</td>
<td style='background-color: #FFF300'>Avezzano (AQ)</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>NOTA DI CREDITO</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300346</td>
<td style='background-color: #00FF00'>2023-03-09 00:00:00</td>
<td style='background-color: #00FF00'>V000157</td>
<td style='background-color: #00FF00'>14</td>
<td style='background-color: #00FF00'>316.9152</td>
<td style='background-color: #00FF00'>2263.68</td>
<td style='background-color: #00FF00'>K003776</td>
<td style='background-color: #00FF00'>SATACO s.n.c</td>
<td style='background-color: #00FF00'>Gioielleria</td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>67051</td>
<td style='background-color: #00FF00'>Avezzano (AQ)</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>1509.12</td>
<td style='background-color: #00FF00'>PAGAMENTO PARZIALE</td>
<td style='background-color: #00FF00'>211.3</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>13.07.2023,  754.6</td>
<td style='background-color: #FFFFFF'>31.08.2023,  754.6</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300560</td>
<td style='background-color: #00FF00'>2023-04-14 00:00:00</td>
<td style='background-color: #00FF00'>V000157</td>
<td style='background-color: #00FF00'>14</td>
<td style='background-color: #00FF00'>218.904</td>
<td style='background-color: #00FF00'>1563.6</td>
<td style='background-color: #00FF00'>K003776</td>
<td style='background-color: #00FF00'>SATACO s.n.c</td>
<td style='background-color: #00FF00'>Gioielleria</td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>67051</td>
<td style='background-color: #00FF00'>Avezzano (AQ)</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>1563.6</td>
<td style='background-color: #00FF00'>PAGATO</td>
<td style='background-color: #00FF00'>218.9</td>
<td style='background-color: #FFAB83'>31.08.2023,  0</td>
<td style='background-color: #FFFFFF'>13.07.2023,  521.2</td>
<td style='background-color: #FFFFFF'>31.08.2023,  521.2</td>
<td style='background-color: #FFFFFF'>31.08.2023,  521.2</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300833</td>
<td style='background-color: #00FF00'>2023-05-23 00:00:00</td>
<td style='background-color: #00FF00'>V000157</td>
<td style='background-color: #00FF00'>14</td>
<td style='background-color: #00FF00'>289.604</td>
<td style='background-color: #00FF00'>2068.6</td>
<td style='background-color: #00FF00'>K003776</td>
<td style='background-color: #00FF00'>SATACO s.n.c</td>
<td style='background-color: #00FF00'>Gioielleria</td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>67051</td>
<td style='background-color: #00FF00'>Avezzano (AQ)</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>2068.6</td>
<td style='background-color: #00FF00'>PAGATO</td>
<td style='background-color: #00FF00'>289.6</td>
<td style='background-color: #FFAB83'>31.08.2023,  690</td>
<td style='background-color: #FFFFFF'>13.07.2023,  689.5</td>
<td style='background-color: #FFFFFF'>31.08.2023,  689.5</td>
<td style='background-color: #FFFFFF'>31.08.2023,  689.5</td>
<td style='background-color: #FFFFFF'>31.08.2023,  689.5</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300848</td>
<td style='background-color: #00FF00'>2023-05-25 00:00:00</td>
<td style='background-color: #00FF00'>V000157</td>
<td style='background-color: #00FF00'>14</td>
<td style='background-color: #00FF00'>25.648</td>
<td style='background-color: #00FF00'>183.2</td>
<td style='background-color: #00FF00'>K003776</td>
<td style='background-color: #00FF00'>SATACO s.n.c</td>
<td style='background-color: #00FF00'>Gioielleria</td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>67051</td>
<td style='background-color: #00FF00'>Avezzano (AQ)</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>183.2</td>
<td style='background-color: #00FF00'>PAGATO</td>
<td style='background-color: #00FF00'>25.6</td>
<td style='background-color: #FFAB83'>31.08.2023,  183</td>
<td style='background-color: #FFFFFF'>13.07.2023,  183.2</td>
<td style='background-color: #FFFFFF'>31.08.2023,  183.2</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300885</td>
<td style='background-color: #00FF00'>2023-05-31 00:00:00</td>
<td style='background-color: #00FF00'>V000157</td>
<td style='background-color: #00FF00'>14</td>
<td style='background-color: #00FF00'>170.016</td>
<td style='background-color: #00FF00'>1214.4</td>
<td style='background-color: #00FF00'>K003776</td>
<td style='background-color: #00FF00'>SATACO s.n.c</td>
<td style='background-color: #00FF00'>Gioielleria</td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>67051</td>
<td style='background-color: #00FF00'>Avezzano (AQ)</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>1214.4</td>
<td style='background-color: #00FF00'>PAGATO</td>
<td style='background-color: #00FF00'>170</td>
<td style='background-color: #FFAB83'> </td>
<td style='background-color: #FFFFFF'>13.07.2023,  404.8</td>
<td style='background-color: #FFFFFF'>31.08.2023,  404.8</td>
<td style='background-color: #FFFFFF'>31.08.2023,  404.8</td>
<td style='background-color: #FFFFFF'>31.08.2023,  404.8</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300960</td>
<td style='background-color: #00FF00'>2023-06-09 00:00:00</td>
<td style='background-color: #00FF00'>V000157</td>
<td style='background-color: #00FF00'>14</td>
<td style='background-color: #00FF00'>23.744</td>
<td style='background-color: #00FF00'>169.6</td>
<td style='background-color: #00FF00'>K003776</td>
<td style='background-color: #00FF00'>SATACO s.n.c</td>
<td style='background-color: #00FF00'>Gioielleria</td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>67051</td>
<td style='background-color: #00FF00'>Avezzano (AQ)</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>169.6</td>
<td style='background-color: #00FF00'>PAGATO</td>
<td style='background-color: #00FF00'>23.7</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>31.08.2023,  169.6</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4301070</td>
<td style='background-color: #00FF00'>2023-06-22 00:00:00</td>
<td style='background-color: #00FF00'>V000157</td>
<td style='background-color: #00FF00'>14</td>
<td style='background-color: #00FF00'>1.638</td>
<td style='background-color: #00FF00'>11.7</td>
<td style='background-color: #00FF00'>K003776</td>
<td style='background-color: #00FF00'>SATACO s.n.c</td>
<td style='background-color: #00FF00'>Gioielleria</td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>67051</td>
<td style='background-color: #00FF00'>Avezzano (AQ)</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>11.7</td>
<td style='background-color: #00FF00'>PAGATO</td>
<td style='background-color: #00FF00'>1.6</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>31.08.2023,  11.7</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>Totale:</td>
<td style='background-color: #00B050'>8014.5</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #00B0F0'>1121.9</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
 </tbody>
                    </table>
                    {% endblock %}