{%extends 'base.html'%}
                            {% block content %}     
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--<link rel="stylesheet" type="text/css" href="normas.css">-->
    <style>
        body{
            background-color: #d6e1f8;

        }
        th, td {
            border: 1px solid #ccc;

            text-align: center;
        }

        table {

            border-collapse: collapse !important; /* optional: collapse the table borders */
        }

        table tr {
            background-color: #8BC34A !important; /* Set background color of all rows */
        }

        table tr:hover td {
            background-color: #2196F3 !important; /* Set background color of cells when hovered */
        }

    </style>
                     <table border="1" class="dataframe" style="width:100%;">
                                 <thead>
                                     <tr style="text-align: right;">
<th style='background-color: #899EF0'>RK</th>
<th style='background-color: #899EF0'>GF-Nr</th>
<th style='background-color: #899EF0'>Datum</th>
<th style='background-color: #899EF0'>Vertreter</th>
<th style='background-color: #899EF0'>ProvProz</th>
<th style='background-color: #899EF0'>Provision</th>
<th style='background-color: #899EF0'>Summe</th>
<th style='background-color: #899EF0'>Lieferant</th>
<th style='background-color: #899EF0'>Lieferantenname</th>
<th style='background-color: #899EF0'>Name2</th>
<th style='background-color: #899EF0'>IntKz</th>
<th style='background-color: #899EF0'>PLZ Neu</th>
<th style='background-color: #899EF0'>Ort</th>
<th style='background-color: #899EF0'>s</th>
<th style='background-color: #899EF0'>Paid amount</th>
<th style='background-color: #899EF0'>Payment status</th>
<th style='background-color: #899EF0'>Payment commission</th>
<th style='background-color: #899EF0'>Payments with Rest</th>
<th style='background-color: #899EF0'>Payments Dates</th>
</tr>
</thead>
                          <tbody><tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4300313</td>
<td style='background-color: #FFF300'>2023-03-02</td>
<td style='background-color: #FFF300'>V000182</td>
<td style='background-color: #FFF300'>10</td>
<td style='background-color: #FFF300'>-62.8</td>
<td style='background-color: #FFF300'>-628</td>
<td style='background-color: #FFF300'>K003436</td>
<td style='background-color: #FFF300'>Berenguer Mayor, Javier</td>
<td style='background-color: #FFF300'>Tienda "Porcepell"</td>
<td style='background-color: #FFF300'>ES</td>
<td style='background-color: #FFF300'>03503</td>
<td style='background-color: #FFF300'>Benidorm, Alicante</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4301118</td>
<td style='background-color: #FFF300'>2023-06-28</td>
<td style='background-color: #FFF300'>V000182</td>
<td style='background-color: #FFF300'>10</td>
<td style='background-color: #FFF300'>-16.58</td>
<td style='background-color: #FFF300'>-165.8</td>
<td style='background-color: #FFF300'>K006043</td>
<td style='background-color: #FFF300'>Boutique21</td>
<td style='background-color: #FFF300'>Pina López, Ma Eugenia</td>
<td style='background-color: #FFF300'>ES</td>
<td style='background-color: #FFF300'>03590</td>
<td style='background-color: #FFF300'>Altea</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4301120</td>
<td style='background-color: #FFF300'>2023-06-28</td>
<td style='background-color: #FFF300'>V000182</td>
<td style='background-color: #FFF300'>10</td>
<td style='background-color: #FFF300'>-3.29</td>
<td style='background-color: #FFF300'>-32.9</td>
<td style='background-color: #FFF300'>K002203</td>
<td style='background-color: #FFF300'>Selecciones Santacreu S.L.</td>
<td style='background-color: #FFF300'>B-54063219</td>
<td style='background-color: #FFF300'>ES</td>
<td style='background-color: #FFF300'>03517</td>
<td style='background-color: #FFF300'>Castell de Guadalest - Alicante</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4301717</td>
<td style='background-color: #00FF00'>2023-10-06</td>
<td style='background-color: #00FF00'>V000182</td>
<td style='background-color: #00FF00'>10</td>
<td style='background-color: #00FF00'>45.78</td>
<td style='background-color: #00FF00'>457.8</td>
<td style='background-color: #00FF00'>K003436</td>
<td style='background-color: #00FF00'>Berenguer Mayor, Javier</td>
<td style='background-color: #00FF00'>Tienda "Porcepell"</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>03503</td>
<td style='background-color: #00FF00'>Benidorm, Alicante</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>549.4</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>54.9</td>
<td style='background-color: #FFFFFF'>15.12.2023,  92</td>
<td style='background-color: #FFFFFF'>15.12.2023,  549.4</td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4301764</td>
<td style='background-color: #FFF300'>2023-10-13</td>
<td style='background-color: #FFF300'>V000182</td>
<td style='background-color: #FFF300'>10</td>
<td style='background-color: #FFF300'>-33.3</td>
<td style='background-color: #FFF300'>-333</td>
<td style='background-color: #FFF300'>K003436</td>
<td style='background-color: #FFF300'>Berenguer Mayor, Javier</td>
<td style='background-color: #FFF300'>Tienda "Porcepell"</td>
<td style='background-color: #FFF300'>ES</td>
<td style='background-color: #FFF300'>03503</td>
<td style='background-color: #FFF300'>Benidorm, Alicante</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4301785</td>
<td style='background-color: #FFF300'>2023-10-17</td>
<td style='background-color: #FFF300'>V000182</td>
<td style='background-color: #FFF300'>10</td>
<td style='background-color: #FFF300'>-69.345</td>
<td style='background-color: #FFF300'>-693.45</td>
<td style='background-color: #FFF300'>K005059</td>
<td style='background-color: #FFF300'>Joyería Argenta</td>
<td style='background-color: #FFF300'>ARGENTA, C.B</td>
<td style='background-color: #FFF300'>ES</td>
<td style='background-color: #FFF300'>03710</td>
<td style='background-color: #FFF300'>Calpe - Alicante</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4301826</td>
<td style='background-color: #00FF00'>2023-10-25</td>
<td style='background-color: #00FF00'>V000182</td>
<td style='background-color: #00FF00'>10</td>
<td style='background-color: #00FF00'>59.14</td>
<td style='background-color: #00FF00'>591.4</td>
<td style='background-color: #00FF00'>K003436</td>
<td style='background-color: #00FF00'>Berenguer Mayor, Javier</td>
<td style='background-color: #00FF00'>Tienda "Porcepell"</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>03503</td>
<td style='background-color: #00FF00'>Benidorm, Alicante</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>709.7</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>71</td>
<td style='background-color: #FFFFFF'>29.12.2023,  118</td>
<td style='background-color: #FFFFFF'>29.12.2023,  709.7</td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4301827</td>
<td style='background-color: #00FF00'>2023-10-25</td>
<td style='background-color: #00FF00'>V000182</td>
<td style='background-color: #00FF00'>10</td>
<td style='background-color: #00FF00'>33.296</td>
<td style='background-color: #00FF00'>332.96</td>
<td style='background-color: #00FF00'>K005059</td>
<td style='background-color: #00FF00'>Joyería Argenta</td>
<td style='background-color: #00FF00'>ARGENTA, C.B</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>03710</td>
<td style='background-color: #00FF00'>Calpe - Alicante</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>333</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>33.3</td>
<td style='background-color: #FFFFFF'>15.12.2023,  333</td>
<td style='background-color: #FFFFFF'>15.12.2023,  333.0</td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4301828</td>
<td style='background-color: #00FF00'>2023-10-25</td>
<td style='background-color: #00FF00'>V000182</td>
<td style='background-color: #00FF00'>10</td>
<td style='background-color: #00FF00'>34.45</td>
<td style='background-color: #00FF00'>344.5</td>
<td style='background-color: #00FF00'>K001626</td>
<td style='background-color: #00FF00'>Cristaleria Rovira</td>
<td style='background-color: #00FF00'>Cristaleria Rovira, S.L.</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>12100</td>
<td style='background-color: #00FF00'>Grao de Castellón, Castellón</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>344.5</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>34.5</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>29.12.2023,  344.5</td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4301977</td>
<td style='background-color: #FFF300'>2023-11-17</td>
<td style='background-color: #FFF300'>V000182</td>
<td style='background-color: #FFF300'>10</td>
<td style='background-color: #FFF300'>-10.934</td>
<td style='background-color: #FFF300'>-109.34</td>
<td style='background-color: #FFF300'>K005059</td>
<td style='background-color: #FFF300'>Joyería Argenta</td>
<td style='background-color: #FFF300'>ARGENTA, C.B</td>
<td style='background-color: #FFF300'>ES</td>
<td style='background-color: #FFF300'>03710</td>
<td style='background-color: #FFF300'>Calpe - Alicante</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4302195</td>
<td style='background-color: #00FF00'>2023-12-19</td>
<td style='background-color: #00FF00'>V000182</td>
<td style='background-color: #00FF00'>10</td>
<td style='background-color: #00FF00'>23.51</td>
<td style='background-color: #00FF00'>235.1</td>
<td style='background-color: #00FF00'>K003436</td>
<td style='background-color: #00FF00'>Berenguer Mayor, Javier</td>
<td style='background-color: #00FF00'>Tienda "Porcepell"</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>03503</td>
<td style='background-color: #00FF00'>Benidorm, Alicante</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>282.1</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>28.2</td>
<td style='background-color: #FFFFFF'>29.12.2023,  47</td>
<td style='background-color: #FFFFFF'>29.12.2023,  282.1</td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>All paid amount</td>
<td style='background-color: #90EE90'>2218.7</td>
<td style='background-color: #FFFFFF'>All comissions</td>
<td style='background-color: #90EE90'>221.87</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
 </tbody>
                    </table>
                    {% endblock %}