{%extends 'base.html'%}
                        {% block content %}
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!--<link rel="stylesheet" type="text/css" href="normas.css">-->
<style>
    body{
        background-color: #d6e1f8;
         
    }
    th, td {
        border: 1px solid #ccc;
        
        text-align: center;
    }

    table {
   
        border-collapse: collapse !important; /* optional: collapse the table borders */
    }

    table tr {
        background-color: #8BC34A !important; /* Set background color of all rows */
    }

    table tr:hover td {
        background-color: #2196F3 !important; /* Set background color of cells when hovered */
    }

</style>
                 <table border="1" class="dataframe" style="width:100%;">
                             <thead>
                                 <tr style="text-align: right;">
<th style='background-color: #B0CBF0'>RK</th>
<th style='background-color: #B0CBF0'>GF-Nr</th>
<th style='background-color: #B0CBF0'>Datum</th>
<th style='background-color: #B0CBF0'>Vertreter</th>
<th style='background-color: #B0CBF0'>ProvProz</th>
<th style='background-color: #B0CBF0'>Provision</th>
<th style='background-color: #B0CBF0'>Summe</th>
<th style='background-color: #B0CBF0'>Lieferant</th>
<th style='background-color: #B0CBF0'>Lieferantenname</th>
<th style='background-color: #B0CBF0'>Name2</th>
<th style='background-color: #B0CBF0'>IntKz</th>
<th style='background-color: #B0CBF0'>PLZ Neu</th>
<th style='background-color: #B0CBF0'>Ort</th>
<th style='background-color: #FFFFFF'> </th>
<th style='background-color: #899EF0'>Paid amount</th>
<th style='background-color: #899EF0'>Payment status</th>
<th style='background-color: #899EF0'>Payment commission</th>
<th style='background-color: #899EF0'>Payments with Rest</th>
<th style='background-color: #899EF0'>Payments Dates</th>
<th style='background-color: #FFFFFF'> </th>
</tr>
</thead>
                      <tbody><tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202232</td>
<td style='background-color: #00FF00'>2022-10-31 00:00:00</td>
<td style='background-color: #00FF00'>V000179</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>169.286</td>
<td style='background-color: #00FF00'>1302.2</td>
<td style='background-color: #00FF00'>K005235</td>
<td style='background-color: #00FF00'>Aurea Arranz Pelayo</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>08024</td>
<td style='background-color: #00FF00'>Barcelona</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>651.1</td>
<td style='background-color: #00FF00'>PARTIALLY PAID</td>
<td style='background-color: #00FF00'>84.6</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>02.01.2023,  651.1</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202236</td>
<td style='background-color: #00FF00'>2022-10-31 00:00:00</td>
<td style='background-color: #00FF00'>V000179</td>
<td style='background-color: #00FF00'>10</td>
<td style='background-color: #00FF00'>52.74</td>
<td style='background-color: #00FF00'>527.4</td>
<td style='background-color: #00FF00'>K003436</td>
<td style='background-color: #00FF00'>Berenguer Mayor, Javier</td>
<td style='background-color: #00FF00'>Tienda "Porcepell"</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>03503</td>
<td style='background-color: #00FF00'>Benidorm, Alicante</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>527.4</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #00FF00'>52.7</td>
<td style='background-color: #FFAB83'>31.01.2023,  105</td>
<td style='background-color: #FFFFFF'>31.01.2023,  632.9</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202238</td>
<td style='background-color: #00FF00'>2022-10-31 00:00:00</td>
<td style='background-color: #00FF00'>V000179</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>48.88</td>
<td style='background-color: #00FF00'>376</td>
<td style='background-color: #00FF00'>K004356</td>
<td style='background-color: #00FF00'>Vivanilia S.L.</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>08013</td>
<td style='background-color: #00FF00'>Barcelona</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>376</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #00FF00'>48.9</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>02.01.2023,  376.0</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202239</td>
<td style='background-color: #00FF00'>2022-10-31 00:00:00</td>
<td style='background-color: #00FF00'>V000179</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>180.05</td>
<td style='background-color: #00FF00'>1385</td>
<td style='background-color: #00FF00'>K004356</td>
<td style='background-color: #00FF00'>Vivanilia S.L.</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>08013</td>
<td style='background-color: #00FF00'>Barcelona</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>1385</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #00FF00'>180.1</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>02.01.2023,  1385.0</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202241</td>
<td style='background-color: #00FF00'>2022-10-31 00:00:00</td>
<td style='background-color: #00FF00'>V000179</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>53.768</td>
<td style='background-color: #00FF00'>413.6</td>
<td style='background-color: #00FF00'>K004356</td>
<td style='background-color: #00FF00'>Vivanilia S.L.</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>08013</td>
<td style='background-color: #00FF00'>Barcelona</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>413.6</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #00FF00'>53.8</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>02.01.2023,  413.6</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202301</td>
<td style='background-color: #00FF00'>2022-11-08 00:00:00</td>
<td style='background-color: #00FF00'>V000179</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>399.035</td>
<td style='background-color: #00FF00'>3069.5</td>
<td style='background-color: #00FF00'>K005138</td>
<td style='background-color: #00FF00'>HADAS XIANNV S.L.</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>08015</td>
<td style='background-color: #00FF00'>Barcelona</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>3069.5</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #00FF00'>399</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>16.01.2023,  3069.5</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202333</td>
<td style='background-color: #00FF00'>2022-11-14 00:00:00</td>
<td style='background-color: #00FF00'>V000179</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>135.59</td>
<td style='background-color: #00FF00'>1043</td>
<td style='background-color: #00FF00'>K005166</td>
<td style='background-color: #00FF00'>RG DISTRIBUTCIONS</td>
<td style='background-color: #00FF00'>RG Import-Export S.L.</td>
<td style='background-color: #00FF00'>AN</td>
<td style='background-color: #00FF00'>AD500</td>
<td style='background-color: #00FF00'>Andorra</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>1043</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #00FF00'>135.6</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>18.01.2023,  1043.0</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202361</td>
<td style='background-color: #00FF00'>2022-11-17 00:00:00</td>
<td style='background-color: #00FF00'>V000179</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>141.999</td>
<td style='background-color: #00FF00'>1092.3</td>
<td style='background-color: #00FF00'>K004164</td>
<td style='background-color: #00FF00'>Gaudi i Barcelona Club d'Internet</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>08350</td>
<td style='background-color: #00FF00'>Arenys de Mar (Barcelona)</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>1092.3</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #00FF00'>142</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>31.01.2023,  1092.3</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202400</td>
<td style='background-color: #00FF00'>2022-11-24 00:00:00</td>
<td style='background-color: #00FF00'>V000179</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>166.881</td>
<td style='background-color: #00FF00'>1283.7</td>
<td style='background-color: #00FF00'>K004906</td>
<td style='background-color: #00FF00'>COMERCIAL DEVNANI GARZON S.L.</td>
<td style='background-color: #00FF00'>ELI & ANA</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>08002</td>
<td style='background-color: #00FF00'>Barcelona</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>1283.7</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #00FF00'>166.9</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>02.01.2023,  1283.7</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202429</td>
<td style='background-color: #00FF00'>2022-11-29 00:00:00</td>
<td style='background-color: #00FF00'>V000179</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>109.408</td>
<td style='background-color: #00FF00'>841.6</td>
<td style='background-color: #00FF00'>K005121</td>
<td style='background-color: #00FF00'>Sandeep & Sunil S.L.</td>
<td style='background-color: #00FF00'>ESB66195488</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>08003</td>
<td style='background-color: #00FF00'>Barcelona</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>841.6</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #00FF00'>109.4</td>
<td style='background-color: #FFAB83'>02.01.2023,  168</td>
<td style='background-color: #FFFFFF'>02.01.2023,  1009.9</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202438</td>
<td style='background-color: #00FF00'>2022-11-29 00:00:00</td>
<td style='background-color: #00FF00'>V000179</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>194.2486</td>
<td style='background-color: #00FF00'>1494.22</td>
<td style='background-color: #00FF00'>K004033</td>
<td style='background-color: #00FF00'>Concepcion Marsal SANS</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>43201</td>
<td style='background-color: #00FF00'>Reus (Tarragona)</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>1494.22</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #00FF00'>194.2</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>02.01.2023,  747.1</td>
<td style='background-color: #FFFFFF'>31.01.2023,  747.1</td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202442</td>
<td style='background-color: #00FF00'>2022-11-29 00:00:00</td>
<td style='background-color: #00FF00'>V000179</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>114.504</td>
<td style='background-color: #00FF00'>880.8</td>
<td style='background-color: #00FF00'>K004033</td>
<td style='background-color: #00FF00'>Concepcion Marsal SANS</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>43201</td>
<td style='background-color: #00FF00'>Reus (Tarragona)</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>880.8</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #00FF00'>114.5</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>16.01.2023,  440.4</td>
<td style='background-color: #FFFFFF'>02.01.2023,  440.4</td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202464</td>
<td style='background-color: #00FF00'>2022-11-20 00:00:00</td>
<td style='background-color: #00FF00'>V000179</td>
<td style='background-color: #00FF00'>10</td>
<td style='background-color: #00FF00'>87.963</td>
<td style='background-color: #00FF00'>879.63</td>
<td style='background-color: #00FF00'>K003738</td>
<td style='background-color: #00FF00'>Explotaciones Comerciales</td>
<td style='background-color: #00FF00'>Portuarias, S.L.</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>08039</td>
<td style='background-color: #00FF00'>Barcelona</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>879.63</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #00FF00'>88</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>31.01.2023,  879.6</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202483</td>
<td style='background-color: #00FF00'>2022-12-05 00:00:00</td>
<td style='background-color: #00FF00'>V000179</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>137.163</td>
<td style='background-color: #00FF00'>1055.1</td>
<td style='background-color: #00FF00'>K004706</td>
<td style='background-color: #00FF00'>COMERCIANTS DEL PORT BARCELONA SL</td>
<td style='background-color: #00FF00'>Terminal E (Entrega los viernes),</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>08039</td>
<td style='background-color: #00FF00'>Barcelona</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>1055.1</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #00FF00'>137.2</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>16.01.2023,  1055.1</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202500</td>
<td style='background-color: #00FF00'>2022-12-06 00:00:00</td>
<td style='background-color: #00FF00'>V000179</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>86.177</td>
<td style='background-color: #00FF00'>662.9</td>
<td style='background-color: #00FF00'>K004706</td>
<td style='background-color: #00FF00'>COMERCIANTS DEL PORT BARCELONA SL</td>
<td style='background-color: #00FF00'>Terminal E (Entrega los viernes),</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>08039</td>
<td style='background-color: #00FF00'>Barcelona</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>662.9</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #00FF00'>86.2</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>16.01.2023,  662.9</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202531</td>
<td style='background-color: #00FF00'>2022-12-09 00:00:00</td>
<td style='background-color: #00FF00'>V000179</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>154.895</td>
<td style='background-color: #00FF00'>1191.5</td>
<td style='background-color: #00FF00'>K005235</td>
<td style='background-color: #00FF00'>Aurea Arranz Pelayo</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>08024</td>
<td style='background-color: #00FF00'>Barcelona</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>595.75</td>
<td style='background-color: #00FF00'>PARTIALLY PAID</td>
<td style='background-color: #00FF00'>77.4</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>16.01.2023,  595.8</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202587</td>
<td style='background-color: #00FF00'>2022-12-01 00:00:00</td>
<td style='background-color: #00FF00'>V000179</td>
<td style='background-color: #00FF00'>10</td>
<td style='background-color: #00FF00'>78.904</td>
<td style='background-color: #00FF00'>789.04</td>
<td style='background-color: #00FF00'>K005242</td>
<td style='background-color: #00FF00'>TERMINALES DEL ATLANTICO MEDIO, SL</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>38700</td>
<td style='background-color: #00FF00'>Santa Cruz de la Palma (La Palma)</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>789.04</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #00FF00'>78.9</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>02.01.2023,  789.0</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202588</td>
<td style='background-color: #00FF00'>2022-12-01 00:00:00</td>
<td style='background-color: #00FF00'>V000179</td>
<td style='background-color: #00FF00'>10</td>
<td style='background-color: #00FF00'>18.525</td>
<td style='background-color: #00FF00'>185.25</td>
<td style='background-color: #00FF00'>K005242</td>
<td style='background-color: #00FF00'>TERMINALES DEL ATLANTICO MEDIO, SL</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>38700</td>
<td style='background-color: #00FF00'>Santa Cruz de la Palma (La Palma)</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>185.25</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #00FF00'>18.5</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>02.01.2023,  185.2</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202589</td>
<td style='background-color: #00FF00'>2022-12-01 00:00:00</td>
<td style='background-color: #00FF00'>V000179</td>
<td style='background-color: #00FF00'>10</td>
<td style='background-color: #00FF00'>48.19</td>
<td style='background-color: #00FF00'>481.9</td>
<td style='background-color: #00FF00'>K003738</td>
<td style='background-color: #00FF00'>Explotaciones Comerciales</td>
<td style='background-color: #00FF00'>Portuarias, S.L.</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>08039</td>
<td style='background-color: #00FF00'>Barcelona</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>481.9</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #00FF00'>48.2</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>02.01.2023,  481.9</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202592</td>
<td style='background-color: #00FF00'>2022-12-14 00:00:00</td>
<td style='background-color: #00FF00'>V000179</td>
<td style='background-color: #00FF00'>10</td>
<td style='background-color: #00FF00'>55.998</td>
<td style='background-color: #00FF00'>559.98</td>
<td style='background-color: #00FF00'>K005059</td>
<td style='background-color: #00FF00'>Joyería Argenta</td>
<td style='background-color: #00FF00'>ARGENTA, C.B</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>03710</td>
<td style='background-color: #00FF00'>Calpe - Alicante</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>559.98</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #00FF00'>56</td>
<td style='background-color: #FFAB83'>16.01.2023,  17</td>
<td style='background-color: #FFFFFF'>16.01.2023,  577.3</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202598</td>
<td style='background-color: #00FF00'>2022-12-15 00:00:00</td>
<td style='background-color: #00FF00'>V000179</td>
<td style='background-color: #00FF00'>10</td>
<td style='background-color: #00FF00'>55.298</td>
<td style='background-color: #00FF00'>552.98</td>
<td style='background-color: #00FF00'>K005186</td>
<td style='background-color: #00FF00'>Isabel Gonzalez Benito</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>32600</td>
<td style='background-color: #00FF00'>Verin - Corense</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>276.49</td>
<td style='background-color: #00FF00'>PARTIALLY PAID</td>
<td style='background-color: #00FF00'>27.6</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>16.01.2023,  276.5</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202607</td>
<td style='background-color: #00FF00'>2022-12-15 00:00:00</td>
<td style='background-color: #00FF00'>V000179</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>139.256</td>
<td style='background-color: #00FF00'>1071.2</td>
<td style='background-color: #00FF00'>K006058</td>
<td style='background-color: #00FF00'>Creaciones Nadal, S.L.</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>46183</td>
<td style='background-color: #00FF00'>L´Eliana - Valencia</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>1071.2</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #00FF00'>139.3</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>16.01.2023,  1071.2</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202726</td>
<td style='background-color: #00FF00'>2022-12-31 00:00:00</td>
<td style='background-color: #00FF00'>V000179</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>106.977</td>
<td style='background-color: #00FF00'>822.9</td>
<td style='background-color: #00FF00'>K004706</td>
<td style='background-color: #00FF00'>COMERCIANTS DEL PORT BARCELONA SL</td>
<td style='background-color: #00FF00'>Terminal E (Entrega los viernes),</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>08039</td>
<td style='background-color: #00FF00'>Barcelona</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>822.9</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #00FF00'>107</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>31.01.2023,  822.9</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202731</td>
<td style='background-color: #00FF00'>2022-12-31 00:00:00</td>
<td style='background-color: #00FF00'>V000179</td>
<td style='background-color: #00FF00'>10</td>
<td style='background-color: #00FF00'>57.566</td>
<td style='background-color: #00FF00'>575.66</td>
<td style='background-color: #00FF00'>K005242</td>
<td style='background-color: #00FF00'>TERMINALES DEL ATLANTICO MEDIO, SL</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>38700</td>
<td style='background-color: #00FF00'>Santa Cruz de la Palma (La Palma)</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>575.66</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #00FF00'>57.6</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>16.01.2023,  575.7</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202733</td>
<td style='background-color: #00FF00'>2022-12-31 00:00:00</td>
<td style='background-color: #00FF00'>V000179</td>
<td style='background-color: #00FF00'>10</td>
<td style='background-color: #00FF00'>14.439</td>
<td style='background-color: #00FF00'>144.39</td>
<td style='background-color: #00FF00'>K005242</td>
<td style='background-color: #00FF00'>TERMINALES DEL ATLANTICO MEDIO, SL</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>38700</td>
<td style='background-color: #00FF00'>Santa Cruz de la Palma (La Palma)</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>144.39</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #00FF00'>14.4</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>16.01.2023,  144.4</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202734</td>
<td style='background-color: #00FF00'>2022-12-31 00:00:00</td>
<td style='background-color: #00FF00'>V000179</td>
<td style='background-color: #00FF00'>10</td>
<td style='background-color: #00FF00'>11.813</td>
<td style='background-color: #00FF00'>118.13</td>
<td style='background-color: #00FF00'>K003738</td>
<td style='background-color: #00FF00'>Explotaciones Comerciales</td>
<td style='background-color: #00FF00'>Portuarias, S.L.</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>08039</td>
<td style='background-color: #00FF00'>Barcelona</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>118.13</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #00FF00'>11.8</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>16.01.2023,  118.1</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4300044</td>
<td style='background-color: #FFF300'>2023-01-13 00:00:00</td>
<td style='background-color: #FFF300'>V000179</td>
<td style='background-color: #FFF300'>13</td>
<td style='background-color: #FFF300'>-78.975</td>
<td style='background-color: #FFF300'>-607.5</td>
<td style='background-color: #FFF300'>K006165</td>
<td style='background-color: #FFF300'>Matilde Rodriguez de Vera Mas</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>ES</td>
<td style='background-color: #FFF300'>02001</td>
<td style='background-color: #FFF300'>Albacete</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>-607.5</td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFF300'>-78.98</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4300073</td>
<td style='background-color: #FFF300'>2023-01-19 00:00:00</td>
<td style='background-color: #FFF300'>V000179</td>
<td style='background-color: #FFF300'>10</td>
<td style='background-color: #FFF300'>-2.176</td>
<td style='background-color: #FFF300'>-21.76</td>
<td style='background-color: #FFF300'>K005171</td>
<td style='background-color: #FFF300'>EIS Marítimo</td>
<td style='background-color: #FFF300'>Attn. Jorge Luengo Marcos</td>
<td style='background-color: #FFF300'>ES</td>
<td style='background-color: #FFF300'>28006</td>
<td style='background-color: #FFF300'>Madrid</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>-21.76</td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFF300'>-2.18</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4300107</td>
<td style='background-color: #FFF300'>2023-01-26 00:00:00</td>
<td style='background-color: #FFF300'>V000179</td>
<td style='background-color: #FFF300'>10</td>
<td style='background-color: #FFF300'>-12.036</td>
<td style='background-color: #FFF300'>-120.36</td>
<td style='background-color: #FFF300'>K005171</td>
<td style='background-color: #FFF300'>EIS Marítimo</td>
<td style='background-color: #FFF300'>Attn. Jorge Luengo Marcos</td>
<td style='background-color: #FFF300'>ES</td>
<td style='background-color: #FFF300'>28006</td>
<td style='background-color: #FFF300'>Madrid</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>-120.36</td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFF300'>-12.04</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #68BF9D'>20526.9</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #68BF9D'>2536.6</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
 </tbody>
                </table>
                {% endblock %}