<meta charset="utf-8">
                 <table border="1" class="dataframe">
                             <thead>
                                 <tr style="text-align: right;">
<th style='background-color: #B0CBF0'>RK</th>
<th style='background-color: #B0CBF0'>GF-Nr</th>
<th style='background-color: #B0CBF0'>Datum</th>
<th style='background-color: #B0CBF0'>Vertreter</th>
<th style='background-color: #B0CBF0'>ProvProz</th>
<th style='background-color: #B0CBF0'>Provision</th>
<th style='background-color: #B0CBF0'>Summe</th>
<th style='background-color: #B0CBF0'>Lieferant</th>
<th style='background-color: #B0CBF0'>Lieferantenname</th>
<th style='background-color: #B0CBF0'>Name2</th>
<th style='background-color: #B0CBF0'>IntKz</th>
<th style='background-color: #B0CBF0'>PLZ Neu</th>
<th style='background-color: #B0CBF0'>Ort</th>
<th style='background-color: #FFFFFF'> </th>
<th style='background-color: #899EF0'>Paid amount</th>
<th style='background-color: #899EF0'>Payment status</th>
<th style='background-color: #899EF0'>Payment commission</th>
<th style='background-color: #899EF0'>Payments with Rest</th>
<th style='background-color: #899EF0'>Payments Dates</th>
</tr>
</thead>
                  <tbody><tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4200006</td>
<td style='background-color: #FFF300'>2022-01-04 00:00:00</td>
<td style='background-color: #FFF300'>V000031</td>
<td style='background-color: #FFF300'>12</td>
<td style='background-color: #FFF300'>-40.44</td>
<td style='background-color: #FFF300'>-337</td>
<td style='background-color: #FFF300'>K005091</td>
<td style='background-color: #FFF300'>ARANYTAR Kft</td>
<td style='background-color: #FFF300'>Dr. Czippan Csilla</td>
<td style='background-color: #FFF300'>H</td>
<td style='background-color: #FFF300'>7621</td>
<td style='background-color: #FFF300'>Pecs</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4200199</td>
<td style='background-color: #FFFFFF'>2022-01-28 00:00:00</td>
<td style='background-color: #FFFFFF'>V000031</td>
<td style='background-color: #FFFFFF'>12</td>
<td style='background-color: #FFFFFF'>97.3716</td>
<td style='background-color: #FFFFFF'>811.43</td>
<td style='background-color: #FFFFFF'>K001943</td>
<td style='background-color: #FFFFFF'>Fusionext KFT</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>H</td>
<td style='background-color: #FFFFFF'>2083</td>
<td style='background-color: #FFFFFF'>Solymár</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4200752</td>
<td style='background-color: #FFFFFF'>2022-04-12 00:00:00</td>
<td style='background-color: #FFFFFF'>V000031</td>
<td style='background-color: #FFFFFF'>12</td>
<td style='background-color: #FFFFFF'>47.688</td>
<td style='background-color: #FFFFFF'>397.4</td>
<td style='background-color: #FFFFFF'>K002226</td>
<td style='background-color: #FFFFFF'>Schneider Ora-Ekszer Kft</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>H</td>
<td style='background-color: #FFFFFF'>9400</td>
<td style='background-color: #FFFFFF'>Sopron</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4200758</td>
<td style='background-color: #FFFFFF'>2022-04-13 00:00:00</td>
<td style='background-color: #FFFFFF'>V000031</td>
<td style='background-color: #FFFFFF'>12</td>
<td style='background-color: #FFFFFF'>35.58</td>
<td style='background-color: #FFFFFF'>296.5</td>
<td style='background-color: #FFFFFF'>K003677</td>
<td style='background-color: #FFFFFF'>MONILI Shop - 2015 Kft.</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>H</td>
<td style='background-color: #FFFFFF'>2600</td>
<td style='background-color: #FFFFFF'>Vác</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4200760</td>
<td style='background-color: #FFFFFF'>2022-04-13 00:00:00</td>
<td style='background-color: #FFFFFF'>V000031</td>
<td style='background-color: #FFFFFF'>12</td>
<td style='background-color: #FFFFFF'>32.76</td>
<td style='background-color: #FFFFFF'>273</td>
<td style='background-color: #FFFFFF'>K003677</td>
<td style='background-color: #FFFFFF'>MONILI Shop - 2015 Kft.</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>H</td>
<td style='background-color: #FFFFFF'>2600</td>
<td style='background-color: #FFFFFF'>Vác</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4201326</td>
<td style='background-color: #FFFFFF'>2022-06-23 00:00:00</td>
<td style='background-color: #FFFFFF'>V000031</td>
<td style='background-color: #FFFFFF'>12</td>
<td style='background-color: #FFFFFF'>88.38</td>
<td style='background-color: #FFFFFF'>736.5</td>
<td style='background-color: #FFFFFF'>K001943</td>
<td style='background-color: #FFFFFF'>Fusionext KFT</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>H</td>
<td style='background-color: #FFFFFF'>2083</td>
<td style='background-color: #FFFFFF'>Solymár</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4201494</td>
<td style='background-color: #FFFFFF'>2022-07-18 00:00:00</td>
<td style='background-color: #FFFFFF'>V000031</td>
<td style='background-color: #FFFFFF'>12</td>
<td style='background-color: #FFFFFF'>35.736</td>
<td style='background-color: #FFFFFF'>297.8</td>
<td style='background-color: #FFFFFF'>K002226</td>
<td style='background-color: #FFFFFF'>Schneider Ora-Ekszer Kft</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>H</td>
<td style='background-color: #FFFFFF'>9400</td>
<td style='background-color: #FFFFFF'>Sopron</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4201642</td>
<td style='background-color: #FFFFFF'>2022-08-01 00:00:00</td>
<td style='background-color: #FFFFFF'>V000031</td>
<td style='background-color: #FFFFFF'>12</td>
<td style='background-color: #FFFFFF'>218.148</td>
<td style='background-color: #FFFFFF'>1817.9</td>
<td style='background-color: #FFFFFF'>K006134</td>
<td style='background-color: #FFFFFF'>OUYI PING EKSZER  KFT</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>H</td>
<td style='background-color: #FFFFFF'>1190</td>
<td style='background-color: #FFFFFF'>Budapest,  Vak Bottyan u. 75. A-C</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4201758</td>
<td style='background-color: #FFFFFF'>2022-08-18 00:00:00</td>
<td style='background-color: #FFFFFF'>V000031</td>
<td style='background-color: #FFFFFF'>12</td>
<td style='background-color: #FFFFFF'>164.292</td>
<td style='background-color: #FFFFFF'>1369.1</td>
<td style='background-color: #FFFFFF'>K002077</td>
<td style='background-color: #FFFFFF'>Korona 2005 Kft</td>
<td style='background-color: #FFFFFF'>Frau Andrea Gönye</td>
<td style='background-color: #FFFFFF'>H</td>
<td style='background-color: #FFFFFF'>9022</td>
<td style='background-color: #FFFFFF'>Györ</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4201966</td>
<td style='background-color: #FFFFFF'>2022-09-20 00:00:00</td>
<td style='background-color: #FFFFFF'>V000031</td>
<td style='background-color: #FFFFFF'>12</td>
<td style='background-color: #FFFFFF'>53.352</td>
<td style='background-color: #FFFFFF'>444.6</td>
<td style='background-color: #FFFFFF'>K002226</td>
<td style='background-color: #FFFFFF'>Schneider Ora-Ekszer Kft</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>H</td>
<td style='background-color: #FFFFFF'>9400</td>
<td style='background-color: #FFFFFF'>Sopron</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202024</td>
<td style='background-color: #00FF00'>2022-09-28 00:00:00</td>
<td style='background-color: #00FF00'>V000031</td>
<td style='background-color: #00FF00'>12</td>
<td style='background-color: #00FF00'>73.248</td>
<td style='background-color: #00FF00'>610.4</td>
<td style='background-color: #00FF00'>K001943</td>
<td style='background-color: #00FF00'>Fusionext KFT</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>H</td>
<td style='background-color: #00FF00'>2083</td>
<td style='background-color: #00FF00'>Solymár</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>610.4</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #00FF00'>73.2</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>02.01.2023,  610.4</td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4202162</td>
<td style='background-color: #FFFFFF'>2022-10-19 00:00:00</td>
<td style='background-color: #FFFFFF'>V000031</td>
<td style='background-color: #FFFFFF'>12</td>
<td style='background-color: #FFFFFF'>45.432</td>
<td style='background-color: #FFFFFF'>378.6</td>
<td style='background-color: #FFFFFF'>K002226</td>
<td style='background-color: #FFFFFF'>Schneider Ora-Ekszer Kft</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>H</td>
<td style='background-color: #FFFFFF'>9400</td>
<td style='background-color: #FFFFFF'>Sopron</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4202203</td>
<td style='background-color: #FFFFFF'>2022-10-25 00:00:00</td>
<td style='background-color: #FFFFFF'>V000031</td>
<td style='background-color: #FFFFFF'>12</td>
<td style='background-color: #FFFFFF'>21.3</td>
<td style='background-color: #FFFFFF'>177.5</td>
<td style='background-color: #FFFFFF'>K006134</td>
<td style='background-color: #FFFFFF'>OUYI PING EKSZER  KFT</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>H</td>
<td style='background-color: #FFFFFF'>1190</td>
<td style='background-color: #FFFFFF'>Budapest,  Vak Bottyan u. 75. A-C</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4202209</td>
<td style='background-color: #FFFFFF'>2022-10-27 00:00:00</td>
<td style='background-color: #FFFFFF'>V000031</td>
<td style='background-color: #FFFFFF'>12</td>
<td style='background-color: #FFFFFF'>124.416</td>
<td style='background-color: #FFFFFF'>1036.8</td>
<td style='background-color: #FFFFFF'>K002228</td>
<td style='background-color: #FFFFFF'>Rozsa es Lanyai Kft</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>H</td>
<td style='background-color: #FFFFFF'>2800</td>
<td style='background-color: #FFFFFF'>Tatabanya</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202488</td>
<td style='background-color: #00FF00'>2022-12-06 00:00:00</td>
<td style='background-color: #00FF00'>V000031</td>
<td style='background-color: #00FF00'>12</td>
<td style='background-color: #00FF00'>77.112</td>
<td style='background-color: #00FF00'>642.6</td>
<td style='background-color: #00FF00'>K002226</td>
<td style='background-color: #00FF00'>Schneider Ora-Ekszer Kft</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>H</td>
<td style='background-color: #00FF00'>9400</td>
<td style='background-color: #00FF00'>Sopron</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>642.6</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #00FF00'>77.1</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>23.01.2023,  642.6</td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202577</td>
<td style='background-color: #00FF00'>2022-12-14 00:00:00</td>
<td style='background-color: #00FF00'>V000031</td>
<td style='background-color: #00FF00'>12</td>
<td style='background-color: #00FF00'>36.864</td>
<td style='background-color: #00FF00'>307.2</td>
<td style='background-color: #00FF00'>K002226</td>
<td style='background-color: #00FF00'>Schneider Ora-Ekszer Kft</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>H</td>
<td style='background-color: #00FF00'>9400</td>
<td style='background-color: #00FF00'>Sopron</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>307.2</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #00FF00'>36.9</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>23.01.2023,  307.2</td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4300027</td>
<td style='background-color: #FFFFFF'>2023-01-11 00:00:00</td>
<td style='background-color: #FFFFFF'>V000031</td>
<td style='background-color: #FFFFFF'>12</td>
<td style='background-color: #FFFFFF'>69.408</td>
<td style='background-color: #FFFFFF'>578.4</td>
<td style='background-color: #FFFFFF'>K001943</td>
<td style='background-color: #FFFFFF'>Fusionext KFT</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>H</td>
<td style='background-color: #FFFFFF'>2083</td>
<td style='background-color: #FFFFFF'>Solymár</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'>UNPAID</td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4300115</td>
<td style='background-color: #FFFFFF'>2023-01-30 00:00:00</td>
<td style='background-color: #FFFFFF'>V000031</td>
<td style='background-color: #FFFFFF'>12</td>
<td style='background-color: #FFFFFF'>53.16</td>
<td style='background-color: #FFFFFF'>443</td>
<td style='background-color: #FFFFFF'>K002226</td>
<td style='background-color: #FFFFFF'>Schneider Ora-Ekszer Kft</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>H</td>
<td style='background-color: #FFFFFF'>9400</td>
<td style='background-color: #FFFFFF'>Sopron</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'>UNPAID</td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4300253</td>
<td style='background-color: #FFFFFF'>2023-02-22 00:00:00</td>
<td style='background-color: #FFFFFF'>V000031</td>
<td style='background-color: #FFFFFF'>12</td>
<td style='background-color: #FFFFFF'>42.756</td>
<td style='background-color: #FFFFFF'>356.3</td>
<td style='background-color: #FFFFFF'>K002226</td>
<td style='background-color: #FFFFFF'>Schneider Ora-Ekszer Kft</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>H</td>
<td style='background-color: #FFFFFF'>9400</td>
<td style='background-color: #FFFFFF'>Sopron</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>All requested: </td>
<td style='background-color: #FFF300'>10638.0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>Total</td>
<td style='background-color: #68BF9D'>1560.2</td>
<td style='background-color: #FFFFFF'>Total provision</td>
<td style='background-color: #68BF9D'>187.2</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
 </tbody>
                </table>