{%extends 'base.html'%}
                        {% block content %}
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!--<link rel="stylesheet" type="text/css" href="normas.css">-->
<style>
    body{
        background-color: #d6e1f8;
         
    }
    th, td {
        border: 1px solid #ccc;
        
        text-align: center;
    }

    table {
   
        border-collapse: collapse !important; /* optional: collapse the table borders */
    }

    table tr {
        background-color: #8BC34A !important; /* Set background color of all rows */
    }

    table tr:hover td {
        background-color: #2196F3 !important; /* Set background color of cells when hovered */
    }

</style>
                 <table border="1" class="dataframe" style="width:100%;">
                             <thead>
                                 <tr style="text-align: right;">
<th style='background-color: #B0CBF0'>RK</th>
<th style='background-color: #B0CBF0'>GF-Nr</th>
<th style='background-color: #B0CBF0'>Datum</th>
<th style='background-color: #B0CBF0'>Vertreter</th>
<th style='background-color: #B0CBF0'>ProvProz</th>
<th style='background-color: #B0CBF0'>Provision</th>
<th style='background-color: #B0CBF0'>Summe</th>
<th style='background-color: #B0CBF0'>Lieferant</th>
<th style='background-color: #B0CBF0'>Lieferantenname</th>
<th style='background-color: #B0CBF0'>Name2</th>
<th style='background-color: #B0CBF0'>IntKz</th>
<th style='background-color: #B0CBF0'>PLZ Neu</th>
<th style='background-color: #B0CBF0'>Ort</th>
<th style='background-color: #FFFFFF'> </th>
<th style='background-color: #899EF0'>Paid amount</th>
<th style='background-color: #899EF0'>Payment status</th>
<th style='background-color: #899EF0'>Payment commission</th>
<th style='background-color: #899EF0'>Payments with Rest</th>
<th style='background-color: #899EF0'>Payments Dates</th>
<th style='background-color: #FFFFFF'> </th>
</tr>
</thead>
                      <tbody><tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4201986</td>
<td style='background-color: #00FF00'>2022-09-22 00:00:00</td>
<td style='background-color: #00FF00'>V000133</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>214.604</td>
<td style='background-color: #00FF00'>1650.8</td>
<td style='background-color: #00FF00'>K002551</td>
<td style='background-color: #00FF00'>Manoj Lellani Lellani</td>
<td style='background-color: #00FF00'>"INFINITY"</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>35626</td>
<td style='background-color: #00FF00'>Jandia, Fuerteventura.</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>825.4</td>
<td style='background-color: #00FF00'>PARTIALLY PAID</td>
<td style='background-color: #00FF00'>107.3</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>02.01.2023,  825.4</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202164</td>
<td style='background-color: #00FF00'>2022-10-20 00:00:00</td>
<td style='background-color: #00FF00'>V000133</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>276.5074</td>
<td style='background-color: #00FF00'>2126.98</td>
<td style='background-color: #00FF00'>K002844</td>
<td style='background-color: #00FF00'>ORAFE JOYEROS S.L.</td>
<td style='background-color: #00FF00'>"Joyería Ferreiro"</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>38700</td>
<td style='background-color: #00FF00'>Santa Cruz de la Palma, Canarias</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>1417.99</td>
<td style='background-color: #00FF00'>PARTIALLY PAID</td>
<td style='background-color: #00FF00'>184.3</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>02.01.2023,  709.0</td>
<td style='background-color: #FFFFFF'>31.01.2023,  709.0</td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202267</td>
<td style='background-color: #00FF00'>2022-11-03 00:00:00</td>
<td style='background-color: #00FF00'>V000133</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>175.695</td>
<td style='background-color: #00FF00'>1351.5</td>
<td style='background-color: #00FF00'>K005145</td>
<td style='background-color: #00FF00'>Jürgen Franz Budinger</td>
<td style='background-color: #00FF00'>Hotel Gloria Palace Amadores</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>35139</td>
<td style='background-color: #00FF00'>Mogan, Gran Canaria, Las Palmas</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>675.75</td>
<td style='background-color: #00FF00'>PARTIALLY PAID</td>
<td style='background-color: #00FF00'>87.8</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>16.01.2023,  675.8</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202297</td>
<td style='background-color: #00FF00'>2022-11-08 00:00:00</td>
<td style='background-color: #00FF00'>V000133</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>130.845</td>
<td style='background-color: #00FF00'>1006.5</td>
<td style='background-color: #00FF00'>K004530</td>
<td style='background-color: #00FF00'>REKHA TIKAMDAS, S.L.</td>
<td style='background-color: #00FF00'>CIF. B76194166</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>35100</td>
<td style='background-color: #00FF00'>Maspalomas, Gran Canaria.</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>1006.5</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #00FF00'>130.8</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>16.01.2023,  1006.5</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202341</td>
<td style='background-color: #00FF00'>2022-11-16 00:00:00</td>
<td style='background-color: #00FF00'>V000133</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>155.883</td>
<td style='background-color: #00FF00'>1199.1</td>
<td style='background-color: #00FF00'>K006164</td>
<td style='background-color: #00FF00'>Temptation - Suryacan Imports S.L.U</td>
<td style='background-color: #00FF00'>Hotel Abora Continental</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>35100</td>
<td style='background-color: #00FF00'>Playa del Ingles</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>1199.1</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #00FF00'>155.9</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>31.01.2023,  1199.1</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202344</td>
<td style='background-color: #00FF00'>2022-11-16 00:00:00</td>
<td style='background-color: #00FF00'>V000133</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>180.973</td>
<td style='background-color: #00FF00'>1392.1</td>
<td style='background-color: #00FF00'>K004471</td>
<td style='background-color: #00FF00'>Raj Choolani Melvani</td>
<td style='background-color: #00FF00'>"Sofie"</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>35138</td>
<td style='background-color: #00FF00'>Taurito, Mogan. Gran Canaria</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>1392.1</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #00FF00'>181</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>31.01.2023,  1392.1</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202638</td>
<td style='background-color: #00FF00'>2022-12-19 00:00:00</td>
<td style='background-color: #00FF00'>V000133</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>134.654</td>
<td style='background-color: #00FF00'>1035.8</td>
<td style='background-color: #00FF00'>K006005</td>
<td style='background-color: #00FF00'>GOLD MINE VASWANI S.L.</td>
<td style='background-color: #00FF00'>Prakash Vaswani</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>35100</td>
<td style='background-color: #00FF00'>Gran Canaria</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>517.9</td>
<td style='background-color: #00FF00'>PARTIALLY PAID</td>
<td style='background-color: #00FF00'>67.3</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>31.01.2023,  517.9</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #68BF9D'>7034.7</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #68BF9D'>914.4</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
 </tbody>
                </table>
                {% endblock %}