{%extends 'base.html'%}
                        {% block content %}
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!--<link rel="stylesheet" type="text/css" href="normas.css">-->
<style>
    body{
        background-color: #d6e1f8;
         
    }
    th, td {
        border: 1px solid #ccc;
        
        text-align: center;
    }

    table {
   
        border-collapse: collapse !important; /* optional: collapse the table borders */
    }

    table tr {
        background-color: #8BC34A !important; /* Set background color of all rows */
    }

    table tr:hover td {
        background-color: #2196F3 !important; /* Set background color of cells when hovered */
    }

</style>
                 <table border="1" class="dataframe" style="width:100%;">
                             <thead>
                                 <tr style="text-align: right;">
<th style='background-color: #B0CBF0'>RK</th>
<th style='background-color: #B0CBF0'>GF-Nr</th>
<th style='background-color: #B0CBF0'>Datum</th>
<th style='background-color: #B0CBF0'>Vertreter</th>
<th style='background-color: #B0CBF0'>ProvProz</th>
<th style='background-color: #B0CBF0'>Provision</th>
<th style='background-color: #B0CBF0'>Summe</th>
<th style='background-color: #B0CBF0'>Lieferant</th>
<th style='background-color: #B0CBF0'>Lieferantenname</th>
<th style='background-color: #B0CBF0'>Name2</th>
<th style='background-color: #B0CBF0'>IntKz</th>
<th style='background-color: #B0CBF0'>PLZ Neu</th>
<th style='background-color: #B0CBF0'>Ort</th>
<th style='background-color: #FFFFFF'> </th>
<th style='background-color: #899EF0'>Paid amount</th>
<th style='background-color: #899EF0'>Payment status</th>
<th style='background-color: #899EF0'>Payment commission</th>
<th style='background-color: #899EF0'>Payments with Rest</th>
<th style='background-color: #899EF0'>Payments Dates</th>
</tr>
</thead>
                      <tbody><tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300188</td>
<td style='background-color: #00FF00'>2023-02-10 00:00:00</td>
<td style='background-color: #00FF00'>V000182</td>
<td style='background-color: #00FF00'>10</td>
<td style='background-color: #00FF00'>158.94</td>
<td style='background-color: #00FF00'>1589.4</td>
<td style='background-color: #00FF00'>K003436</td>
<td style='background-color: #00FF00'>Berenguer Mayor, Javier</td>
<td style='background-color: #00FF00'>Tienda "Porcepell"</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>03503</td>
<td style='background-color: #00FF00'>Benidorm, Alicante</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>1589.4</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #00FF00'>158.9</td>
<td style='background-color: #FFAB83'>14.04.2023,  318</td>
<td style='background-color: #FFFFFF'>14.04.2023,  1907.3</td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #68BF9D'>1589.4</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #68BF9D'>158.9</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
 </tbody>
                </table>
                {% endblock %}