{%extends 'base.html'%}
                            {% block content %}     
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--<link rel="stylesheet" type="text/css" href="normas.css">-->
    <style>
        body{
            background-color: #d6e1f8;

        }
        th, td {
            border: 1px solid #ccc;

            text-align: center;
        }

        table {

            border-collapse: collapse !important; /* optional: collapse the table borders */
        }

        table tr {
            background-color: #8BC34A !important; /* Set background color of all rows */
        }

        table tr:hover td {
            background-color: #2196F3 !important; /* Set background color of cells when hovered */
        }

    </style>
                     <table border="1" class="dataframe" style="width:100%;">
                                 <thead>
                                     <tr style="text-align: right;">
<th style='background-color: #899EF0'>RK</th>
<th style='background-color: #899EF0'>GF-Nr</th>
<th style='background-color: #899EF0'>Datum</th>
<th style='background-color: #899EF0'>Vertreter</th>
<th style='background-color: #899EF0'>ProvProz</th>
<th style='background-color: #899EF0'>Provision</th>
<th style='background-color: #899EF0'>Summe</th>
<th style='background-color: #899EF0'>Lieferant</th>
<th style='background-color: #899EF0'>Lieferantenname</th>
<th style='background-color: #899EF0'>Name2</th>
<th style='background-color: #899EF0'>IntKz</th>
<th style='background-color: #899EF0'>PLZ Neu</th>
<th style='background-color: #899EF0'>Ort</th>
<th style='background-color: #899EF0'>s</th>
<th style='background-color: #899EF0'>Paid amount</th>
<th style='background-color: #899EF0'>Payment status</th>
<th style='background-color: #899EF0'>Payment commission</th>
<th style='background-color: #899EF0'>Payments with Rest</th>
<th style='background-color: #899EF0'>Payments Dates</th>
<th style='background-color: #FFFFFF'> </th>
<th style='background-color: #FFFFFF'> </th>
<th style='background-color: #FFFFFF'> </th>
</tr>
</thead>
                          <tbody><tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300032</td>
<td style='background-color: #00FF00'>2023-01-11 00:00:00</td>
<td style='background-color: #00FF00'>V000161</td>
<td style='background-color: #00FF00'>14</td>
<td style='background-color: #00FF00'>12.782</td>
<td style='background-color: #00FF00'>91.3</td>
<td style='background-color: #00FF00'>K005237</td>
<td style='background-color: #00FF00'>PAPRIKA</td>
<td style='background-color: #00FF00'>di Di Sauro Giuseppina</td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>80034</td>
<td style='background-color: #00FF00'>Marigliano (NA)</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>91.3</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>12.8</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>28.02.2023,  91.3</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300106</td>
<td style='background-color: #00FF00'>2023-01-26 00:00:00</td>
<td style='background-color: #00FF00'>V000161</td>
<td style='background-color: #00FF00'>14</td>
<td style='background-color: #00FF00'>74.5598</td>
<td style='background-color: #00FF00'>532.57</td>
<td style='background-color: #00FF00'>K005237</td>
<td style='background-color: #00FF00'>PAPRIKA</td>
<td style='background-color: #00FF00'>di Di Sauro Giuseppina</td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>80034</td>
<td style='background-color: #00FF00'>Marigliano (NA)</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>532.5699999999999</td>
<td style='background-color: #00FF00'>PARTIALLY PAID</td>
<td style='background-color: #FFFFFF'>74.6</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>30.03.2023,  266.3</td>
<td style='background-color: #FFFFFF'>02.05.2023,  266.3</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300152</td>
<td style='background-color: #00FF00'>2023-02-06 00:00:00</td>
<td style='background-color: #00FF00'>V000161</td>
<td style='background-color: #00FF00'>10</td>
<td style='background-color: #00FF00'>95.994</td>
<td style='background-color: #00FF00'>959.94</td>
<td style='background-color: #00FF00'>K006168</td>
<td style='background-color: #00FF00'>RUGGISERVICE  srls</td>
<td style='background-color: #00FF00'>CC IL CARRO</td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>86036</td>
<td style='background-color: #00FF00'>Mirabella Eclano (AV)</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>959.94</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>96</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>30.03.2023,  480.0</td>
<td style='background-color: #FFFFFF'>02.05.2023,  480.0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4300154</td>
<td style='background-color: #FFFFFF'>2023-02-06 00:00:00</td>
<td style='background-color: #FFFFFF'>V000161</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>52.7632</td>
<td style='background-color: #FFFFFF'>376.88</td>
<td style='background-color: #FFFFFF'>K005943</td>
<td style='background-color: #FFFFFF'>GIOEMI Gioielli</td>
<td style='background-color: #FFFFFF'>di Esposito Giovanni</td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>80053</td>
<td style='background-color: #FFFFFF'>Castellammare di Stabia (NA)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'>UNPAID</td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4300205</td>
<td style='background-color: #FFF300'>2023-02-14 00:00:00</td>
<td style='background-color: #FFF300'>V000161</td>
<td style='background-color: #FFF300'>14</td>
<td style='background-color: #FFF300'>-51.198</td>
<td style='background-color: #FFF300'>-365.7</td>
<td style='background-color: #FFF300'>K006175</td>
<td style='background-color: #FFF300'>ROSSO CORALLO</td>
<td style='background-color: #FFF300'>DI VOLPE ROSSELLA</td>
<td style='background-color: #FFF300'>IT</td>
<td style='background-color: #FFF300'>84043</td>
<td style='background-color: #FFF300'>AGROPOLI (NA)</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4300207</td>
<td style='background-color: #FFFFFF'>2023-02-14 00:00:00</td>
<td style='background-color: #FFFFFF'>V000161</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>51.198</td>
<td style='background-color: #FFFFFF'>365.7</td>
<td style='background-color: #FFFFFF'>K006175</td>
<td style='background-color: #FFFFFF'>ROSSO CORALLO</td>
<td style='background-color: #FFFFFF'>DI VOLPE ROSSELLA</td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>84043</td>
<td style='background-color: #FFFFFF'>AGROPOLI (NA)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'>UNPAID</td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300213</td>
<td style='background-color: #00FF00'>2023-02-15 00:00:00</td>
<td style='background-color: #00FF00'>V000161</td>
<td style='background-color: #00FF00'>14</td>
<td style='background-color: #00FF00'>31.178</td>
<td style='background-color: #00FF00'>222.7</td>
<td style='background-color: #00FF00'>K003987</td>
<td style='background-color: #00FF00'>LE CADEAU di Antonietta Napolitano</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>80035</td>
<td style='background-color: #00FF00'>NOLA - NAPOLI</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>222.7</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>31.2</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>18.05.2023,  204.7</td>
<td style='background-color: #FFFFFF'>31.08.2023,  18.0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300232</td>
<td style='background-color: #00FF00'>2023-02-15 00:00:00</td>
<td style='background-color: #00FF00'>V000161</td>
<td style='background-color: #00FF00'>14</td>
<td style='background-color: #00FF00'>12.53</td>
<td style='background-color: #00FF00'>89.5</td>
<td style='background-color: #00FF00'>K005237</td>
<td style='background-color: #00FF00'>PAPRIKA</td>
<td style='background-color: #00FF00'>di Di Sauro Giuseppina</td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>80034</td>
<td style='background-color: #00FF00'>Marigliano (NA)</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>89.5</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>12.5</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>30.03.2023,  89.5</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4300233</td>
<td style='background-color: #FFFFFF'>2023-02-15 00:00:00</td>
<td style='background-color: #FFFFFF'>V000161</td>
<td style='background-color: #FFFFFF'>7</td>
<td style='background-color: #FFFFFF'>1.1277</td>
<td style='background-color: #FFFFFF'>16.11</td>
<td style='background-color: #FFFFFF'>K005989</td>
<td style='background-color: #FFFFFF'>PISA SRLS</td>
<td style='background-color: #FFFFFF'>Oliver Weber Collection</td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>80021</td>
<td style='background-color: #FFFFFF'>Afragola (NA)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300294</td>
<td style='background-color: #00FF00'>2023-02-28 00:00:00</td>
<td style='background-color: #00FF00'>V000161</td>
<td style='background-color: #00FF00'>14</td>
<td style='background-color: #00FF00'>8.6128</td>
<td style='background-color: #00FF00'>61.52</td>
<td style='background-color: #00FF00'>K005943</td>
<td style='background-color: #00FF00'>GIOEMI Gioielli</td>
<td style='background-color: #00FF00'>di Esposito Giovanni</td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>80053</td>
<td style='background-color: #00FF00'>Castellammare di Stabia (NA)</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>61.52</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>8.6</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>06.03.2023,  61.5</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300340</td>
<td style='background-color: #00FF00'>2023-03-08 00:00:00</td>
<td style='background-color: #00FF00'>V000161</td>
<td style='background-color: #00FF00'>10</td>
<td style='background-color: #00FF00'>80.33</td>
<td style='background-color: #00FF00'>803.3</td>
<td style='background-color: #00FF00'>K006168</td>
<td style='background-color: #00FF00'>RUGGISERVICE  srls</td>
<td style='background-color: #00FF00'>CC IL CARRO</td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>86036</td>
<td style='background-color: #00FF00'>Mirabella Eclano (AV)</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>803.3</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>80.3</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>02.05.2023,  267.8</td>
<td style='background-color: #FFFFFF'>31.05.2023,  267.8</td>
<td style='background-color: #FFFFFF'>30.06.2023,  267.8</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300349</td>
<td style='background-color: #00FF00'>2023-03-09 00:00:00</td>
<td style='background-color: #00FF00'>V000161</td>
<td style='background-color: #00FF00'>14</td>
<td style='background-color: #00FF00'>128.254</td>
<td style='background-color: #00FF00'>916.1</td>
<td style='background-color: #00FF00'>K003358</td>
<td style='background-color: #00FF00'>Gioie Infinite di Memoli Vincenza</td>
<td style='background-color: #00FF00'>+39 089341598</td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>84013</td>
<td style='background-color: #00FF00'>Cava dei Tirreni (SA)</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>916.1</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>128.3</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>02.05.2023,  305.4</td>
<td style='background-color: #FFFFFF'>31.05.2023,  305.4</td>
<td style='background-color: #FFFFFF'>30.06.2023,  305.4</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300375</td>
<td style='background-color: #00FF00'>2023-03-16 00:00:00</td>
<td style='background-color: #00FF00'>V000161</td>
<td style='background-color: #00FF00'>10</td>
<td style='background-color: #00FF00'>208.837</td>
<td style='background-color: #00FF00'>2088.37</td>
<td style='background-color: #00FF00'>K006168</td>
<td style='background-color: #00FF00'>RUGGISERVICE  srls</td>
<td style='background-color: #00FF00'>CC IL CARRO</td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>86036</td>
<td style='background-color: #00FF00'>Mirabella Eclano (AV)</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>2088.37</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>208.8</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>02.05.2023,  696.1</td>
<td style='background-color: #FFFFFF'>31.05.2023,  696.1</td>
<td style='background-color: #FFFFFF'>30.06.2023,  696.1</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300376</td>
<td style='background-color: #00FF00'>2023-03-16 00:00:00</td>
<td style='background-color: #00FF00'>V000161</td>
<td style='background-color: #00FF00'>14</td>
<td style='background-color: #00FF00'>107.002</td>
<td style='background-color: #00FF00'>764.3</td>
<td style='background-color: #00FF00'>K005243</td>
<td style='background-color: #00FF00'>SIR.MA Gioielli Srl</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>80040</td>
<td style='background-color: #00FF00'>Ascea Marina (SA)</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>305.72</td>
<td style='background-color: #00FF00'>PARTIALLY PAID</td>
<td style='background-color: #FFFFFF'>42.8</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>13.06.2023,  305.7</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300380</td>
<td style='background-color: #00FF00'>2023-03-16 00:00:00</td>
<td style='background-color: #00FF00'>V000161</td>
<td style='background-color: #00FF00'>14</td>
<td style='background-color: #00FF00'>110.04</td>
<td style='background-color: #00FF00'>786</td>
<td style='background-color: #00FF00'>K002603</td>
<td style='background-color: #00FF00'>Emozioni</td>
<td style='background-color: #00FF00'>di d´Alessandro Anna</td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>84086</td>
<td style='background-color: #00FF00'>Roccapiemonte (SA)</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>786</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>110</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>30.06.2023,  786.0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300401</td>
<td style='background-color: #00FF00'>2023-03-20 00:00:00</td>
<td style='background-color: #00FF00'>V000161</td>
<td style='background-color: #00FF00'>14</td>
<td style='background-color: #00FF00'>19.194</td>
<td style='background-color: #00FF00'>137.1</td>
<td style='background-color: #00FF00'>K005445</td>
<td style='background-color: #00FF00'>VIART CASANOVA SRL</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>81100</td>
<td style='background-color: #00FF00'>CASERTA</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>137.1</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>19.2</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>16.06.2023,  137.1</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4300570</td>
<td style='background-color: #FFFFFF'>2023-04-17 00:00:00</td>
<td style='background-color: #FFFFFF'>V000161</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>5.082</td>
<td style='background-color: #FFFFFF'>36.3</td>
<td style='background-color: #FFFFFF'>K005243</td>
<td style='background-color: #FFFFFF'>SIR.MA Gioielli Srl</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>80040</td>
<td style='background-color: #FFFFFF'>Ascea Marina (SA)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300585</td>
<td style='background-color: #00FF00'>2023-04-18 00:00:00</td>
<td style='background-color: #00FF00'>V000161</td>
<td style='background-color: #00FF00'>10</td>
<td style='background-color: #00FF00'>113.81</td>
<td style='background-color: #00FF00'>1138.1</td>
<td style='background-color: #00FF00'>K006168</td>
<td style='background-color: #00FF00'>RUGGISERVICE  srls</td>
<td style='background-color: #00FF00'>CC IL CARRO</td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>86036</td>
<td style='background-color: #00FF00'>Mirabella Eclano (AV)</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>1138.1</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>113.8</td>
<td style='background-color: #FFFFFF'>14.08.2023,  8</td>
<td style='background-color: #FFFFFF'>31.05.2023,  382.0</td>
<td style='background-color: #FFFFFF'>30.06.2023,  382.0</td>
<td style='background-color: #FFFFFF'>31.07.2023,  114.8</td>
<td style='background-color: #FFFFFF'>14.08.2023,  267.2</td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4300594</td>
<td style='background-color: #FFFFFF'>2023-04-19 00:00:00</td>
<td style='background-color: #FFFFFF'>V000161</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>144.6942</td>
<td style='background-color: #FFFFFF'>1033.53</td>
<td style='background-color: #FFFFFF'>K006227</td>
<td style='background-color: #FFFFFF'>Giuseppe Fasolino</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>84083</td>
<td style='background-color: #FFFFFF'>Castel San Giorgio (SA)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4300597</td>
<td style='background-color: #FFF300'>2023-04-19 00:00:00</td>
<td style='background-color: #FFF300'>V000161</td>
<td style='background-color: #FFF300'>7</td>
<td style='background-color: #FFF300'>-14.0238</td>
<td style='background-color: #FFF300'>-200.34</td>
<td style='background-color: #FFF300'>K005989</td>
<td style='background-color: #FFF300'>PISA SRLS</td>
<td style='background-color: #FFF300'>Oliver Weber Collection</td>
<td style='background-color: #FFF300'>IT</td>
<td style='background-color: #FFF300'>80021</td>
<td style='background-color: #FFF300'>Afragola (NA)</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4300620</td>
<td style='background-color: #FFFFFF'>2023-04-21 00:00:00</td>
<td style='background-color: #FFFFFF'>V000161</td>
<td style='background-color: #FFFFFF'>7</td>
<td style='background-color: #FFFFFF'>1.0269</td>
<td style='background-color: #FFFFFF'>14.67</td>
<td style='background-color: #FFFFFF'>K005989</td>
<td style='background-color: #FFFFFF'>PISA SRLS</td>
<td style='background-color: #FFFFFF'>Oliver Weber Collection</td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>80021</td>
<td style='background-color: #FFFFFF'>Afragola (NA)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'>UNPAID</td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300621</td>
<td style='background-color: #00FF00'>2023-04-21 00:00:00</td>
<td style='background-color: #00FF00'>V000161</td>
<td style='background-color: #00FF00'>14</td>
<td style='background-color: #00FF00'>5.4488</td>
<td style='background-color: #00FF00'>38.92</td>
<td style='background-color: #00FF00'>K005237</td>
<td style='background-color: #00FF00'>PAPRIKA</td>
<td style='background-color: #00FF00'>di Di Sauro Giuseppina</td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>80034</td>
<td style='background-color: #00FF00'>Marigliano (NA)</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>38.92</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>5.4</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>15.05.2023,  38.9</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4300634</td>
<td style='background-color: #FFF300'>2023-04-25 00:00:00</td>
<td style='background-color: #FFF300'>V000161</td>
<td style='background-color: #FFF300'>7</td>
<td style='background-color: #FFF300'>-149.1175</td>
<td style='background-color: #FFF300'>-2130.25</td>
<td style='background-color: #FFF300'>K005989</td>
<td style='background-color: #FFF300'>PISA SRLS</td>
<td style='background-color: #FFF300'>Oliver Weber Collection</td>
<td style='background-color: #FFF300'>IT</td>
<td style='background-color: #FFF300'>80021</td>
<td style='background-color: #FFF300'>Afragola (NA)</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300701</td>
<td style='background-color: #00FF00'>2023-04-28 00:00:00</td>
<td style='background-color: #00FF00'>V000161</td>
<td style='background-color: #00FF00'>14</td>
<td style='background-color: #00FF00'>64.0682</td>
<td style='background-color: #00FF00'>457.63</td>
<td style='background-color: #00FF00'>K004021</td>
<td style='background-color: #00FF00'>ELVI CASA & COSE</td>
<td style='background-color: #00FF00'>di Elvira Iannuzzi</td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>84051</td>
<td style='background-color: #00FF00'>CENTOLA (SA)</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>457.63</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>64.1</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>15.06.2023,  228.8</td>
<td style='background-color: #FFFFFF'>31.05.2023,  228.8</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300702</td>
<td style='background-color: #00FF00'>2023-04-28 00:00:00</td>
<td style='background-color: #00FF00'>V000161</td>
<td style='background-color: #00FF00'>14</td>
<td style='background-color: #00FF00'>70.98</td>
<td style='background-color: #00FF00'>507</td>
<td style='background-color: #00FF00'>K005943</td>
<td style='background-color: #00FF00'>GIOEMI Gioielli</td>
<td style='background-color: #00FF00'>di Esposito Giovanni</td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>80053</td>
<td style='background-color: #00FF00'>Castellammare di Stabia (NA)</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>507</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>71</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>10.05.2023,  507.0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4300714</td>
<td style='background-color: #FFFFFF'>2023-05-08 00:00:00</td>
<td style='background-color: #FFFFFF'>V000161</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>142.037</td>
<td style='background-color: #FFFFFF'>1014.55</td>
<td style='background-color: #FFFFFF'>K005243</td>
<td style='background-color: #FFFFFF'>SIR.MA Gioielli Srl</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>80040</td>
<td style='background-color: #FFFFFF'>Ascea Marina (SA)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4300739</td>
<td style='background-color: #FFF300'>2023-05-11 00:00:00</td>
<td style='background-color: #FFF300'>V000161</td>
<td style='background-color: #FFF300'>7</td>
<td style='background-color: #FFF300'>-1.0269</td>
<td style='background-color: #FFF300'>-14.67</td>
<td style='background-color: #FFF300'>K005989</td>
<td style='background-color: #FFF300'>PISA SRLS</td>
<td style='background-color: #FFF300'>Oliver Weber Collection</td>
<td style='background-color: #FFF300'>IT</td>
<td style='background-color: #FFF300'>80021</td>
<td style='background-color: #FFF300'>Afragola (NA)</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300777</td>
<td style='background-color: #00FF00'>2023-05-15 00:00:00</td>
<td style='background-color: #00FF00'>V000161</td>
<td style='background-color: #00FF00'>10</td>
<td style='background-color: #00FF00'>255.407</td>
<td style='background-color: #00FF00'>2554.07</td>
<td style='background-color: #00FF00'>K006168</td>
<td style='background-color: #00FF00'>RUGGISERVICE  srls</td>
<td style='background-color: #00FF00'>CC IL CARRO</td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>86036</td>
<td style='background-color: #00FF00'>Mirabella Eclano (AV)</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>2554.07</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>255.4</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>30.06.2023,  851.4</td>
<td style='background-color: #FFFFFF'>14.08.2023,  851.4</td>
<td style='background-color: #FFFFFF'>31.08.2023,  851.4</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300882</td>
<td style='background-color: #00FF00'>2023-05-31 00:00:00</td>
<td style='background-color: #00FF00'>V000161</td>
<td style='background-color: #00FF00'>14</td>
<td style='background-color: #00FF00'>61.089</td>
<td style='background-color: #00FF00'>436.35</td>
<td style='background-color: #00FF00'>K003358</td>
<td style='background-color: #00FF00'>Gioie Infinite di Memoli Vincenza</td>
<td style='background-color: #00FF00'>+39 089341598</td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>84013</td>
<td style='background-color: #00FF00'>Cava dei Tirreni (SA)</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>436.35</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>61.1</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>30.06.2023,  218.2</td>
<td style='background-color: #FFFFFF'>31.07.2023,  218.2</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4300890</td>
<td style='background-color: #FFFFFF'>2023-05-31 00:00:00</td>
<td style='background-color: #FFFFFF'>V000161</td>
<td style='background-color: #FFFFFF'>10</td>
<td style='background-color: #FFFFFF'>150.24</td>
<td style='background-color: #FFFFFF'>1502.4</td>
<td style='background-color: #FFFFFF'>K006168</td>
<td style='background-color: #FFFFFF'>RUGGISERVICE  srls</td>
<td style='background-color: #FFFFFF'>CC IL CARRO</td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>86036</td>
<td style='background-color: #FFFFFF'>Mirabella Eclano (AV)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'>UNPAID</td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300895</td>
<td style='background-color: #00FF00'>2023-05-31 00:00:00</td>
<td style='background-color: #00FF00'>V000161</td>
<td style='background-color: #00FF00'>10</td>
<td style='background-color: #00FF00'>66.551</td>
<td style='background-color: #00FF00'>665.51</td>
<td style='background-color: #00FF00'>K006168</td>
<td style='background-color: #00FF00'>RUGGISERVICE  srls</td>
<td style='background-color: #00FF00'>CC IL CARRO</td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>86036</td>
<td style='background-color: #00FF00'>Mirabella Eclano (AV)</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>665.51</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>66.6</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>30.06.2023,  221.8</td>
<td style='background-color: #FFFFFF'>14.08.2023,  221.8</td>
<td style='background-color: #FFFFFF'>31.08.2023,  221.8</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4300994</td>
<td style='background-color: #FFFFFF'>2023-06-13 00:00:00</td>
<td style='background-color: #FFFFFF'>V000161</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>187.1338</td>
<td style='background-color: #FFFFFF'>1336.67</td>
<td style='background-color: #FFFFFF'>K005243</td>
<td style='background-color: #FFFFFF'>SIR.MA Gioielli Srl</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>80040</td>
<td style='background-color: #FFFFFF'>Ascea Marina (SA)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300996</td>
<td style='background-color: #00FF00'>2023-06-13 00:00:00</td>
<td style='background-color: #00FF00'>V000161</td>
<td style='background-color: #00FF00'>10</td>
<td style='background-color: #00FF00'>32.4</td>
<td style='background-color: #00FF00'>324</td>
<td style='background-color: #00FF00'>K006168</td>
<td style='background-color: #00FF00'>RUGGISERVICE  srls</td>
<td style='background-color: #00FF00'>CC IL CARRO</td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>86036</td>
<td style='background-color: #00FF00'>Mirabella Eclano (AV)</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>324</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>32.4</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>14.08.2023,  162.0</td>
<td style='background-color: #FFFFFF'>31.08.2023,  162.0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4301063</td>
<td style='background-color: #FFF300'>2023-06-21 00:00:00</td>
<td style='background-color: #FFF300'>V000161</td>
<td style='background-color: #FFF300'>14</td>
<td style='background-color: #FFF300'>-70.672</td>
<td style='background-color: #FFF300'>-504.8</td>
<td style='background-color: #FFF300'>K006227</td>
<td style='background-color: #FFF300'>Giuseppe Fasolino</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>IT</td>
<td style='background-color: #FFF300'>84083</td>
<td style='background-color: #FFF300'>Castel San Giorgio (SA)</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4301089</td>
<td style='background-color: #00FF00'>2023-06-26 00:00:00</td>
<td style='background-color: #00FF00'>V000161</td>
<td style='background-color: #00FF00'>14</td>
<td style='background-color: #00FF00'>12.04</td>
<td style='background-color: #00FF00'>86</td>
<td style='background-color: #00FF00'>K003358</td>
<td style='background-color: #00FF00'>Gioie Infinite di Memoli Vincenza</td>
<td style='background-color: #00FF00'>+39 089341598</td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>84013</td>
<td style='background-color: #00FF00'>Cava dei Tirreni (SA)</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>86</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>12</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>31.07.2023,  86.0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4301145</td>
<td style='background-color: #FFF300'>2023-06-30 00:00:00</td>
<td style='background-color: #FFF300'>V000161</td>
<td style='background-color: #FFF300'>14</td>
<td style='background-color: #FFF300'>-187.1338</td>
<td style='background-color: #FFF300'>-1336.67</td>
<td style='background-color: #FFF300'>K005243</td>
<td style='background-color: #FFF300'>SIR.MA Gioielli Srl</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>IT</td>
<td style='background-color: #FFF300'>80040</td>
<td style='background-color: #FFF300'>Ascea Marina (SA)</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4301201</td>
<td style='background-color: #FFF300'>2023-07-11 00:00:00</td>
<td style='background-color: #FFF300'>V000161</td>
<td style='background-color: #FFF300'>10</td>
<td style='background-color: #FFF300'>-150.24</td>
<td style='background-color: #FFF300'>-1502.4</td>
<td style='background-color: #FFF300'>K006168</td>
<td style='background-color: #FFF300'>RUGGISERVICE  srls</td>
<td style='background-color: #FFF300'>CC IL CARRO</td>
<td style='background-color: #FFF300'>IT</td>
<td style='background-color: #FFF300'>86036</td>
<td style='background-color: #FFF300'>Mirabella Eclano (AV)</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4301220</td>
<td style='background-color: #00FF00'>2023-07-13 00:00:00</td>
<td style='background-color: #00FF00'>V000161</td>
<td style='background-color: #00FF00'>10</td>
<td style='background-color: #00FF00'>117.99</td>
<td style='background-color: #00FF00'>1179.9</td>
<td style='background-color: #00FF00'>K006168</td>
<td style='background-color: #00FF00'>RUGGISERVICE  srls</td>
<td style='background-color: #00FF00'>CC IL CARRO</td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>86036</td>
<td style='background-color: #00FF00'>Mirabella Eclano (AV)</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>393.3</td>
<td style='background-color: #00FF00'>PARTIALLY PAID</td>
<td style='background-color: #FFFFFF'>39.3</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>31.08.2023,  393.3</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4301285</td>
<td style='background-color: #FFF300'>2023-07-26 00:00:00</td>
<td style='background-color: #FFF300'>V000161</td>
<td style='background-color: #FFF300'>14</td>
<td style='background-color: #FFF300'>-51.198</td>
<td style='background-color: #FFF300'>-365.7</td>
<td style='background-color: #FFF300'>K006175</td>
<td style='background-color: #FFF300'>ROSSO CORALLO</td>
<td style='background-color: #FFF300'>DI VOLPE ROSSELLA</td>
<td style='background-color: #FFF300'>IT</td>
<td style='background-color: #FFF300'>84043</td>
<td style='background-color: #FFF300'>AGROPOLI (NA)</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4301340</td>
<td style='background-color: #FFFFFF'>2023-07-31 00:00:00</td>
<td style='background-color: #FFFFFF'>V000161</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>266.406</td>
<td style='background-color: #FFFFFF'>1902.9</td>
<td style='background-color: #FFFFFF'>K006265</td>
<td style='background-color: #FFFFFF'>Argenti e regali SAS</td>
<td style='background-color: #FFFFFF'>di Pasquale Sorrentino</td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>80127</td>
<td style='background-color: #FFFFFF'>Napoli</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4301341</td>
<td style='background-color: #FFFFFF'>2023-07-31 00:00:00</td>
<td style='background-color: #FFFFFF'>V000161</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>187.1338</td>
<td style='background-color: #FFFFFF'>1336.67</td>
<td style='background-color: #FFFFFF'>K006266</td>
<td style='background-color: #FFFFFF'>Trotta Morena</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>84043</td>
<td style='background-color: #FFFFFF'>Agropoli (SA)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4301349</td>
<td style='background-color: #00FF00'>2023-07-31 00:00:00</td>
<td style='background-color: #00FF00'>V000161</td>
<td style='background-color: #00FF00'>10</td>
<td style='background-color: #00FF00'>159.676</td>
<td style='background-color: #00FF00'>1596.76</td>
<td style='background-color: #00FF00'>K006168</td>
<td style='background-color: #00FF00'>RUGGISERVICE  srls</td>
<td style='background-color: #00FF00'>CC IL CARRO</td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>86036</td>
<td style='background-color: #00FF00'>Mirabella Eclano (AV)</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>532.25</td>
<td style='background-color: #00FF00'>PARTIALLY PAID</td>
<td style='background-color: #FFFFFF'>53.2</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>31.08.2023,  532.2</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4301363</td>
<td style='background-color: #FFFFFF'>2023-08-07 00:00:00</td>
<td style='background-color: #FFFFFF'>V000161</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>108.6764</td>
<td style='background-color: #FFFFFF'>776.26</td>
<td style='background-color: #FFFFFF'>K005243</td>
<td style='background-color: #FFFFFF'>SIR.MA Gioielli Srl</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>80040</td>
<td style='background-color: #FFFFFF'>Ascea Marina (SA)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4301380</td>
<td style='background-color: #FFF300'>2023-08-09 00:00:00</td>
<td style='background-color: #FFF300'>V000161</td>
<td style='background-color: #FFF300'>7</td>
<td style='background-color: #FFF300'>-717.976</td>
<td style='background-color: #FFF300'>-10256.8</td>
<td style='background-color: #FFF300'>K005989</td>
<td style='background-color: #FFF300'>PISA SRLS</td>
<td style='background-color: #FFF300'>Oliver Weber Collection</td>
<td style='background-color: #FFF300'>IT</td>
<td style='background-color: #FFF300'>80021</td>
<td style='background-color: #FFF300'>Afragola (NA)</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4301501</td>
<td style='background-color: #FFFFFF'>2023-09-06 00:00:00</td>
<td style='background-color: #FFFFFF'>V000161</td>
<td style='background-color: #FFFFFF'>10</td>
<td style='background-color: #FFFFFF'>34.056</td>
<td style='background-color: #FFFFFF'>340.56</td>
<td style='background-color: #FFFFFF'>K006168</td>
<td style='background-color: #FFFFFF'>RUGGISERVICE  srls</td>
<td style='background-color: #FFFFFF'>CC IL CARRO</td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>86036</td>
<td style='background-color: #FFFFFF'>Mirabella Eclano (AV)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'>UNPAID</td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4301534</td>
<td style='background-color: #FFFFFF'>2023-09-11 00:00:00</td>
<td style='background-color: #FFFFFF'>V000161</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>17.122</td>
<td style='background-color: #FFFFFF'>122.3</td>
<td style='background-color: #FFFFFF'>K004021</td>
<td style='background-color: #FFFFFF'>ELVI CASA & COSE</td>
<td style='background-color: #FFFFFF'>di Elvira Iannuzzi</td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>84051</td>
<td style='background-color: #FFFFFF'>CENTOLA (SA)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4301535</td>
<td style='background-color: #FFFFFF'>2023-09-11 00:00:00</td>
<td style='background-color: #FFFFFF'>V000161</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>63.462</td>
<td style='background-color: #FFFFFF'>453.3</td>
<td style='background-color: #FFFFFF'>K002603</td>
<td style='background-color: #FFFFFF'>Emozioni</td>
<td style='background-color: #FFFFFF'>di d´Alessandro Anna</td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>84086</td>
<td style='background-color: #FFFFFF'>Roccapiemonte (SA)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4301536</td>
<td style='background-color: #FFFFFF'>2023-09-11 00:00:00</td>
<td style='background-color: #FFFFFF'>V000161</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>126.182</td>
<td style='background-color: #FFFFFF'>901.3</td>
<td style='background-color: #FFFFFF'>K006266</td>
<td style='background-color: #FFFFFF'>Trotta Morena</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>84043</td>
<td style='background-color: #FFFFFF'>Agropoli (SA)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4301684</td>
<td style='background-color: #FFFFFF'>2023-09-29 00:00:00</td>
<td style='background-color: #FFFFFF'>V000161</td>
<td style='background-color: #FFFFFF'>10</td>
<td style='background-color: #FFFFFF'>58.122</td>
<td style='background-color: #FFFFFF'>581.22</td>
<td style='background-color: #FFFFFF'>K006168</td>
<td style='background-color: #FFFFFF'>RUGGISERVICE  srls</td>
<td style='background-color: #FFFFFF'>CC IL CARRO</td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>86036</td>
<td style='background-color: #FFFFFF'>Mirabella Eclano (AV)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>All paid amount</td>
<td style='background-color: #90EE90'>14126.93</td>
<td style='background-color: #FFFFFF'>All comissions</td>
<td style='background-color: #90EE90'>1599.43</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
 </tbody>
                    </table>
                    {% endblock %}