<meta charset="utf-8">
                 <table border="1" class="dataframe">
                             <thead>
                                 <tr style="text-align: right;">
<th style='background-color: #B0CBF0'>RK</th>
<th style='background-color: #B0CBF0'>GF-Nr</th>
<th style='background-color: #B0CBF0'>Datum</th>
<th style='background-color: #B0CBF0'>Vertreter</th>
<th style='background-color: #B0CBF0'>ProvProz</th>
<th style='background-color: #B0CBF0'>Provision</th>
<th style='background-color: #B0CBF0'>Summe</th>
<th style='background-color: #B0CBF0'>Lieferant</th>
<th style='background-color: #B0CBF0'>Lieferantenname</th>
<th style='background-color: #B0CBF0'>Name2</th>
<th style='background-color: #B0CBF0'>IntKz</th>
<th style='background-color: #B0CBF0'>PLZ Neu</th>
<th style='background-color: #B0CBF0'>Ort</th>
<th style='background-color: #FFFFFF'> </th>
<th style='background-color: #899EF0'>Paid amount</th>
<th style='background-color: #899EF0'>Payment status</th>
<th style='background-color: #899EF0'>Payment commission</th>
<th style='background-color: #899EF0'>Payments with Rest</th>
<th style='background-color: #899EF0'>Payments Dates</th>
</tr>
</thead>
                  <tbody><tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4300120</td>
<td style='background-color: #FFFFFF'>2023-01-30 00:00:00</td>
<td style='background-color: #FFFFFF'>V000182</td>
<td style='background-color: #FFFFFF'>10</td>
<td style='background-color: #FFFFFF'>=G2*0.1</td>
<td style='background-color: #FFFFFF'>1439.5</td>
<td style='background-color: #FFFFFF'>K003577</td>
<td style='background-color: #FFFFFF'>Concepcion Durendez Soria</td>
<td style='background-color: #FFFFFF'>"SERGE"</td>
<td style='background-color: #FFFFFF'>ES</td>
<td style='background-color: #FFFFFF'>03181</td>
<td style='background-color: #FFFFFF'>Torrevieja, Alicante</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'>UNPAID</td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4300121</td>
<td style='background-color: #FFFFFF'>2023-01-30 00:00:00</td>
<td style='background-color: #FFFFFF'>V000182</td>
<td style='background-color: #FFFFFF'>10</td>
<td style='background-color: #FFFFFF'>=G3*0.1</td>
<td style='background-color: #FFFFFF'>675.6</td>
<td style='background-color: #FFFFFF'>K001626</td>
<td style='background-color: #FFFFFF'>Cristaleria Rovira</td>
<td style='background-color: #FFFFFF'>Cristaleria Rovira, S.L.</td>
<td style='background-color: #FFFFFF'>ES</td>
<td style='background-color: #FFFFFF'>12100</td>
<td style='background-color: #FFFFFF'>Grao de Castellón, Castellón</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'>UNPAID</td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFF300'>2115.1</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #68BF9D'>0.0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #68BF9D'>0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
 </tbody>
                </table>