{%extends 'base.html'%}
                            {% block content %}     
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--<link rel="stylesheet" type="text/css" href="normas.css">-->
    <style>
        body{
            background-color: #d6e1f8;

        }
        th, td {
            border: 1px solid #ccc;

            text-align: center;
        }

        table {

            border-collapse: collapse !important; /* optional: collapse the table borders */
        }

        table tr {
            background-color: #8BC34A !important; /* Set background color of all rows */
        }

        table tr:hover td {
            background-color: #2196F3 !important; /* Set background color of cells when hovered */
        }

    </style>
                     <table border="1" class="dataframe" style="width:100%;">
                                 <thead>
                                     <tr style="text-align: right;">
<th style='background-color: #899EF0'>RK</th>
<th style='background-color: #899EF0'>GF-Nr</th>
<th style='background-color: #899EF0'>Datum</th>
<th style='background-color: #899EF0'>Vertreter</th>
<th style='background-color: #899EF0'>ProvProz</th>
<th style='background-color: #899EF0'>Provision</th>
<th style='background-color: #899EF0'>Summe</th>
<th style='background-color: #899EF0'>Lieferant</th>
<th style='background-color: #899EF0'>Lieferantenname</th>
<th style='background-color: #899EF0'>Name2</th>
<th style='background-color: #899EF0'>IntKz</th>
<th style='background-color: #899EF0'>PLZ Neu</th>
<th style='background-color: #899EF0'>Ort</th>
<th style='background-color: #899EF0'>s</th>
<th style='background-color: #899EF0'>Paid amount</th>
<th style='background-color: #899EF0'>Payment status</th>
<th style='background-color: #899EF0'>Payment commission</th>
<th style='background-color: #899EF0'>Payments with Rest</th>
<th style='background-color: #899EF0'>Payments Dates</th>
<th style='background-color: #FFFFFF'> </th>
</tr>
</thead>
                          <tbody><tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300059</td>
<td style='background-color: #00FF00'>2023-01-18</td>
<td style='background-color: #00FF00'>V000104</td>
<td style='background-color: #00FF00'>15</td>
<td style='background-color: #00FF00'>345.2985</td>
<td style='background-color: #00FF00'>2301.99</td>
<td style='background-color: #00FF00'>K003563</td>
<td style='background-color: #00FF00'>Garufalia Charalambaki</td>
<td style='background-color: #00FF00'>+30 22210 86560</td>
<td style='background-color: #00FF00'>GR</td>
<td style='background-color: #00FF00'>34100</td>
<td style='background-color: #00FF00'>Kalkida</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>1370.1</td>
<td style='background-color: #00FF00'>PARTIALLY PAID</td>
<td style='background-color: #FFFFFF'>205.5</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>24.11.2023,  1000.0</td>
<td style='background-color: #FFFFFF'>29.11.2023,  370.1</td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4300114</td>
<td style='background-color: #FFF300'>2023-01-27</td>
<td style='background-color: #FFF300'>V000104</td>
<td style='background-color: #FFF300'>15</td>
<td style='background-color: #FFF300'>-117.57</td>
<td style='background-color: #FFF300'>-783.8</td>
<td style='background-color: #FFF300'>K004123</td>
<td style='background-color: #FFF300'>Grekas Daniel - LI-LO ACCESSORIES</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>GR</td>
<td style='background-color: #FFF300'>16675</td>
<td style='background-color: #FFF300'>GLYFADA</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4300505</td>
<td style='background-color: #FFF300'>2023-04-05</td>
<td style='background-color: #FFF300'>V000104</td>
<td style='background-color: #FFF300'>15</td>
<td style='background-color: #FFF300'>-1152.405</td>
<td style='background-color: #FFF300'>-7682.7</td>
<td style='background-color: #FFF300'>K004146</td>
<td style='background-color: #FFF300'>AEGEAN AIRLINES SA</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>GR</td>
<td style='background-color: #FFF300'>145 64</td>
<td style='background-color: #FFF300'>Kifisia</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4300529</td>
<td style='background-color: #FFF300'>2023-04-11</td>
<td style='background-color: #FFF300'>V000104</td>
<td style='background-color: #FFF300'>10</td>
<td style='background-color: #FFF300'>-1.89</td>
<td style='background-color: #FFF300'>-18.9</td>
<td style='background-color: #FFF300'>K005020</td>
<td style='background-color: #FFF300'>DUTY FREE SHOPS SINGLE MEMBER S.A</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>GR</td>
<td style='background-color: #FFF300'>14565</td>
<td style='background-color: #FFF300'>Agios Stefanos, Attika</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4300544</td>
<td style='background-color: #FFF300'>2023-04-12</td>
<td style='background-color: #FFF300'>V000104</td>
<td style='background-color: #FFF300'>15</td>
<td style='background-color: #FFF300'>-1775.25</td>
<td style='background-color: #FFF300'>-11835</td>
<td style='background-color: #FFF300'>K004146</td>
<td style='background-color: #FFF300'>AEGEAN AIRLINES SA</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>GR</td>
<td style='background-color: #FFF300'>145 64</td>
<td style='background-color: #FFF300'>Kifisia</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4300557</td>
<td style='background-color: #FFF300'>2023-04-14</td>
<td style='background-color: #FFF300'>V000104</td>
<td style='background-color: #FFF300'>15</td>
<td style='background-color: #FFF300'>-25.98</td>
<td style='background-color: #FFF300'>-173.2</td>
<td style='background-color: #FFF300'>K006160</td>
<td style='background-color: #FFF300'>VOULKIDIS CHRISTOS</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>GR</td>
<td style='background-color: #FFF300'>68100</td>
<td style='background-color: #FFF300'>ALEXANDROUPOLIS</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300806</td>
<td style='background-color: #00FF00'>2023-05-22</td>
<td style='background-color: #00FF00'>V000104</td>
<td style='background-color: #00FF00'>10</td>
<td style='background-color: #00FF00'>58.555</td>
<td style='background-color: #00FF00'>585.55</td>
<td style='background-color: #00FF00'>K005020</td>
<td style='background-color: #00FF00'>DUTY FREE SHOPS SINGLE MEMBER S.A</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>GR</td>
<td style='background-color: #00FF00'>14565</td>
<td style='background-color: #00FF00'>Agios Stefanos, Attika</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>585.5</td>
<td style='background-color: #00FF00'>PARTIALLY PAID</td>
<td style='background-color: #FFFFFF'>58.5</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>28.11.2023,  585.5</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300807</td>
<td style='background-color: #00FF00'>2023-05-22</td>
<td style='background-color: #00FF00'>V000104</td>
<td style='background-color: #00FF00'>10</td>
<td style='background-color: #00FF00'>48.02</td>
<td style='background-color: #00FF00'>480.2</td>
<td style='background-color: #00FF00'>K005020</td>
<td style='background-color: #00FF00'>DUTY FREE SHOPS SINGLE MEMBER S.A</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>GR</td>
<td style='background-color: #00FF00'>14565</td>
<td style='background-color: #00FF00'>Agios Stefanos, Attika</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>480.2</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>48</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>28.11.2023,  480.2</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4300821</td>
<td style='background-color: #FFF300'>2023-05-22</td>
<td style='background-color: #FFF300'>V000104</td>
<td style='background-color: #FFF300'>15</td>
<td style='background-color: #FFF300'>-1.815</td>
<td style='background-color: #FFF300'>-12.1</td>
<td style='background-color: #FFF300'>K004072</td>
<td style='background-color: #FFF300'>MINOAN LINES S.A.</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>GR</td>
<td style='background-color: #FFF300'>71202</td>
<td style='background-color: #FFF300'>Heraklio, CRETE</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300872</td>
<td style='background-color: #00FF00'>2023-05-30</td>
<td style='background-color: #00FF00'>V000104</td>
<td style='background-color: #00FF00'>10</td>
<td style='background-color: #00FF00'>110.95</td>
<td style='background-color: #00FF00'>1109.5</td>
<td style='background-color: #00FF00'>K005020</td>
<td style='background-color: #00FF00'>DUTY FREE SHOPS SINGLE MEMBER S.A</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>GR</td>
<td style='background-color: #00FF00'>14565</td>
<td style='background-color: #00FF00'>Agios Stefanos, Attika</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>1109.5</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>111</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>28.11.2023,  1109.5</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300880</td>
<td style='background-color: #00FF00'>2023-05-31</td>
<td style='background-color: #00FF00'>V000104</td>
<td style='background-color: #00FF00'>10</td>
<td style='background-color: #00FF00'>36.05</td>
<td style='background-color: #00FF00'>360.5</td>
<td style='background-color: #00FF00'>K005020</td>
<td style='background-color: #00FF00'>DUTY FREE SHOPS SINGLE MEMBER S.A</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>GR</td>
<td style='background-color: #00FF00'>14565</td>
<td style='background-color: #00FF00'>Agios Stefanos, Attika</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>360.5</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>36</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>28.11.2023,  360.5</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300912</td>
<td style='background-color: #00FF00'>2023-05-31</td>
<td style='background-color: #00FF00'>V000104</td>
<td style='background-color: #00FF00'>10</td>
<td style='background-color: #00FF00'>57.015</td>
<td style='background-color: #00FF00'>570.15</td>
<td style='background-color: #00FF00'>K005020</td>
<td style='background-color: #00FF00'>DUTY FREE SHOPS SINGLE MEMBER S.A</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>GR</td>
<td style='background-color: #00FF00'>14565</td>
<td style='background-color: #00FF00'>Agios Stefanos, Attika</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>570.1</td>
<td style='background-color: #00FF00'>PARTIALLY PAID</td>
<td style='background-color: #FFFFFF'>57</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>28.11.2023,  570.1</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300916</td>
<td style='background-color: #00FF00'>2023-05-31</td>
<td style='background-color: #00FF00'>V000104</td>
<td style='background-color: #00FF00'>10</td>
<td style='background-color: #00FF00'>164.5</td>
<td style='background-color: #00FF00'>1645</td>
<td style='background-color: #00FF00'>K005020</td>
<td style='background-color: #00FF00'>DUTY FREE SHOPS SINGLE MEMBER S.A</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>GR</td>
<td style='background-color: #00FF00'>14565</td>
<td style='background-color: #00FF00'>Agios Stefanos, Attika</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>1645</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>164.5</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>28.11.2023,  1645.0</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300917</td>
<td style='background-color: #00FF00'>2023-05-31</td>
<td style='background-color: #00FF00'>V000104</td>
<td style='background-color: #00FF00'>10</td>
<td style='background-color: #00FF00'>165.69</td>
<td style='background-color: #00FF00'>1656.9</td>
<td style='background-color: #00FF00'>K005020</td>
<td style='background-color: #00FF00'>DUTY FREE SHOPS SINGLE MEMBER S.A</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>GR</td>
<td style='background-color: #00FF00'>14565</td>
<td style='background-color: #00FF00'>Agios Stefanos, Attika</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>1656.9</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>165.7</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>28.11.2023,  1656.9</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4300955</td>
<td style='background-color: #FFF300'>2023-06-07</td>
<td style='background-color: #FFF300'>V000104</td>
<td style='background-color: #FFF300'>15</td>
<td style='background-color: #FFF300'>-16.02</td>
<td style='background-color: #FFF300'>-106.8</td>
<td style='background-color: #FFF300'>K006160</td>
<td style='background-color: #FFF300'>VOULKIDIS CHRISTOS</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>GR</td>
<td style='background-color: #FFF300'>68100</td>
<td style='background-color: #FFF300'>ALEXANDROUPOLIS</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4301067</td>
<td style='background-color: #FFF300'>2023-06-22</td>
<td style='background-color: #FFF300'>V000104</td>
<td style='background-color: #FFF300'>15</td>
<td style='background-color: #FFF300'>-680.25</td>
<td style='background-color: #FFF300'>-4535</td>
<td style='background-color: #FFF300'>K004146</td>
<td style='background-color: #FFF300'>AEGEAN AIRLINES SA</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>GR</td>
<td style='background-color: #FFF300'>145 64</td>
<td style='background-color: #FFF300'>Kifisia</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4301115</td>
<td style='background-color: #FFF300'>2023-06-28</td>
<td style='background-color: #FFF300'>V000104</td>
<td style='background-color: #FFF300'>15</td>
<td style='background-color: #FFF300'>-2.82</td>
<td style='background-color: #FFF300'>-18.8</td>
<td style='background-color: #FFF300'>K004072</td>
<td style='background-color: #FFF300'>MINOAN LINES S.A.</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>GR</td>
<td style='background-color: #FFF300'>71202</td>
<td style='background-color: #FFF300'>Heraklio, CRETE</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4301142</td>
<td style='background-color: #FFF300'>2023-06-30</td>
<td style='background-color: #FFF300'>V000104</td>
<td style='background-color: #FFF300'>15</td>
<td style='background-color: #FFF300'>-523.512</td>
<td style='background-color: #FFF300'>-3490.08</td>
<td style='background-color: #FFF300'>K006230</td>
<td style='background-color: #FFF300'>QUALITY RIVER CATERING I LTD</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>ZY</td>
<td style='background-color: #FFF300'>3305</td>
<td style='background-color: #FFF300'>Limassol</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4301148</td>
<td style='background-color: #FFF300'>2023-06-30</td>
<td style='background-color: #FFF300'>V000104</td>
<td style='background-color: #FFF300'>15</td>
<td style='background-color: #FFF300'>-5.445</td>
<td style='background-color: #FFF300'>-36.3</td>
<td style='background-color: #FFF300'>K003270</td>
<td style='background-color: #FFF300'>Androulidaki Dimitra</td>
<td style='background-color: #FFF300'>(+30) 6932 379628</td>
<td style='background-color: #FFF300'>GR</td>
<td style='background-color: #FFF300'>74100</td>
<td style='background-color: #FFF300'>RETHYMNO, CRETA</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4301152</td>
<td style='background-color: #00FF00'>2023-06-30</td>
<td style='background-color: #00FF00'>V000104</td>
<td style='background-color: #00FF00'>15</td>
<td style='background-color: #00FF00'>145.665</td>
<td style='background-color: #00FF00'>971.1</td>
<td style='background-color: #00FF00'>K004072</td>
<td style='background-color: #00FF00'>MINOAN LINES S.A.</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>GR</td>
<td style='background-color: #00FF00'>71202</td>
<td style='background-color: #00FF00'>Heraklio, CRETE</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>971.1</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>145.7</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>08.11.2023,  971.1</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4301308</td>
<td style='background-color: #FFF300'>2023-07-28</td>
<td style='background-color: #FFF300'>V000104</td>
<td style='background-color: #FFF300'>15</td>
<td style='background-color: #FFF300'>-2731.5</td>
<td style='background-color: #FFF300'>-18210</td>
<td style='background-color: #FFF300'>K004146</td>
<td style='background-color: #FFF300'>AEGEAN AIRLINES SA</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>GR</td>
<td style='background-color: #FFF300'>145 64</td>
<td style='background-color: #FFF300'>Kifisia</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4301310</td>
<td style='background-color: #FFF300'>2023-07-28</td>
<td style='background-color: #FFF300'>V000104</td>
<td style='background-color: #FFF300'>15</td>
<td style='background-color: #FFF300'>-90</td>
<td style='background-color: #FFF300'>-600</td>
<td style='background-color: #FFF300'>K004146</td>
<td style='background-color: #FFF300'>AEGEAN AIRLINES SA</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>GR</td>
<td style='background-color: #FFF300'>145 64</td>
<td style='background-color: #FFF300'>Kifisia</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4301375</td>
<td style='background-color: #FFF300'>2023-08-08</td>
<td style='background-color: #FFF300'>V000104</td>
<td style='background-color: #FFF300'>15</td>
<td style='background-color: #FFF300'>-110.925</td>
<td style='background-color: #FFF300'>-739.5</td>
<td style='background-color: #FFF300'>K003563</td>
<td style='background-color: #FFF300'>Garufalia Charalambaki</td>
<td style='background-color: #FFF300'>+30 22210 86560</td>
<td style='background-color: #FFF300'>GR</td>
<td style='background-color: #FFF300'>34100</td>
<td style='background-color: #FFF300'>Kalkida</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4301486</td>
<td style='background-color: #00FF00'>2023-08-31</td>
<td style='background-color: #00FF00'>V000104</td>
<td style='background-color: #00FF00'>15</td>
<td style='background-color: #00FF00'>125.64</td>
<td style='background-color: #00FF00'>837.6</td>
<td style='background-color: #00FF00'>K006154</td>
<td style='background-color: #00FF00'>GEORGIADIS DIMITRIS & SIA EE</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>GR</td>
<td style='background-color: #00FF00'>18755</td>
<td style='background-color: #00FF00'>KERATSINI</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>837.6</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>125.6</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>20.11.2023,  837.6</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4301557</td>
<td style='background-color: #00FF00'>2023-09-14</td>
<td style='background-color: #00FF00'>V000104</td>
<td style='background-color: #00FF00'>15</td>
<td style='background-color: #00FF00'>86.7</td>
<td style='background-color: #00FF00'>578</td>
<td style='background-color: #00FF00'>K006160</td>
<td style='background-color: #00FF00'>VOULKIDIS CHRISTOS</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>GR</td>
<td style='background-color: #00FF00'>68100</td>
<td style='background-color: #00FF00'>ALEXANDROUPOLIS</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>578</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>86.7</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>16.11.2023,  578.0</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4301558</td>
<td style='background-color: #FFF300'>2023-09-14</td>
<td style='background-color: #FFF300'>V000104</td>
<td style='background-color: #FFF300'>15</td>
<td style='background-color: #FFF300'>-3.81</td>
<td style='background-color: #FFF300'>-25.4</td>
<td style='background-color: #FFF300'>K003563</td>
<td style='background-color: #FFF300'>Garufalia Charalambaki</td>
<td style='background-color: #FFF300'>+30 22210 86560</td>
<td style='background-color: #FFF300'>GR</td>
<td style='background-color: #FFF300'>34100</td>
<td style='background-color: #FFF300'>Kalkida</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4301573</td>
<td style='background-color: #FFF300'>2023-09-19</td>
<td style='background-color: #FFF300'>V000104</td>
<td style='background-color: #FFF300'>15</td>
<td style='background-color: #FFF300'>-6.27</td>
<td style='background-color: #FFF300'>-41.8</td>
<td style='background-color: #FFF300'>K004072</td>
<td style='background-color: #FFF300'>MINOAN LINES S.A.</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>GR</td>
<td style='background-color: #FFF300'>71202</td>
<td style='background-color: #FFF300'>Heraklio, CRETE</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4301610</td>
<td style='background-color: #00FF00'>2023-09-26</td>
<td style='background-color: #00FF00'>V000104</td>
<td style='background-color: #00FF00'>15</td>
<td style='background-color: #00FF00'>63.225</td>
<td style='background-color: #00FF00'>421.5</td>
<td style='background-color: #00FF00'>K006154</td>
<td style='background-color: #00FF00'>GEORGIADIS DIMITRIS & SIA EE</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>GR</td>
<td style='background-color: #00FF00'>18755</td>
<td style='background-color: #00FF00'>KERATSINI</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>421.5</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>63.2</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>20.11.2023,  421.5</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4301772</td>
<td style='background-color: #FFF300'>2023-10-16</td>
<td style='background-color: #FFF300'>V000104</td>
<td style='background-color: #FFF300'>10</td>
<td style='background-color: #FFF300'>-1.015</td>
<td style='background-color: #FFF300'>-10.15</td>
<td style='background-color: #FFF300'>K005020</td>
<td style='background-color: #FFF300'>DUTY FREE SHOPS SINGLE MEMBER S.A</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>GR</td>
<td style='background-color: #FFF300'>14565</td>
<td style='background-color: #FFF300'>Agios Stefanos, Attika</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4301855</td>
<td style='background-color: #00FF00'>2023-10-31</td>
<td style='background-color: #00FF00'>V000104</td>
<td style='background-color: #00FF00'>15</td>
<td style='background-color: #00FF00'>13.65</td>
<td style='background-color: #00FF00'>91</td>
<td style='background-color: #00FF00'>K006185</td>
<td style='background-color: #00FF00'>GERGOS IOANNIS</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>GR</td>
<td style='background-color: #00FF00'>59132</td>
<td style='background-color: #00FF00'>VEROIA</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>91</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>13.7</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>16.11.2023,  91.0</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4301919</td>
<td style='background-color: #00FF00'>2023-11-09</td>
<td style='background-color: #00FF00'>V000104</td>
<td style='background-color: #00FF00'>15</td>
<td style='background-color: #00FF00'>21.66</td>
<td style='background-color: #00FF00'>144.4</td>
<td style='background-color: #00FF00'>K006185</td>
<td style='background-color: #00FF00'>GERGOS IOANNIS</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>GR</td>
<td style='background-color: #00FF00'>59132</td>
<td style='background-color: #00FF00'>VEROIA</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>144.4</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>21.7</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>16.11.2023,  144.4</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>All paid amount</td>
<td style='background-color: #90EE90'>10821.4</td>
<td style='background-color: #FFFFFF'>All comissions</td>
<td style='background-color: #90EE90'>1302.83</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
 </tbody>
                    </table>
                    {% endblock %}