{%extends 'base.html'%}
                        {% block content %}
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!--<link rel="stylesheet" type="text/css" href="normas.css">-->
<style>
    body{
        background-color: #d6e1f8;
         
    }
    th, td {
        border: 1px solid #ccc;
        
        text-align: center;
    }

    table {
   
        border-collapse: collapse !important; /* optional: collapse the table borders */
    }

    table tr {
        background-color: #8BC34A !important; /* Set background color of all rows */
    }

    table tr:hover td {
        background-color: #2196F3 !important; /* Set background color of cells when hovered */
    }

</style>
                 <table border="1" class="dataframe" style="width:100%;">
                             <thead>
                                 <tr style="text-align: right;">
<th style='background-color: #B0CBF0'>RK</th>
<th style='background-color: #B0CBF0'>GF-Nr</th>
<th style='background-color: #B0CBF0'>Datum</th>
<th style='background-color: #B0CBF0'>Vertreter</th>
<th style='background-color: #B0CBF0'>ProvProz</th>
<th style='background-color: #B0CBF0'>Provision</th>
<th style='background-color: #B0CBF0'>Summe</th>
<th style='background-color: #B0CBF0'>Lieferant</th>
<th style='background-color: #B0CBF0'>Lieferantenname</th>
<th style='background-color: #B0CBF0'>Name2</th>
<th style='background-color: #B0CBF0'>IntKz</th>
<th style='background-color: #B0CBF0'>PLZ Neu</th>
<th style='background-color: #B0CBF0'>Ort</th>
<th style='background-color: #FFFFFF'> </th>
<th style='background-color: #899EF0'>Paid amount</th>
<th style='background-color: #899EF0'>Payment status</th>
<th style='background-color: #899EF0'>Payment commission</th>
<th style='background-color: #899EF0'>Payments with Rest</th>
<th style='background-color: #899EF0'>Payments Dates</th>
<th style='background-color: #FFFFFF'> </th>
<th style='background-color: #FFFFFF'> </th>
<th style='background-color: #FFFFFF'> </th>
<th style='background-color: #FFFFFF'> </th>
</tr>
</thead>
                      <tbody><tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4201188</td>
<td style='background-color: #FFF300'>2022-06-08 00:00:00</td>
<td style='background-color: #FFF300'>V000118</td>
<td style='background-color: #FFF300'>15</td>
<td style='background-color: #FFF300'>-2.326104</td>
<td style='background-color: #FFF300'>-15.50736</td>
<td style='background-color: #FFF300'>K003777</td>
<td style='background-color: #FFF300'>Almacenes Siman S.A. de C.V.</td>
<td style='background-color: #FFF300'>N°de Reg. Fiscal: 0614-170266-001-3</td>
<td style='background-color: #FFF300'>ESA</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>San Salvador</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300199</td>
<td style='background-color: #00FF00'>2023-02-13 00:00:00</td>
<td style='background-color: #00FF00'>V000118</td>
<td style='background-color: #00FF00'>15</td>
<td style='background-color: #00FF00'>33</td>
<td style='background-color: #00FF00'>220</td>
<td style='background-color: #00FF00'>K003779</td>
<td style='background-color: #00FF00'>Almacenes SIMAN S.A.</td>
<td style='background-color: #00FF00'>No. de Registro J031000001707</td>
<td style='background-color: #00FF00'>NI</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>Sto. Domingo Managua</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>220</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #00FF00'>33</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>30.06.2023,  202.7</td>
<td style='background-color: #FFFFFF'>30.06.2023,  17.3</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300200</td>
<td style='background-color: #00FF00'>2023-02-13 00:00:00</td>
<td style='background-color: #00FF00'>V000118</td>
<td style='background-color: #00FF00'>15</td>
<td style='background-color: #00FF00'>24</td>
<td style='background-color: #00FF00'>160</td>
<td style='background-color: #00FF00'>K003780</td>
<td style='background-color: #00FF00'>Almacenes SIMAN S.A:</td>
<td style='background-color: #00FF00'>No. de Registro: 3-101-479526-18</td>
<td style='background-color: #00FF00'>CR</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>San José, Escazú</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>160</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #00FF00'>24</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>23.06.2023,  147.3</td>
<td style='background-color: #FFFFFF'>23.06.2023,  12.7</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300203</td>
<td style='background-color: #00FF00'>2023-02-13 00:00:00</td>
<td style='background-color: #00FF00'>V000118</td>
<td style='background-color: #00FF00'>15</td>
<td style='background-color: #00FF00'>215.3715</td>
<td style='background-color: #00FF00'>1435.81</td>
<td style='background-color: #00FF00'>K003780</td>
<td style='background-color: #00FF00'>Almacenes SIMAN S.A:</td>
<td style='background-color: #00FF00'>No. de Registro: 3-101-479526-18</td>
<td style='background-color: #00FF00'>CR</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>San José, Escazú</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>1435.81</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #00FF00'>215.4</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>23.06.2023,  1322.0</td>
<td style='background-color: #FFFFFF'>23.06.2023,  113.8</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300204</td>
<td style='background-color: #00FF00'>2023-02-13 00:00:00</td>
<td style='background-color: #00FF00'>V000118</td>
<td style='background-color: #00FF00'>15</td>
<td style='background-color: #00FF00'>334.602</td>
<td style='background-color: #00FF00'>2230.68</td>
<td style='background-color: #00FF00'>K003779</td>
<td style='background-color: #00FF00'>Almacenes SIMAN S.A.</td>
<td style='background-color: #00FF00'>No. de Registro J031000001707</td>
<td style='background-color: #00FF00'>NI</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>Sto. Domingo Managua</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>2230.68</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #00FF00'>334.6</td>
<td style='background-color: #FFAB83'>30.06.2023,  0</td>
<td style='background-color: #FFFFFF'>30.06.2023,  2055.2</td>
<td style='background-color: #FFFFFF'>30.06.2023,  175.5</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300454</td>
<td style='background-color: #00FF00'>2023-03-30 00:00:00</td>
<td style='background-color: #00FF00'>V000118</td>
<td style='background-color: #00FF00'>15</td>
<td style='background-color: #00FF00'>511.8975</td>
<td style='background-color: #00FF00'>3412.65</td>
<td style='background-color: #00FF00'>K003778</td>
<td style='background-color: #00FF00'>Almacenes SIMAN, S.A.</td>
<td style='background-color: #00FF00'>RTU:6091725</td>
<td style='background-color: #00FF00'>GT</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>Guatemala City</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>3412.65</td>
<td style='background-color: #00FF00'>PARTIALLY PAID</td>
<td style='background-color: #00FF00'>511.9</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>30.06.2023,  3144.1</td>
<td style='background-color: #FFFFFF'>30.06.2023,  268.5</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300455</td>
<td style='background-color: #00FF00'>2023-03-30 00:00:00</td>
<td style='background-color: #00FF00'>V000118</td>
<td style='background-color: #00FF00'>15</td>
<td style='background-color: #00FF00'>41.1</td>
<td style='background-color: #00FF00'>274</td>
<td style='background-color: #00FF00'>K003778</td>
<td style='background-color: #00FF00'>Almacenes SIMAN, S.A.</td>
<td style='background-color: #00FF00'>RTU:6091725</td>
<td style='background-color: #00FF00'>GT</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>Guatemala City</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>274</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #00FF00'>41.1</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>06.06.2023,  241.8</td>
<td style='background-color: #FFFFFF'>30.06.2023,  32.2</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300457</td>
<td style='background-color: #00FF00'>2023-03-30 00:00:00</td>
<td style='background-color: #00FF00'>V000118</td>
<td style='background-color: #00FF00'>15</td>
<td style='background-color: #00FF00'>77.25</td>
<td style='background-color: #00FF00'>515</td>
<td style='background-color: #00FF00'>K003777</td>
<td style='background-color: #00FF00'>Almacenes Siman S.A. de C.V.</td>
<td style='background-color: #00FF00'>N°de Reg. Fiscal: 0614-170266-001-3</td>
<td style='background-color: #00FF00'>ESA</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>San Salvador</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>515</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #00FF00'>77.2</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>23.06.2023,  474.2</td>
<td style='background-color: #FFFFFF'>23.06.2023,  40.8</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #00B050'>8248.14</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #00B0F0'>1237.2</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
 </tbody>
                </table>
                {% endblock %}