{%extends 'base.html'%}
                            {% block content %}     
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--<link rel="stylesheet" type="text/css" href="normas.css">-->
    <style>
        body{
            background-color: #d6e1f8;

        }
        th, td {
            border: 1px solid #ccc;

            text-align: center;
        }

        table {

            border-collapse: collapse !important; /* optional: collapse the table borders */
        }

        table tr {
            background-color: #8BC34A !important; /* Set background color of all rows */
        }

        table tr:hover td {
            background-color: #2196F3 !important; /* Set background color of cells when hovered */
        }

    </style>
                     <table border="1" class="dataframe" style="width:100%;">
                                 <thead>
                                     <tr style="text-align: right;">
<th style='background-color: #899EF0'>RK</th>
<th style='background-color: #899EF0'>GF-Nr</th>
<th style='background-color: #899EF0'>Datum</th>
<th style='background-color: #899EF0'>Vertreter</th>
<th style='background-color: #899EF0'>ProvProz</th>
<th style='background-color: #899EF0'>Provision</th>
<th style='background-color: #899EF0'>Summe</th>
<th style='background-color: #899EF0'>Lieferant</th>
<th style='background-color: #899EF0'>Lieferantenname</th>
<th style='background-color: #899EF0'>Name2</th>
<th style='background-color: #899EF0'>IntKz</th>
<th style='background-color: #899EF0'>PLZ Neu</th>
<th style='background-color: #899EF0'>Ort</th>
<th style='background-color: #899EF0'>s</th>
<th style='background-color: #899EF0'>Paid amount</th>
<th style='background-color: #899EF0'>Payment status</th>
<th style='background-color: #899EF0'>Payment commission</th>
<th style='background-color: #899EF0'>Payments with Rest</th>
<th style='background-color: #899EF0'>Payments Dates</th>
<th style='background-color: #FFFFFF'> </th>
</tr>
</thead>
                          <tbody><tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4300947</td>
<td style='background-color: #FFF300'>2023-06-06</td>
<td style='background-color: #FFF300'>V000057</td>
<td style='background-color: #FFF300'>5</td>
<td style='background-color: #FFF300'>-1.045</td>
<td style='background-color: #FFF300'>-20.9</td>
<td style='background-color: #FFF300'>K003280</td>
<td style='background-color: #FFF300'>NILSI EOOD</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>BG</td>
<td style='background-color: #FFF300'>7500</td>
<td style='background-color: #FFF300'>Silistra (BG)</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4301014</td>
<td style='background-color: #FFF300'>2023-06-15</td>
<td style='background-color: #FFF300'>V000057</td>
<td style='background-color: #FFF300'>5</td>
<td style='background-color: #FFF300'>-7.865</td>
<td style='background-color: #FFF300'>-157.3</td>
<td style='background-color: #FFF300'>K003280</td>
<td style='background-color: #FFF300'>NILSI EOOD</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>BG</td>
<td style='background-color: #FFF300'>7500</td>
<td style='background-color: #FFF300'>Silistra (BG)</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4301215</td>
<td style='background-color: #FFF300'>2023-07-12</td>
<td style='background-color: #FFF300'>V000057</td>
<td style='background-color: #FFF300'>5</td>
<td style='background-color: #FFF300'>-1.375</td>
<td style='background-color: #FFF300'>-27.5</td>
<td style='background-color: #FFF300'>K003280</td>
<td style='background-color: #FFF300'>NILSI EOOD</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>BG</td>
<td style='background-color: #FFF300'>7500</td>
<td style='background-color: #FFF300'>Silistra (BG)</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4301520</td>
<td style='background-color: #FFF300'>2023-09-07</td>
<td style='background-color: #FFF300'>V000057</td>
<td style='background-color: #FFF300'>5</td>
<td style='background-color: #FFF300'>-25.185</td>
<td style='background-color: #FFF300'>-503.7</td>
<td style='background-color: #FFF300'>K003280</td>
<td style='background-color: #FFF300'>NILSI EOOD</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>BG</td>
<td style='background-color: #FFF300'>7500</td>
<td style='background-color: #FFF300'>Silistra (BG)</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4301577</td>
<td style='background-color: #FFF300'>2023-09-19</td>
<td style='background-color: #FFF300'>V000057</td>
<td style='background-color: #FFF300'>5</td>
<td style='background-color: #FFF300'>-164.5755</td>
<td style='background-color: #FFF300'>-3291.51</td>
<td style='background-color: #FFF300'>K002943</td>
<td style='background-color: #FFF300'>D.D. & O Sh. P. K.</td>
<td style='background-color: #FFF300'>Business Nr. 70688689</td>
<td style='background-color: #FFF300'>KOS</td>
<td style='background-color: #FFF300'>10000</td>
<td style='background-color: #FFF300'>Prishtina - Republic of Kosovo</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4400047</td>
<td style='background-color: #FFF300'>2024-01-16</td>
<td style='background-color: #FFF300'>V000057</td>
<td style='background-color: #FFF300'>5</td>
<td style='background-color: #FFF300'>-2.71</td>
<td style='background-color: #FFF300'>-54.2</td>
<td style='background-color: #FFF300'>K003280</td>
<td style='background-color: #FFF300'>NILSI EOOD</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>BG</td>
<td style='background-color: #FFF300'>7500</td>
<td style='background-color: #FFF300'>Silistra (BG)</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4400048</td>
<td style='background-color: #00FF00'>2024-01-16</td>
<td style='background-color: #00FF00'>V000057</td>
<td style='background-color: #00FF00'>5</td>
<td style='background-color: #00FF00'>428.954</td>
<td style='background-color: #00FF00'>8579.08</td>
<td style='background-color: #00FF00'>K002943</td>
<td style='background-color: #00FF00'>D.D. & O Sh. P. K.</td>
<td style='background-color: #00FF00'>Business Nr. 70688689</td>
<td style='background-color: #00FF00'>KOS</td>
<td style='background-color: #00FF00'>10000</td>
<td style='background-color: #00FF00'>Prishtina - Republic of Kosovo</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>7151.3</td>
<td style='background-color: #00FF00'>PARTIALLY PAID</td>
<td style='background-color: #FFFFFF'>357.6</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>05.03.2024,  7151.3</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4400049</td>
<td style='background-color: #00FF00'>2024-01-16</td>
<td style='background-color: #00FF00'>V000057</td>
<td style='background-color: #00FF00'>5</td>
<td style='background-color: #00FF00'>420.755</td>
<td style='background-color: #00FF00'>8415.1</td>
<td style='background-color: #00FF00'>K002943</td>
<td style='background-color: #00FF00'>D.D. & O Sh. P. K.</td>
<td style='background-color: #00FF00'>Business Nr. 70688689</td>
<td style='background-color: #00FF00'>KOS</td>
<td style='background-color: #00FF00'>10000</td>
<td style='background-color: #00FF00'>Prishtina - Republic of Kosovo</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>8415.1</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>420.8</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>05.03.2024,  8415.1</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4400050</td>
<td style='background-color: #00FF00'>2024-01-16</td>
<td style='background-color: #00FF00'>V000057</td>
<td style='background-color: #00FF00'>5</td>
<td style='background-color: #00FF00'>637.0975</td>
<td style='background-color: #00FF00'>12741.95</td>
<td style='background-color: #00FF00'>K002943</td>
<td style='background-color: #00FF00'>D.D. & O Sh. P. K.</td>
<td style='background-color: #00FF00'>Business Nr. 70688689</td>
<td style='background-color: #00FF00'>KOS</td>
<td style='background-color: #00FF00'>10000</td>
<td style='background-color: #00FF00'>Prishtina - Republic of Kosovo</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>12742</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>637.1</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>05.03.2024,  12742.0</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4400051</td>
<td style='background-color: #00FF00'>2024-01-16</td>
<td style='background-color: #00FF00'>V000057</td>
<td style='background-color: #00FF00'>5</td>
<td style='background-color: #00FF00'>151.603</td>
<td style='background-color: #00FF00'>3032.06</td>
<td style='background-color: #00FF00'>K002943</td>
<td style='background-color: #00FF00'>D.D. & O Sh. P. K.</td>
<td style='background-color: #00FF00'>Business Nr. 70688689</td>
<td style='background-color: #00FF00'>KOS</td>
<td style='background-color: #00FF00'>10000</td>
<td style='background-color: #00FF00'>Prishtina - Republic of Kosovo</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>3032.1</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>151.6</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>05.03.2024,  3032.1</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4400060</td>
<td style='background-color: #00FF00'>2024-01-17</td>
<td style='background-color: #00FF00'>V000057</td>
<td style='background-color: #00FF00'>5</td>
<td style='background-color: #00FF00'>45</td>
<td style='background-color: #00FF00'>900</td>
<td style='background-color: #00FF00'>K002943</td>
<td style='background-color: #00FF00'>D.D. & O Sh. P. K.</td>
<td style='background-color: #00FF00'>Business Nr. 70688689</td>
<td style='background-color: #00FF00'>KOS</td>
<td style='background-color: #00FF00'>10000</td>
<td style='background-color: #00FF00'>Prishtina - Republic of Kosovo</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>900</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>45</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>05.03.2024,  900.0</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4400211</td>
<td style='background-color: #00FF00'>2024-02-07</td>
<td style='background-color: #00FF00'>V000057</td>
<td style='background-color: #00FF00'>5</td>
<td style='background-color: #00FF00'>61.46</td>
<td style='background-color: #00FF00'>1229.2</td>
<td style='background-color: #00FF00'>K002943</td>
<td style='background-color: #00FF00'>D.D. & O Sh. P. K.</td>
<td style='background-color: #00FF00'>Business Nr. 70688689</td>
<td style='background-color: #00FF00'>KOS</td>
<td style='background-color: #00FF00'>10000</td>
<td style='background-color: #00FF00'>Prishtina - Republic of Kosovo</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>1229.2</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>61.5</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>05.03.2024,  1229.2</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4400263</td>
<td style='background-color: #00FF00'>2024-02-19</td>
<td style='background-color: #00FF00'>V000057</td>
<td style='background-color: #00FF00'>5</td>
<td style='background-color: #00FF00'>224.1</td>
<td style='background-color: #00FF00'>4482</td>
<td style='background-color: #00FF00'>K002943</td>
<td style='background-color: #00FF00'>D.D. & O Sh. P. K.</td>
<td style='background-color: #00FF00'>Business Nr. 70688689</td>
<td style='background-color: #00FF00'>KOS</td>
<td style='background-color: #00FF00'>10000</td>
<td style='background-color: #00FF00'>Prishtina - Republic of Kosovo</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>1427.8</td>
<td style='background-color: #00FF00'>PARTIALLY PAID</td>
<td style='background-color: #FFFFFF'>71.4</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>05.03.2024,  1427.8</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4400317</td>
<td style='background-color: #FFF300'>2024-02-29</td>
<td style='background-color: #FFF300'>V000057</td>
<td style='background-color: #FFF300'>5</td>
<td style='background-color: #FFF300'>-1.915</td>
<td style='background-color: #FFF300'>-38.3</td>
<td style='background-color: #FFF300'>K003280</td>
<td style='background-color: #FFF300'>NILSI EOOD</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>BG</td>
<td style='background-color: #FFF300'>7500</td>
<td style='background-color: #FFF300'>Silistra (BG)</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4400348</td>
<td style='background-color: #00FF00'>2024-03-06</td>
<td style='background-color: #00FF00'>V000057</td>
<td style='background-color: #00FF00'>8</td>
<td style='background-color: #00FF00'>1929.6096</td>
<td style='background-color: #00FF00'>24120.12</td>
<td style='background-color: #00FF00'>K002798</td>
<td style='background-color: #00FF00'>Crystal Time d.o.o</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>SRB</td>
<td style='background-color: #00FF00'>11070</td>
<td style='background-color: #00FF00'>Belgrade</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>11531.4</td>
<td style='background-color: #00FF00'>PARTIALLY PAID</td>
<td style='background-color: #FFFFFF'>922.5</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>12.03.2024,  11531.4</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4400352</td>
<td style='background-color: #00FF00'>2024-03-06</td>
<td style='background-color: #00FF00'>V000057</td>
<td style='background-color: #00FF00'>8</td>
<td style='background-color: #00FF00'>54.056</td>
<td style='background-color: #00FF00'>675.7</td>
<td style='background-color: #00FF00'>K002798</td>
<td style='background-color: #00FF00'>Crystal Time d.o.o</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>SRB</td>
<td style='background-color: #00FF00'>11070</td>
<td style='background-color: #00FF00'>Belgrade</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>675.7</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>54.1</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>12.03.2024,  675.7</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4400364</td>
<td style='background-color: #00FF00'>2024-03-07</td>
<td style='background-color: #00FF00'>V000057</td>
<td style='background-color: #00FF00'>8</td>
<td style='background-color: #00FF00'>30.5512</td>
<td style='background-color: #00FF00'>381.89</td>
<td style='background-color: #00FF00'>K002798</td>
<td style='background-color: #00FF00'>Crystal Time d.o.o</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>SRB</td>
<td style='background-color: #00FF00'>11070</td>
<td style='background-color: #00FF00'>Belgrade</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>381.9</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>30.6</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>12.03.2024,  381.9</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4400369</td>
<td style='background-color: #00FF00'>2024-03-08</td>
<td style='background-color: #00FF00'>V000057</td>
<td style='background-color: #00FF00'>5</td>
<td style='background-color: #00FF00'>28.625</td>
<td style='background-color: #00FF00'>572.5</td>
<td style='background-color: #00FF00'>K004016</td>
<td style='background-color: #00FF00'>Klaus Kalke</td>
<td style='background-color: #00FF00'>Village Gallery</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>1030</td>
<td style='background-color: #00FF00'>Wien</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>687</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>34.4</td>
<td style='background-color: #FFFFFF'>19.03.2024,  114</td>
<td style='background-color: #FFFFFF'>19.03.2024,  666.4</td>
<td style='background-color: #FFFFFF'>19.03.2024,  20.6</td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4400449</td>
<td style='background-color: #FFF300'>2024-03-20</td>
<td style='background-color: #FFF300'>V000057</td>
<td style='background-color: #FFF300'>5</td>
<td style='background-color: #FFF300'>-2.15</td>
<td style='background-color: #FFF300'>-43</td>
<td style='background-color: #FFF300'>K003280</td>
<td style='background-color: #FFF300'>NILSI EOOD</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>BG</td>
<td style='background-color: #FFF300'>7500</td>
<td style='background-color: #FFF300'>Silistra (BG)</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4400537</td>
<td style='background-color: #FFF300'>2024-04-03</td>
<td style='background-color: #FFF300'>V000057</td>
<td style='background-color: #FFF300'>5</td>
<td style='background-color: #FFF300'>-224.1</td>
<td style='background-color: #FFF300'>-4482</td>
<td style='background-color: #FFF300'>K002943</td>
<td style='background-color: #FFF300'>D.D. & O Sh. P. K.</td>
<td style='background-color: #FFF300'>Business Nr. 70688689</td>
<td style='background-color: #FFF300'>KOS</td>
<td style='background-color: #FFF300'>10000</td>
<td style='background-color: #FFF300'>Prishtina - Republic of Kosovo</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>All paid amount</td>
<td style='background-color: #90EE90'>48173.5</td>
<td style='background-color: #FFFFFF'>All comissions</td>
<td style='background-color: #90EE90'>2786.35</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
 </tbody>
                    </table>
                    {% endblock %}