{%extends 'base.html'%}
                            {% block content %}     
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--<link rel="stylesheet" type="text/css" href="normas.css">-->
    <style>
        body{
            background-color: #d6e1f8;

        }
        th, td {
            border: 1px solid #ccc;

            text-align: center;
        }

        table {

            border-collapse: collapse !important; /* optional: collapse the table borders */
        }

        table tr {
            background-color: #8BC34A !important; /* Set background color of all rows */
        }

        table tr:hover td {
            background-color: #2196F3 !important; /* Set background color of cells when hovered */
        }

    </style>
                     <table border="1" class="dataframe" style="width:100%;">
                                 <thead>
                                     <tr style="text-align: right;">
<th style='background-color: #899EF0'>RK</th>
<th style='background-color: #899EF0'>GF-Nr</th>
<th style='background-color: #899EF0'>Datum</th>
<th style='background-color: #899EF0'>Vertreter</th>
<th style='background-color: #899EF0'>ProvProz</th>
<th style='background-color: #899EF0'>Provision</th>
<th style='background-color: #899EF0'>Summe</th>
<th style='background-color: #899EF0'>Lieferant</th>
<th style='background-color: #899EF0'>Lieferantenname</th>
<th style='background-color: #899EF0'>Name2</th>
<th style='background-color: #899EF0'>IntKz</th>
<th style='background-color: #899EF0'>PLZ Neu</th>
<th style='background-color: #899EF0'>Ort</th>
<th style='background-color: #899EF0'>s</th>
<th style='background-color: #899EF0'>Paid amount</th>
<th style='background-color: #899EF0'>Payment status</th>
<th style='background-color: #899EF0'>Payment commission</th>
<th style='background-color: #899EF0'>Payments with Rest</th>
<th style='background-color: #899EF0'>Payments Dates</th>
<th style='background-color: #FFFFFF'> </th>
<th style='background-color: #FFFFFF'> </th>
<th style='background-color: #FFFFFF'> </th>
</tr>
</thead>
                          <tbody><tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300120</td>
<td style='background-color: #00FF00'>2023-01-30 00:00:00</td>
<td style='background-color: #00FF00'>V000182</td>
<td style='background-color: #00FF00'>10</td>
<td style='background-color: #00FF00'>143.95</td>
<td style='background-color: #00FF00'>1439.5</td>
<td style='background-color: #00FF00'>K003577</td>
<td style='background-color: #00FF00'>Concepcion Durendez Soria</td>
<td style='background-color: #00FF00'>"SERGE"</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>03181</td>
<td style='background-color: #00FF00'>Torrevieja, Alicante</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>1439.5</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>144</td>
<td style='background-color: #FFFFFF'>02.05.2023,  4318</td>
<td style='background-color: #FFFFFF'>30.03.2023,  1439.5</td>
<td style='background-color: #FFFFFF'>14.04.2023,  1439.5</td>
<td style='background-color: #FFFFFF'>13.07.2023,  1439.5</td>
<td style='background-color: #FFFFFF'>02.05.2023,  1439.5</td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300121</td>
<td style='background-color: #00FF00'>2023-01-30 00:00:00</td>
<td style='background-color: #00FF00'>V000182</td>
<td style='background-color: #00FF00'>10</td>
<td style='background-color: #00FF00'>67.56</td>
<td style='background-color: #00FF00'>675.6</td>
<td style='background-color: #00FF00'>K001626</td>
<td style='background-color: #00FF00'>Cristaleria Rovira</td>
<td style='background-color: #00FF00'>Cristaleria Rovira, S.L.</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>12100</td>
<td style='background-color: #00FF00'>Grao de Castellón, Castellón</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>675.6</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>67.6</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>30.03.2023,  675.6</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300188</td>
<td style='background-color: #00FF00'>2023-02-10 00:00:00</td>
<td style='background-color: #00FF00'>V000182</td>
<td style='background-color: #00FF00'>10</td>
<td style='background-color: #00FF00'>158.94</td>
<td style='background-color: #00FF00'>1589.4</td>
<td style='background-color: #00FF00'>K003436</td>
<td style='background-color: #00FF00'>Berenguer Mayor, Javier</td>
<td style='background-color: #00FF00'>Tienda "Porcepell"</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>03503</td>
<td style='background-color: #00FF00'>Benidorm, Alicante</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>1589.4</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>158.9</td>
<td style='background-color: #FFFFFF'>14.04.2023,  318</td>
<td style='background-color: #FFFFFF'>14.04.2023,  1907.3</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4300313</td>
<td style='background-color: #FFF300'>2023-03-02 00:00:00</td>
<td style='background-color: #FFF300'>V000182</td>
<td style='background-color: #FFF300'>10</td>
<td style='background-color: #FFF300'>-62.8</td>
<td style='background-color: #FFF300'>-628</td>
<td style='background-color: #FFF300'>K003436</td>
<td style='background-color: #FFF300'>Berenguer Mayor, Javier</td>
<td style='background-color: #FFF300'>Tienda "Porcepell"</td>
<td style='background-color: #FFF300'>ES</td>
<td style='background-color: #FFF300'>03503</td>
<td style='background-color: #FFF300'>Benidorm, Alicante</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300344</td>
<td style='background-color: #00FF00'>2023-03-08 00:00:00</td>
<td style='background-color: #00FF00'>V000182</td>
<td style='background-color: #00FF00'>10</td>
<td style='background-color: #00FF00'>106.09</td>
<td style='background-color: #00FF00'>1060.9</td>
<td style='background-color: #00FF00'>K003436</td>
<td style='background-color: #00FF00'>Berenguer Mayor, Javier</td>
<td style='background-color: #00FF00'>Tienda "Porcepell"</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>03503</td>
<td style='background-color: #00FF00'>Benidorm, Alicante</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>1060.9</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>106.1</td>
<td style='background-color: #FFFFFF'>15.05.2023,  180</td>
<td style='background-color: #FFFFFF'>15.05.2023,  1240.7</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300451</td>
<td style='background-color: #00FF00'>2023-03-30 00:00:00</td>
<td style='background-color: #00FF00'>V000182</td>
<td style='background-color: #00FF00'>10</td>
<td style='background-color: #00FF00'>244.47</td>
<td style='background-color: #00FF00'>2444.7</td>
<td style='background-color: #00FF00'>K002203</td>
<td style='background-color: #00FF00'>Selecciones Santacreu S.L.</td>
<td style='background-color: #00FF00'>B-54063219</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>03517</td>
<td style='background-color: #00FF00'>Castell de Guadalest - Alicante</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>2444.7</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>244.5</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>02.05.2023,  1222.3</td>
<td style='background-color: #FFFFFF'>31.05.2023,  1222.3</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300576</td>
<td style='background-color: #00FF00'>2023-04-17 00:00:00</td>
<td style='background-color: #00FF00'>V000182</td>
<td style='background-color: #00FF00'>10</td>
<td style='background-color: #00FF00'>176.54</td>
<td style='background-color: #00FF00'>1765.4</td>
<td style='background-color: #00FF00'>K006043</td>
<td style='background-color: #00FF00'>Boutique21</td>
<td style='background-color: #00FF00'>Pina López, Ma Eugenia</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>03590</td>
<td style='background-color: #00FF00'>Altea</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>1765.4</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>176.5</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>31.05.2023,  588.5</td>
<td style='background-color: #FFFFFF'>30.06.2023,  588.5</td>
<td style='background-color: #FFFFFF'>31.07.2023,  588.5</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300627</td>
<td style='background-color: #00FF00'>2023-04-25 00:00:00</td>
<td style='background-color: #00FF00'>V000182</td>
<td style='background-color: #00FF00'>10</td>
<td style='background-color: #00FF00'>41.58</td>
<td style='background-color: #00FF00'>415.8</td>
<td style='background-color: #00FF00'>K006043</td>
<td style='background-color: #00FF00'>Boutique21</td>
<td style='background-color: #00FF00'>Pina López, Ma Eugenia</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>03590</td>
<td style='background-color: #00FF00'>Altea</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>415.8</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>41.6</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>31.05.2023,  207.9</td>
<td style='background-color: #FFFFFF'>30.06.2023,  207.9</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300725</td>
<td style='background-color: #00FF00'>2023-05-10 00:00:00</td>
<td style='background-color: #00FF00'>V000182</td>
<td style='background-color: #00FF00'>10</td>
<td style='background-color: #00FF00'>228.653</td>
<td style='background-color: #00FF00'>2286.53</td>
<td style='background-color: #00FF00'>K005059</td>
<td style='background-color: #00FF00'>Joyería Argenta</td>
<td style='background-color: #00FF00'>ARGENTA, C.B</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>03710</td>
<td style='background-color: #00FF00'>Calpe - Alicante</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>2286.53</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>228.7</td>
<td style='background-color: #FFFFFF'>20.07.2023,  2357</td>
<td style='background-color: #FFFFFF'>21.06.2023,  2286.5</td>
<td style='background-color: #FFFFFF'>21.06.2023,  70.7</td>
<td style='background-color: #FFFFFF'>20.07.2023,  2286.5</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300742</td>
<td style='background-color: #00FF00'>2023-05-11 00:00:00</td>
<td style='background-color: #00FF00'>V000182</td>
<td style='background-color: #00FF00'>10</td>
<td style='background-color: #00FF00'>89.09</td>
<td style='background-color: #00FF00'>890.9</td>
<td style='background-color: #00FF00'>K003436</td>
<td style='background-color: #00FF00'>Berenguer Mayor, Javier</td>
<td style='background-color: #00FF00'>Tienda "Porcepell"</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>03503</td>
<td style='background-color: #00FF00'>Benidorm, Alicante</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>890.9</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>89.1</td>
<td style='background-color: #FFFFFF'>14.07.2023,  178</td>
<td style='background-color: #FFFFFF'>14.07.2023,  1069.1</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300754</td>
<td style='background-color: #00FF00'>2023-05-11 00:00:00</td>
<td style='background-color: #00FF00'>V000182</td>
<td style='background-color: #00FF00'>10</td>
<td style='background-color: #00FF00'>31.15</td>
<td style='background-color: #00FF00'>311.5</td>
<td style='background-color: #00FF00'>K002203</td>
<td style='background-color: #00FF00'>Selecciones Santacreu S.L.</td>
<td style='background-color: #00FF00'>B-54063219</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>03517</td>
<td style='background-color: #00FF00'>Castell de Guadalest - Alicante</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>311.5</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>31.2</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>15.06.2023,  155.8</td>
<td style='background-color: #FFFFFF'>14.07.2023,  155.8</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300755</td>
<td style='background-color: #00FF00'>2023-05-11 00:00:00</td>
<td style='background-color: #00FF00'>V000182</td>
<td style='background-color: #00FF00'>10</td>
<td style='background-color: #00FF00'>153.73</td>
<td style='background-color: #00FF00'>1537.3</td>
<td style='background-color: #00FF00'>K002203</td>
<td style='background-color: #00FF00'>Selecciones Santacreu S.L.</td>
<td style='background-color: #00FF00'>B-54063219</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>03517</td>
<td style='background-color: #00FF00'>Castell de Guadalest - Alicante</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>1537.3</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>153.7</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>15.06.2023,  768.6</td>
<td style='background-color: #FFFFFF'>14.07.2023,  768.6</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300875</td>
<td style='background-color: #00FF00'>2023-05-31 00:00:00</td>
<td style='background-color: #00FF00'>V000182</td>
<td style='background-color: #00FF00'>10</td>
<td style='background-color: #00FF00'>87.01</td>
<td style='background-color: #00FF00'>870.1</td>
<td style='background-color: #00FF00'>K003436</td>
<td style='background-color: #00FF00'>Berenguer Mayor, Javier</td>
<td style='background-color: #00FF00'>Tienda "Porcepell"</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>03503</td>
<td style='background-color: #00FF00'>Benidorm, Alicante</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>870.1</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>87</td>
<td style='background-color: #FFFFFF'>31.07.2023,  174</td>
<td style='background-color: #FFFFFF'>31.07.2023,  1044.1</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300891</td>
<td style='background-color: #00FF00'>2023-05-31 00:00:00</td>
<td style='background-color: #00FF00'>V000182</td>
<td style='background-color: #00FF00'>10</td>
<td style='background-color: #00FF00'>176.32</td>
<td style='background-color: #00FF00'>1763.2</td>
<td style='background-color: #00FF00'>K003436</td>
<td style='background-color: #00FF00'>Berenguer Mayor, Javier</td>
<td style='background-color: #00FF00'>Tienda "Porcepell"</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>03503</td>
<td style='background-color: #00FF00'>Benidorm, Alicante</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>1763.2</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>176.3</td>
<td style='background-color: #FFFFFF'>31.07.2023,  353</td>
<td style='background-color: #FFFFFF'>31.07.2023,  2115.8</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4301082</td>
<td style='background-color: #00FF00'>2023-06-26 00:00:00</td>
<td style='background-color: #00FF00'>V000182</td>
<td style='background-color: #00FF00'>10</td>
<td style='background-color: #00FF00'>90.36</td>
<td style='background-color: #00FF00'>903.6</td>
<td style='background-color: #00FF00'>K003436</td>
<td style='background-color: #00FF00'>Berenguer Mayor, Javier</td>
<td style='background-color: #00FF00'>Tienda "Porcepell"</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>03503</td>
<td style='background-color: #00FF00'>Benidorm, Alicante</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>903.6</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>90.4</td>
<td style='background-color: #FFFFFF'>15.09.2023,  181</td>
<td style='background-color: #FFFFFF'>15.09.2023,  1084.3</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4301118</td>
<td style='background-color: #FFF300'>2023-06-28 00:00:00</td>
<td style='background-color: #FFF300'>V000182</td>
<td style='background-color: #FFF300'>10</td>
<td style='background-color: #FFF300'>-16.58</td>
<td style='background-color: #FFF300'>-165.8</td>
<td style='background-color: #FFF300'>K006043</td>
<td style='background-color: #FFF300'>Boutique21</td>
<td style='background-color: #FFF300'>Pina López, Ma Eugenia</td>
<td style='background-color: #FFF300'>ES</td>
<td style='background-color: #FFF300'>03590</td>
<td style='background-color: #FFF300'>Altea</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4301120</td>
<td style='background-color: #FFF300'>2023-06-28 00:00:00</td>
<td style='background-color: #FFF300'>V000182</td>
<td style='background-color: #FFF300'>10</td>
<td style='background-color: #FFF300'>-3.29</td>
<td style='background-color: #FFF300'>-32.9</td>
<td style='background-color: #FFF300'>K002203</td>
<td style='background-color: #FFF300'>Selecciones Santacreu S.L.</td>
<td style='background-color: #FFF300'>B-54063219</td>
<td style='background-color: #FFF300'>ES</td>
<td style='background-color: #FFF300'>03517</td>
<td style='background-color: #FFF300'>Castell de Guadalest - Alicante</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4301125</td>
<td style='background-color: #00FF00'>2023-06-28 00:00:00</td>
<td style='background-color: #00FF00'>V000182</td>
<td style='background-color: #00FF00'>10</td>
<td style='background-color: #00FF00'>65.23</td>
<td style='background-color: #00FF00'>652.3</td>
<td style='background-color: #00FF00'>K006043</td>
<td style='background-color: #00FF00'>Boutique21</td>
<td style='background-color: #00FF00'>Pina López, Ma Eugenia</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>03590</td>
<td style='background-color: #00FF00'>Altea</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>652.3</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>65.2</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>31.07.2023,  217.4</td>
<td style='background-color: #FFFFFF'>31.08.2023,  217.4</td>
<td style='background-color: #FFFFFF'>02.10.2023,  217.4</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4301176</td>
<td style='background-color: #00FF00'>2023-07-05 00:00:00</td>
<td style='background-color: #00FF00'>V000182</td>
<td style='background-color: #00FF00'>10</td>
<td style='background-color: #00FF00'>25.09</td>
<td style='background-color: #00FF00'>250.9</td>
<td style='background-color: #00FF00'>K003436</td>
<td style='background-color: #00FF00'>Berenguer Mayor, Javier</td>
<td style='background-color: #00FF00'>Tienda "Porcepell"</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>03503</td>
<td style='background-color: #00FF00'>Benidorm, Alicante</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>250.9</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>25.1</td>
<td style='background-color: #FFFFFF'>15.09.2023,  50</td>
<td style='background-color: #FFFFFF'>15.09.2023,  301.1</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4301252</td>
<td style='background-color: #FFFFFF'>2023-07-19 00:00:00</td>
<td style='background-color: #FFFFFF'>V000182</td>
<td style='background-color: #FFFFFF'>10</td>
<td style='background-color: #FFFFFF'>123.74</td>
<td style='background-color: #FFFFFF'>1237.4</td>
<td style='background-color: #FFFFFF'>K003577</td>
<td style='background-color: #FFFFFF'>Concepcion Durendez Soria</td>
<td style='background-color: #FFFFFF'>"SERGE"</td>
<td style='background-color: #FFFFFF'>ES</td>
<td style='background-color: #FFFFFF'>03181</td>
<td style='background-color: #FFFFFF'>Torrevieja, Alicante</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4301409</td>
<td style='background-color: #FFFFFF'>2023-08-16 00:00:00</td>
<td style='background-color: #FFFFFF'>V000182</td>
<td style='background-color: #FFFFFF'>10</td>
<td style='background-color: #FFFFFF'>107.23</td>
<td style='background-color: #FFFFFF'>1072.3</td>
<td style='background-color: #FFFFFF'>K003577</td>
<td style='background-color: #FFFFFF'>Concepcion Durendez Soria</td>
<td style='background-color: #FFFFFF'>"SERGE"</td>
<td style='background-color: #FFFFFF'>ES</td>
<td style='background-color: #FFFFFF'>03181</td>
<td style='background-color: #FFFFFF'>Torrevieja, Alicante</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4301417</td>
<td style='background-color: #FFFFFF'>2023-08-18 00:00:00</td>
<td style='background-color: #FFFFFF'>V000182</td>
<td style='background-color: #FFFFFF'>10</td>
<td style='background-color: #FFFFFF'>20.44</td>
<td style='background-color: #FFFFFF'>204.4</td>
<td style='background-color: #FFFFFF'>K003577</td>
<td style='background-color: #FFFFFF'>Concepcion Durendez Soria</td>
<td style='background-color: #FFFFFF'>"SERGE"</td>
<td style='background-color: #FFFFFF'>ES</td>
<td style='background-color: #FFFFFF'>03181</td>
<td style='background-color: #FFFFFF'>Torrevieja, Alicante</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4301421</td>
<td style='background-color: #00FF00'>2023-08-18 00:00:00</td>
<td style='background-color: #00FF00'>V000182</td>
<td style='background-color: #00FF00'>10</td>
<td style='background-color: #00FF00'>61.382</td>
<td style='background-color: #00FF00'>613.82</td>
<td style='background-color: #00FF00'>K005059</td>
<td style='background-color: #00FF00'>Joyería Argenta</td>
<td style='background-color: #00FF00'>ARGENTA, C.B</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>03710</td>
<td style='background-color: #00FF00'>Calpe - Alicante</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>613.82</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>61.4</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>31.08.2023,  613.8</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4301426</td>
<td style='background-color: #00FF00'>2023-08-21 00:00:00</td>
<td style='background-color: #00FF00'>V000182</td>
<td style='background-color: #00FF00'>10</td>
<td style='background-color: #00FF00'>69.345</td>
<td style='background-color: #00FF00'>693.45</td>
<td style='background-color: #00FF00'>K005059</td>
<td style='background-color: #00FF00'>Joyería Argenta</td>
<td style='background-color: #00FF00'>ARGENTA, C.B</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>03710</td>
<td style='background-color: #00FF00'>Calpe - Alicante</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>693.45</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>69.3</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>02.10.2023,  693.5</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4301436</td>
<td style='background-color: #FFFFFF'>2023-08-23 00:00:00</td>
<td style='background-color: #FFFFFF'>V000182</td>
<td style='background-color: #FFFFFF'>10</td>
<td style='background-color: #FFFFFF'>111.56</td>
<td style='background-color: #FFFFFF'>1115.6</td>
<td style='background-color: #FFFFFF'>K003577</td>
<td style='background-color: #FFFFFF'>Concepcion Durendez Soria</td>
<td style='background-color: #FFFFFF'>"SERGE"</td>
<td style='background-color: #FFFFFF'>ES</td>
<td style='background-color: #FFFFFF'>03181</td>
<td style='background-color: #FFFFFF'>Torrevieja, Alicante</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4301460</td>
<td style='background-color: #FFFFFF'>2023-08-28 00:00:00</td>
<td style='background-color: #FFFFFF'>V000182</td>
<td style='background-color: #FFFFFF'>10</td>
<td style='background-color: #FFFFFF'>41.4</td>
<td style='background-color: #FFFFFF'>414</td>
<td style='background-color: #FFFFFF'>K003577</td>
<td style='background-color: #FFFFFF'>Concepcion Durendez Soria</td>
<td style='background-color: #FFFFFF'>"SERGE"</td>
<td style='background-color: #FFFFFF'>ES</td>
<td style='background-color: #FFFFFF'>03181</td>
<td style='background-color: #FFFFFF'>Torrevieja, Alicante</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4301582</td>
<td style='background-color: #FFFFFF'>2023-09-20 00:00:00</td>
<td style='background-color: #FFFFFF'>V000182</td>
<td style='background-color: #FFFFFF'>10</td>
<td style='background-color: #FFFFFF'>20.5</td>
<td style='background-color: #FFFFFF'>205</td>
<td style='background-color: #FFFFFF'>K003577</td>
<td style='background-color: #FFFFFF'>Concepcion Durendez Soria</td>
<td style='background-color: #FFFFFF'>"SERGE"</td>
<td style='background-color: #FFFFFF'>ES</td>
<td style='background-color: #FFFFFF'>03181</td>
<td style='background-color: #FFFFFF'>Torrevieja, Alicante</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4301652</td>
<td style='background-color: #00FF00'>2023-09-27 00:00:00</td>
<td style='background-color: #00FF00'>V000182</td>
<td style='background-color: #00FF00'>10</td>
<td style='background-color: #00FF00'>81.554</td>
<td style='background-color: #00FF00'>815.54</td>
<td style='background-color: #00FF00'>K005059</td>
<td style='background-color: #00FF00'>Joyería Argenta</td>
<td style='background-color: #00FF00'>ARGENTA, C.B</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>03710</td>
<td style='background-color: #00FF00'>Calpe - Alicante</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>815.54</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>81.6</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>30.10.2023,  815.5</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4301717</td>
<td style='background-color: #FFFFFF'>2023-10-06 00:00:00</td>
<td style='background-color: #FFFFFF'>V000182</td>
<td style='background-color: #FFFFFF'>10</td>
<td style='background-color: #FFFFFF'>45.78</td>
<td style='background-color: #FFFFFF'>457.8</td>
<td style='background-color: #FFFFFF'>K003436</td>
<td style='background-color: #FFFFFF'>Berenguer Mayor, Javier</td>
<td style='background-color: #FFFFFF'>Tienda "Porcepell"</td>
<td style='background-color: #FFFFFF'>ES</td>
<td style='background-color: #FFFFFF'>03503</td>
<td style='background-color: #FFFFFF'>Benidorm, Alicante</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4301764</td>
<td style='background-color: #FFF300'>2023-10-13 00:00:00</td>
<td style='background-color: #FFF300'>V000182</td>
<td style='background-color: #FFF300'>10</td>
<td style='background-color: #FFF300'>-33.3</td>
<td style='background-color: #FFF300'>-333</td>
<td style='background-color: #FFF300'>K003436</td>
<td style='background-color: #FFF300'>Berenguer Mayor, Javier</td>
<td style='background-color: #FFF300'>Tienda "Porcepell"</td>
<td style='background-color: #FFF300'>ES</td>
<td style='background-color: #FFF300'>03503</td>
<td style='background-color: #FFF300'>Benidorm, Alicante</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4301785</td>
<td style='background-color: #FFF300'>2023-10-17 00:00:00</td>
<td style='background-color: #FFF300'>V000182</td>
<td style='background-color: #FFF300'>10</td>
<td style='background-color: #FFF300'>-69.345</td>
<td style='background-color: #FFF300'>-693.45</td>
<td style='background-color: #FFF300'>K005059</td>
<td style='background-color: #FFF300'>Joyería Argenta</td>
<td style='background-color: #FFF300'>ARGENTA, C.B</td>
<td style='background-color: #FFF300'>ES</td>
<td style='background-color: #FFF300'>03710</td>
<td style='background-color: #FFF300'>Calpe - Alicante</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4301826</td>
<td style='background-color: #FFFFFF'>2023-10-25 00:00:00</td>
<td style='background-color: #FFFFFF'>V000182</td>
<td style='background-color: #FFFFFF'>10</td>
<td style='background-color: #FFFFFF'>59.14</td>
<td style='background-color: #FFFFFF'>591.4</td>
<td style='background-color: #FFFFFF'>K003436</td>
<td style='background-color: #FFFFFF'>Berenguer Mayor, Javier</td>
<td style='background-color: #FFFFFF'>Tienda "Porcepell"</td>
<td style='background-color: #FFFFFF'>ES</td>
<td style='background-color: #FFFFFF'>03503</td>
<td style='background-color: #FFFFFF'>Benidorm, Alicante</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4301827</td>
<td style='background-color: #FFFFFF'>2023-10-25 00:00:00</td>
<td style='background-color: #FFFFFF'>V000182</td>
<td style='background-color: #FFFFFF'>10</td>
<td style='background-color: #FFFFFF'>33.296</td>
<td style='background-color: #FFFFFF'>332.96</td>
<td style='background-color: #FFFFFF'>K005059</td>
<td style='background-color: #FFFFFF'>Joyería Argenta</td>
<td style='background-color: #FFFFFF'>ARGENTA, C.B</td>
<td style='background-color: #FFFFFF'>ES</td>
<td style='background-color: #FFFFFF'>03710</td>
<td style='background-color: #FFFFFF'>Calpe - Alicante</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4301828</td>
<td style='background-color: #FFFFFF'>2023-10-25 00:00:00</td>
<td style='background-color: #FFFFFF'>V000182</td>
<td style='background-color: #FFFFFF'>10</td>
<td style='background-color: #FFFFFF'>34.45</td>
<td style='background-color: #FFFFFF'>344.5</td>
<td style='background-color: #FFFFFF'>K001626</td>
<td style='background-color: #FFFFFF'>Cristaleria Rovira</td>
<td style='background-color: #FFFFFF'>Cristaleria Rovira, S.L.</td>
<td style='background-color: #FFFFFF'>ES</td>
<td style='background-color: #FFFFFF'>12100</td>
<td style='background-color: #FFFFFF'>Grao de Castellón, Castellón</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>All paid amount</td>
<td style='background-color: #90EE90'>29089.4</td>
<td style='background-color: #FFFFFF'>All comissions</td>
<td style='background-color: #90EE90'>2908.94</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
 </tbody>
                    </table>
                    {% endblock %}