<meta charset="utf-8">
                 <table border="1" class="dataframe">
                             <thead>
                                 <tr style="text-align: right;">
<th style='background-color: #B0CBF0'>RK</th>
<th style='background-color: #B0CBF0'>GF-Nr</th>
<th style='background-color: #B0CBF0'>Datum</th>
<th style='background-color: #B0CBF0'>Vertreter</th>
<th style='background-color: #B0CBF0'>ProvProz</th>
<th style='background-color: #B0CBF0'>Provision</th>
<th style='background-color: #B0CBF0'>Summe</th>
<th style='background-color: #B0CBF0'>Lieferant</th>
<th style='background-color: #B0CBF0'>Lieferantenname</th>
<th style='background-color: #B0CBF0'>Name2</th>
<th style='background-color: #B0CBF0'>IntKz</th>
<th style='background-color: #B0CBF0'>PLZ Neu</th>
<th style='background-color: #B0CBF0'>Ort</th>
<th style='background-color: #FFFFFF'> </th>
<th style='background-color: #899EF0'>Paid amount</th>
<th style='background-color: #899EF0'>Payment status</th>
<th style='background-color: #899EF0'>Payment commission</th>
<th style='background-color: #899EF0'>Payments with Rest</th>
<th style='background-color: #899EF0'>Payments Dates</th>
<th style='background-color: #FFFFFF'> </th>
</tr>
</thead>
                  <tbody><tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4200004</td>
<td style='background-color: #FFFFFF'>2022-01-03 00:00:00</td>
<td style='background-color: #FFFFFF'>V000155</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>46.102</td>
<td style='background-color: #FFFFFF'>329.3</td>
<td style='background-color: #FFFFFF'>K001534</td>
<td style='background-color: #FFFFFF'>Giovannetti Stefano</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>56030</td>
<td style='background-color: #FFFFFF'>La Rosa Terricciola (PI)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4200126</td>
<td style='background-color: #FFFFFF'>2022-01-21 00:00:00</td>
<td style='background-color: #FFFFFF'>V000155</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>54.852</td>
<td style='background-color: #FFFFFF'>391.8</td>
<td style='background-color: #FFFFFF'>K004526</td>
<td style='background-color: #FFFFFF'>Matazzoni Claudia</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>54033</td>
<td style='background-color: #FFFFFF'>Avenza</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4200198</td>
<td style='background-color: #FFFFFF'>2022-01-28 00:00:00</td>
<td style='background-color: #FFFFFF'>V000155</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>96.642</td>
<td style='background-color: #FFFFFF'>690.3</td>
<td style='background-color: #FFFFFF'>K005996</td>
<td style='background-color: #FFFFFF'>Le Gogge degli Angeli</td>
<td style='background-color: #FFFFFF'>di Rosca Angela</td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>19124</td>
<td style='background-color: #FFFFFF'>La Spezia</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4200320</td>
<td style='background-color: #FFFFFF'>2022-02-10 00:00:00</td>
<td style='background-color: #FFFFFF'>V000155</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>39.088</td>
<td style='background-color: #FFFFFF'>279.2</td>
<td style='background-color: #FFFFFF'>K001534</td>
<td style='background-color: #FFFFFF'>Giovannetti Stefano</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>56030</td>
<td style='background-color: #FFFFFF'>La Rosa Terricciola (PI)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4200323</td>
<td style='background-color: #FFFFFF'>2022-02-11 00:00:00</td>
<td style='background-color: #FFFFFF'>V000155</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>16.422</td>
<td style='background-color: #FFFFFF'>117.3</td>
<td style='background-color: #FFFFFF'>K005996</td>
<td style='background-color: #FFFFFF'>Le Gogge degli Angeli</td>
<td style='background-color: #FFFFFF'>di Rosca Angela</td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>19124</td>
<td style='background-color: #FFFFFF'>La Spezia</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4200333</td>
<td style='background-color: #FFFFFF'>2022-02-14 00:00:00</td>
<td style='background-color: #FFFFFF'>V000155</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>2.352</td>
<td style='background-color: #FFFFFF'>16.8</td>
<td style='background-color: #FFFFFF'>K005996</td>
<td style='background-color: #FFFFFF'>Le Gogge degli Angeli</td>
<td style='background-color: #FFFFFF'>di Rosca Angela</td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>19124</td>
<td style='background-color: #FFFFFF'>La Spezia</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4200345</td>
<td style='background-color: #FFFFFF'>2022-02-14 00:00:00</td>
<td style='background-color: #FFFFFF'>V000155</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>76.118</td>
<td style='background-color: #FFFFFF'>543.7</td>
<td style='background-color: #FFFFFF'>K003161</td>
<td style='background-color: #FFFFFF'>Life di Marco Conti</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>52100</td>
<td style='background-color: #FFFFFF'>Arezzo (AR)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4200360</td>
<td style='background-color: #FFFFFF'>2022-02-15 00:00:00</td>
<td style='background-color: #FFFFFF'>V000155</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>-39.984</td>
<td style='background-color: #FFFFFF'>-285.6</td>
<td style='background-color: #FFFFFF'>K005996</td>
<td style='background-color: #FFFFFF'>Le Gogge degli Angeli</td>
<td style='background-color: #FFFFFF'>di Rosca Angela</td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>19124</td>
<td style='background-color: #FFFFFF'>La Spezia</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4200520</td>
<td style='background-color: #00FF00'>2022-03-15 00:00:00</td>
<td style='background-color: #00FF00'>V000155</td>
<td style='background-color: #00FF00'>14</td>
<td style='background-color: #00FF00'>85.68</td>
<td style='background-color: #00FF00'>612</td>
<td style='background-color: #00FF00'>K005082</td>
<td style='background-color: #00FF00'>GIOVANNINI RENZA</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>50032</td>
<td style='background-color: #00FF00'>BORGO SAN LORENZO ( FI)</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>612</td>
<td style='background-color: #C5DEAD'>PAID(From Rest)</td>
<td style='background-color: #00FF00'>85.7</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>612(from rest)</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4200722</td>
<td style='background-color: #FFFFFF'>2022-04-07 00:00:00</td>
<td style='background-color: #FFFFFF'>V000155</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>59.234</td>
<td style='background-color: #FFFFFF'>423.1</td>
<td style='background-color: #FFFFFF'>K005996</td>
<td style='background-color: #FFFFFF'>Le Gogge degli Angeli</td>
<td style='background-color: #FFFFFF'>di Rosca Angela</td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>19124</td>
<td style='background-color: #FFFFFF'>La Spezia</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4200738</td>
<td style='background-color: #FFFFFF'>2022-04-11 00:00:00</td>
<td style='background-color: #FFFFFF'>V000155</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>68.32</td>
<td style='background-color: #FFFFFF'>488</td>
<td style='background-color: #FFFFFF'>K005224</td>
<td style='background-color: #FFFFFF'>Cose cosí snc</td>
<td style='background-color: #FFFFFF'>di Borgani Carlo  c.</td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>50121</td>
<td style='background-color: #FFFFFF'>Firenze</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4200921</td>
<td style='background-color: #FFFFFF'>2022-05-03 00:00:00</td>
<td style='background-color: #FFFFFF'>V000155</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>89.796</td>
<td style='background-color: #FFFFFF'>641.4</td>
<td style='background-color: #FFFFFF'>K003161</td>
<td style='background-color: #FFFFFF'>Life di Marco Conti</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>52100</td>
<td style='background-color: #FFFFFF'>Arezzo (AR)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4200924</td>
<td style='background-color: #FFFFFF'>2022-05-03 00:00:00</td>
<td style='background-color: #FFFFFF'>V000155</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>24.836</td>
<td style='background-color: #FFFFFF'>177.4</td>
<td style='background-color: #FFFFFF'>K005224</td>
<td style='background-color: #FFFFFF'>Cose cosí snc</td>
<td style='background-color: #FFFFFF'>di Borgani Carlo  c.</td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>50121</td>
<td style='background-color: #FFFFFF'>Firenze</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4200938</td>
<td style='background-color: #FFFFFF'>2022-05-05 00:00:00</td>
<td style='background-color: #FFFFFF'>V000155</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>58.016</td>
<td style='background-color: #FFFFFF'>414.4</td>
<td style='background-color: #FFFFFF'>K004526</td>
<td style='background-color: #FFFFFF'>Matazzoni Claudia</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>54033</td>
<td style='background-color: #FFFFFF'>Avenza</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4200980</td>
<td style='background-color: #FFFFFF'>2022-05-12 00:00:00</td>
<td style='background-color: #FFFFFF'>V000155</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>50.666</td>
<td style='background-color: #FFFFFF'>361.9</td>
<td style='background-color: #FFFFFF'>K001534</td>
<td style='background-color: #FFFFFF'>Giovannetti Stefano</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>56030</td>
<td style='background-color: #FFFFFF'>La Rosa Terricciola (PI)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4201022</td>
<td style='background-color: #00FF00'>2022-05-18 00:00:00</td>
<td style='background-color: #00FF00'>V000155</td>
<td style='background-color: #00FF00'>14</td>
<td style='background-color: #00FF00'>134.092</td>
<td style='background-color: #00FF00'>957.8</td>
<td style='background-color: #00FF00'>K005340</td>
<td style='background-color: #00FF00'>La Porcellana</td>
<td style='background-color: #00FF00'>di Michelucci Luca</td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>51100</td>
<td style='background-color: #00FF00'>Pistoia</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>957.8</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #00FF00'>134.1</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>26.01.2023,  957.8</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4201077</td>
<td style='background-color: #FFFFFF'>2022-05-24 00:00:00</td>
<td style='background-color: #FFFFFF'>V000155</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>19.362</td>
<td style='background-color: #FFFFFF'>138.3</td>
<td style='background-color: #FFFFFF'>K003161</td>
<td style='background-color: #FFFFFF'>Life di Marco Conti</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>52100</td>
<td style='background-color: #FFFFFF'>Arezzo (AR)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4201107</td>
<td style='background-color: #FFFFFF'>2022-05-27 00:00:00</td>
<td style='background-color: #FFFFFF'>V000155</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>96.18</td>
<td style='background-color: #FFFFFF'>687</td>
<td style='background-color: #FFFFFF'>K005996</td>
<td style='background-color: #FFFFFF'>Le Gogge degli Angeli</td>
<td style='background-color: #FFFFFF'>di Rosca Angela</td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>19124</td>
<td style='background-color: #FFFFFF'>La Spezia</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4201144</td>
<td style='background-color: #FFFFFF'>2022-06-02 00:00:00</td>
<td style='background-color: #FFFFFF'>V000155</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>160.482</td>
<td style='background-color: #FFFFFF'>1146.3</td>
<td style='background-color: #FFFFFF'>K001802</td>
<td style='background-color: #FFFFFF'>Maximare SRL</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>58100</td>
<td style='background-color: #FFFFFF'>Grosseto</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4201406</td>
<td style='background-color: #FFFFFF'>2022-07-01 00:00:00</td>
<td style='background-color: #FFFFFF'>V000155</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>45.332</td>
<td style='background-color: #FFFFFF'>323.8</td>
<td style='background-color: #FFFFFF'>K005224</td>
<td style='background-color: #FFFFFF'>Cose cosí snc</td>
<td style='background-color: #FFFFFF'>di Borgani Carlo  c.</td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>50121</td>
<td style='background-color: #FFFFFF'>Firenze</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4201917</td>
<td style='background-color: #FFFFFF'>2022-09-09 00:00:00</td>
<td style='background-color: #FFFFFF'>V000155</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>90.566</td>
<td style='background-color: #FFFFFF'>646.9</td>
<td style='background-color: #FFFFFF'>K005996</td>
<td style='background-color: #FFFFFF'>Gocce degli Angeli</td>
<td style='background-color: #FFFFFF'>di Rosca Angela</td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>19124</td>
<td style='background-color: #FFFFFF'>La Spezia</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4202083</td>
<td style='background-color: #FFFFFF'>2022-10-05 00:00:00</td>
<td style='background-color: #FFFFFF'>V000155</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>45.108</td>
<td style='background-color: #FFFFFF'>322.2</td>
<td style='background-color: #FFFFFF'>K001534</td>
<td style='background-color: #FFFFFF'>Giovannetti Stefano</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>56030</td>
<td style='background-color: #FFFFFF'>La Rosa Terricciola (PI)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202109</td>
<td style='background-color: #00FF00'>2022-10-11 00:00:00</td>
<td style='background-color: #00FF00'>V000155</td>
<td style='background-color: #00FF00'>14</td>
<td style='background-color: #00FF00'>188.986</td>
<td style='background-color: #00FF00'>1349.9</td>
<td style='background-color: #00FF00'>K005082</td>
<td style='background-color: #00FF00'>GIOVANNINI RENZA</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>50032</td>
<td style='background-color: #00FF00'>BORGO SAN LORENZO ( FI)</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>604.0999999999999</td>
<td style='background-color: #C5DEAD'>PARTIALLY PAID(From Rest)</td>
<td style='background-color: #00FF00'>84.6</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>604(from rest)</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4202111</td>
<td style='background-color: #FFFFFF'>2022-10-11 00:00:00</td>
<td style='background-color: #FFFFFF'>V000155</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>45.626</td>
<td style='background-color: #FFFFFF'>325.9</td>
<td style='background-color: #FFFFFF'>K004526</td>
<td style='background-color: #FFFFFF'>Matazzoni Claudia</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>54033</td>
<td style='background-color: #FFFFFF'>Avenza</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4202151</td>
<td style='background-color: #FFFFFF'>2022-10-18 00:00:00</td>
<td style='background-color: #FFFFFF'>V000155</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>132.818</td>
<td style='background-color: #FFFFFF'>948.7</td>
<td style='background-color: #FFFFFF'>K005996</td>
<td style='background-color: #FFFFFF'>Gocce degli Angeli</td>
<td style='background-color: #FFFFFF'>di Rosca Angela</td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>19124</td>
<td style='background-color: #FFFFFF'>La Spezia</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4202237</td>
<td style='background-color: #FFFFFF'>2022-10-31 00:00:00</td>
<td style='background-color: #FFFFFF'>V000155</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>184.0776</td>
<td style='background-color: #FFFFFF'>1314.84</td>
<td style='background-color: #FFFFFF'>K001059</td>
<td style='background-color: #FFFFFF'>Ferramenta Severi Srl</td>
<td style='background-color: #FFFFFF'>Cose & Cose</td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>06132</td>
<td style='background-color: #FFFFFF'>S. Sisto (PG)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202275</td>
<td style='background-color: #00FF00'>2022-11-07 00:00:00</td>
<td style='background-color: #00FF00'>V000155</td>
<td style='background-color: #00FF00'>14</td>
<td style='background-color: #00FF00'>136.346</td>
<td style='background-color: #00FF00'>973.9</td>
<td style='background-color: #00FF00'>K005215</td>
<td style='background-color: #00FF00'>IDEA REGALO di Bologni  Alessandro</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>50055</td>
<td style='background-color: #00FF00'>Lastra a Signa (FI)</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>973.9</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #00FF00'>136.3</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>16.01.2023,  973.9</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4202380</td>
<td style='background-color: #FFFFFF'>2022-11-22 00:00:00</td>
<td style='background-color: #FFFFFF'>V000155</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>73.164</td>
<td style='background-color: #FFFFFF'>522.6</td>
<td style='background-color: #FFFFFF'>K005996</td>
<td style='background-color: #FFFFFF'>Gocce degli Angeli</td>
<td style='background-color: #FFFFFF'>di Rosca Angela</td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>19124</td>
<td style='background-color: #FFFFFF'>La Spezia</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202394</td>
<td style='background-color: #00FF00'>2022-11-24 00:00:00</td>
<td style='background-color: #00FF00'>V000155</td>
<td style='background-color: #00FF00'>14</td>
<td style='background-color: #00FF00'>82.404</td>
<td style='background-color: #00FF00'>588.6</td>
<td style='background-color: #00FF00'>K005224</td>
<td style='background-color: #00FF00'>Cose cosí snc</td>
<td style='background-color: #00FF00'>di Borgani Carlo  c.</td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>50121</td>
<td style='background-color: #00FF00'>Firenze</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>588.6</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #00FF00'>82.4</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>02.01.2023,  588.6</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4202402</td>
<td style='background-color: #FFFFFF'>2022-11-25 00:00:00</td>
<td style='background-color: #FFFFFF'>V000155</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>880.026</td>
<td style='background-color: #FFFFFF'>6285.9</td>
<td style='background-color: #FFFFFF'>K006186</td>
<td style='background-color: #FFFFFF'>ETA Pink SRL</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>50121</td>
<td style='background-color: #FFFFFF'>Firenze - FI-</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'>UNPAID</td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202409</td>
<td style='background-color: #00FF00'>2022-11-28 00:00:00</td>
<td style='background-color: #00FF00'>V000155</td>
<td style='background-color: #00FF00'>14</td>
<td style='background-color: #00FF00'>554.6226</td>
<td style='background-color: #00FF00'>3961.59</td>
<td style='background-color: #00FF00'>K003864</td>
<td style='background-color: #00FF00'>Gioielleria Marchetti Angelo</td>
<td style='background-color: #00FF00'>dal 1890</td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>06034</td>
<td style='background-color: #00FF00'>Foligno (PG)</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>1300</td>
<td style='background-color: #00FF00'>PARTIALLY PAID</td>
<td style='background-color: #00FF00'>182</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>20.01.2023,  1300.0</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4202474</td>
<td style='background-color: #FFFFFF'>2022-12-05 00:00:00</td>
<td style='background-color: #FFFFFF'>V000155</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>125.972</td>
<td style='background-color: #FFFFFF'>899.8</td>
<td style='background-color: #FFFFFF'>K003161</td>
<td style='background-color: #FFFFFF'>Life di Marco Conti</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>52100</td>
<td style='background-color: #FFFFFF'>Arezzo (AR)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'>UNPAID</td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4202497</td>
<td style='background-color: #FFFFFF'>2022-12-06 00:00:00</td>
<td style='background-color: #FFFFFF'>V000155</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>441.406</td>
<td style='background-color: #FFFFFF'>3152.9</td>
<td style='background-color: #FFFFFF'>K006186</td>
<td style='background-color: #FFFFFF'>ETA Pink SRL</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>50121</td>
<td style='background-color: #FFFFFF'>Firenze - FI-</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'>UNPAID</td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202524</td>
<td style='background-color: #00FF00'>2022-12-07 00:00:00</td>
<td style='background-color: #00FF00'>V000155</td>
<td style='background-color: #00FF00'>7</td>
<td style='background-color: #00FF00'>82.586</td>
<td style='background-color: #00FF00'>1179.8</td>
<td style='background-color: #00FF00'>K004570</td>
<td style='background-color: #00FF00'>Galletti Sas di Galletti A.</td>
<td style='background-color: #00FF00'>C/C coop di Pontedera</td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>56025</td>
<td style='background-color: #00FF00'>Pontedera (Pisa)</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>1179.8</td>
<td style='background-color: #C5DEAD'>PAID(From Rest)</td>
<td style='background-color: #00FF00'>82.6</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>1180(from rest)</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202532</td>
<td style='background-color: #00FF00'>2022-12-09 00:00:00</td>
<td style='background-color: #00FF00'>V000155</td>
<td style='background-color: #00FF00'>7</td>
<td style='background-color: #00FF00'>59.43</td>
<td style='background-color: #00FF00'>849</td>
<td style='background-color: #00FF00'>K005217</td>
<td style='background-color: #00FF00'>ARCA* di Ammannati Marco e C. SAS</td>
<td style='background-color: #00FF00'>Cliente 905430</td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>57123</td>
<td style='background-color: #00FF00'>Livorno (LI)</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>849</td>
<td style='background-color: #C5DEAD'>PAID(From Rest)</td>
<td style='background-color: #00FF00'>59.4</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>849(from rest)</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4202562</td>
<td style='background-color: #FFFFFF'>2022-12-13 00:00:00</td>
<td style='background-color: #FFFFFF'>V000155</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>43.624</td>
<td style='background-color: #FFFFFF'>311.6</td>
<td style='background-color: #FFFFFF'>K005215</td>
<td style='background-color: #FFFFFF'>IDEA REGALO di Bologni  Alessandro</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>50055</td>
<td style='background-color: #FFFFFF'>Lastra a Signa (FI)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'>UNPAID</td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4202564</td>
<td style='background-color: #FFFFFF'>2022-12-13 00:00:00</td>
<td style='background-color: #FFFFFF'>V000155</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>314.3</td>
<td style='background-color: #FFFFFF'>2245</td>
<td style='background-color: #FFFFFF'>K006186</td>
<td style='background-color: #FFFFFF'>ETA Pink SRL</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>50121</td>
<td style='background-color: #FFFFFF'>Firenze - FI-</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'>UNPAID</td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202617</td>
<td style='background-color: #00FF00'>2022-12-16 00:00:00</td>
<td style='background-color: #00FF00'>V000155</td>
<td style='background-color: #00FF00'>7</td>
<td style='background-color: #00FF00'>21.4522</td>
<td style='background-color: #00FF00'>306.46</td>
<td style='background-color: #00FF00'>K001115</td>
<td style='background-color: #00FF00'>F.lli Gallo SNC</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>55049</td>
<td style='background-color: #00FF00'>Viareggio (LU)</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>306.46</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #00FF00'>21.5</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>16.01.2023,  306.5</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4202689</td>
<td style='background-color: #00FF00'>2022-12-22 00:00:00</td>
<td style='background-color: #00FF00'>V000155</td>
<td style='background-color: #00FF00'>7</td>
<td style='background-color: #00FF00'>8.9586</td>
<td style='background-color: #00FF00'>127.98</td>
<td style='background-color: #00FF00'>K001115</td>
<td style='background-color: #00FF00'>F.lli Gallo SNC</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>55049</td>
<td style='background-color: #00FF00'>Viareggio (LU)</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>127.98</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #00FF00'>9</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>16.01.2023,  128.0</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4202740</td>
<td style='background-color: #FFFFFF'>2022-12-31 00:00:00</td>
<td style='background-color: #FFFFFF'>V000155</td>
<td style='background-color: #FFFFFF'>7</td>
<td style='background-color: #FFFFFF'>-409.6239</td>
<td style='background-color: #FFFFFF'>-5851.77</td>
<td style='background-color: #FFFFFF'>K001115</td>
<td style='background-color: #FFFFFF'>F.lli Gallo SNC</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>55049</td>
<td style='background-color: #FFFFFF'>Viareggio (LU)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300002</td>
<td style='background-color: #00FF00'>2023-01-09 00:00:00</td>
<td style='background-color: #00FF00'>V000155</td>
<td style='background-color: #00FF00'>7</td>
<td style='background-color: #00FF00'>32.809</td>
<td style='background-color: #00FF00'>468.7</td>
<td style='background-color: #00FF00'>K005217</td>
<td style='background-color: #00FF00'>ARCA* di Ammannati Marco e C. SAS</td>
<td style='background-color: #00FF00'>Cliente 905430</td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>57123</td>
<td style='background-color: #00FF00'>Livorno (LI)</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>468.7</td>
<td style='background-color: #C5DEAD'>PAID(From Rest)</td>
<td style='background-color: #00FF00'>32.8</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>469(from rest)</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300010</td>
<td style='background-color: #00FF00'>2023-01-10 00:00:00</td>
<td style='background-color: #00FF00'>V000155</td>
<td style='background-color: #00FF00'>7</td>
<td style='background-color: #00FF00'>268.6103</td>
<td style='background-color: #00FF00'>3837.29</td>
<td style='background-color: #00FF00'>K001115</td>
<td style='background-color: #00FF00'>F.lli Gallo SNC</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>55049</td>
<td style='background-color: #00FF00'>Viareggio (LU)</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>3837.29</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #00FF00'>268.6</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>31.01.2023,  3837.3</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4300016</td>
<td style='background-color: #FFFFFF'>2023-01-10 00:00:00</td>
<td style='background-color: #FFFFFF'>V000155</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>271.502</td>
<td style='background-color: #FFFFFF'>1939.3</td>
<td style='background-color: #FFFFFF'>K006186</td>
<td style='background-color: #FFFFFF'>ETA Pink SRL</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>50121</td>
<td style='background-color: #FFFFFF'>Firenze - FI-</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'>UNPAID</td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4300035</td>
<td style='background-color: #FFFFFF'>2023-01-12 00:00:00</td>
<td style='background-color: #FFFFFF'>V000155</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>32.221</td>
<td style='background-color: #FFFFFF'>230.15</td>
<td style='background-color: #FFFFFF'>K003864</td>
<td style='background-color: #FFFFFF'>Gioielleria Marchetti Angelo</td>
<td style='background-color: #FFFFFF'>dal 1890</td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>06034</td>
<td style='background-color: #FFFFFF'>Foligno (PG)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'>UNPAID</td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300101</td>
<td style='background-color: #00FF00'>2023-01-25 00:00:00</td>
<td style='background-color: #00FF00'>V000155</td>
<td style='background-color: #00FF00'>7</td>
<td style='background-color: #00FF00'>5.607</td>
<td style='background-color: #00FF00'>80.1</td>
<td style='background-color: #00FF00'>K005217</td>
<td style='background-color: #00FF00'>ARCA* di Ammannati Marco e C. SAS</td>
<td style='background-color: #00FF00'>Cliente 905430</td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>57123</td>
<td style='background-color: #00FF00'>Livorno (LI)</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>80.1</td>
<td style='background-color: #C5DEAD'>PAID(From Rest)</td>
<td style='background-color: #00FF00'>5.6</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>80(from rest)</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300108</td>
<td style='background-color: #00FF00'>2023-01-26 00:00:00</td>
<td style='background-color: #00FF00'>V000155</td>
<td style='background-color: #00FF00'>7</td>
<td style='background-color: #00FF00'>102.3113</td>
<td style='background-color: #00FF00'>1461.59</td>
<td style='background-color: #00FF00'>K004570</td>
<td style='background-color: #00FF00'>Galletti Sas di Galletti A.</td>
<td style='background-color: #00FF00'>C/C coop di Pontedera</td>
<td style='background-color: #00FF00'>IT</td>
<td style='background-color: #00FF00'>56025</td>
<td style='background-color: #00FF00'>Pontedera (Pisa)</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>1461.59</td>
<td style='background-color: #C5DEAD'>PAID(From Rest)</td>
<td style='background-color: #00FF00'>102.3</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>1462(from rest)</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4300125</td>
<td style='background-color: #FFFFFF'>2023-01-30 00:00:00</td>
<td style='background-color: #FFFFFF'>V000155</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>81.368</td>
<td style='background-color: #FFFFFF'>581.2</td>
<td style='background-color: #FFFFFF'>K005996</td>
<td style='background-color: #FFFFFF'>Gocce degli Angeli</td>
<td style='background-color: #FFFFFF'>di Rosca Angela</td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>19124</td>
<td style='background-color: #FFFFFF'>La Spezia</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'>UNPAID</td>
<td style='background-color: #FFFFFF'>0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>RE-4300146</td>
<td style='background-color: #FFFFFF'>2023-02-03 00:00:00</td>
<td style='background-color: #FFFFFF'>V000155</td>
<td style='background-color: #FFFFFF'>14</td>
<td style='background-color: #FFFFFF'>39.382</td>
<td style='background-color: #FFFFFF'>281.3</td>
<td style='background-color: #FFFFFF'>K004526</td>
<td style='background-color: #FFFFFF'>Matazzoni Claudia</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>IT</td>
<td style='background-color: #FFFFFF'>54033</td>
<td style='background-color: #FFFFFF'>Avenza</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFF300'>37795.6</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #68BF9D'>=SUM(O2:O49)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #68BF9D'>=SUM(Q2:Q49)</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
 </tbody>
                </table>