{%extends 'base.html'%}
                            {% block content %}     
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--<link rel="stylesheet" type="text/css" href="normas.css">-->
    <style>
        body{
            background-color: #d6e1f8;

        }
        th, td {
            border: 1px solid #ccc;

            text-align: center;
        }

        table {

            border-collapse: collapse !important; /* optional: collapse the table borders */
        }

        table tr {
            background-color: #8BC34A !important; /* Set background color of all rows */
        }

        table tr:hover td {
            background-color: #2196F3 !important; /* Set background color of cells when hovered */
        }

    </style>
                     <table border="1" class="dataframe" style="width:100%;">
                                 <thead>
                                     <tr style="text-align: right;">
<th style='background-color: #899EF0'>RK</th>
<th style='background-color: #899EF0'>GF-Nr</th>
<th style='background-color: #899EF0'>Datum</th>
<th style='background-color: #899EF0'>Vertreter</th>
<th style='background-color: #899EF0'>ProvProz</th>
<th style='background-color: #899EF0'>Provision</th>
<th style='background-color: #899EF0'>Summe</th>
<th style='background-color: #899EF0'>Lieferant</th>
<th style='background-color: #899EF0'>Lieferantenname</th>
<th style='background-color: #899EF0'>Name2</th>
<th style='background-color: #899EF0'>IntKz</th>
<th style='background-color: #899EF0'>PLZ Neu</th>
<th style='background-color: #899EF0'>Ort</th>
<th style='background-color: #899EF0'>s</th>
<th style='background-color: #899EF0'>Paid amount</th>
<th style='background-color: #899EF0'>Payment status</th>
<th style='background-color: #899EF0'>Payment commission</th>
<th style='background-color: #899EF0'>Payments with Rest</th>
<th style='background-color: #899EF0'>Payments Dates</th>
<th style='background-color: #FFFFFF'> </th>
<th style='background-color: #FFFFFF'> </th>
<th style='background-color: #FFFFFF'> </th>
</tr>
</thead>
                          <tbody><tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300017</td>
<td style='background-color: #00FF00'>2023-01-10 00:00:00</td>
<td style='background-color: #00FF00'>V000133</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>135.837</td>
<td style='background-color: #00FF00'>1044.9</td>
<td style='background-color: #00FF00'>K004471</td>
<td style='background-color: #00FF00'>Raj Choolani Melvani</td>
<td style='background-color: #00FF00'>"Sofie"</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>35138</td>
<td style='background-color: #00FF00'>Taurito, Mogan. Gran Canaria</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>1044.9</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>135.8</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>15.03.2023,  1044.9</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300021</td>
<td style='background-color: #00FF00'>2023-01-10 00:00:00</td>
<td style='background-color: #00FF00'>V000133</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>195.845</td>
<td style='background-color: #00FF00'>1506.5</td>
<td style='background-color: #00FF00'>K002551</td>
<td style='background-color: #00FF00'>Manoj Lellani Lellani</td>
<td style='background-color: #00FF00'>"INFINITY"</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>35626</td>
<td style='background-color: #00FF00'>Jandia, Fuerteventura.</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>1506.5</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>195.8</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>30.03.2023,  753.2</td>
<td style='background-color: #FFFFFF'>15.03.2023,  753.2</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300043</td>
<td style='background-color: #00FF00'>2023-01-13 00:00:00</td>
<td style='background-color: #00FF00'>V000133</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>178.035</td>
<td style='background-color: #00FF00'>1369.5</td>
<td style='background-color: #00FF00'>K006164</td>
<td style='background-color: #00FF00'>Temptation - Suryacan Imports S.L.U</td>
<td style='background-color: #00FF00'>Hotel Abora Continental</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>35100</td>
<td style='background-color: #00FF00'>Playa del Ingles, Gran Canaria</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>1369.5</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>178</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>14.02.2023,  684.8</td>
<td style='background-color: #FFFFFF'>15.03.2023,  684.8</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300088</td>
<td style='background-color: #00FF00'>2023-01-23 00:00:00</td>
<td style='background-color: #00FF00'>V000133</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>280.709</td>
<td style='background-color: #00FF00'>2159.3</td>
<td style='background-color: #00FF00'>K002551</td>
<td style='background-color: #00FF00'>Manoj Lellani Lellani</td>
<td style='background-color: #00FF00'>"INFINITY"</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>35626</td>
<td style='background-color: #00FF00'>Jandia, Fuerteventura.</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>2159.3</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>280.7</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>30.03.2023,  719.8</td>
<td style='background-color: #FFFFFF'>02.05.2023,  719.8</td>
<td style='background-color: #FFFFFF'>31.05.2023,  719.8</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300174</td>
<td style='background-color: #00FF00'>2023-02-08 00:00:00</td>
<td style='background-color: #00FF00'>V000133</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>165.139</td>
<td style='background-color: #00FF00'>1270.3</td>
<td style='background-color: #00FF00'>K006005</td>
<td style='background-color: #00FF00'>GOLD MINE VASWANI S.L.</td>
<td style='background-color: #00FF00'>Prakash Vaswani</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>35100</td>
<td style='background-color: #00FF00'>Gran Canaria</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>1270.3</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>165.1</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>15.03.2023,  1270.3</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300262</td>
<td style='background-color: #00FF00'>2023-02-23 00:00:00</td>
<td style='background-color: #00FF00'>V000133</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>227.357</td>
<td style='background-color: #00FF00'>1748.9</td>
<td style='background-color: #00FF00'>K006158</td>
<td style='background-color: #00FF00'>Tiffany De Tomi</td>
<td style='background-color: #00FF00'>Arona Gran Hotel</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>38650</td>
<td style='background-color: #00FF00'>Los Cristianos -Tenerife</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>1748.9</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>227.4</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>30.03.2023,  874.5</td>
<td style='background-color: #FFFFFF'>02.05.2023,  874.5</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300304</td>
<td style='background-color: #00FF00'>2023-02-28 00:00:00</td>
<td style='background-color: #00FF00'>V000133</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>148.4808</td>
<td style='background-color: #00FF00'>1142.16</td>
<td style='background-color: #00FF00'>K003662</td>
<td style='background-color: #00FF00'>MRM Import Co.S.L.</td>
<td style='background-color: #00FF00'>B38225709</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>38108</td>
<td style='background-color: #00FF00'>St. Cruz, Tenerife.</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>1142.16</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>148.5</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>02.05.2023,  571.1</td>
<td style='background-color: #FFFFFF'>31.05.2023,  571.1</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300500</td>
<td style='background-color: #00FF00'>2023-03-31 00:00:00</td>
<td style='background-color: #00FF00'>V000133</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>288.184</td>
<td style='background-color: #00FF00'>2216.8</td>
<td style='background-color: #00FF00'>K006158</td>
<td style='background-color: #00FF00'>Tiffany De Tomi</td>
<td style='background-color: #00FF00'>Arona Gran Hotel</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>38650</td>
<td style='background-color: #00FF00'>Los Cristianos -Tenerife</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>2216.8</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>288.2</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>02.05.2023,  1108.4</td>
<td style='background-color: #FFFFFF'>31.05.2023,  1108.4</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4300652</td>
<td style='background-color: #FFF300'>2023-04-27 00:00:00</td>
<td style='background-color: #FFF300'>V000133</td>
<td style='background-color: #FFF300'>13</td>
<td style='background-color: #FFF300'>-4.55</td>
<td style='background-color: #FFF300'>-35</td>
<td style='background-color: #FFF300'>K004160</td>
<td style='background-color: #FFF300'>Saagar Vatnani Vatnani "MIDAS"</td>
<td style='background-color: #FFF300'>42212048-X</td>
<td style='background-color: #FFF300'>ES</td>
<td style='background-color: #FFF300'>35130</td>
<td style='background-color: #FFF300'>Puerto Rico, Gran Canaria</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300653</td>
<td style='background-color: #00FF00'>2023-04-27 00:00:00</td>
<td style='background-color: #00FF00'>V000133</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>288.951</td>
<td style='background-color: #00FF00'>2222.7</td>
<td style='background-color: #00FF00'>K004160</td>
<td style='background-color: #00FF00'>Saagar Vatnani Vatnani "MIDAS"</td>
<td style='background-color: #00FF00'>42212048-X</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>35130</td>
<td style='background-color: #00FF00'>Puerto Rico, Gran Canaria</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>2222.7</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>289</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>31.05.2023,  740.9</td>
<td style='background-color: #FFFFFF'>30.06.2023,  740.9</td>
<td style='background-color: #FFFFFF'>31.07.2023,  740.9</td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300793</td>
<td style='background-color: #00FF00'>2023-05-26 00:00:00</td>
<td style='background-color: #00FF00'>V000133</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>528.8855</td>
<td style='background-color: #00FF00'>4068.35</td>
<td style='background-color: #00FF00'>K002551</td>
<td style='background-color: #00FF00'>Manoj Lellani Lellani</td>
<td style='background-color: #00FF00'>"INFINITY"</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>35626</td>
<td style='background-color: #00FF00'>Jandia, Fuerteventura.</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>4068.35</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>528.9</td>
<td style='background-color: #FFFFFF'>30.11.2023,  1356</td>
<td style='background-color: #FFFFFF'>31.07.2023,  1356.1</td>
<td style='background-color: #FFFFFF'>31.08.2023,  1356.1</td>
<td style='background-color: #FFFFFF'>15.12.2023,  1356.1</td>
<td style='background-color: #FFFFFF'>30.11.2023,  1356.1</td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4300906</td>
<td style='background-color: #00FF00'>2023-05-31 00:00:00</td>
<td style='background-color: #00FF00'>V000133</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>163.982</td>
<td style='background-color: #00FF00'>1261.4</td>
<td style='background-color: #00FF00'>K006005</td>
<td style='background-color: #00FF00'>GOLD MINE VASWANI S.L.</td>
<td style='background-color: #00FF00'>Prakash Vaswani</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>35100</td>
<td style='background-color: #00FF00'>Gran Canaria</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>1261.4</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>164</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>30.06.2023,  630.7</td>
<td style='background-color: #FFFFFF'>31.07.2023,  630.7</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4301165</td>
<td style='background-color: #00FF00'>2023-07-04 00:00:00</td>
<td style='background-color: #00FF00'>V000133</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>128.648</td>
<td style='background-color: #00FF00'>989.6</td>
<td style='background-color: #00FF00'>K004160</td>
<td style='background-color: #00FF00'>Saagar Vatnani Vatnani "MIDAS"</td>
<td style='background-color: #00FF00'>42212048-X</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>35130</td>
<td style='background-color: #00FF00'>Puerto Rico, Gran Canaria</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>989.6</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>128.6</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>15.09.2023,  989.6</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>RE-4301186</td>
<td style='background-color: #FFF300'>2023-07-10 00:00:00</td>
<td style='background-color: #FFF300'>V000133</td>
<td style='background-color: #FFF300'>13</td>
<td style='background-color: #FFF300'>-0.481</td>
<td style='background-color: #FFF300'>-3.7</td>
<td style='background-color: #FFF300'>K002551</td>
<td style='background-color: #FFF300'>Manoj Lellani Lellani</td>
<td style='background-color: #FFF300'>"INFINITY"</td>
<td style='background-color: #FFF300'>ES</td>
<td style='background-color: #FFF300'>35626</td>
<td style='background-color: #FFF300'>Jandia, Fuerteventura.</td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'> </td>
<td style='background-color: #FFF300'>CREDIT NOTE</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4301246</td>
<td style='background-color: #00FF00'>2023-07-18 00:00:00</td>
<td style='background-color: #00FF00'>V000133</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>177.06</td>
<td style='background-color: #00FF00'>1362</td>
<td style='background-color: #00FF00'>K006158</td>
<td style='background-color: #00FF00'>Tiffany De Tomi</td>
<td style='background-color: #00FF00'>Arona Gran Hotel</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>38650</td>
<td style='background-color: #00FF00'>Los Cristianos -Tenerife</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>1362</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>177.1</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>31.08.2023,  681.0</td>
<td style='background-color: #FFFFFF'>02.10.2023,  681.0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>RE-4301331</td>
<td style='background-color: #00FF00'>2023-07-31 00:00:00</td>
<td style='background-color: #00FF00'>V000133</td>
<td style='background-color: #00FF00'>13</td>
<td style='background-color: #00FF00'>107.6426</td>
<td style='background-color: #00FF00'>828.02</td>
<td style='background-color: #00FF00'>K003865</td>
<td style='background-color: #00FF00'>BHARAT PUNJABI</td>
<td style='background-color: #00FF00'>NIF 42278702-X</td>
<td style='background-color: #00FF00'>ES</td>
<td style='background-color: #00FF00'>35150</td>
<td style='background-color: #00FF00'>Puerto Rico, Gran Canaria</td>
<td style='background-color: #00FF00'> </td>
<td style='background-color: #00FF00'>828.02</td>
<td style='background-color: #00FF00'>PAID</td>
<td style='background-color: #FFFFFF'>107.6</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>16.10.2023,  828.0</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
<tr>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'>All paid amount</td>
<td style='background-color: #90EE90'>23190.31</td>
<td style='background-color: #FFFFFF'>All comissions</td>
<td style='background-color: #90EE90'>3014.74</td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
<td style='background-color: #FFFFFF'> </td>
</tr>
 </tbody>
                    </table>
                    {% endblock %}